<jhi-exc-form-template>
    <h1>
        {{'global.menu.classifiers.title' | translate}}
    </h1>
    <br>
    <div>
        <div class="row">
            <div class="col-sm">
                <jhi-organizations-widget></jhi-organizations-widget>
            </div>
            <div class="col-sm">
                <jhi-subscr-users-widget>
                </jhi-subscr-users-widget>
            </div>
            <div class="col-sm">
            </div>
        </div>
        <div class="row">
            <br>
        </div>        
        <div class="row">
            <div class="col-sm">
                <jhi-st-temperature-chart-widget></jhi-st-temperature-chart-widget>
            </div>
            <div class="col-sm">
                <jhi-device-models-widget></jhi-device-models-widget>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</jhi-exc-form-template>