<jhi-exc-form-template>
    <div class="exc-data-frame">
        <div>
            <div class="row">
                <div class="col-sm">
                    <jhi-organizations-widget></jhi-organizations-widget>
                </div>
                <div class="col-sm">
                    <jhi-device-models-widget></jhi-device-models-widget>
                </div>
                <div class="col-sm">
                </div>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <div class="col-sm">
                    <jhi-st-temperature-chart-widget></jhi-st-temperature-chart-widget>
                </div>
                <div class="col-sm">
                    <button mat-button routerLink="/subscr-object-trees-manage">
                        <mat-icon class="headerbar-mat-menu-icon">list</mat-icon>
                        <span>SubscrOjbectTrees</span>
                    </button>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </div>
</jhi-exc-form-template>