<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/toastr/toastr.css"/>  
    <link rel="stylesheet" href="styles/main.css"/>
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
      <link rel="stylesheet" href="vendor_components/angular-ui-tree-master/dist/angular-ui-tree.min.css"/>
    <!-- endbuild -->
    
      <link rel="stylesheet" href="vendor_components/bootstrap-daterangepicker-master/daterangepicker-bs3.css"/>
    
      <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css"/>
      
  </head>
  <body ng-app="portalNMK">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
<!--<div ng-controller="MainCtrl"    >-->
<div id="wrap">
<!--    Навигационная строка в верху страницы-->
    <div class="navbar navbar-fixed-top" style="background-color: white;">
			<div id="navbar-container" class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="offcanvas">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">Портал НМК</a>
					
				</div>
			
              <ul class="nav navbar-nav">
				
				<li><a href=""
					title='help'><p
							class="displayInLine"> <b>Подсказка</b>
				</p></a></li>						
			</ul>
                
            <ul class="nav navbar-nav pull-right">	
				
                <li class="dropdown">
                    <a class="dropdown-toggle " ng-controller="UserinfoCtrl" data-toggle="dropdown" href="" ><span><span
							class="hideM" ng-class="{'hideM': userInfo==null, 'showM':userInfo!=null}"> <b>{{userInfo.userName}}</b>
						</span><span class="hideM" ng-class="{'hideM': userInfo==null, 'showM':userInfo!=null}" ng-show="userInfo.subscriber!=null">({{userInfo.subscriber.organization.organizationName}})</span></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/private/"
                            title='Private office' ng-click="showPrivateOfficeMenu=true;showMenuReport=false;showIndicatorsParam=false;showSettings=false"><p> <b>Личный кабинет</b> 
                        </p></a></li>			

                        <li><a href="../logout"
                            title='logout'><p> <b>Выход </b>
						</p></a></li>
                    </ul>    
                    
                </li>
			</ul>					
			</div>
  </div>  
<!--   энд оф Навигационная строка в верху страницы    -->
    
    <div class="container-fluid noMargin">

    <div class="row row-offcanvas row-offcanvas-left">    
       
        <!-- Side bar menu -->
        <div class="col-xs-6 col-sm-2 well sidebar-offcanvas menuWidth" >
                        <nav class="sidebar-nav"
                            role="navigation" ng-show="!showPrivateOfficeMenu">
<!--                Основное меню            -->
                            <div id="sidebar-entries" class="list-group">
   
                                <!-- Объекты, редактирование -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/objects_edit/" data-toggle="offcanvas" ng-click="showSettings=false;showIndicatorsParam=false">Объекты</a>
                                
                                <!-- Отчеты -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/reports/" data-toggle="offcanvas" ng-click="showIndicatorsParam=false;showSettings=false">Отчеты</a>
                                
                                 <!-- Notices -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/notice/" data-toggle="offcanvas" ng-click="showIndicatorsParam=false;showSettings=false">Уведомления</a>                            
                                
<!--                                Настройки-->
                                <a class="list-group-item noMarginBottom excbt_a_list_group_item"

                                    href="" data-toggle="offcanvas" ng-click="showSettings=true;showIndicatorsParam=false">Настройки</a>
                                
                                                                <!-- Меню настроек -->
                                <div class="list-group submenu hideM" ng-class="{'showM': showSettings, 'hideM': !showSettings}" id="sidebar-entries" >

                                    <a class="list-group-item excbt_a_list_group_item"

                                       href="#/settings/tariffs/" data-toggle="offcanvas">Тарифы</a>

                                    <a class="list-group-item excbt_a_list_group_item"

                                        href="#/settings/reports/" data-toggle="offcanvas">Отчеты</a>
                                </div>

                            </div>
                        </nav>
            
                        <nav class="sidebar-nav hideM "
                            role="navigation" ng-class="{'showM':showPrivateOfficeMenu, 'hideM': !showPrivateOfficeMenu}"> 
<!--              Меню Личного кабинета              -->
                            <div id="sidebar-entries" class="list-group">
                                <!-- Home -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/" data-toggle="offcanvas" ng-click="showPrivateOfficeMenu=false">Портал</a>
                                <!-- Объекты, меню настройки объектов -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/private/objects_list/" data-toggle="offcanvas">Объекты</a>
                                <!-- Справочники -->
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/private/directories/" data-toggle="offcanvas">Справочники</a>

                            </div>
                        </nav>  
            
                        <nav class="sidebar-nav hideM" ng-class="{'showM': showIndicatorsParam, 'hideM': !showIndicatorsParam}"
                            role="navigation"
                             >
<!--                Параметры отображения показаний точек учета            -->
                            <div id="sidebar-entries" class="list-group">
                                <div class="list-group-item excbt_a_list_group_item">
                                    <label >

                                         Задайте интервал дат</label>
                                    <div ng-controller="DataRangeSettings">
                                            <div class="input-group">
                                                <span style="font-size:8px;" class="input-group-addon excbt_inputGroupAddon">с</span>
                                                <input style="font-size:8px;" date-range-picker class="form-control excbt_inputFormControl date-picker excbt_noLeftBorder"
                                                    type="text" ng-model="navPlayerDates" options="queryDateOptsRu" />
                                            </div>
                                    </div>
                                
                                </div>
                                <div class="list-group-item excbt_a_list_group_item">
                                    <div class="container">
                                        <div class="row excbt_a_list_group_item">
                                                <label >

                                                     Показания</label>
                                        </div>
                                        <div class="row">
                                                <input type=radio name="indicatorsKind" ng-model="timeDetailType" value="24h" checked> Суточные
                                        </div>
                                        <div class="row">
                                                <input type=radio name="indicatorsKind" ng-model="timeDetailType" value="1h"> Часовые
                                        </div>
<!--
                                        <div class="row">
                                            <i class="btn btn-default" data-target="#/objects/indicators/" >Показать</i>
                                        </div>
-->
                                    </div>
                                </div>
                                <a class="list-group-item excbt_a_list_group_item"

                                    href="#/objects/indicators/" data-toggle="offcanvas" ng-click="">Показать</a>
                            </div>
                        </nav>    
                        
            
            </div>                

        <div id="div-main-area" class="col-xs-12 col-sm-10 col-sm-10-main well mainarea main-scrollable-area1">
					
					<div id="main" ng-view></div>
        </div>

     </div>    
    </div>

</div> <!-- end id=wrap -->
      
      <div class="footer navbar-fixed-bottom row-fluid" style="background-color: white;">
          <div class="container" >
            
			<p class="muted credit">
<!--              <table>
                  <tr>
                      <td> -->
<!--                         <react-component name="FooterComponent" props="person"/> -->
                        <p align="center" style="font-size: 16px;"><span class="glyphicon"></span> (c) "НМК" 2015 </p>
                        
<!--                      </td>   
<!--                       <td align="right"> -->
<!--                           <p>Телефон технической поддержки: +7(499)678-82-80</p> -->
<!--                           <p>E-mail: support@excbt.ru</p> -->
<!--                       </td> -->
<!--                   </tr>   -->
<!--               </table>--> -->
              

<!--               </p> -->
          </div>
      </div>
   <!-- end ng-controller=MainCtrl -->
<!--</div>-->
    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<!--
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
-->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
      <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
      <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
<!--      <script src="bower_components/"></script>-->
    <!-- endbower -->
    <!-- endbuild -->


    <script src="vendor_components/angular-ui-tree-master/dist/angular-ui-tree.js"></script>
    <script src="vendor_components/bootstrap-daterangepicker-master/moment.js"></script>
    <script src="vendor_components/bootstrap-daterangepicker-master/daterangepicker.js"></script>
    <script src="vendor_components/angular-daterangepicker.js"></script>
    <script src="bower_components/ngReact/ngReact.js"></script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
     
 		        
        <script src="scripts/app.js"></script>
 		<script src="scripts/react/tableComponent.react.js"></script>

        
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/notice.js"></script>
    <script src="scripts/controllers/directory.js"></script>
    <script src="scripts/controllers/operationlog.js"></script>
    <script src="scripts/controllers/objects.js"></script>
    <script src="scripts/controllers/reports.js"></script>
    <script src="scripts/controllers/indicator.js"></script>
      <script src="scripts/controllers/tariffs.js"></script>
      <script src="scripts/controllers/report_settings.js"></script>
      <script src="scripts/controllers/param_sets.js"></script>
      <script src="scripts/controllers/user-info.js"></script>
      <!-- Directives -->
<script src="scripts/directives/crud-data-factory.js"></script>
<script src="scripts/directives/crud-grid-data-factory.js"></script>
<script src="scripts/directives/crud-grid-paged-data-factory.js"></script>
<script src="scripts/directives/crud-grid-directive.js"></script>
    <script src="scripts/directives/crud-grid-directive-operationlog.js"></script>
    <script src="scripts/directives/crud-grid-directive-notice.js"></script>
    <script src="scripts/directives/crud-grid-directive-objects.js"></script>
    <script src="scripts/directives/crud-grid-directive-directories.js"></script>
<script src="scripts/directives/crud-grid-paged-directive.js"></script>
    <script src="scripts/directives/tree-model.js"></script>
      
      <!-- Services -->
      <script src="scripts/services/notification-factory.js"></script>      
        <!-- endbuild -->
    
<script src="scripts/controllers/data-range-settings.js"></script>

</body>
</html>
