// default
.exc-icon-building-default-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/building16.png);
}

.exc-icon-building-default-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/building16.png);
}

// childhome

.exc-icon-building-childhome-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/childhome16.png);
}

.exc-icon-building-childhome-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/childhome16.png);
}

// cot

.exc-icon-building-cot-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/cot16.png);
}

.exc-icon-building-cot-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/cot16.png);
}


// dom

.exc-icon-building-dom-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/dom16.png);
}

.exc-icon-building-dom-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/dom26.png);
}

// gos

.exc-icon-building-gos-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/gos16.png);
}

.exc-icon-building-gos-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/gos26.png);
}

// hospital

.exc-icon-building-hospital-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/hospital16.png);
}

.exc-icon-building-hospital-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/hospital24.png);
}

// hotel

.exc-icon-building-hotel-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/hotel16.png);
}

.exc-icon-building-hotel-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/hotel26.png);
}

// mkd

.exc-icon-building-mkd-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/mkd16.png);
}

.exc-icon-building-mkd-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/mkd26.png);
}

// prod

.exc-icon-building-prod-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/prod1_16.png);
}

.exc-icon-building-prod-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/prod32.png);
}

// school

.exc-icon-building-school-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/school16.png);
}

.exc-icon-building-school-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/school24.png);
}

// stadium

.exc-icon-building-stadium-16 {
    @include exc-icon-size(16px);
    background: url(../../content/images/buildings/stadium16.png);
}

.exc-icon-building-stadium-24 {
    @include exc-icon-size(24px);
    background: url(../../content/images/buildings/stadium24.png);
}

