.ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #ebedf0;
    color: #1b1d1f;
}

.ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #1b1d1f;
}
