<jhi-exc-form-template>
    <div>
        <div class="row">
            <div class="col-sm">
                <jhi-subscr-users-widget></jhi-subscr-users-widget>
            </div>
            <div class="col-sm">
                    <button mat-button routerLink="/subscr-access-manage">
                        <mat-icon class="headerbar-mat-menu-icon">list</mat-icon>
                        <span jhiTranslate="subscrAccess.title">Customers</span>
                    </button>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>    
</jhi-exc-form-template>