# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    application:
        name: portal-DEV
    profiles:
        active: dev
#        include: swagger
#    devtools:
#        restart:
#            enabled: true
#        livereload:
#            enabled: false # we use gulp + BrowserSync for livereload
#    jackson:
#        serialization.indent_output: true
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.p6spy.engine.spy.P6SpyDriver
        url: jdbc:p6spy:postgresql://192.168.84.216:${portal.datasource.databasePort}/${portal.datasource.databaseName}?useUnicode=yes&characterEncoding=UTF-8&ApplicationName=PortalMaster-${spring.profiles.active}
        name: datasource
#        jndi-name:
        username: dbuser1
        password: exbt_123456
        hikari:
            connection-test-query: SELECT 1
            minimum-idle: 3
            maximum-pool-size: 5
            pool-name: master

    jackson:
        serialization.write_dates_as_timestamps: false

    jpa:
        database-platform: ru.excbt.datafuse.hibernate.dialect.ExPostgreSQLDialect
        database: POSTGRESQL
        properties:
            hibernate.hbm2ddl.auto: validate
            hibernate.format_sql: false
            hibernate.show_sql: false
            hibernate.cache.region.factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
            hibernate.generate_statistics: false
            #hibernate.cache.use_structured_entries: true

#            naming:
#                physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
#                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
#        properties:
#            hibernate.cache.use_second_level_cache: true
#            hibernate.cache.use_query_cache: false
#            hibernate.generate_statistics: true
#            hibernate.javax.cache.provider: org.ehcache.jsr107.EhcacheCachingProvider
#            hibernate.javax.cache.uri: ${spring.cache.jcache.config}
#            hibernate.cache.region.factory_class: net.akworks.jhipster.sampleapp.config.jcache.SpringCacheRegionFactory


    activemq:
        broker-url: vm://embedded?broker.persistent=false,useShutdownHook=false&broker.useJmx=false
        in-memory: true
        non-blocking-redelivery: true
        packages:
            trust-all: false
            trusted: com.memorynotfound
        pool:
            block-if-full: true
            block-if-full-timeout: -1
            create-connection-on-startup: true
            enabled: false
            expiry-timeout: 0
            idle-timeout: 30000
            max-connections: 1
            maximum-active-session-per-connection: 500
            reconnect-on-exception: true
            time-between-expiration-check: -1
            use-anonymous-producers: true

    # Spring JMS Settings
    jms:
        listener:
            acknowledge-mode: auto
            auto-startup: true
#           concurrency: 5
#           max-concurrency: 10
            concurrency: 1
            max-concurrency: 1
        pub-sub-domain: false
        template:
            default-destination:
        delivery-mode: non_persistent
        priority: 100
        qos-enabled: true
        receive-timeout: 1000
        time-to-live: 36000

portal:
    datasource:
        databaseName: datafuse_2018_01
        databasePort: 5432
        type: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.p6spy.engine.spy.P6SpyDriver
        url: jdbc:p6spy:postgresql://192.168.84.216:${portal.datasource.databasePort}/${portal.datasource.databaseName}?useUnicode=yes&characterEncoding=UTF-8&ApplicationName=PortalMaster-${spring.profiles.active}
        #url: ${portal.datasource.jdbcUrl}
        name:
        jndi-name:
        username: dbuser1
        password: exbt_123456
        platform: POSTGRESQL
        connectionTestQuery: SELECT 1
        minimumIdle: 3
        maximumPoolSize: 5
        poolName: MasterPool
        #---tomcat:
        maxActive: 5
        initialSize: 2
        minIdle: 2
        maxIdle: 3
#        hikari:
#            connection-test-query: SELECT 1
#            minimum-idle: 3
#            maximum-pool-size: 5
#            pool-name: MasterPool

    security:
        rememberMe:
            # security key (this key should be unique for your application, and kept secret)
            key: 7e622ab5b0586c431f5180bf656a1d972f167ba5

    cache: # Cache configuration
        ehcache: # Ehcache configuration
            time-to-live-seconds: 3600 # By default objects stay 1 hour in the cache
            max-entries: 100 # Number of objects in each cache entry

    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        jmx.enabled: true
        graphite: # Use the "graphite" Maven profile to have the Graphite dependencies
            enabled: false
            host: localhost
            port: 2003
            prefix: portal
        prometheus: # Use the "prometheus" Maven profile to have the Prometheus dependencies
            enabled: false
            endpoint: /prometheusMetrics
        logs: # Reports Dropwizard metrics in the logs
            enabled: false
            report-frequency: 60 # in seconds

    logging:
        logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
            enabled: true
            host: 192.168.84.131
            port: 5000
            queue-size: 512
    cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
        exposed-headers: "Link,X-Total-Count"
        allow-credentials: true
        max-age: 1800


raw:
    datasource:
        databaseName: test_dataraw
        databasePort: 6432
        type: com.zaxxer.hikari.HikariDataSource
        driverClassName: com.p6spy.engine.spy.P6SpyDriver
        url: jdbc:p6spy:postgresql://192.168.84.216:${raw.datasource.databasePort}/${raw.datasource.databaseName}?useUnicode=yes&characterEncoding=UTF-8&ApplicationName=PortalRaw-${spring.profiles.active}
        #url: ${raw.datasource.jdbcUrl}
        name:
        jndi-name:
        username: dbuser1
        password: exbt_123456
        platform: POSTGRESQL
        connectionTestQuery: SELECT 1
        minimumIdle: 1
        maximumPoolSize: 2
        poolName: RawPool
        #---tomcat:
        maxActive: 5
        initialSize: 1
        minIdle: 1
        maxIdle: 3
#        hikari:
#            connection-test-query: SELECT 1
#            minimum-idle: 1
#            maximum-pool-size: 2
#            pool-name: RawPool


slog:
    settings:
        schema: slog

ldap:
    url: ldap://otrs.local.excbt.ru:389
    base: dc=nmk,dc=ru
    user: cn=Directory Manager
    password: exbt_123456

server:
    port: 8080
