<!--
Tree Node Color Status:
Tree node id: {{treeNodeId}}
-->
<div class = "ui-g" style = "min-width: 1400px;">
   <div class = "ui-g-12">
<!--       Graph: cont object monitor component-->
      <div class = "ui-g-12">
          <h3 style = "font-size: 24px; font-weight: 500; color: rgb(95, 95, 95)">Общая диаграмма монитора объектов и точек учета</h3>
      </div>
       <div class = "ui-g-4">
           <p-chart
              type = "polarArea"
              [data] = "nodeGraphData"
              [options] = "nodeGraphOptions"
              height = "350px"
              width = "350px"
              style = "float: right;"
              (onDataSelect) = "selectData($event)"
              [responsive] = "false"
              >
           </p-chart>
       </div>
       <div class = "ui-g-8">          
           <div class = "ui-g-12"
             *ngFor = "let dougRow of dougRows"
              >
               <div [class] = "dougCol.class"
                 *ngFor = "let dougCol of dougCols"
                  >
                   <p-chart 
                    *ngIf = "doughnuts[resources[dougRow.val + dougCol.val - 1]] && doughnuts[resources[dougRow.val + dougCol.val - 1]].data"
                     type = "doughnut"
                     [data] = "doughnuts[resources[dougRow.val + dougCol.val - 1]].data"                     
                     [options] = "doughnuts[resources[dougRow.val + dougCol.val - 1]].options"
                     (onDataSelect) = "selectData($event)"
                      >
                       
                   </p-chart>
                   
                   <div  class = "nmc-cont-object-monitor-doug-center">
                      
                      <div [class] = "'nmc-' + resources[dougRow.val + dougCol.val - 1] + '-icon'">
                          
                      </div>                       
                       <p *ngIf = "doughnuts[resources[dougRow.val + dougCol.val - 1]]">{{doughnuts[resources[dougRow.val + dougCol.val - 1]].allCount}}</p>
                   </div>
                   
<!--
                   {{resources[dougRow.val + dougCol.val - 1]}}
                   <pre>
                       {{doughnuts[resources[dougRow.val + dougCol.val - 1]] | json}}
                   </pre>
-->
               </div>   
               
           </div>
<!--
           <div class = "ui-g-12">
               
           </div>
-->
       </div>
   </div>
   <div class = "ui-g-12" style = "padding: 0">
    <div class = "nmc-cont-object-monitor-legend">
        <div *ngFor = "let chartLabel of chartLabels; index as labelIndex">
            <p [style.backgroundColor] = "chartBgColors[labelIndex]"></p>{{chartLabel}}
        </div>
    </div>
   </div>
   <div class = "ui-g-12">
<!--    style = "height: 42.7vh;">-->
<!--       Cont object control component-->
        <jhi-cont-object-control *ngIf = "!contObjectIdsLoading" [contObjectList] = "selectedContObjects" style = "height: 36vh; overflow: auto; display: flex; flex-direction: column">
        </jhi-cont-object-control>
   </div>
</div>