<!--
<div>
    Tree node id: {{treeNodeId}}
    <div style = "height: 50%; width: 100%; background-color: white;">
    </div>
</div>-->


<!--
<mat-grid-list cols='1'>
   <mat-grid-tile>
       Tree node id: {{treeNodeId}}
   </mat-grid-tile>
    <mat-grid-tile>
       Tree node id: {{treeNodeId}}
   </mat-grid-tile>    
</mat-grid-list>-->

Tree node id: {{treeNodeId}}
<div class = "ui-g">
   <div class = "ui-g-12">
       Graph: cont object monitor component
       
   </div>
   <div class = "ui-g-12">
       Cont object control component
   </div>
</div>
