.zpoint-cw-widget-v1 {
    position: relative;
/*    border: 1px solid black;*/
    border-radius: 6px;    
    background-color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 0 0 0;
}
.nmc-period-toogle {
    padding: 5px !important;
}
.nmc-cw-widget-zpname {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.nmc-cw-widget-label {
    font-size: 12px;
}

.nmc-cw-widget-modes {
    display: inline-block; 
    width: 80%;
}

.nmc-cw-widget-btnpanel {
    text-align: right; 
    padding: 10px 0 0 0;
}

.nmc-cw-widget-statusimg {
    vertical-align: baseline; 
    margin-right: 10px;
}

.nmc-cw-widget-btn {
    font-size: 40px;
}

.nmc-cw-widget-temppanel {
    padding: 20px 15px 0 0;
}

/* Легенда графика*/
.cw-chart-legend li {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #666;
}

.cw-chart-legend li span {
    display: inline-block;
    position: static;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin-right: 5px;    
}

/* Вспомогательные классы*/
.marginRight10 {
    margin-right: 10px;
}