.nmc-col-img {
    flex-grow: 0.5;
}

.nmc-col-message {
    flex-grow: 5;
}

.nmc-cw-icon {
    height: 26px;
    width: 26px;
    background: url(../../../../content/images/object-trees/cw.png);    
}

.nmc-hw-icon {
    height: 26px;
    width: 26px;
    background: url(../../../../content/images/object-trees/hw.png);    
}

.nmc-heat-icon {
    height: 26px;
    width: 26px;
    background: url(../../../../content/images/object-trees/heat.png);
}

.nmc-el-icon {
    height: 26px;
    width: 26px;
    background: url(../../../../content/images/object-trees/el.png);    
}