<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="report_settings" role="tab" data-target="#report_settings" data-toggle="tab">Отчеты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/object-view/" aria-controls="object-view" data-target="#object-view" role="tab" data-toggle="tab">Объекты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>        
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/program" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>
        <li ng-hide="isTestMode()"
            id="meter_period_setting_2nd_menu_item" 
            role="presentation"
            class="">
            <a class="nmc-main-tab-button"  
               href="#/settings/meter-period-setting/" 
               aria-controls="meter-period-setting" 
               role="tab" 
               data-target="#meter-period-setting" 
               data-toggle="tab">Настройка отчетных периодов
            </a>
        </li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" aria-controls="about-program" data-target="#about-program" role="tab" data-toggle="tab">О программе</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
      </div>
    </div>
</div>
<div class="well">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span style="font: 24px bold"> Русметрикс </span> - <label>система учета и обработки метрологической информации.</label>
            </div>
<!--
            <div class="col-md-1">
                <label> Наименование: </label>                
            </div>
            <div class="col-md-11">
                <label> Русметрикс </label>
            </div>
-->
        </div>
<!--
        <div class="row marginBottom5">
            <div class="col-md-12">
                <span> Версия программы: 60810, дата сборки: 10.08.2016</span>
            </div>
        </div>
-->
        <div>
            <label> 
                Информация о модулях программы. 
            </label>
        </div>
        <div class="row bg-info">
            <div ng-repeat="column in data.columns" 
                 ng-class="column.headerClass">
                <label> <span ng-bind="column.header"></span> </label>
            </div>
        </div>
        <div class="row nmc-tr-hover nmc-div-module-info" ng-repeat="module in data.modules track by $index">
            <div ng-repeat="column in data.columns" 
                 ng-class="column.dataClass">
                <label> <span ng-bind="module[column.fieldName]"></span> </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="nmc-main-workspace-header">    
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label> &copy; ООО "Эксклюзивные бизнес-технологии" 2016 </label>
        </div>
    </div>
<!--
    <table class="table table-condensed">
        <tbody>
            <tr>
                <td class="col-xs-2 col-md-1">
                    <label> Наименование: </label>                
                </td>
                <td  class="col-xs-10 col-md-11">
                    <label> Русметрикс </label>
                </td>    
            </tr>
            <tr>
                <td colspan="2">
                    <label> &copy; ООО "Эксклюзивные бизнес-технологии" 2016 </label>
                </td>
            </tr>    
        </tbody>
    </table>
-->
</div>    