<div>Портал / Отчеты / Коммерческий отчет</div>
<h2>Коммерческий отчет</h2>
 
                    <div>

                         <form class="form-horizontal">
                             <div class="control-group marginBottom10">
                                    <label class="control-label" for="inputInterval">Укажите временной интервал:</label>
                                    <div class="controls">
                                        
                                        <div>
                                            <input date-range-picker class="form-control date-picker"
                                                type="text" ng-model="navPlayerDates" options="queryDateOptsRu" />
                                        </div>

                                        
                                        
<!--
                                        <input type="text" id="inputInterval" name="daterange" value="2015-01-01 - 2015-01-31"/>
                                        <input type="text"  id="inputIntervalStart" name="daterangestart" value="2015-01-01" ng-model="reportStart"/>
                                        <input type="text" id="inputIntervalEnd" name="daterangeend" value="2015-01-31" ng-model="reportEnd"/>
-->
                                 </div>
                             </div>
                             <div>
                                 <label class="control-label">Выберете объект:</label>
                             </div>
                             <div crud-grid-objects report-start = "reportStart" report-end = "reportEnd" table="'../api/subscr/contObjects'"
                                                
                                                                      
                                                columns='[

                                                          {"name":"fullName", "header" : "Название", "class":"col-md-5"},
                                                         {"name":"fullAddress", "header" : "Адрес", "class":"col-md-5"}

                                                        ]'

                                                captions='{"loading":"loading", "totalElements":"totalElements"}'
                                                exprops='{"idColumnName":"id", "defaultOrderBy" : "fullName"}'

                                                breports='true'  
                                                bgroup='true'

                                                 bextramenu='true'

                                                 bobject='true'
                                
                                    

                                                 datasource='[
                                                {
                                                  "id":"753",
                                                  "fullName": "Тестовый контейнер для разработки",
                                                  "fullAddress": "Новые Васюки, ул. Московская, д. 56"


                                                }
                                                                 ,{    "id":"754",
                                                             "fullName": "Контейнер 1",
                                                  "fullAddress": "Ижевск, 30 лет Победы, 31"


                                                }

                                                ]'


                                                    zpointcolumns='[

                                                        {"name":"zpointType", "header" : " ", "class":"col-md-1"},
                                                          {"name":"zpointName", "header" : "Наименование", "class":"col-md-2"},
                                                         {"name":"zpointModel", "header" : "Модель", "class":"col-md-2"},
                                                        {"name":"zpointNumber", "header" : "Номер", "class":"col-md-2"},
                                                       {"name":"zpointLastDataDate", "header" : "Последние данные", "class":"col-md-2"}
                                                        ]'     
                                                      zpointdata='[
                                                {

                                                  "zpointId": "1",
                                                  "zpointType": "GVS",
                                                   "zpointName": "ГВС",
                                                  "zpointModel": "ТЭМ-106", 
                                                    "zpointNumber": "1066502",
                                                  "zpointLastDataDate": "25.02.2015",
                                                    "zpointParent": "754"              
                                                }
                                                                 ,{

                                                  "zpointId": "2",
                                                  "zpointType": "TS",
                                                   "zpointName": "TС",
                                                  "zpointModel": "ТЭМ-106", 
                                                    "zpointNumber": "1066502",
                                                  "zpointLastDataDate": "25.02.2015",
                                                    "zpointParent": "754"              
                                                }

                                                ]'

                             ></div>
                             
<!--
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">Сформировать</button>
                                </div>
                            </div>
-->
                        </form>   
                        
                </div>    
            


<script type="text/javascript">
        $(document).ready(function() {
          $('input[name="daterange"]').daterangepicker(
              { 
                locale: {cancelLabel:'Закрыть'},
                format: 'YYYY-MM-DD',
                startDate: '2015-01-01',
                endDate: '2015-12-31',
                ranges: {
                    'Сегодня': [moment(), moment()],
                    'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
                    'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
                    'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                    'Последний месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                } 
              },
              function(start, end, label) {
                $("#inputIntervalStart").val(start.format('YYYY-MM-DD'));
                $("#inputIntervalEnd").val(end.format('YYYY-MM-DD'));  
                alert('Выбран диапазон дат: ' + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
              }
            );
        });
</script>