<div>Портал / Отчеты / Коммерческий отчет</div>
<h2>Коммерческий отчет</h2>
 
                    <div>

                         <form class="form-horizontal">
                             <div class="control-group marginBottom10">
                                    <label class="control-label" for="inputInterval">Укажите временной интервал:</label>
                                    <div class="controls">
                                        
                                        <div ng-controller="DataRangeSettings">
                                            <input date-range-picker class="form-control date-picker"
                                                type="text" ng-model="navPlayerDates" options="queryDateOptsRu" />
                                        </div>

                                 </div>
                             </div>
                             <div>
                                 <label class="control-label">Выберете объект:</label>
                             </div>
                             <div crud-grid-objects report-start = "reportStart" report-end = "reportEnd" table="'../api/subscr/contObjects'"
                                                
                                                                      
                                                columns='[

                                                          {"name":"fullName", "header" : "Название", "class":"col-md-5"},
                                                         {"name":"fullAddress", "header" : "Адрес", "class":"col-md-5"}

                                                        ]'

                                                captions='{"loading":"loading", "totalElements":"totalElements"}'
                                                exprops='{"idColumnName":"id", "defaultOrderBy" : "fullName"}'

                                                breports='true'  
                                                bgroup='true'

                                                 bextramenu='true'

                                                 bobject='true'
       
                                                    zpointcolumns='[

                                                        {"name":"zpointType", "header" : " ", "class":"col-md-1"},
                                                          {"name":"zpointName", "header" : "Наименование", "class":"col-md-2"},
                                                         {"name":"zpointModel", "header" : "Модель", "class":"col-md-2"},
                                                        {"name":"zpointNumber", "header" : "Номер", "class":"col-md-2"},
                                                       {"name":"zpointLastDataDate", "header" : "Последние данные", "class":"col-md-2"}
                                                        ]'     
                                                     

                             ></div>
                        </form>   
                        
                </div>    
            


<!--
<script type="text/javascript">
        $(document).ready(function() {
          $('input[name="daterange"]').daterangepicker(
              { 
                locale: {cancelLabel:'Закрыть'},
                format: 'YYYY-MM-DD',
                startDate: '2015-01-01',
                endDate: '2015-12-31',
                ranges: {
                    'Сегодня': [moment(), moment()],
                    'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
                    'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
                    'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
                    'Последний месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                } 
              },
              function(start, end, label) {
                $("#inputIntervalStart").val(start.format('YYYY-MM-DD'));
                $("#inputIntervalEnd").val(end.format('YYYY-MM-DD'));  
                alert('Выбран диапазон дат: ' + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
              }
            );
        });
</script>-->
