<!-- Интерфейс управления контактами и группами контактов -->

<script type="text/javascript">
	$(function (){
		$('#ul_contacts_tabs a:first').tab('show')
	});
</script>

<div>
<!--    Вкладки 2го уровня - на самом верху страницы-->
<div role="tabpanel" class="nmc-main-tab-panel">

    <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="param_sets" role="tab" data-target="#param_sets" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группы объектов</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
      </div>
    </div>
</div>
<div class="nmc-main-workspace-header">
    <h2 class="noMargin nmc-h2">Контакты</h2>
    <hr>
</div>    
    <!-- Вкладки -->
	<div role="tabpanel" class="nmc-tab-panel">
  	<!-- Навигационная полоса -->
		<ul id="ul_contacts_tabs" class="nav nav-tabs" role="tablist">
     		<li><a href="" aria-controls="div_contacts" data-target="#div_contacts" data-toggle="tab" class="nmc-tab-button">Контакты</a></li>
    		<li><a href="" aria-controls="div_contact_lists" data-target="#div_contact_lists" data-toggle="tab" class="nmc-tab-button">Списки контактов</a></li>
		</ul>
	</div>
  <!-- содержимое вкладок -->
  <div class="tab-content">
    <!-- Содержимое вкладки с контактами -->
    <div id="div_contacts" class="tab-pane active">
    <br>
		<!-- Кнопка добавления контактов -->
		<div class="btn-group">
			<button ng-disabled="isROfield()" class="btn nmc-main-add-button" ng-click="addItem('new', 'contact')">Добавить контакт</button>
		</div><br><br>	
		<!-- Таблица контактов -->
   		<table id="table_contacts_header" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table noMargin">
    		<tr id="tr_cnt_header" class="nmc-main-table-header">
    			<th class="col-md-1 nmc-td-for-buttons"></th>
    			<th class="col-md-4">Имя</th>
    			<th class="col-md-3">Телефон</th>
    			<th class="col-md-3">Электронная почта</th>
    			<th class="col-md-1"></th>
    		</tr>
        </table>
        <div class="nmc-contacts-main-div">
            <table id="table_contacts" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table">   
                <tr ng-repeat = "contact in contacts">
                    <td class="col-md-1 nmc-td-for-buttons">
                        <i title='Редактировать' class='btn btn-xs glyphicon glyphicon-edit nmc-button-in-table' data-target="#edit_contact" ng-click='editItem(contact, "contact")' data-toggle="modal"></i>
                    </td>
                    <td class="col-md-4">{{contact.userName}}</td>
                    <td class="col-md-3">{{contact.userPhone}}</td>
                    <td class="col-md-3">{{contact.userEmail}}</td>
                    <td class="col-md-1 nmc-td-for-buttons">
                        <i ng-disabled="isROfield()" title='Удалить' class='btn btn-xs glyphicon glyphicon-trash nmc-button-in-table' data-target="#div_delete_contact" ng-click='editItem(contact, "contact")' data-toggle="modal"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Содержимое вкладки со списками контактов -->
    <div id="div_contact_lists" class="tab-pane">
    <br>
		<!-- Кнопка добавления списков -->
		<div class="btn-group">
			<button ng-disabled="isROfield()" class="btn nmc-main-add-button" ng-click="addItem('new', 'list')" >Добавить список</button>
		</div><br><br>    
		<table id="table_contact_lists_header" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table noMargin">
			<tr id="tr_cnt_header" class="nmc-main-table-header">
				<th class="col-md-1 nmc-td-for-buttons"></th>
    			<th class="col-md-10">Имя списка</th>
    			<th class="col-md-1"></th>
    		</tr>
        </table>    
        <div class="nmc-contacts-main-div">
            <table id="table_contact_lists" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table">    
                <tr ng-repeat = "list in lists">
                    <td class="col-md-1 nmc-td-for-buttons">
                        <i title='Редактировать' class='btn btn-xs glyphicon glyphicon-edit nmc-button-in-table' data-target="#edit_list" ng-click='editItem(list, "list")' data-toggle="modal"></i>
                    </td>
                    <td class="col-md-10">{{list.groupName}}</td>
                    <td class="col-md-1 nmc-td-for-buttons">
                        <i ng-disabled="isROfield()" title='Удалить' class='btn btn-xs glyphicon glyphicon-trash nmc-button-in-table' data-target="#div_delete_contact_list" ng-click='editItem(list, "list")' data-toggle="modal"></i>
                    </td>
                </tr>
            </table>
        </div>    
    </div>
  </div>  
    <!-- Вспомогательные элементы -->
    <!-- Модальное окно редактирования контакта -->
    <div id="edit_contact" class="modal fade nmc-modal-window" role="dialog" aria-labelledby="showObjOptionLabel" tabindex="-1">
		<div class="modal-dialog modal-content nmc-modal-dialog">
			<div class="modal-header nmc-modal-header">
                <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 id="cnt_edit_w_header" class="nmc-h3">Изменение контакта</h3>
			</div>
    		<div class="modal_body nmc-modal-body">
    		<br>
 	        	<div class="container-fluid">
 	            	<div class="row-fluid">
   	               		<div class="col-md-12 well noPaddingBottom marginBottom10">
    						<div class="col-md-6">
    							<form>
	    							<label for="inp_cnt_name">Имя:</label>
    								<input ng-disabled="isROfield()" id="inp_cnt_name" type="text" class="form-control nmc-text-input-form" ng-model="currentItem.userName"/>
    								<br>
    								<label for="inp_cnt_tel">Телефон:</label>
    								<input ng-disabled="isROfield()" id="inp_cnt_tel" type="text" class="form-control nmc-text-input-form" ng-model="currentItem.userPhone"/>
    								<br>
    								<label for="inp_cnt_email">Электронная почта:</label>
    								<input ng-disabled="isROfield()" id="inp_cnt_email" type="email" class="form-control nmc-text-input-form" ng-model="currentItem.userEmail"/>
    							</form>
    						</div>
    						<div class="col-md-6">
    							<label for="list_in_window">Включить в группы:</label>
    							<div id="list_in_window" class="panel panel-default nmc-modal-panel-with-table nmc-table-with-chkbx-in-contacts paddingLeft5 paddingRight5">
    								<table id="table_lists_in_window" class = "table table-striped table-condensed table-hover nmc-modal-table-with-chkbx">
    								    <tr ng-repeat = "small_list in small_lists">
   											<td>
   												<input ng-disabled="isROfield()" id={{small_list.id}} class="nmc-checkbox-form" type='checkbox' ng-model = "small_list.checked" />
   												{{small_list.groupName}}
   											</td>
   										</tr>
    								</table>
    							</div>
    							<br>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
	    	<div class="modal-footer nmc-modal-footer">
    			<div class="container-fluid  ">
					<div class="row">
                       	<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled="isROfield()"
                                   type="submit"
								class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="addContact()"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button"
								data-dismiss="modal"
								ng-click="exit()">
								Отменить
							</button>
						</div>
					</div>
				</div>		
	    	</div>
    	</div>
    </div>
    
    <!-- Модальное окно редактирования списка контактов -->
    <div id="edit_list" class="modal fade nmc-modal-window" role="dialog" aria-labelledby="showObjOptionLabel" tabindex="-1">
		<div class="modal-dialog modal-content nmc-modal-dialog nmc-modal-narrow-dialog">
			<div class="modal-header nmc-modal-header">
                <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 id="lst_edit_w_header" class="nmc-h3">Изменение списка контактов</h3>
			</div>
    		<div class="modal_body nmc-modal-body">
    		<br>
 	        	<div class="container-fluid nmc-modal-panel">
 	            	<div class="row-fluid">
   	               		<div class="col-md-12 well noPaddingBottom marginBottom10" style="">
   							<form>
    							<label for = "inp_lst_name">Имя:</label>
   								<input ng-disabled="isROfield()" id = "inp_lst_name" type="text" class="form-control nmc-text-input" ng-model="currentItem.groupName" />
   							</form>
   							<br>
   							<label for = "contacts_in_window">Включить контакты в список:</label>
   							<div id = "contacts_in_window" class = "panel panel-default nmc-modal-panel-with-table nmc-table-with-chkbx-in-contacts paddingLeft5 paddingRight5">
   								<table id="table_contacts_in_window" class = "table table-striped table-condensed table-hover nmc-modal-table-with-chkbx"> 
    								<tr ng-repeat="small_contact in small_contacts">
   										<td>
   											<input ng-disabled="isROfield()" id={{small_contact.id}} class="nmc-checkbox-form" type='checkbox' ng-model='small_contact.checked' />
   											{{small_contact.userName}}
   										</td>
   									</tr>  
   								</table>
   							</div>
   							<br>
     					</div>
    				</div>
    			</div>
    		</div>
	    	<div class="modal-footer nmc-modal-footer">
    			<div class="container-fluid  ">
					<div class="row">
                       	<div class="col-xs-offset-4 col-md-5">
							<input ng-disabled="isROfield()"
                                   type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="addList()"
								value="Сохранить" />
						</div>
						<div class="pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit()">
								Отменить
							</button>
						</div>
					</div>
				</div>		
	    	</div>
    	</div>
    </div>
</div>

<!-- window: delete contact-->
<div id="div_delete_contact" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{currentItem.userName}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled="isROfield()" type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="delContact(currentItem);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noMargin noPadding nmc-cancel-button">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#div_delete_delivery');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- window: delete contact list-->
<div id="div_delete_contact_list" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{currentItem.groupName}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled="isROfield()"
                                   type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="delList(currentItem);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noMargin noPadding nmc-cancel-button">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#div_delete_delivery');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>