<!-- Интерфейс управления рассылками отчётов -->

<style type="text/css">
<!--

-->
.align-left {
	align: left;
}
</style>

<script type="text/javascript"></script>

<!--    Вкладки 2го уровня - на самом верху страницы-->
<div role="tabpanel" class="nmc-main-tab-panel">

    <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="report_settings" role="tab" data-target="#report_settings" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li role="presentation" ><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/program" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
      </div>
    </div>
</div>

<div class="nmc-main-workspace-header">
    <h2 class="noMargin nmc-h2">Отчеты</h2>
    <hr>
</div>  

<div role="tabpanel" class="nmc-tab-panel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a class="nmc-tab-button" href="#/settings/paramsets/" aria-controls="param_sets" data-target="#param_sets" role="tab" data-toggle="tab">Варианты отчетов</a></li>
    <li role="presentation"><a class="nmc-tab-button" href="#/settings/reports/" aria-controls="report_templates"  role="tab" data-target="#report_templates" data-toggle="tab">Шаблоны</a></li>
    <li role="presentation" class="active"><a class="nmc-tab-button" href="" aria-controls="timetables" data-target="#timetables" role="tab" data-toggle="tab">Рассылки</a></li>
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!-- ???     Рассылки-->
    <div role="tabpanel" class="tab-pane fade in active" id="timetables">
	</div>
</div>
        <!-- >>>>>>>>>>>>>>>>>> Код писать в этом div <<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        
            <!-- Содержимое вкладки с рассылками -->
    <div>
<!--		<h2>Рассылки</h2>-->
		<!-- Кнопка добавления рассылок -->
		<div class="btn-group">
			<button ng-disabled="isROfield()" class="btn  marginBottom5 marginTop5 nmc-main-add-button" ng-click="addNewReportShedule('new')">Добавить рассылку</button>
		</div>
<!--        <br><br>		-->
		<!-- Таблица со списком рассылок -->
   		<table id="table_deliveries_header" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table noMargin">
    		<tr id="tr_dlv_header" class="nmc-main-table-header">
    			<th class="col-md-1 nmc-td-for-buttons">&nbsp</th>
    			<th class="col-md-2">Название</th>
    			<th class="col-md-8">Описание</th>
    			<th class="col-md-1">&nbsp</th>
       		</tr>
        </table>
        <div class="nmc-delivery-settings-main-div">
            <table id="table_deliveries" class="crud-grid table table-striped table-lighter table-condensed table-hover nmc-main-table">
                <tr ng-repeat = "rep_shdl in rep_shdls">
                    <td class="col-md-1 nmc-td-for-buttons"><i title='Изменить'	class='btn btn-xs glyphicon glyphicon-edit' data-target='#div_edit_delivery' data-toggle='modal' ng-click="editReportShedule(rep_shdl)"></i></td>
                    <td class="col-md-2">{{rep_shdl.name}}</td>
                    <td class="col-md-8">{{rep_shdl.description}}</td>
                    <td class="col-md-1 nmc-td-for-buttons"><i ng-disabled="isROfield()" title='Удалить'	class='btn btn-xs glyphicon glyphicon-trash' data-target='#div_delete_delivery' data-toggle='modal' ng-click="editReportShedule(rep_shdl)"></i></td>
                </tr>
            </table>
        </div>    
    </div>
</div>

<!-- Вспомогательные элементы -->
    <!-- Модальное окно редактирования списка контактов -->
    <div id="div_edit_delivery" class="modal fade nmc-modal-window" role="dialog"
		aria-labelledby="showObjOptionLabel" tabindex="-1">
		<div class="modal-dialog  modal-content nmc-modal-dialog">
			<div class="modal-header nmc-modal-header">
                <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 ng-if="cur_rep_shdl.id != 'new'" id="div_dlvr_edit_w_header" class="nmc-h3">Рассылка</h3>
                <h3 ng-if="cur_rep_shdl.id == 'new'" id="div_dlvr_edit_w_header" class="nmc-h3">Создание рассылки</h3>
			</div>
    		<div class="modal_body nmc-modal-body">
 	        	<div class="container-fluid">
 	            	<div class="row-fluid">
   	               		<div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel">
   	               			<form>
		   	               		<table class="table table-lighter table-hover table-condensed table-striped nmc-modal-main-table">
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group col-sm-12">
		    									<label for="inp_dlvr_name">Название:</label>
		   										<input ng-disabled="isROfield()"
                                                       id="inp_dlvr_name"
		   												type="text"
		   												placeholder="Введите название рассылки..."
		   												class="form-control nmc-text-input-form"
		   												ng-model="cur_rep_shdl.name"/>
		   	               					</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
	   	               						<div class="form-group col-sm-12">
	   	               							<label for="inp_dlvr_descr">Описание:</label>
	   	               							<textarea ng-disabled="isROfield()"
                                                          id="txtarea_dlvr_descr"
	   	               										type="textarea"
	   	               										placeholder="Введите описание для рассылки..."
	   	               										class="form-control nmc-textarea-form"
	   	               										ng-model="cur_rep_shdl.description">
	   	               							</textarea>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group pull-left col-sm-6">
		   	               						<label for="slct_rep_type">Тип отчёта:</label>
		   	               							<select ng-disabled="isROfield()"
                                                            id="slct_rep_type"
		   	               									class="form-control  nmc-select-form"
		   	               									ng-model="cur_rep_shdl.reportTemplate.reportTypeKeyname"
		   	               									ng-options="rep_type.keyname as rep_type.caption for rep_type in rep_types"
		   	               									ng-change="changeReportType(false)">
		   	               							</select>
		   	               					</div>
		   	               					<div class="form-group col-sm-6">
		   	               						<label for="slct_rep_tmpl_var">Вариант отчета:</label>
		   	               						<select id="slct_rep_tmpl_var"                                                        
		   	               								disabled
		   	               								class="form-control  nmc-select-form"
		   	               								ng-model="cur_rep_shdl.reportParamset.id"
		   	               								ng-options="paramset.id as paramset.name for paramset in paramsets">
		   	               						</select>
		   	               					</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group pull-left col-sm-6">
		   	               						<label for="slct_period">Периодичность запуска</label>
		   	               							<select ng-disabled="isROfield()"
                                                            id="slct_period"
		   	               									class="form-control  nmc-select-form"
		   	               									ng-model="cur_rep_shdl.reportSheduleTypeKey"
		   	               									ng-options="rep_act_type.keyname as rep_act_type.caption for rep_act_type in rep_act_types"
		   	               									ng-change="activatePeriod()">
		   	               							</select>
		   	               					</div>
	   	               						<div id ="div_day" class="form-group col-sm-3">
	   	               							<div id="div_day_of_month" style="display:none">
	   	               							<label for="inp_day">Число:</label>
	   	               								<input id="inp_day"
	   	               										type="text"
	   	               										disabled
	   	               										placeholder="Введите число месяца..."
	   	               										class="form-control nmc-text-input-form"
	   	               										ng-model="time[2]">
	   	               							</div>
	   	               							<div id="div_day_of_week">
	   	               							<label for="slct_day_of_week">День:</label>
	   	               								<select id="slct_day_of_week"
	   	               										disabled
	   	               										class="form-control  nmc-select-form"
	   	               										ng-model="time[4]">
	   	               									<option value = "1">Понедельник</option>
	   	               									<option value = "2">Вторник</option>
	   	               									<option value = "3">Среда</option>
	   	               									<option value = "4">Четверг</option>
	   	               									<option value = "5">Пятница</option>
	   	               									<option value = "6">Суббота</option>
	   	               									<option value = "7">Воскресенье</option>
	   	               								</select>
	   	               							</div>
	   	               							<div id="div_day_date" style="display:none">
	   	               								<label for="inp_day_date">Дата:</label>
	   	               								<input id="inp_day_date"
	   	               										type="date"
	   	               										disabled
	   	               										placeholder="Укажите дату..."
	   	               										class="form-control  nmc-date-input-form"
	   	               										ng-model="time[3]">
	   	               							</div>
	   	               							<div id="div_daily" style="display:none">&nbsp</div> 
	   	               						</div>
	   	               						<label for="div_time">Время:</label>
	   	               						<div id="div_time" class="input-group col-sm-3">
	   	               							<input id="inp_hour"
	   	               									type="text"
	   	               									disabled
	   	               									placeholder="Час"
	   	               									class="form-control nmc-text-input-form"
	   	               									ng-model="time[1]">
	   	               							<span class="input-group-addon nmc-text-input-form">:</span>
   	               								<input id="inp_minute"
   	               										type="text"
   	               										disabled
   	               										placeholder="Минута"
   	               										class="form-control  nmc-text-input-form"
   	               										ng-model="time[0]">
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td id="td_rcpt">
	   	               						<div id="div_rcpt_form" class="form-group">
	   	               							<div id="div_rcpt_form_inps">
	   	               								<div id="div_dlvr_type_slct" class="form-group pull-left col-sm-6">
	   	               									<label for="slct_dlvr_type">Тип рассылки:</label>
	   	               									<select ng-disabled="isROfield()"
                                                                id="slct_dlvr_type"
	   	               											class="form-control  nmc-select-form"
	   	               											ng-model="cur_rep_shdl.sheduleAction1Key"
		   	               										ng-options="rep_shdl_type.keyname as rep_shdl_type.caption for rep_shdl_type in rep_shdl_types"
		   	               										ng-change="changeSheduleAction()">
				   	               						</select>
				   	               					</div>
	   		    	           						<div id="div_rcpt_slct" class = "form-group col-sm-6">	   	               						
		   		    	           						<label for = "slct_rcpt">Списки получателей:</label>
	   	        	    	   							<select id = "slct_rcpt"
	   	        	    	   									disabled
	   	        	    	   									class="form-control nmc-select-form"
	   	        	    	   									ng-model="cur_rep_shdl.sheduleAction1Param"
	   	        	    	   									ng-options="dlvr_list.id as dlvr_list.groupName for dlvr_list in dlvr_lists">
	   	               									</select>
	   	               								</div>
	   	               								<div id="div_rcpt_email" class="form-group col-sm-6" style="display:none">
	   	               									<label for="inp_rcpt_email">Адрес электронной почты:</label>
	   	               									<input id="inp_rcpt_email"
	   	               											type="email"
	   	               											disabled
	   	               											placeholder="Введите e-mail..."
	   	               											class="form-control  nmc-text-input-form"
	   	               											ng-model="cur_rep_shdl.sheduleAction1Param">
		   	               							</div>
	   	               							</div>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td id="td_dlvr_begin">
	   	               						<div id="div_dlvr_begin" class="form-group">
	   	               							<div id="div_dlvr_begin_input" class="form-group pull-left col-sm-6">
	   	               							<label for="inp_dlvr_begin">Начало действия рассылки:</label>
	   	               								<input ng-disabled="isROfield()"
                                                           id="inp_dlvr_begin"
	   	               										type="date" placeholder="Укажите дату..."
	   	               										class="form-control  nmc-date-input-form"
	   	               										ng-model="start_date">
	   	               							</div>
	   	               							<div id="div_dlvr_end_input" class="form-group pull-left col-sm-6">
	   	               							<label for="inp_dlvr_begin">Окончание действия рассылки:</label>
	   	               								<input ng-disabled="isROfield()"
                                                           id="inp_dlvr_end"
	   	               										type="date"
	   	               										placeholder="Укажите дату..."
	   	               										class="form-control  nmc-date-input-form"
	   	               										ng-model="end_date">
	   	               							</div>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
   	               				</table>
   	               			</form>   	               			
     					</div>
    				</div>
    			</div>
    		</div>
	    	<div class="modal-footer nmc-modal-footer">
    			<div class="container-fluid">
					<div class="row">
                       	<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled="isROfield()"
                                   type="submit" 
                                   class="btn btn-primary btn-block btn-xs nmc-save-button"
								    ng-click="dlvrSave()"
								    value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
	    	</div>
    	</div>
    </div>

<!-- window: delete delivery-->
<div id="div_delete_delivery" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{cur_rep_shdl.name}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled="isROfield()" type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="delReportShedule(cur_rep_shdl);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noMargin noPadding nmc-cancel-button">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#div_delete_delivery');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>
