<style type="text/css">
<!--

-->
.align-left {
	align: left;
}
</style>

<script type="text/javascript"></script>

<!--<div>Портал / Настройки / Отчеты</div>-->
<h2 class="noMargin pageTitle">Отчеты</h2>
<hr>
<div role="tabpanel"l>

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="#/settings/reports/" aria-controls="report_templates"  role="tab" data-target="#report_templates" data-toggle="tab">Шаблоны</a></li>
    <li role="presentation" ><a href="#/settings/paramsets/" aria-controls="param_sets" data-target="#param_sets" role="tab" data-toggle="tab">Варианты отчетов</a></li>
    <li role="presentation" class="active"><a href="" aria-controls="timetables" data-target="#timetables" role="tab" data-toggle="tab">Рассылки</a></li>
    
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!-- ???     Рассылки-->
    <div role="tabpanel" class="tab-pane fade in active" id="timetables">
	</div>
</div>
        <!-- >>>>>>>>>>>>>>>>>> Код писать в этом div <<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
        
            <!-- Содержимое вкладки с рассылками -->
    <div id="div_contacts">
		<h2>Рассылки</h2>
		<!-- Кнопка добавления рассылок -->
		<div class="btn-group">
			<button class="btn btn-primary" data-target="#div_edit_delivery" data-toggle="modal" ng-click="editReportShedule('new')">Добавить рассылку</button>
		</div><br><br>		
		<!-- Таблица со списком рассылок -->
   		<table id="table_deliveries" class="crud-grid table table-striped table-lighter table-condensed table-hover">
    		<tr id="tr_dlv_header" class="info">
    			<th class="col-md-1">&nbsp</th>
    			<th class="col-md-2">Название</th>
    			<th class="col-md-8">Описание</th>
    			<th class="col-md-1">&nbsp</th>
       		</tr>
       		<tr ng-repeat = "rep_shdl in rep_shdls">
       			<td><i title='Изменить'	class='btn btn-default btn-xs glyphicon glyphicon-edit' data-target='#div_edit_delivery' data-toggle='modal' ng-click="editReportShedule(rep_shdl)"></i></td>
       			<td>{{rep_shdl.name}}</td>
       			<td>{{rep_shdl.description}}</td>
       			<td><i title='Удалить'	class='btn btn-default btn-xs glyphicon glyphicon-trash' ng-click="delReportShedule(rep_shdl)"></i></td>
       		</tr>
    	</table>
    </div>
</div>

<!-- Вспомогательные элементы -->
    <!-- Модальное окно редактирования списка контактов -->
    <div id="div_edit_delivery" class="modal fade" role="dialog"
		aria-labelledby="showObjOptionLabel" tabindex="-1">
		<div class="modal-dialog  modal-content">
			<div class="modal-header">
				<h3 id="div_dlvr_edit_w_header">Изменение рассылки</h3>
			</div>
    		<div class="modal_body">
    		<br>
 	        	<div class="container-fluid">
 	            	<div class="row-fluid">
   	               		<div class="col-md-12 well noPaddingBottom marginBottom10" style="">
   	               			<form>
		   	               		<table class="table table-lighter table-hover table-condensed table-striped">
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group col-sm-12">
		    									<label for="inp_dlvr_name">Название:</label>
		   										<input id="inp_dlvr_name"
		   												type="text"
		   												placeholder="Введите название рассылки..."
		   												class="form-control"
		   												ng-model="cur_rep_shdl.name"/>
		   	               					</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
	   	               						<div class="form-group col-sm-12">
	   	               							<label for="inp_dlvr_descr">Описание:</label>
	   	               							<textarea id="txtarea_dlvr_descr"
	   	               										type="textarea"
	   	               										placeholder="Введите описание для рассылки..."
	   	               										class="form-control"
	   	               										ng-model="cur_rep_shdl.description">
	   	               							</textarea>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group pull-left col-sm-6">
		   	               						<label for="slct_rep_type">Тип отчёта:</label>
		   	               							<select id="slct_rep_type"
		   	               									class="form-control input-sm"
		   	               									ng-model="cur_rep_shdl.reportTemplate.reportTypeKey"
		   	               									ng-options="rep_type.keyname as rep_type.caption for rep_type in rep_types"
		   	               									ng-change="changeReportType()">
		   	               							</select>
		   	               					</div>
		   	               					<div class="form-group col-sm-6">
		   	               						<label for="slct_rep_tmpl_var">Вариант шаблона:</label>
		   	               						<select id="slct_rep_tmpl_var"
		   	               								disabled
		   	               								class="form-control input-sm"
		   	               								ng-model="cur_rep_shdl.reportParamset.id"
		   	               								ng-options="paramset.id as paramset.name for paramset in paramsets">
		   	               						</select>
		   	               					</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td>
		   	               					<div class="form-group pull-left col-sm-6">
		   	               						<label for="slct_period">Периодичность запуска</label>
		   	               							<select id="slct_period"
		   	               									class="form-control input-sm"
		   	               									ng-model="cur_rep_shdl.reportSheduleTypeKey"
		   	               									ng-options="rep_act_type.keyname as rep_act_type.caption for rep_act_type in rep_act_types"
		   	               									ng-change="activatePeriod()">
		   	               							</select>
		   	               					</div>
	   	               						<div id ="div_day" class="form-group col-sm-3">
	   	               							<div id="div_day_of_month" style="display:none">
	   	               							<label for="inp_day">Число:</label>
	   	               								<input id="inp_day"
	   	               										type="text"
	   	               										disabled
	   	               										placeholder="Введите число месяца..."
	   	               										class="form-control input-sm"
	   	               										ng-model="time[2]">
	   	               							</div>
	   	               							<div id="div_day_of_week">
	   	               							<label for="slct_day_of_week">День:</label>
	   	               								<select id="slct_day_of_week"
	   	               										disabled
	   	               										class="form-control input-sm"
	   	               										ng-model="time[4]">
	   	               									<option value = "1">Понедельник</option>
	   	               									<option value = "2">Вторник</option>
	   	               									<option value = "3">Среда</option>
	   	               									<option value = "4">Четверг</option>
	   	               									<option value = "5">Пятница</option>
	   	               									<option value = "6">Суббота</option>
	   	               									<option value = "7">Воскресенье</option>
	   	               								</select>
	   	               							</div>
	   	               							<div id="div_day_date" style="display:none">
	   	               								<label for="inp_day_date">Дата:</label>
	   	               								<input id="inp_day_date"
	   	               										type="date"
	   	               										disabled
	   	               										placeholder="Укажите дату..."
	   	               										class="form-control input-sm"
	   	               										ng-model="time[3]">
	   	               							</div>
	   	               							<div id="div_daily" style="display:none">&nbsp</div> 
	   	               						</div>
	   	               						<label for="div_time">Время:</label>
	   	               						<div id="div_time" class="input-group col-sm-3">
	   	               							<input id="inp_hour"
	   	               									type="text"
	   	               									disabled
	   	               									placeholder="Час"
	   	               									class="form-control input-sm"
	   	               									ng-model="time[1]">
	   	               							<span class="input-group-addon">:</span>
   	               								<input id="inp_minute"
   	               										type="text"
   	               										disabled
   	               										placeholder="Минута"
   	               										class="form-control input-sm"
   	               										ng-model="time[0]">
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td id="td_rcpt">
	   	               						<div id="div_rcpt_form" class="form-group">
	   	               							<div id="div_rcpt_form_inps">
	   	               								<div id="div_dlvr_type_slct" class="form-group pull-left col-sm-6">
	   	               									<label for="slct_dlvr_type">Тип рассылки:</label>
	   	               									<select id="slct_dlvr_type"
	   	               											class="form-control input-sm"
	   	               											ng-model="cur_rep_shdl.sheduleAction1Key"
		   	               										ng-options="rep_shdl_type.keyname as rep_shdl_type.caption for rep_shdl_type in rep_shdl_types"
		   	               										ng-change="changeSheduleAction()">
				   	               						</select>
				   	               					</div>
	   		    	           						<div id="div_rcpt_slct" class = "form-group col-sm-6">	   	               						
		   		    	           						<label for = "slct_rcpt">Списки получателей:</label>
	   	        	    	   							<select id = "slct_rcpt"
	   	        	    	   									disabled
	   	        	    	   									class="form-control input-sm"
	   	        	    	   									ng-model="cur_rep_shdl.sheduleAction1Param"
	   	        	    	   									ng-options="dlvr_list.id as dlvr_list.groupName for dlvr_list in dlvr_lists">
	   	               									</select>
	   	               								</div>
	   	               								<div id="div_rcpt_email" class="form-group col-sm-6" style="display:none">
	   	               									<label for="inp_rcpt_email">Адрес электронной почты:</label>
	   	               									<input id="inp_rcpt_email"
	   	               											type="email"
	   	               											disabled
	   	               											placeholder="Введите e-mail..."
	   	               											class="form-control input-sm"
	   	               											ng-model="cur_rep_shdl.sheduleAction1Param">
		   	               							</div>
	   	               							</div>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
	   	               				<tr>
	   	               					<td id="td_dlvr_begin">
	   	               						<div id="div_dlvr_begin" class="form-group">
	   	               							<div id="div_dlvr_begin_input" class="form-group pull-left col-sm-6">
	   	               							<label for="inp_dlvr_begin">Начало действия рассылки:</label>
	   	               								<input id="inp_dlvr_begin"
	   	               										type="date" placeholder="Укажите дату..."
	   	               										class="form-control input-sm"
	   	               										ng-model="start_date">
	   	               							</div>
	   	               							<div id="div_dlvr_end_input" class="form-group pull-left col-sm-6">
	   	               							<label for="inp_dlvr_begin">Окончание действия рассылки:</label>
	   	               								<input id="inp_dlvr_end"
	   	               										type="date"
	   	               										placeholder="Укажите дату..."
	   	               										class="form-control input-sm"
	   	               										ng-model="end_date">
	   	               							</div>
	   	               						</div>
	   	               					</td>
	   	               				</tr>
   	               				</table>
   	               			</form>   	               			
     					</div>
    				</div>
    			</div>
    		</div>
	    	<div class="modal-footer">
    			<div class="container-fluid dialogMarginButtons">
					<div class="row">
                       	<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="dlvrSave()"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
	    	</div>
    	</div>
    </div>