<!--<div>Портал / Личный кабинет / Справочники<div>-->
<div>
    <ul class="breadcrumb marginBottom10">
        <li><a href="#/">Портал</a> <span class="divider"></span></li>
        <li><a href="#/private/">Личный кабинет</a><span class="divider"></span></li>
        <li class="active">Справочники</li>
    </ul>
</div> 
<!--
<h2 class="noMargin excbt_h2">Справочники</h2>
<hr>
-->

<div crud-grid-directories table="'../api/u_directory'"
	columns='[

	          {"name":"directoryName", "header" : "Наименование", "class":"col-md-3"},
             {"name":"directoryDescription", "header" : "Описание", "class":"col-md-5"}
           
            ]'

	captions='{"loading":"loading", "totalElements":"totalElements"}'
	exprops='{"idColumnName":"id", "defaultOrderBy" : "directoryName", "deleteConfirmationProp":"directoryName"}'
     
     

     datasource='[
    {
      "id":"753",
      "directoryName": "Справочник 1",
      "directoryDescription": "Пример справочника"
      ,  "directParams":[
                 {"paramName":"Параметр1"
                    , "paramType":"Строка"
                     
                    , "paramDescription":"Пример параметра"}
                 ,{"paramName":"Площадь", "paramType":"Число", "paramDescription":"Общая площадь объекта"}
                 ,{"paramName":"Количество счетчиков", "paramType":"Integer", "paramDescription":"Количество счетчиков учета на объекте"}
                 ]
        
    }
                     ,{    "id":"754",
                 "directoryName": "Школы",
      "directoryDescription": "Справочник содержит перечень школ"
      ,  "directParams":[
                 {"paramName":"Параметр1"
                    , "paramType":"Строка"
                     
                    , "paramDescription":"Пример параметра"}
                 
                 ]
                       
    }
                 
                  ,{    "id":"755",
                 "directoryName": "Муниципальные учреждения",
      "directoryDescription": "Справочник содержит перечень всех муниципальных учреждений"
      ,  "directParams":[
                 {"paramName":"Площадь", "paramType":"Double", "paramDescription":"Общая площадь объекта"}
                 ,{"paramName":"Количество счетчиков", "paramType":"Integer", "paramDescription":"Количество счетчиков учета на объекте"}
                 ]
                       
    }
                  ,{    "id":"756",
                 "directoryName": "Справочник 2",
      "directoryDescription": " "
      ,  "directParams":[
                 {"paramName":"Параметр1"
                    , "paramType":"Строка"
                     
                    , "paramDescription":"Пример параметра"}
                 ,{"paramName":"Площадь", "paramType":"Double", "paramDescription":"Общая площадь объекта"}
                 ,{"paramName":"Количество счетчиков", "paramType":"Integer", "paramDescription":"Количество счетчиков учета на объекте"}
                 ]
                       
    }
                  ,{    "id":"757",
                 "directoryName": "Номенклатура",
      "directoryDescription": "Тут могла быть ваша реклама"
      ,  "directParams":[
                 {"paramName":"Параметр1"
                    , "paramType":"Строка"
                     
                    , "paramDescription":"Пример параметра"}
                 ,{"paramName":"Параметр2", "paramType":"Число", "paramDescription":"Общая площадь объекта"}
                 ,{"paramName":"Параметр3", "paramType":"Число", "paramDescription":"Количество счетчиков учета на объекте"}
                 ]
                       
    }
    
    ]'
     
     
        zpointcolumns='[
            
            {"name":"zpointType", "header" : " ", "class":"col-md-1"},
	          {"name":"zpointName", "header" : "Наименование", "class":"col-md-2"},
             {"name":"zpointModel", "header" : "Модель", "class":"col-md-2"},
            {"name":"zpointNumber", "header" : "Номер", "class":"col-md-2"},
           {"name":"zpointLastDataDate", "header" : "Последние данные", "class":"col-md-2"}
            ]'     
          zpointdata='[
    {
      
      "zpointId": "1",
      "zpointType": "GVS",
       "zpointName": "ГВС",
      "zpointModel": "ТЭМ-106", 
        "zpointNumber": "1066502",
      "zpointLastDataDate": "25.02.2015",
        "zpointParent": "754"              
    }
                     ,{
      
      "zpointId": "2",
      "zpointType": "TS",
       "zpointName": "TС",
      "zpointModel": "ТЭМ-106", 
        "zpointNumber": "1066502",
      "zpointLastDataDate": "25.02.2015",
        "zpointParent": "754"              
    }
    
    ]'

     ></div>
