<div role = "tabpanel" 
     class = "nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class = "nav nav-tabs" role = "tablist"
        style = "padding-bottom: 5px;">
<!--
        <li id = "object_list_2nd_menu_item" role = "presentation" class = ""><a id = "monitorTab" class = "nmc-main-tab-button" href = "#/" aria-controls = "objects" data-target = "#objects" role = "tab" data-toggle = "tab">Список объектов</a></li>
        <li id="monitor_map_2nd_menu_item" ng-hide="isTestMode()" role="presentation" class="nmc-hide"><a class="nmc-main-tab-button" href="#/notices/monitor_map" aria-controls="monitor_map" role="tab" data-target="#monitor_map" data-toggle="tab">Карта</a></li>        
        <li id="notice_2nd_menu_item" ng-hide="isCabinet()" role="presentation"><a class="nmc-main-tab-button" href="#/notices/list" aria-controls="notices" role="tab" data-target="#notices" data-toggle="tab">Уведомления</a></li>        
        
        <li ng-if="isSystemuser()" id="object_map_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/objects/demo-map/" 
               aria-controls="objects_map" 
               role="tab" 
               data-target="#objects_map" 
               data-toggle="tab"
               >
                Демо-карта
            </a>
        </li>
        <li id="document_list_2nd_menu_item" role="presentation" class="active"><a id="documentTab" class="nmc-main-tab-button" href="" aria-controls="documents" data-target="#documents" role="tab" data-toggle="tab">Документы</a></li>
-->

        <li style = "padding: 0 10px;">
            <button class="btn nmc-main-add-button"
                    ng-click = "savePassportSection(data.currentPassDocSection)"
                    >Сохранить секцию</button>
        </li>
        <li style = "padding: 0 10px;">
            <button class="btn btn-default"
                    style = "padding: 3px;"
                    disabled
                    >Сохранить документ</button>
        </li>
        <li style = "padding: 0 10px;">
            <button class="btn btn-default"
                    style = "padding: 3px;"
                    disabled
                    >Отменить изменения</button>
        </li>
        <li>
            <button class="btn btn-default nmc-cancel-button"
                    style = "padding: 3px 10px;max-width: 240px;"
                    ng-click="cancelEnergoPassportEdit()">
                Вернуться к списку документов
            </button>
        </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="documents">
      </div>
    </div>
</div>
<div id = "divWithEnergoPassport" class="" ng-cloak>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-xs-2 noPadding nmc-div-bordered"
                 ng-class = "{'nmc-energo-contents-minimize': !showContentsFlag}"
                 style = "">
                <h3 class="nmc-h3"
                    style = "height: 1.5rem;">
                    <span ng-show = "showContentsFlag">Содержание</span>
                </h3>
                <div class = "nmc-energo-passport-main-div"
                     ng-show = "!ctrlSettings.passportLoading">
<!--
                    <table id="table_objects_in_window" 
                           class = "table table-striped table-condensed nmc-modal-table-with-chkbx">
                        <tr ng-repeat = "part in data.passport.sections"
                            >
                            <td style = "padding-right: 5px !important;">
                                {{part.preparedSection.shortCaption}}
                            </td>
                            <td ng-show = "showContentsFlag">
                                <div ng-click = "contentsPartSelect(part)"
                                     ng-class = "{'nmc-bg-distinguish-energy': part.isSelected === true}">
                                    {{part.preparedSection.caption}}
                                </div>
                                <table ng-if = "part.hasEntries === true"
                                       class = "table table-striped table-condensed">
                                    <tr ng-repeat = "entry in part.entries track by $index"
                                        ng-click = "contentsPartEntrySelect(part, entry)"
                                        ng-class = "{'nmc-bg-distinguish-energy': entry.isSelected === true}">
                                        <td>
                                            {{entry.entryName}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
-->

                    <div class = "container-fluid" ng-repeat = "part in data.passport.sections track by $index">
                        <div class = "row nmc-energy-contents"
                             ng-click = "contentsPartSelect(part)"
                             ng-class = "{'nmc-bg-distinguish-energy': part.isSelected === true, 'nmc-energy-contents-odd': $odd}">
                            <div class = "col-xs-1">
                                {{part.preparedSection.shortCaption}}
                            </div>
                            <div class = "col-xs-10"
                                 ng-show = "showContentsFlag">
                                {{part.preparedSection.caption}}
                            </div>
                        </div>
                        <div ng-if = "part.hasEntries === true"
                             ng-show = "showContentsFlag"
                             class = "row paddingTop5">
                            <div class = "col-xs-12">
                                <div class = "container-fluid">
                                    <div class = "row nmc-energy-contents-entry" 
                                         ng-repeat = "entry in part.entries track by $index"
                                         ng-click = "contentsPartEntrySelect(part, entry)"
                                         ng-class = "{'nmc-bg-distinguish-energy': entry.isSelected === true}">
                                        <div class = "col-xs-offset-2 col-xs-9">
                                            {{entry.entryName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class = "">
                <span class="">
                    <div title="Скрыть / показать содержание энергетического паспорта"
                         class = ""
                         ng-click="showContentsFlag = !showContentsFlag"
                         ng-class = "{'nmc-div-delimiter-left': showContentsFlag, 'nmc-div-delimiter-right': !showContentsFlag}">
                        <div class = ""
                             ng-class = "{'nmc-div-delimiter-inner-left': showContentsFlag, 'nmc-div-delimiter-inner-right': !showContentsFlag}">
                            
                        </div>
                    </div>
<!--
                    <div class = "nmc-div-delimiter"                         
                       title="Скрыть / показать содержание энергетического паспорта" 
                        
                       ng-click="showContentsFlag = !showContentsFlag" 
                       >
                    </div>
-->
                    
<!--
                    <i style = "position: fixed; top: 40%; z-index: 1; margin-left: -5px; opacity: 0;"
                       title="Скрыть / показать содержание энергетического паспорта" 
                       class="btn btn-lg glyphicon glyphicon-menu-left noPadding" 
                       ng-click="showContentsFlag = !showContentsFlag" 
                       ng-class="{'glyphicon-menu-left': showContentsFlag, 'glyphicon-menu-right': !showContentsFlag}">
                    </i>
-->
                </span>
            </div>
            <div class = "col-xs-10"
                 ng-class = "{'nmc-energo-passport-maximize': !showContentsFlag}">
                
                <h3 class="nmc-h3">
                    Энергетическая декларация
                </h3>
                <div  ng-show="ctrlSettings.passportLoading" class="nmc-loading">
                    <i class="fa fa-spinner fa-spin"></i> Загрузка декларации... 
                </div>
<!--                                PassDoc-->
                <div id = "passDoc"
                     class = "nmc-energo-passport-main-div"
                     ng-show = "!ctrlSettings.passportLoading">
                    <h4>
                        {{data.currentPassDocSection.preparedSection.caption}}
                    </h4>
                    <div ng-if = "data.currentPassDocSection.hasEntries === true">
                        <button class="btn nmc-main-add-button" ng-click = "addEntryInit()">Добавить секцию</button>
                        <div>
                            Список секций:
                            <table ng-if = "data.currentPassDocSection.hasEntries === true"
                                   class = "table table-striped table-condensed table-hover">
                                <tr ng-repeat = "entry in data.currentPassDocSection.entries track by $index"
                                    ng-dblclick = "contentsPartEntrySelect(data.currentPassDocSection, entry)">
                                    <td>
                                        <button class = "btn btn-xs btn-default glyphicon glyphicon-edit"
                                                ng-click = "editEntryInit(entry)">
                                        </button>
                                    </td>
                                    <td ng-click = "contentsPartEntrySelect(data.currentPassDocSection, entry)">
                                     {{entry.entryName}}
                                    </td>
                                    <td ng-click = "contentsPartEntrySelect(data.currentPassDocSection, entry)">
                                        {{entry.entryDescription}}
                                    </td>
                                    <td>
                                        <button title = "Удалить секцию" 
                                                ng-disabled = "true" 
                                                class = "btn btn-xs nmc-remove-button" 
                                                >
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-if = "data.currentPassDocSection.hasEntries !== true"
                         ng-switch = "data.currentPassDocSection.preparedSection.viewType">
                        <div ng-switch-default>
                            <div ng-repeat = "part in data.currentPassDocSection.preparedSection.parts">
                                <div ng-switch = "part.partType">
                                    <div ng-switch-when = "SIMPLE_LINE"
                                         style = "padding: 5px 0;"
                                         ng-style = "{'text-align': part.cellStyle.halignment}">
                                        <div ng-repeat = "elm in part.elements track by $index"
                                             style = "display: inline-block; padding: 0 10px;"
                                             ng-style = "{'width': calcInlineWidth($first, elm, part.elements.length), 'text-align': elm.cellStyle.halignment}">
                                            <span ng-if = "elm.cellType !== 'VALUE'"> 
                                                {{elm.caption}}
                                            </span>
                                            <input ng-if = "elm.cellType === 'VALUE' && elm.__type !== 'Boolean' && elm.__type !== 'Date'" 
                                                   type = "text"
                                                   ng-model = "data.currentSectionValues[elm._complexIdx].value"
                                                   style = "width: 100%; border: 0; border-bottom: 1px solid;"/>
                                            
                                            <input ng-if = "elm.cellType === 'VALUE' && elm.__type === 'Boolean'" 
                                                   type = "checkbox"
                                                   ng-model = "data.currentSectionValues[elm._complexIdx].value"
                                                   style = ""/>
                                            
                                            <input ng-if = "elm.cellType === 'VALUE' && elm.__type == 'Date'" 
                                                   ng-attr-id = "{{'date_value_' + elm._complexIdx}}"
                                                   readonly
                                                   type = "text"
                                                   ng-model = "data.currentSectionValues[elm._complexIdx].value"
                                                   style = "width: 100%; border: 0; border-bottom: 1px solid;"/>
                                        </div>
                                    </div>
                                    <div ng-switch-when = "INNER_TABLE"
                                         style = "padding: 10px 0px;">
                                        <table border = "1"
                                               class = "nmc-energo-table"
                                               style = "border: 1px; background-color: #fff;"
                                               ng-style = "{'width': table.width + ctrlSettings.cssMeasureUnit, 'max-width': table.maxWidth + ctrlSettings.cssMeasureUnit}">
<!--
                                            <thead ng-repeat = "thead in part.innerPdTable.theads track by $index"
                                                   ng-if = "thead.partType === 'HEADER'">
-->
<!--                                                <tr ng-repeat = "throw in thead.headerRows track by $index">-->
                                            <thead>
                                                <tr ng-repeat = "throw in part.innerPdTable.theads track by $index">    
                                                    <th ng-repeat = "th in throw"
                                                        ng-attr-rowspan = "{{th._rowSpan}}"
                                                        ng-attr-colspan = "{{th._colSpan}}"
                                                        ng-style = "{'width': th.width + ctrlSettings.cssMeasureUnit, 'max-width': th.width + ctrlSettings.cssMeasureUnit}">
                                                        {{th.caption}}
                                                    </th>
                                                </tr>
                                            </thead>
<!--                                            </thead>    -->

                                            <tr ng-repeat = "trow in part.innerPdTable.tbodies track by $index">
<!--                                                ng-if = "trow.partType === 'ROW'">-->
<!--                                                <td ng-repeat = "td in trow.elements track by $index"-->
                                                <td ng-repeat = "td in trow.tds track by $index"    
                                                    ng-attr-colspan = "{{td._colSpan}}"
                                                    ng-attr-rowspan = "{{td._rowSpan}}"
                                                    ng-class = "{'nmc-td-no-edit': td.cellType !== 'VALUE' || td.__type === 'Counter'}"
                                                    ng-style = "{'width': td.width + ctrlSettings.cssMeasureUnit, 'max-width': td.width + ctrlSettings.cssMeasureUnit, 'text-align': td.cellStyle.halignment}"

                                                    ng-model = "td.valueDev1"                                                            
                                                    >
<!--                                                    ng-style = "{'width': trow._columnWidths[$index] + ctrlSettings.cssMeasureUnit, 'max-width': trow._columnWidths[$index] + ctrlSettings.cssMeasureUnit}"-->
                                                    <div ng-if = "td.cellType !== 'VALUE'">
                                                        {{td.caption}}
                                                    </div>
                                                    <div ng-if = "td.cellType === 'VALUE' && td.__type === 'Counter'">
                                                        {{td.value}}
                                                    </div>
                                                    <div ng-if = "td.cellType === 'VALUE' && td.__type === 'String'"
                                                         contenteditable
                                                         strip-br
                                                         ng-blur = "tdBlur(td, data.currentSectionValues[td._complexIdx], td._complexIdx)"
                                                         ng-model = "data.currentSectionValues[td._complexIdx].value"
                                                         
                                                         >
                                                    </div>
                                                    <input ng-if = "td.cellType === 'VALUE' && td.__type === 'Boolean'" 
                                                           type = "checkbox"
                                                           ng-blur = "tdBlur(td, data.currentSectionValues[td._complexIdx], td._complexIdx)"
                                                           ng-model = "data.currentSectionValues[td._complexIdx].value"
                                                           
                                                           style = ""/>
                                                    <input ng-if = "td.cellType === 'VALUE' && (td.__type !== 'String' && td.__type !== 'Boolean' && td.__type !== 'DoubleAgg' && td.__type !== 'Counter' && td.__type !== 'Date')" 
                                                           type = "text"
                                                           data-inputmask = "'alias':'numeric', 'greedy': false"
                                                           style = "width: 100%; border: 0"
                                                           ng-blur = "tdBlur(td, data.currentSectionValues[td._complexIdx], td._complexIdx)"
                                                           ng-model = "data.currentSectionValues[td._complexIdx].value"
                                                           
                                                           />
                                                    <input ng-if = "td.cellType === 'VALUE' && td.__type == 'Date'" 
                                                           ng-attr-id = "{{'date_value_' + prepareComplexIdForSetElemId(td._complexIdx)}}"
                                                           readonly
                                                           type = "text"
                                                           ng-model = "data.currentSectionValues[td._complexIdx].value"
                                                           style = "width: 100%; border: 0"/>

                                                </td>
                                                <td ng-if = "trow.dynamic === true && trow.canDelete === true"
                                                    style = "border-right: 0; border-top: 0; border-bottom: 0; padding: 0 5px;"
                                                    ng-style = "{'width': '10' + ctrlSettings.cssMeasureUnit, 'max-width': '10' + ctrlSettings.cssMeasureUnit}">
<!--                                                    ng-attr-rowspan = "{{part.innerPdTable.parts[1].tbody.length}}">                                                    -->
                                                    <i class = "btn btn-xs btn-default btn-xs"
                                                       ng-click = "deleteRowFromTable(part, $index)"
                                                       >
                                                        Удалить
                                                    </i>
                                                </td>
                                                <td ng-if = "isAddRowButtonEnable(part, $index)"
                                                    style = "border: 0"
                                                    ng-style = "{'width': '10' + ctrlSettings.cssMeasureUnit, 'max-width': '10' + ctrlSettings.cssMeasureUnit}">
<!--                                                    ng-attr-rowspan = "{{part.innerPdTable.parts[1].tbody.length}}">-->
                                                    <i 
                                                       class = "btn btn-xs btn-primary btn-xs"
                                                       ng-click = "addRowToTable(part, $index)">
                                                        Добавить
                                                    </i>                                                    
                                                </td>
                                            </tr>
                                        </table>
<!--
                                        <div ng-if = "part.innerPdTable.parts[1].dynamic === true">
                                            <button ng-click = "addRowToTable(part);"> Добавить строку</button>
                                        </div>
-->
                                    </div>
                                    <div ng-switch-default>
                                        {{part | json}}
                                    </div>
                                </div>

                            </div>
                        </div>
<!--
                        <div ng-switch-when = "TABLE">
                            <table border = "1"
                                   class = "nmc-energo-table"
                                   style = "border: 1px; background-color: #fff;"
                                   ng-style = "{'width': table.width + ctrlSettings.cssMeasureUnit, 'max-width': table.maxWidth + ctrlSettings.cssMeasureUnit}">
                                <thead ng-repeat = "thead in data.currentPassDocSection.parts track by $index"
                                       ng-if = "thead.partType === 'HEADER'">
                                    <tr ng-repeat = "throw in thead.headerRows track by $index">
                                        <th ng-repeat = "th in throw"
                                            ng-attr-rowspan = "{{th._rowSpan}}"
                                            ng-attr-colspan = "{{th._colSpan}}">
                                            {{th.caption}}
                                        </th>
                                    </tr>
                                </thead>    

                                <tr ng-repeat = "trow in data.currentPassDocSection.parts track by $index"
                                    ng-if = "trow.partType === 'ROW'">
                                    <td ng-repeat = "td in trow.elements track by $index"
                                        ng-attr-colspan = "{{td._colSpan}}"

                                        ng-class = "{'nmc-td-no-edit': td.cellType !== 'VALUE'}"
                                        ng-style = "{'width': trow._columnWidths[$index] + ctrlSettings.cssMeasureUnit, 'max-width': trow._columnWidths[$index] + ctrlSettings.cssMeasureUnit}"

                                        ng-model = "td.valueDev1"                                                            
                                        >                                                            
                                        <div ng-if = "td.cellType !== 'VALUE'">
                                            {{td.caption}}
                                        </div>
                                        <div ng-if = "td.cellType === 'VALUE' && (td.type === 'String' || td.type === 'DoubleAgg')"
                                             contenteditable
                                             strip-br
                                             ng-blur = "tdBlur(td)"
                                             ng-model = "td.valueDev"
                                             >
                                        </div>
                                        <input ng-if = "td.cellType === 'VALUE' && td.type === 'Boolean'" 
                                               type = "checkbox"
                                               ng-blur = "tdBlur(td)"
                                               ng-model = "td.valueDev"
                                               style = ""/>
                                        <input ng-if = "td.cellType === 'VALUE' && (td.type !== 'String' && td.type !== 'Boolean' && td.type !== 'DoubleAgg')" 
                                               type = "text"
                                               data-inputmask = "'alias':'numeric', 'greedy': false"
                                               style = "width: 100%; border: 0"
                                               ng-blur = "tdBlur(td)"
                                               ng-model = "td.valueDev"
                                               />

                                    </td>
                                </tr>
                            </table>
                        </div>
-->
<!--
                        <div ng-switch-default>
                            {{data.currentPassDocSection | json}}
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Show section entry-->
<div id = "showSectionEntryOptionModal" 
     class = "modal fade nmc-modal-window" 
     role = "dialog"
     aria-labelledby = "showSectionEntryOptionLabel" 
     tabindex = "-1" 
     data-backdrop = "static">
	<div class = "modal-dialog  modal-content nmc-modal-dialog">
		<div class = "modal-header nmc-modal-header">
            <button type = "button" 
                    class = "close nmc-close-button" 
                    data-dismiss = "modal" 
                    aria-label = "Close">
                <span aria-hidden = "true">&times;</span>
            </button>
			<h3 id = "showSectionEntryOptionLabel" 
                class = "nmc-h3">
				Секция
			</h3>
		</div>
		<div class = "modal-body nmc-modal-body paddingLeftRight15">
            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class = "table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class = "col-sm-3">
                                    <label for = "inputSectionEntryName">Название</label>
                                    <span style = "color:red;">*</span>
                                </td>
                                <td class = "col-sm-9 nmc-text-align-left">
                                    <div class = "form-group noMarginBottom" 
                                         ng-class = "{'has-error': emptyString(data.currentSectionEntry.entryName)}">
                                        <input  
                                               class = "form-control nmc-text-input-form" 
                                               type = "text" 
                                               id = "inputSectionEntryName" 
                                               ng-model = "data.currentSectionEntry.entryName" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for = "inputSectionEntryDescription" >Описание</label>
                                </td>
                                <td class = "nmc-text-align-left">
                                    <textarea class = "form-control nmc-textarea-form" 
                                              id = "inputSectionEntryDescription" 
                                              placeholder = "Описание" 
                                              ng-model = "data.currentSectionEntry.entryDescription">
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class = "col-sm-3">
                                    <label for = "inputSectionOrder" 
                                           class = "nmc-form-label">Порядковый номер</label>
                                </td>
                                <td class = "col-sm-9 nmc-text-align-left">
                                    <span class = "form-group" 
                                          >
                                        <input id = "inputSectionOrder" 
                                               class = "form-control nmc-text-input-form nmc-input-digital-data-sm" 
                                               type = "text"                                                
                                               data-inputmask = "'alias':'numeric', 'greedy': false"
                                               ng-model = "data.currentSectionEntry.entryOrder"/>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan = "2">
                                    Поля отмеченные <span style = "color:red;">*</span> обязательны для заполнения!
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
		</div>
		<div class = "modal-footer nmc-modal-footer">
				<div class = "container-fluid  ">

					<div class = "row">
                        <div class = "col-xs-offset-6 col-md-3">
							<input type = "submit" 
                                   class = "btn btn-primary btn-block btn-xs nmc-save-button"
                                   ng-click = "saveEntry(data.passport.id, data.currentPassDocSection.id, data.currentSectionEntry)"
                                   value = "Сохранить" />
						</div>
						<div class = "pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class = "btn btn-default btn-block btn-xs nmc-cancel-button" 
                                    data-dismiss = "modal"
                                    ng-click = "exit('#data.currentSectionEntry')">
								Отменить
							</button>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>