<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="object_list_2nd_menu_item" role="presentation" class=""><a id="monitorTab" class="nmc-main-tab-button" href="#/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Список объектов</a></li>
        <li id="monitor_map_2nd_menu_item" ng-hide="isTestMode()" role="presentation" class="nmc-hide"><a class="nmc-main-tab-button" href="#/notices/monitor_map" aria-controls="monitor_map" role="tab" data-target="#monitor_map" data-toggle="tab">Карта</a></li>        
        <li id="notice_2nd_menu_item" ng-hide="isCabinet()" role="presentation"><a class="nmc-main-tab-button" href="#/notices/list" aria-controls="notices" role="tab" data-target="#notices" data-toggle="tab">Уведомления</a></li>        
        
        <li ng-if="isSystemuser()" id="object_map_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/objects/demo-map/" 
               aria-controls="objects_map" 
               role="tab" 
               data-target="#objects_map" 
               data-toggle="tab"
               >
                Демо-карта
            </a>
        </li>
<!--
        <li ng-hide="isTestMode() || !isRma() || objects.length <= 0" role="presentation" class="pull-right">
            <i               
               title="Загрузка показаний из файлов"               
               class="btn btn-sm glyphicon glyphicon-download-alt gly-rotate-180"
               aria-controls="upload_files" 
               role="tab"
               data-target="#upLoadFilesModal" 
               data-toggle="modal">                
            </i>
        </li>
-->
        <li id="document_list_2nd_menu_item" role="presentation" class="active"><a id="documentTab" class="nmc-main-tab-button" href="" aria-controls="documents" data-target="#documents" role="tab" data-toggle="tab">Документы</a></li>
    </ul> 

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="documents">
      </div>
    </div>
</div>

<div role="tabpanel" class="nmc-tab-panel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="document_energo_passport_3rd_menu_item" 
        role="presentation" 
        class="active">
        <a class="nmc-tab-button" 
           href="" 
           aria-controls="energo_passports" 
           data-target="#energo_passports" 
           role="tab" 
           data-toggle="tab">Энергетические паспорта
        </a>
      </li>
   <li id="document_energo_declaration_3rd_menu_item" 
       role="presentation" 
       class="">
       <a class="nmc-tab-button" 
          href="#/documents/energo-declarations/" 
          aria-controls="energo_declarations" 
          data-target="#energo_declarations" 
          role="tab" 
          data-toggle="tab">Энергетические декларации</a></li>  
  </ul>
            <div class="tab-content">
<!--            Активные варианты-->
            <div role="tabpanel" class="tab-pane fade in active nmc-main-tab-panel nmc-report-settings-main-div" id="active_paramsets">
</div>