<div id="el_zpoint_indicator_pke_page" ng-controller="ElectricityPkeCtrl">
        <div class="container">
            <div class="row">   
                <div class="col-xs-12 col-md-12 noPadding marginBottom10 marginTop5">
                    <div class="col-xs-4 col-md-4 noPadding">
                        <div class="col-xs-4 col-md-4 paddingTop5">
                            <label class="nmc-form-label pull-right" >
                                Задайте период
                            </label>
                        </div>    
                        <div class="col-xs-8 col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon nmc-date-interval-form-addon">с</span>
                                    <input date-range-picker class="form-control date-picker nmc-date-interval-form"
                                        type="text" ng-model="indicatorPkeDates" options="dateRangeOptsPkeRu"/>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 noPadding">
                        <div class="col-xs-3 col-md-3 paddingTop5">            
                                <label class="nmc-form-label">
                                     </label>

                        </div>
                        <div class="col-xs-8 col-md-8">
                            <div class="btn-group" ng-init="visibleText='Типы'">
                              <button id="typesMenu"
                                      type="button" 
                                      class="btn btn-default btn-xs dropdown-toggle nmc-button-notice-toggle" 
                                      data-toggle="dropdown" 
                                      aria-haspopup="true" 
                                      aria-expanded="false"
                                      >
                                {{visibleText}} <span class="caret"></span>
                              </button>
                              <ul class="nmc-object-filter-in-notices nmc-modal-panel-with-table dropdown-menu">
                                  <li>
                                        <input type="checkbox" 
                                          ng-attr-id={{"idPkeTypeAll"}} 
                                          ng-attr-name={{"idPkeTypeAll"}} 
                                          ng-attr-value={{"allTypes"}} 
                                          
                                          style="position: absolute;"/>
                                   <label ng-attr-for={{"idPkeTypeAll"}}
                                          style="padding: 3px 20px;white-space: nowrap;font-weight: normal">
                                      Выбрать все
                                   </label>
                                    </li>
                                <li class="paddingLeft5" ng-repeat="pkeType in pkeTypes">                                    
                                   <input type="checkbox" 
                                          ng-attr-id={{"idPkeType"+pkeType.keyname}} 
                                          ng-attr-name={{"idPkeType"+pkeType.keyname}} 
                                          ng-attr-value={{pkeType.keyname}} 
                                          ng-model="pkeType.selected"
                                          style="position: absolute;"/>
                                   <label ng-attr-for={{"idPkeType"+pkeType.keyname}}
                                          style="padding: 3px 20px;white-space: nowrap;font-weight: normal">
                                      {{pkeType.caption}}
                                   </label>                                    
                                </li>                             
                              </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1 noPadding nmc-div-refresh">
                        <p title="Обновить ПКЭ" class="btn btn-default btn-xs glyphicon glyphicon-refresh nmc-button-refresh" ng-click="refreshData()"></p>
                    </div>
                    <div class="col-xs-2 col-md-2">
                            <label class="nmc-form-label">Всего:</label>
                             <input type="text" disabled class="form-control nmc-view-allcount nmc-inactive-form" ng-model="pkeData.length">
                    </div>

                </div>    
            </div>
            <div class="row" class="nmc-hide" ng-show="(pkeData.length == 0) && !ctrlSettings.loading">
                <h3 class="nmc-h3">Данных по этой точке учета за указанный период нет.</h3>
            </div>
            <div class="row" ng-show="pkeData.length > 0">
        <!--        Непрокручиваемая шапка таблицы показаний-->
               <!--    Непрокручиваямая шапка -->
                <div class="col-xs-8 col-md-8">
                    <table ng-attr-id={{"indicatorTableHeader"+type}} class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-main-table noMargin nmc-table-nowrap-data">
                            <tr class="nmc-main-table-header">                    
                                <th ng-repeat="column in columns track by $index" ng-class="column.headerClass" ng-click="setOrderBy(column.name)">
                                    <div>
                                        {{column.header || column.fieldName}}
                                        <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                                    </div>
                                </th>
                            </tr>
                    </table>
                </div>
        <!--        конец Шапки-->
                <div ng-attr-id={{"divIndicatorTable"+type}} class="col-xs-8 col-md-8" ng-class="{'nmc-el-view-main-div': !chartFlag, 'nmc-el-view-main-div-with-chart': chartFlag}">
                    <table class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-main-table nmc-table-nowrap-data">
                        <tr class="nmc-main-table-header nmc-hide">
                            <th ng-repeat="column in columns track by $index" ng-class="column.headerClass" ng-click="setOrderBy(column.name)">
                                <div>
                                    {{column.header || column.fieldName}}
                                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                                </div>
                            </th>
                        </tr>
        <!-- | orderBy:orderBy.field:!orderBy.asc-->
                        <tr ng-repeat="element in pkeData track by $index">
                            <td ng-repeat = "column in columns track by $index" ng-class="column.dataClass">
                                {{element[column.fieldName]}} <span ng-show="isSystemuser()&&(column.date)">( id = {{element['id']}})</span>
                            </td>

                        </tr>
                        <tr class="nmc-hide">
                            {{onTableLoad()}}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</div>