<div id="el_zpoint_indicator_consumption_page" ng-controller="ElectricityConsumptionCtrl">
<!--
    <div class="col-md-10 noPadding nmc-main-workspace-header"> <h2 class="noMargin nmc-h2">Потребление &lt; {{contObjectName}} <span ng-if="isSystemuser()">(id = {{contObject}})</span> &gt; - &lt; {{contZPointName}} <span ng-if="isSystemuser()"> (id = {{contZPoint}}) </span>&gt;</h2>
    </div>
-->
    <div class="col-md-2">
        <div class="nmc-hide pull-right">
            <div class="btn-group nmc-line-right" ng-hide="!isManualLoading">
                <span ng-if="isSystemuser()">
                    <i title="Сохранить показания в CSV файл в формате, который потом можно загрузить" ng-disabled="data.length==0" class="btn glyphicon glyphicon-download" ng-click="saveIndicatorsToFile('/noAbs')"></i>
                </span>    
                <i title="Загрузить показания из CSV файла" class="btn glyphicon glyphicon-download-alt gly-rotate-180" ng-click="uploader.clearQueue()" data-target="#upLoadFileModal" data-toggle="modal"></i>
                <i title="Удалить показания" ng-disabled="data.length==0" class="btn glyphicon glyphicon-trash nmc-button-trash" ng-click="" data-target="#deleteIndicatorsModal" data-toggle="modal"></i>
            </div>  
            <div class="btn-group">
                <i id="indicator_download_button" title="Сохранить показания в CSV файл" ng-disabled="data.length==0" class="btn glyphicon glyphicon-download-alt nmc-hide" ng-click="saveIndicatorsToFile('')"></i>
            </div>    
        </div>
    </div>  
<!--
    <div class="col-md-12 noPadding marginBottom10 nmc-main-workspace-header">
        <hr>
    </div>
-->
    <div class="container-fluid noPadding nmc-indicator-table-with-fixed-header">
        <div class="container-fluid">
            <div class="row">   
                <div class="col-xs-12 col-md-12 noPadding marginBottom10 marginTop5">
                    <div class="col-xs-2 col-md-2 noPadding">    
                        <label class="nmc-form-label">Режим</label>                    
                        <select class="form-control nmc-input-data-with-label nmc-select-form" ng-model="ctrlSettings.viewMode" ng-change="changeViewMode()">
                            <option selected value="">Потребление</option>
                            <option value="_abs">Интеграторы</option>                                
                        </select>
                    </div>
                    <div class="col-xs-3 col-md-3 noPadding">
                        <div class="col-xs-3 col-md-3 paddingTop5">            
                                <label class="nmc-form-label">
                                     Показания</label>
                        </div>
                        <div class="col-xs-8 col-md-8">
                            <select class="form-control nmc-input-data nmc-select-form" ng-model="timeDetailType" ng-change="changeTimeDetailType()">
                                <option selected value="1mon">Помесячные</option>
                                <option value="24h">Посуточные</option>
                                <option value="1h">Почасовые</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 noPadding">
                        <div class="col-xs-4 col-md-4 paddingTop5">
                            <label class="nmc-form-label pull-right" >
                                <span ng-class="{'nmc-hide': timeDetailType!='1h'}">Укажите дату
                                </span>
                                <span ng-class="{'nmc-hide': timeDetailType=='1h'}">Задайте период
                                </span>
                            </label>
                        </div>    
                        <div class="col-xs-8 col-md-8">
                                <div class="input-group" ng-class="{'nmc-hide': timeDetailType=='1h'}">
                                    <span class="input-group-addon nmc-date-interval-form-addon">с</span>
                                    <input date-range-picker class="form-control date-picker nmc-date-interval-form"
                                        type="text" ng-model="indicatorDates" options="dateRangeOptsRu"/>
                                </div>
                                <div ng-class="{'nmc-hide': timeDetailType!='1h'}">
                                    <input id="inputElConsDate" class="form-control marginRight28 date-picker nmc-input-data nmc-date-input-form"
                                type="text" ng-model="ctrlSettings.dataDate" ng-change="refreshData()">
                                </div>
                        </div>
                    </div>                    
                    <div class="col-xs-1 col-md-1 noPadding nmc-div-refresh">
                        <button title="Обновить показания" class="btn btn-default btn-xs glyphicon glyphicon-refresh nmc-button-refresh" ng-click="refreshData()"></button>
                    </div>
                    <div class="col-xs-2 col-md-2">
                            <label class="nmc-form-label">Всего:</label>
                             <input type="text" disabled class="form-control nmc-view-allcount nmc-inactive-form" ng-model="data.length">
                    </div>
                    
                </div>    
            </div>

            <div class="row" class="nmc-hide" ng-show="(data.length ==0)&&!ctrlSettings.loading">
                <h3 class="nmc-h3">Данных по этой точке учета за указанный период нет.</h3>
            </div>
            <div class="row" ng-show="data.length >0">
        <!--        Непрокручиваемая шапка таблицы показаний-->
    <!--            style="margin-bottom: -20px;"-->
                <table class="nmc-table-nowrap-data1 nmc-main-table marginBottomMinus20" ng-class="tableDef.tableClass" >
                    <tr ng-class="tableDef.headerClassTR">
                        <th>
                        </th>
                        <th colspan="10" class="nmc-text-align-center">
                            <span class="nmc-text-align-center">Активная электроэнергия, кВт/ч
                                </span>
                        </th>
                        <th colspan="10" class="nmc-text-align-center">
                            <span class="nmc-text-align-center">Реактивная электроэнергия, кВАр/ч
                                </span>
                        </th>
                    </tr>
                    <tr ng-class="tableDef.headerClassTR">
                        <th ng-repeat="column in tableDef.columns" 
                            ng-attr-id="{{'indicators_head_'+column.fieldName}}" 
                            ng-class="column.headerClass">
                            {{column.header}}
                            <i class="nmc-button-sort glyphicon" ng-class="{'glyphicon-sort-by-alphabet': ctrlSettings.orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !ctrlSettings.orderBy.asc}" ng-show="ctrlSettings.orderBy.field == '{{column.fieldName}}'" ng-click="setOrderBy(column.fieldName)"></i>
                            <span ng-if="column.dataType==='temperature'">,&deg;C</span>
                        </th>
                    </tr>
    <!--                style="opacity:0;"-->
                    <tr ng-repeat="indicator in [data[0]] | filter: indicatorsfilter | itemsPerPage: indicatorsPerPage" class="nmc-transparent">
                        <td ng-repeat="column in tableDef.columns" class="nmc-text-align-right" ng-class="column.headerClass" ng-attr-id="{{'indicators_tdh_'+column.fieldName}}">
                            {{indicator[column.fieldName]}}
                            <span ng-if="column.fieldName==='dataDate'&&isSystemuser()">(id = {{indicator['id']}})</span>
                        </td>
                    </tr>
                </table>
        <!--        конец Шапки-->
            </div>
        </div>
        <div class="container-fluid nmc-indicator-table-without-fixed-header">
            <div class="row" ng-show="data.length >0">
    <!--            style="margin-top: -79px;"-->
                <table class="nmc-table-nowrap-data nmc-main-table marginTopMinus57" ng-class="tableDef.tableClass">
        <!--            Скрытая шапка - используется для подстройки размеров Непрокручиваемой шапки-->
                    <tr ng-class="tableDef.headerClassTR">
                        <th>
                        </th>
                        <th colspan="10" class="nmc-text-align-center">
                            <span class="nmc-text-align-center">Активная электроэнергия, кВт/ч
                                </span>
                        </th>
                        <th colspan="10" class="nmc-text-align-center">
                            <span class="nmc-text-align-center">Реактивная электроэнергия, кВАр/ч
                                </span>
                        </th>
                    </tr>
                    <tr class="" ng-class="tableDef.headerClassTR">
                        <th ng-repeat="column in tableDef.columns" ng-class="column.headerClass" ng-attr-id="{{'indicators_th_'+column.fieldName}}">
                            {{column.header}}<span ng-if="column.dataType==='temperature'">,&deg;C</span>
                        </th>

                    </tr>
                    <tr dir-paginate="indicator in data | filter: indicatorsfilter | itemsPerPage: indicatorsPerPage" total-items="totalIndicators" current-page="pagination.current">
                        <td ng-repeat="column in tableDef.columns" class="nmc-text-align-right" ng-class="indicator.class || column.dataClass" ng-attr-id="{{'indicators_td_'+column.fieldName}}" ng-hide="indicator.onlyCons&&(ctrlSettings.viewMode!='')">
                            {{indicator[column.fieldName]}}
                            <span ng-if="column.fieldName==='dataDate'&&isSystemuser()">(id = {{indicator['id']}})</span>
                          </td>
                    </tr>
                    <tr class="nmc-hide">
                        <td>{{onTableLoad()}}</td>
                    </tr>
                </table>
                <div class="col-md-9">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>       
        </div>
    </div>
    
</div>