<div><a href="#/">Портал</a> / <a href="#/objects_edit/" >Объекты </a> / Системы - точки учета</div>
<h2>Показания &lt; {{contObjectName}} &gt; - &lt; {{contZPointName}} &gt;</h2>

<div class="container-fluid">
    <div class="row">   
        <div class="col-md-12 noPadding marginBottom10">
            <div class="col-md-4 noPadding">
                <div class="col-md-4 paddingTop5">
                    <label >

                        Задайте интервал дат</label>
                </div>    
                <div ng-controller="DataRangeSettings" class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon excbt_inputGroupAddon">с</span>
                            <input date-range-picker class="form-control excbt_inputFormControl date-picker excbt_noLeftBorder"
                                type="text" ng-model="navPlayerDates" options="queryDateOptsRu" ng-change="getData()"/>
                        </div>
                </div>

            </div>
            <div class="col-md-3">
                    <div class="col-md-3 paddingTop5">            
                            <label >
                                 Показания</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control excbt_inputFormControl inputData" ng-model="timeDetailType" ng-change="getData()">
                            <option value="24h">Суточные</option>
                            <option selected value="1h">Часовые</option>
                        </select>
                    </div>
            </div>
              <div class="col-md-5">    
 
                 <div class="col-md-7">
                    <label>Записей на странице:</label>
            <!--         <input type="number" min="1" max="100" class="form-control inputDigitalData" ng-model="noticesPerPage">-->
                    <select class="form-control inputDigitalData excbt_inputFormControl" ng-model="indicatorsPerPage"    >
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>25</option>
                        <option>50</option>
            <!--            <option>100</option>-->
                    </select>
                </div>
                <div class="col-md-5">
                    <label >Всего:</label>
                     <input type="text" disabled class="form-control excbt_viewDataCount excbt_inputFormControl" ng-model="totalIndicators">
                </div>


            </div>
    </div>    
</div>
    
<div >
    <table class="excbt_table_oneLineData" ng-class="tableDef.tableClass">
        <tr ng-class="tableDef.headerClassTR">
            <th ng-repeat="column in tableDef.columns" ng-class="column.headerClass">
                {{column.header}}
            </th>
            
        </tr>
        <tr dir-paginate="indicator in data | filter: indicatorsfilter | itemsPerPage: indicatorsPerPage" total-items="totalIndicators" current-page="pagination.current">
            <td ng-repeat="column in tableDef.columns" ng-class="column.dataClass || column.headerClass">
                {{indicator[column.fieldName]}}
            </td>
        </tr>
    </table>
    <div class="col-md-9">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    <div class="col-md-3 noPadding">
             <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                 <input type="text"  class="form-control"  ng-model="indicatorsfilter">
            </div>     
    </div> 
</div>    
