<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="session_log_2nd_menu_item" role="presentation" class="active">
            <a id="sessionLogTab" 
               class="nmc-main-tab-button" 
               href="" 
               aria-controls="session-log" 
               data-target="#session-log" 
               role="tab" data-toggle="tab">Журнал загрузки данных</a>
        </li>   
        <li id="sms_log_2nd_menu_item" role="presentation" class="">
            <a id="smsLogTab" 
               class="nmc-main-tab-button" 
               href="#/log/sms-log/" 
               aria-controls="datasources" 
               data-target="#datasources" 
               role="tab" 
               data-toggle="tab">Журнал отправки СМС уведомлений</a>           
        </li>
        
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="session_log">
      </div>
    </div>
</div>

<div class="container-fluid noPadding">
<div class="row noPadding marginBottom10 nmc-filter-row">    
    <div class="col-xs-2 col-md-2">   
        <div class="input-group">
            <span class="input-group-addon nmc-date-interval-form-addon" id="leftAddon"
                  ng-disabled="isDisabledFilters()">период: с</span>
            <input date-range-picker 
                   class="form-control date-picker nmc-date-interval-form nmc-input-data"
                   type="text" 
                   ng-model="ctrlSettings.sessionsLogDaterange" 
                   options="ctrlSettings.daterangeOpts" 
                   aria-describedby="leftAddon"
                   ng-disabled="isDisabledFilters()"/>
        </div>    
    </div>
    <div class="col-xs-2 col-md-2" >        
        <div class="input-group nmc-input-data">
            <div style="display: table-cell;">
                <input id="object-toggle-view" 
                       ng-model="ctrlSettings.showObjectsFlag" 
                       data-toggle="toggle"
                       data-on="Объекты" 
                       data-off="Группы" 
                       data-size="mini"
                       data-width="100"
                       data-height="26"
                       type="checkbox" 
                       class="" 
                       style=""
                       checked
                       ng-disabled="isDisabledFilters()"
                       />
            </div>
            <div class="btn-group">
                <button ng-disabled="isDisabledFilters()"
                        data-toggle="dropdown" 
                        class="btn btn-default nmc-filter-form nmc-input-digital-data dropdown-toggle nmc-dropdown-toggle-filter"
                        ng-click="selectObjectsClick()"
                        data-placeholder="false"
                        ng-class="{'paddingLeft20': selectedObjects_list.caption != messages.defaultFilterCaption}"> 
                    {{selectedObjects_list.caption}}
                    <i ng-if="selectedObjects_list.caption != messages.defaultFilterCaption" 
                       class="">                                
                        <strong>...</strong>
                    </i>
                </button>
                <ul class="dropdown-menu nmc-dropdown-menu-filter noclose">
                    <li class="paddingLeft5 marginBottom5">
                        <div class="container-fluid noPadding">
                        <div class="row">
                            <div class="col-xs-8 col-md-8">
                                <div class="input-group nmc-input-group-filter">
                                  <span class="input-group-addon nmc-search-form-addon" 
                                        id="objectFilter-addon">
                                      <i class="glyphicon glyphicon-search nmc-searh-form-button">
                                      </i>
                                  </span>
                                  <input class="form-control nmc-text-input-notice-filter-form" 
                                         type="text"
                                         aria-describedly="objectFilter-addon"
                                         ng-model="objectFilter"
                                     />
                                </div>                              
                            </div>
                            <div class="col-xs-1 col-md-1 nmc-vdivide"></div>
                            <div class="col-xs-2 col-md-2">
                                <p title="Применить фильтр" 
                                        type="submit" 
                                        class="btn btn-xs btn-primary nmc-ok-button-in-filter pull-right marginRight5" 
                                        ng-click="selectObjects();"
                                        value="Ок" 
                                        style=""
                                        ng-disabled="isFilterApplyDisabled(objectsInWindow, states.isSelectedAllObjectsInWindow)"
                                   ng-class="{'nmc-ok-button-highlight': states.isSelectElement&&!isFilterApplyDisabled(objectsInWindow, states.isSelectedAllObjectsInWindow)}"
                                   >
                                    OK
                                    <i class="glyphicon glyphicon-filter">
                                    </i>
                                </p>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="paddingLeft5 nmc-li-select-all"                                   
                         >
                        <input type="checkbox"                               
                              ng-model="states.isSelectedAllObjectsInWindow"
                              class="nmc-checkbox-dropdown"
                              ng-click="selectAllElements(objectsInWindow)" 
                              />
                       <label class="nmc-label-dropdown">
                          Выбрать все
                       </label>
                    </li>
                    <li role="separator" class="divider"></li> 
                </ul>
                <ul class=" dropdown-menu nmc-filter-list-items nmc-dropdown-menu-filter noclose">
                    <li class="paddingLeft5" ng-repeat="object in objectsInWindow | filter: objectFilter">
                        <input type="checkbox"                                
                               ng-attr-value={{object.name}} 
                               ng-model="object.selected"
                               class="nmc-checkbox-dropdown"
                               ng-click="selectElement('isSelectedAllObjectsInWindow')"
                               />
                       <label class="nmc-label-dropdown">
                          {{object.contGroupName || object.fullName || object.name}}
                       </label>
                    </li>                            
                </ul>
            </div>
            <span class="input-group-addon nmc-input-form-suffix" 
                  id="rightAddon">
                <i title="Очистить фильтр" 
                   class="btn btn-xs nmc-button-clear-filter" 
                   ng-click="clearObjectFilter()"
                   ng-disabled="selectedObjects_list.caption == messages.defaultFilterCaption">
                    <img height="19" width="19" 
                         src="images/clear-filter.png"
                         class="nmc-img-clear-filter"/>
                </i>
            </span>    
        </div>
    </div>

    <div class="col-xs-1 col-md-1 noPadding nmc-div-refresh">
        <button title="Обновить" 
                class="btn btn-default btn-xs glyphicon glyphicon-refresh nmc-button-refresh" 
                ng-click="loadSessionsData()"
                ng-disabled="isDisabledFilters()">
        </button>
    </div>

    <div class="col-xs-5 col-md-4 noPadding nmc-div-page-legend">    
        <div class="col-xs-5 col-md-5 noPadding">
            <label class="nmc-form-label">Всего:</label>
             <input type="text" disabled class="form-control nmc-view-allcount nmc-inactive-form" ng-model="data.totalSessions">
        </div>
    </div>
<!--</div> -->
</div>    
   
</div>


<!-- main table -->
<div id="log-upper-part" class="nmc-log-upper rui-resizable-bottom" style="max-height: 600px">
    <div class="rui-resizable-content">
        <table ng-show="ctrlSettings.sessionsLoading"
               id="tableSessionsHeader" 
               class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
            <thead>
                <tr class="">
                    <th style="padding: 0; border-bottom-width: 0px;">
                        <table class="crud-grid table table-lighter table-condensed noMargin">
                            <thead>
                                <tr class="nmc-child-table-header">
                                    <th class="col-md-1 nmc-td-for-button">
                                    </th>
                                    <th ng-repeat="scolumn in ::ctrlSettings.sessionColumns track by $index"
                                        ng-class="::scolumn.headerClass">
                                        {{::scolumn.caption}}
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </th>
                </tr>
            </thead>
        </table>
        <div ng-show="ctrlSettings.sessionsLoading" class="marginBottom5 nmc-loading">
            <i class="fa fa-spinner fa-spin"></i> Загрузка сессий... 
        </div>
        <table ng-show="!ctrlSettings.sessionsLoading"
               id="tableSessionsData" 
               class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
        <thead>
            <tr class="">
                <th style="padding: 0; border-bottom-width: 0px;">
                    <table class="crud-grid table table-lighter table-condensed noMargin">
                        <thead>
                            <tr class="nmc-child-table-header">
                                <th class="col-md-1 nmc-td-for-button">
                                </th>
                                <th ng-repeat="scolumn in ::ctrlSettings.sessionColumns track by $index"
                                    ng-class="::scolumn.headerClass">
                                    {{::scolumn.caption}}
                                </th>
                            </tr>
                        </thead>
                    </table>
                </th>
            </tr>
        </thead>                    
        <tbody>
        <tr dir-paginate="session in data.sessionsOnView | itemsPerPage: ctrlSettings.itemPerPage" 
            total-items="data.totalSessions" 
            current-page="ctrlSettings.pagination.current"
            class="nmc-tr-striped nmc-link"            
            >    
            <td>
                <table>
                    <tr ng-class="{'nmc-bg-distinguish': session.selected == true}">
                        <td class="col-xs-1 col-md-1 nmc-td-for-button noPadding">
                            <i class="btn btn-xs glyphicon glyphicon-chevron-right"
                               ng-click="toggleChildSessionsView(session)"
                               ng-class="{'nmc-button-disabled':!session.childs}"
                               ng-disabled="!session.childs">
                            </i>                                        
                        </td>
                        <td ng-repeat="scolumn in ctrlSettings.sessionColumns track by $index"
                            ng-class="::scolumn.headerClass"
                            ng-click="loadLogData(session)">                                        
                            <span ng-bind="session[scolumn.name]"></span>                                
                        </td>

                    </tr>
                    <tr ng-repeat="child in session.childs" ng-show="session.isChildView"
                        ng-click="loadLogData(child)"
                        ng-class="{'nmc-bg-distinguish': child.selected == true}">
                        <td></td>
                        <td ng-repeat="scolumn in ctrlSettings.sessionColumns track by $index"
                            ng-class="::scolumn.headerClass">
                            <span ng-switch="scolumn.name">
                                <span ng-switch-when="dataSource" class="paddingLeft20">                                                
                                </span>
                            </span>
                            <span ng-bind="child[scolumn.name]"></span>

                        </td>

                    </tr>
                </table>
             </td>        
         </tr>
        </tbody>
    </table>
    <div ng-show="!ctrlSettings.sessionsLoading"
         class="col-md-9 marginTop5">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" 
                                 template-url="/public/bower_components/angular-utils-pagination/nmcDirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
    </div>
    <div class="rui-resizable-handle"></div>
</div>

<div id="log-footer-part" class="nmc-log-footer rui-resizable-bottom" style="max-height: 600px">
    <div class="rui-resizable-content">
        <table ng-show="ctrlSettings.logLoading"
               class="table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin nmc-parent-object-table">
            <caption class="noPadding">
                <h4>Сообщения сессии
                    <span ng-if="!checkEmptyObject(data.currentSession)">: {{data.currentSession.dataSource +", "+ data.currentSession.deviceModel +", "+ data.currentSession.deviceNumber +", "+ data.currentSession.startDate}}
                    </span>
                </h4>
            </caption>
            <thead>
                <tr class="nmc-main-table-header">
                    <th ng-repeat="lcolumn in ctrlSettings.logColumns track by $index"
                        ng-class="::lcolumn.headerClass">
                        {{::lcolumn.caption}}
                    </th>
                </tr>
            </thead>            
        </table>
        <div ng-show="ctrlSettings.logLoading" class="marginBottom5 nmc-loading">
            <i class="fa fa-spinner fa-spin"></i> Загрузка сообщений сессии... 
        </div>
        <table ng-show="!ctrlSettings.logLoading"
               class="table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin nmc-parent-object-table">
            <caption class="noPadding">
                <h4>Сообщения сессии
                    <span ng-if="!checkEmptyObject(data.currentSession)">: {{data.currentSession.dataSource +", "+ data.currentSession.deviceModel +", "+ data.currentSession.deviceNumber +", "+ data.currentSession.startDate}}
                    </span>
                </h4>
            </caption>
            <thead>
                <tr class="nmc-main-table-header">
                    <th ng-repeat="lcolumn in ctrlSettings.logColumns track by $index"
                        ng-class="::lcolumn.headerClass">
                        {{::lcolumn.caption}}
                    </th>
                </tr>
            </thead>            
            <tbody>
                <tr ng-repeat="log in data.sessionLog">
                    <td ng-repeat="lcolumn in ctrlSettings.logColumns">
                        <div ng-switch on="::lcolumn.type">
                            <span ng-switch-when="id">{{log[lcolumn.name]}}<span ng-show="isSystemuser()"> (id = {{log['id']}})</span>
                            </span>
                            <span ng-switch-when="checkbox">
                                <input type="checkbox" ng-model="log[lcolumn.name]" disabled/>
                            </span>
                            <span ng-switch-default >
                                {{log[lcolumn.name]}}
                            </span>
                        </div>
                    </td>                        
                </tr>
            </tbody>
        </table>
    </div>
    <div class="rui-resizable-handle"></div>
</div>