<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        <li id="data_sources_2nd_menu_item" role="presentation" class=""><a id="datasourcesTab" class="nmc-main-tab-button" href="#/management/datasources/" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class=""><a id="devicesTab" class="nmc-main-tab-button" href="#/management/devices/" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a></li>
        <li ng-if="isSystemuser()"
            id="modems_edit_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/management/modems/" 
               aria-controls="modems" 
               role="tab" 
               data-target="#modems" 
               data-toggle="tab">Модемы
            </a>
        </li>
        <li id="organizations_edit_2nd_menu_item" role="presentation" class="" >
            <a class="nmc-main-tab-button" 
               href="#/management/organizations/" 
               aria-controls="organizations" 
               role="tab" 
               data-target="#organizations" 
               data-toggle="tab">Организации
            </a>
        </li>
        <li id="clients_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/clients/" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/users/" aria-controls="users" role="tab" data-target="#users" data-toggle="tab">Пользователи</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="active" ><a class="nmc-main-tab-button" href="" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Прайс-листы</a></li>
        <li id="temperature_schedules_2nd_menu_item" role="presentation"><a class="nmc-main-tab-button" href="#/management/temp-sch/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Температурные графики</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="clientsTab">
          
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row nmc-main-workspace-header">  
        <div class="col-xs-4 col-md-4 noPadding marginBottom10 nmc-search-form">
                <select class="form-control nmc-select-form-for-price" 
                        ng-model="data.currentMode.id" 
                        ng-options="mode.id as mode.subscriberName for mode in data.priceModes" 
                        ng-change="changeMode(data.currentMode.id)">
            </select>
        </div>
        <div class="col-xs-8 col-md-8">            
            <label>
                <input id="history-view" 
                       ng-model="ctrlSettings.viewHistoryFlag" 
                       data-toggle="toggle" 
                       data-size="small" 
                       type="checkbox" 
                       class="marginRight2" 
                       style="vertical-align: middle; margin-right: 7px;">
                Показывать историю
            </label>
        </div>
    </div>    
</div>

<!--    Непрокручиваямая шапка -->
<table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
        <tr class="nmc-main-table-header">
            <th class="col-xs-1 col-md-1 nmc-td-for-button">

            </th>
            <th ng-repeat="column in ctrlSettings.priceListColumns" ng-class="column.class">
                {{column.caption}}                
            </th>
            <th class="col-xs-1 col-md-6">
            </th>
        </tr>
</table>

<!-- Область с прокручиваемыми данными-->
<div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
    <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table">
        <thead>
            <tr class="nmc-main-table-header nmc-hide">
                <th class="col-xs-1 col-md-1 nmc-td-for-button">

                </th>
                <th ng-repeat="column in ctrlSettings.priceListColumns" ng-class="column.class">
                    {{column.caption}}                
                </th>
                <th class="col-xs-1 col-md-6">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="priceList in data.prices | viewHistory:ctrlSettings.viewHistoryFlag" ng-class="{'nmc-tr-odd':($index%2!==1), 'nmc-active-price':(priceList.isActive), 'nmc-inactive-price':priceList.isArchive}" ng-dblclick="dblClickPriceList(priceList)">
                <td class="col-xs-1 col-md-1 nmc-td-for-button" >
                    <div class="btn-group">
                      <i title="Действия над прайсом" type="button" class="btn btn-xs glyphicon glyphicon-menu-hamburger nmc-button-in-table dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="" style="font-size: .9em;">
                        </i>
                      <ul class="dropdown-menu">
                        <li ng-if="checkPropBtn(priceList)"><a href="" ng-click="selectItem(priceList)" data-target="#pricePropModal" data-toggle="modal">{{messages.priceMenuItem6}}</a></li>
                        <li ng-if="checkViewBtn(priceList)"><a href="" ng-click="viewPrice(priceList, true)">{{messages.priceMenuItem7}}</a></li>
                        <li ng-if="checkEditBtn(priceList)"><a href="" ng-click="editPrice(priceList)">{{messages.priceMenuItem3}}</a></li>
<!--
                        <li ng-if="((!data.currentMode.rma)&&priceList.isDraft&&(!priceList.isArchive)&&(!priceList.isActive))"><a href="" ng-click="activatePriceList(priceList)">{{messages.priceMenuItem1}}</a></li>
                        <li ng-if="((data.currentMode.id!=0)&&(data.currentMode.rma)&&priceList.isMaster&&isSystemuser()&&(!priceList.isArchive)&&(!priceList.isActive))"><a href="" ng-click="activatePriceList(priceList)">{{messages.priceMenuItem1}}</a></li> 
-->
                          
                        <li ng-if="checkActivateBtn(priceList)"><a href="" ng-click="activatePriceList(priceList)">{{messages.priceMenuItem1}}</a></li>  
<!--                          ng-if="data.currentMode.rma"-->
                        <li ng-if="checkCloneBtn(priceList)"><a href="" ng-click="cloneInit(priceList)" data-target="#clonePriceModal" data-toggle="modal">{{messages.priceMenuItem2}}</a></li>
                        
                        <li ng-if="checkCopyBtn(priceList)"><a href="" ng-click="copyPriceList(priceList)">{{messages.priceMenuItem4}}</a></li>
                        <li ng-if="checkDeleteBtn(priceList)" role="separator" class="divider"></li>
                        <li ng-if="checkDeleteBtn(priceList)"><a href="" ng-click="deletePriceInit(priceList)" data-target="#deletePriceModal" data-toggle="modal">{{messages.priceMenuItem5}}</a></li>  
                      </ul>
                    </div>
                </td>
                <td ng-repeat="column in ctrlSettings.priceListColumns" ng-class="column.class">
                    <span ng-class="{'nmc-distinguish':priceList.isMaster}">
                        <span ng-switch on="column.name">
                            <span ng-switch-when="factBeginDate">{{priceList["factBeginDate"] || priceList["planBeginDate"]}}</span>
                            <span ng-switch-default>{{priceList[column.name]}}</span>
                        </span>    
                    </span>
                </td>
                <td class="col-xs-1 col-md-6">
                    <span ng-if="priceList.isDraft">
                        <i class="pull-right btn btn-xs glyphicon glyphicon-trash" ng-click="deletePriceInit(priceList)" data-target="#deletePriceModal" data-toggle="modal"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
<!--                    Подключенных объектов: {{ctrlSettings.subscriberContObjectCount}}. Сумма ежемесячного платежа: {{}}<span ng-class="{'nmc-hide':!serv.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                </td>
            </tr>
        </tbody>    
    </table>
</div>

<!--Edit client price list-->
<div id="editPriceModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="editPriceLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog nmc-modal-wide-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="editPriceLabel" class="nmc-h3">
				Прайс-лист {{data.currentPrice.priceListName}}
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
                        <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
                            <tbody>
                                <tr ng-repeat="pack in serviceListEdition" ng-hide="!pack.isAvailable&&!isSystemuser()">
                                    <td>
                                        <table class="nmc-table-nowrap-data">
                                            <tr ng-class="{'nmc-tr-odd':($index%2!==1)}">
                                                <td class="nmc-td-for-button-checkbox">
                                                    <i title="Показать/Скрыть услуги" ng-attr-id={{"btnDetail"+pack.id}} class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(pack)"></i>

                                                </td>
                                                <td class="col-md-10">
                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editpackage"+pack.id}}>{{pack.packCaption}}
                                                    </span>    
                                                </td>
                                                <td class="col-md-1">
<!--                                                    {{pack.price.value}} -->
                                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!checkNumericValue(pack.price.priceValue)}">
                                                        <input ng-disabled="ctrlSettings.modeView" type="text" id="inpp" name="inputPrice" class="form-control nmc-text-input-form nmc-input-digital-data" ng-model="pack.price.priceValue" data-inputmask="'alias': 'numeric'"/> <span ng-class="{'nmc-transparent':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>
                                                    </div>
                                                </td>
<!--
                                                <td>
                                                    <span ng-class="{'nmc-hide':!pack.price.value}">{{ctrlSettings.currency}}</span>
                                                </td>
-->

                                            </tr>
                                            <tr ng-show="!pack.showDetailsFlag">
                                                <td></td>
                                                <td colspan="2" class="nmc-td-for-child-table">
                                                    <table class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-child-object-table nmc-table-nowrap-data">
                                                        <tbody>
                                                            <tr ng-repeat="serv in pack.serviceItems" ng-hide="!serv.isAvailable&&!isSystemuser()">
                                                                <td class="col-md-11 onlyPaddingLeft5">
                                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editservice"+serv.id}}>{{serv.itemCaption}}
                                                                    </span>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!checkNumericValue(serv.price.priceValue)}">
                                                                        <input ng-disabled="ctrlSettings.modeView" type="text" id="inpp" name="inputPrice" class="form-control nmc-text-input-form nmc-input-digital-data" ng-model="serv.price.priceValue" data-inputmask="'alias': 'numeric'"/> <span ng-class="{'nmc-transparent':!serv.price.priceValue}">{{ctrlSettings.currency}}</span>
                                                                    </div>
                                                                </td>
<!--
                                                                <td>
                                                                    <span ng-class="{'nmc-hide':!serv.price.value}">{{ctrlSettings.currency}}</span>
                                                                </td>
-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>    
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                    </div>
                    <div ng-show="!ctrlSettings.modeView" class="pull-right" >
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                    </div>
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <input ng-disabled = "((confirmCode!=sumNums && !isSystemuser()) || ctrlSettings.modeView)" type="submit" class="btn btn-primary btn-xs nmc-save-button"
					ng-click="updatePriceList()"
					value="Сохранить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit()">
								Отменить
			</button>				
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- Clone price -->
<div id="clonePriceModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="clonePriceLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="clonePriceLabel" class="nmc-h3">
				Абоненты
<!--                для прайс-листа {{data.currentPrice.priceListName}}-->
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
                        <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table ">
                            <thead>
                                <tr class="nmc-main-table-header">
                                    <th class="col-md-1 nmc-td-for-button">
<!--                                        <input type="checkbox"/>-->
                                        <i class="btn btn-xs glyphicon glyphicon-duplicate nmc-btn-dup paddingLeft0" title="Клонировать всем" ng-click="selectedAllPressed()"></i>
                                    </th>
                                    <th class="col-md-1 nmc-td-for-button">
<!--                                        <input type="checkbox"/>-->
                                        <i class="btn btn-xs glyphicon glyphicon-off nmc-btn-on paddingLeft0" title="Активировать все" ng-click="activatedAllPressed()"></i>
                                    </th>
                                    <th class="col-md-10">
                                        Абонент
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in data.clientsAtWindow" ng-class="{'nmc-tr-odd':($index%2!==1)}">
                                    <td class="col-md-1 nmc-td-for-button">
                                        <input type="checkbox" ng-model="client.selected"/>
                                    </td >
                                    <td class="col-md-1 nmc-td-for-button">
                                        <input type="checkbox" ng-disabled="!client.selected" ng-model="client.activated"/>
                                    </td>
                                    <td class="col-md-10">
                                        {{client.subscriberName}}
                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                    </div>
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <input type="submit" class="btn btn-primary btn-xs nmc-save-button"
					ng-click="clonePriceList()"
					value="Применить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit()">
								Отменить
			</button>				
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- window: delete project price-->
<div id="deletePriceModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deletePriceLabel" tabindex="-1" data-backdrop="static">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deletePriceLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{data.currentPrice.priceListName || data.currentPrice.id}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
                <div class="marginLeft15">
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                </div>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
<!--                            -->
							<input ng-disabled = "(confirmCode!=sumNums && !isSystemuser())" type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deletePrice(data.currentPrice)"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentUser');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- Price list property window-->
<div id="pricePropModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="pricePropLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="pricePropLabel" class="nmc-h3">
				Свойства прайс-листа
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Наименование</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <input ng-disabled="!data.currentPrice.isDraft" class="form-control nmc-text-input-form" type="text" id="inputName" placeholder="Наименование"  ng-model="data.currentPrice.priceListName"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputPlanBeginDate">Плановая дата ввода</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <input ng-disabled="!data.currentPrice.isDraft" class="form-control nmc-text-input-form" type="text" id="inputPlanBeginDate" placeholder=""  ng-model="data.currentPrice.planBeginDate"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputPlanEndDate">Плановая дата завершения</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <input ng-disabled="!data.currentPrice.isDraft" class="form-control nmc-text-input-form" type="text" id="inputPlanEndDate" placeholder=""  ng-model="data.currentPrice.planEndDate"/>
                                </td>
                            </tr>
                            <tr ng-if="data.currentPrice.factBeginDate">
                                <td class="col-sm-3"><label>Фактическая дата ввода</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    {{data.currentPrice.factBeginDate}}
                                </td>
                            </tr>
                            <tr ng-if="data.currentPrice.factEndDate">
                                <td class="col-sm-3"><label>Фактическая дата завершения</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    {{data.currentPrice.factEndDate}}
                                </td>
                            </tr>

                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-6 col-md-3">
							<input id="btnSaveProp" ng-disabled="!data.currentPrice.isDraft" type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="savePriceProp(data.currentPrice)"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentPrice')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!--
<script>
      $(function() {

  })
</script>-->
