<div role="tabpanel" class="nmc-main-tab-panel">
  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        <li id="data_sources_2nd_menu_item" role="presentation" class=""><a id="datasourcesTab" class="nmc-main-tab-button" href="#/management/datasources/" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class=""><a id="devicesTab" class="nmc-main-tab-button" href="#/management/devices/" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a></li>
        <li id="organizations_edit_2nd_menu_item" role="presentation" class="" >
            <a class="nmc-main-tab-button" 
               href="#/management/organizations/" 
               aria-controls="organizations" 
               role="tab" 
               data-target="#organizations" 
               data-toggle="tab">Организации
            </a>
        </li>
        <li id="clients_edit_2nd_menu_item" role="presentation"><a class="nmc-main-tab-button" href="" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/users/" aria-controls="users" role="tab" data-target="#users" data-toggle="tab">Пользователи</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/price/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Прайс-листы</a></li>
        <li id="temp_sch_2nd_menu_item" role="presentation" class="active">
            <a class="nmc-main-tab-button" 
               href="" 
               aria-controls="temperature_schedules" 
               role="tab" 
               data-target="#temperature_schedules" 
               data-toggle="tab">Температурные графики
            </a>
        </li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="temperature_schedules">
      </div>
    </div>
</div>
<div class="nmc-main-workspace-header">
    <h2 class="noMargin nmc-h2">Температурные графики</h2>
    <hr>
</div>    
<div role="tabpanel" class="nmc-tab-panel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a class="nmc-tab-button" 
           href="" 
           aria-controls="temp_sch" 
           role="tab" 
           data-target="#temp_sch" 
           data-toggle="tab">Графики
        </a>
    </li>      
    <li role="presentation">
        <a class="nmc-tab-button"
           title="Среднесуточная температура"
           href="" 
           aria-controls="temp_ssts" 
           data-target="#temp_sst" 
           role="tab" 
           data-toggle="tab">ССТ
        </a>
    </li>        
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!--      Шаблоны отчетов-->
    <div role="tabpanel" 
         class="tab-pane fade in active" 
         id="temp_sch">
            <div class="row nmc-main-workspace-header">
                <div class="col-xs-3 col-md-3 marginBottom5 marginTop5">
                    <button class="btn nmc-main-add-button" 
                            ng-click="addTempSch()" 
                            data-target="#showTempSchModal" 
                            data-toggle="modal">Добавить график</button>
                </div>
                <div class="col-xs-7 col-md-7"></div>
                <div class="input-group col-xs-4 col-md-4 filter marginTop5 pull-left nmc-search-form">   
                    <span class="input-group-addon nmc-search-form-addon"><i class="glyphicon glyphicon-search nmc-search-form-button"></i></span>
                    <input title="Введите текст для поиска" type="text" class="form-control nmc-text-input-form" ng-model="filter">
                </div>
                <div class="col-md-offset-2 col-xs-2 col-md-2">
                </div>
            </div>
            <!--    Непрокручиваямая шапка -->
            <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
                    <tr class="nmc-main-table-header">
                        <th class="col-md-1 nmc-td-for-button">

                        </th>
                        <th ng-repeat="column in ctrlSettings.tempSchColumns" ng-class="column.class" ng-click="setOrderBy(column)">
                            {{column.caption}}
                            <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                        </th>
                        <th class="col-md-1">
                        </th>
                    </tr>
            </table>
            <div class="nmc-data-sources-main-div">
                <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table">
                    <tr class="nmc-main-table-header nmc-hide">
                        <th class="col-md-1 nmc-td-for-buttons">

                        </th>
                        <th ng-repeat="column in ctrlSettings.tempSchColumns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                            {{column.caption}}
                            <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                        </th>
                        <th class="col-md-1">
                        </th>
                    </tr>

                    <tr ng-repeat="schedule in data.tempSchedules | orderBy:orderBy.field:!orderBy.asc | filter: filter" >
                        <td class="nmc-td-for-button">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <i title="Свойства" 
                                       class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" 
                                       ng-click="selectedItem(schedule)" 
                                       data-target="#showTempSchModal" 
                                       data-toggle="modal"></i>                        
                                </div>
                            </div>
                        </td>
                        <td ng-repeat="column in ctrlSettings.tempSchColumns" ng-class="column.class">
                            <div ng-switch on="column.type">
                                <span ng-switch-when="name" 
                                      ng-class="">{{schedule[column.name] || "Без названия"}}<span ng-show="isSystemuser()"> (id = {{schedule['id']}})</span>
                                </span>
                                <span ng-switch-when="checkbox" 
                                      ng-class="">
                                    <input type="checkbox" 
                                           ng-model="schedule[column.name]" disabled/>
                                </span>
                                <span ng-switch-default >
                                    {{schedule[column.name]}}
                                </span>
                            </div>
                        </td>

                        <td class="col-md-1">
                            <div class="btn-toolbar">
                                <div class="btn-group pull-right">                   
                                    <i title="Удалить" 
                                       class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" 
                                       ng-click="deleteObjectInit(schedule)" 
                                       data-target="#showTempSchModal" 
                                       data-toggle="modal">
                                    </i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    <div role="tabpanel" 
         class="tab-pane fade" 
         id="temp_sst">        
        <div class="row nmc-main-workspace-header marginTop5">
            <div class="col-xs-4 col-md-4 marginBottom5 nmc-search-form">
                <div class="col-xs-4 col-md-4 noPadding" style="min-width: 71px;">
                    <label class="nmc-form-label marginTop5">Населенный пункт:</label>
                </div>
                <div class="col-xs-8 col-md-8">
                    <select class="form-control  nmc-select-form" 
                            ng-model="data.currentLocalPlace.id" 
                            ng-options="place.id as place.localPlaceName for place in data.localPlaces" 
                            ng-change="">
                    </select>
                </div>
            </div>
            <div class="col-xs-2 col-md-2">
                <div class="col-xs-2 col-md-2 ">
                    <label class="nmc-form-label marginTop5">Дата:</label>
                </div>
                <div class="col-xs-10 col-md-10 ">
                    <input  
                           id="inputSSTDate" 
                           class="form-control date-picker nmc-date-input-form"
                           type="text" 
                           ng-model="date.currentDate"/>
                </div> 
            </div>            
            <div class="col-xs-6 col-md-6">
            </div>
        </div>
    </div>
  </div>
</div>

<!--Show schedule options-->
<div id="showTempSchModal" 
     class="modal fade nmc-modal-window" 
     role="dialog"
	aria-labelledby="showTempSchLabel" 
     tabindex="-1">
	<div class="modal-dialog  modal-content nmc-modal-dialog-temp-sch">
		<div class="modal-header nmc-modal-header">
            <button type="button" 
                    class="close nmc-close-button" 
                    data-dismiss="modal" 
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
			<h3 id="showTempSchLabel" 
                class="nmc-h3">
				Температурный график
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Температура</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="nmc-input-tmax-tmin">
                                        <div class="form-group noMarginBottom" 
                                             ng-class="{'has-error':!(data.currentTempSch.maxT>'')}"
                                             >
                                            <input class="form-control nmc-text-input-form" 
                                                   type="text" 
                                                   id="inputTmax" 
                                                   placeholder="Макс. темп." 
                                                   ng-model="data.currentTempSch.maxT"
                                                   data-inputmask="'alias': 'numeric'"
                                                   ng-blur="inputTempBlur(data.currentTempSch)"/>
                                        </div>
                                        <div class="nmc-tmax-tmin-divider">
                                            /
                                        </div>
                                        <div class="form-group noMarginBottom" 
                                             ng-class="{'has-error':!(data.currentTempSch.minT>'')}"
                                             >
                                            <input class="form-control nmc-text-input-form" 
                                                   type="text" 
                                                   id="inputTmin" 
                                                   placeholder="Мин. темп." 
                                                   ng-model="data.currentTempSch.minT"
                                                   data-inputmask="'alias': 'numeric'"
                                                   ng-blur="inputTempBlur(data.currentTempSch)"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Наименование</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentTempSch.chartName>'')}">
                                        <input class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="inputName" 
                                               placeholder=""  
                                               ng-model="data.currentTempSch.chartName"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Населенный пункт</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentTempSch.localPlaceId>'')}">
                                        <select class="form-control nmc-text-input-form" 
                                                type="text" 
                                                id="inputPlace" 
                                                placeholder="" 
                                                ng-model="data.currentTempSch.localPlaceId"
                                                ng-options="place.id as place.localPlaceName for place in data.localPlaces"
                                                >
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputName">РСО</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentTempSch.rsoOrganizationId>'')}">
                                        <select class="form-control nmc-text-input-form" 
                                                type="text" 
                                                id="inputRso" 
                                                placeholder=""  
                                                ng-model="data.currentTempSch.rsoOrganizationId"
                                                ng-options="rso.id as rso.organizationName for rso in data.rsoOrganizations">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr >
                                <td colspan="3" class="col-sm-12">
                                    <input type="checkbox" class="nmc-checkbox-form"
                                           ng-model="data.currentTempSch.flagAdjPump">
                                    <label>Наличие корректирующего насоса</label>
                                </td>                                
                            </tr>
                            <tr >
                                <td colspan="3" class="col-sm-12">
                                    <input type="checkbox" class="nmc-checkbox-form"
                                           ng-model="data.currentTempSch.flagElevator">
                                    <label>Наличие элеватора</label>
                                </td>                                
                            </tr>
                            <tr>
                                <td class="col-sm-3">
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <label for="tempSchTable">Температурный график:</label>
                                    <p class="btn btn-default btn-xs marginRight5 pull-right"
                                       ng-click="sortSchedulesByTEnv(data.currentTempSch.schedules)"
                                       ng-class="{'nmc-ok-button-highlight':!ctrlSettings.isTempSchSort}">
                                        Отсортировать по Т<sub>окр</sub>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="col-sm-12">
                                  <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-child-table">
                                       <tr>
                                        <th class="col-sm-3">
                                            <strong>Т<sub>окр</sub></strong>
                                        </th>
                                        <th class="col-sm-3">
                                            <strong>Т<sub>вход</sub></strong>
                                        </th>
                                        <th class="col-sm-3">
                                            <strong>Т<sub>обр</sub></strong>
                                        </th>
                                        <th class="col-sm-3">

                                        </th>

                                     </tr>
                                 </table>
                                    <div class="nmc-temp-sch-schedules-modal">
                                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-child-table">
                                            <tr class="nmc-hide">
                                                <th class="col-sm-3 nmc-button-sort" ng-click="sortSchedulesByTEnv(data.currentTempSch.schedules)">
                                                    <strong>Т<sub>окр</sub></strong>
                                                    <i title="Отсортировать график" 
                                                        class="btn btn-default btn-xs glyphicon glyphicon-sort-by-alphabet-alt"
                                                        ng-class="{'nmc-ok-button-highlight':!ctrlSettings.isTempSchSort}">
                                                    </i>
                                                </th>
                                                <th class="col-sm-3">
                                                    <strong>Т<sub>вход</sub></strong>
                                                </th>
                                                <th class="col-sm-3">
                                                    <strong>Т<sub>обр</sub></strong>
                                                </th>
                                                <th class="col-sm-3">

                                                </th>

                                            </tr>
                                            <tr ng-repeat="schedule in data.currentTempSch.schedules" ng-init="initSchedule($index)">
                                                <td class="col-sm-3 noPaddingI">
                                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(schedule.tEnv>'')}">
                                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                                               type="text" 
                                                               ng-attr-id={{"inputTEnv"+$index}}
                                                               placeholder=""  
                                                               ng-model="schedule.tEnv" 
                                                               data-inputmask="'alias': 'numeric'"
                                                               />
                                                    </div>
                                                </td>
                                                <td class="col-sm-3 noPaddingI">
                                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!checkSchRow(schedule)}">
                                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                                               type="text" 
                                                               ng-attr-id={{"inputTIn"+$index}} 
                                                               placeholder=""  
                                                               ng-model="schedule.tIn"
                                                               data-inputmask="'alias': 'numeric'"/>
                                                    </div>
                                                </td>
                                                <td class="col-sm-3 noPaddingI">
                                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!checkSchRow(schedule)}">
                                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                                               type="text" 
                                                               ng-attr-id={{"inputTOut"+$index}}
                                                               placeholder=""  
                                                               ng-model="schedule.tOut"
                                                               data-inputmask="'alias': 'numeric'"/>
                                                    </div>
                                                </td>
                                                <td class="col-sm-2 noPaddingI">
                                                    <p ng-if="$index == (data.currentTempSch.schedules.length - 1)" 
                                                       class="btn btn-default btn-primary btn-xs"
                                                       ng-click="addSchedule(data.currentTempSch)">
                                                        Добавить
                                                    </p>
                                                </td>
                                                <td class="col-sm-1">
                                                    <i ng-if="data.currentTempSch.schedules.length > 1" 
                                                       class="btn btn-xs nmc-remove-button"                                                     
                                                       ng-click="deleteSchedule($index, data.currentTempSch.schedules)">
                                                    </i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>    
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-offset-6 col-md-3">
                        <input type="submit" 
                               class="btn btn-primary btn-block btn-xs nmc-save-button"
                                ng-click="saveTempSch(data.currentTempSch)"
                                value="Сохранить" />
                    </div>
                    <div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
                        <button class="btn btn-default btn-block btn-xs nmc-cancel-button" 
                                data-dismiss="modal"
                                ng-click="exit('#data.currentTempSch')">
                            Отменить
                        </button>
                    </div>
                </div>
            </div>		
		</div>
	</div>
</div>