<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets" aria-controls="report_settings" role="tab" data-target="#report_settings" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/program" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
      </div>
    </div>
</div>

<div class="nmc-main-workspace-header">
    <h2 class="noMargin nmc-h2">Услуги</h2>
    <hr>
</div>
<div class="btn-toolbar marginBottom10">
    <button ng-disabled="!isAdmin()" class="btn nmc-main-add-button" ng-click="editPackages()">
<!--        data-target="#editServiceListModal" data-toggle="modal">-->
        Редактировать</button>
</div>

<!-- Область с прокручиваемыми данными-->
<div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
    <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
        <tbody>
            <tr ng-repeat="pack in availablePackages">
                <td>
                    <table class="nmc-table-nowrap-data">
                        <tr ng-class="{'nmc-tr-odd':($index%2!==1)}">
                            <td class="nmc-td-for-button-checkbox">
                                <i title="Показать/Скрыть услуги" ng-attr-id={{"btnDetail"+pack.id}} class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(pack)"></i>
                                <input disabled ng-model="pack.selected" type="checkbox" class="marginRight2 nmc-checkbox-notallowed" style="vertical-align: middle; margin-right: 7px;"/>
                                
                            </td>
                            <td class="col-md-10">
                                <span class="nmc-service-package-caption" ng-attr-id={{"package"+pack.id}}>{{pack.packCaption}}
                                </span>    
                            </td>
                            <td class="col-md-1">
                                {{pack.price.priceValue}} <span ng-class="{'nmc-transparent':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>
                            </td>

                        </tr>
<!--                        <tr>-->
                        <tr ng-show="!pack.showDetailsFlag">
                            <td></td>
                            <td colspan="2" class="nmc-td-for-child-table">
<!--                                style="padding-top: 2px !important;">-->
                                <table class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-child-object-table nmc-table-nowrap-data">
                                    <tbody>
                                        <tr ng-repeat="serv in pack.serviceItems">
                                            <td class="onlyPaddingLeft5">
<!--                                                style="padding: 0 0 0 5px !important;">-->
                                                <input disabled ng-model="serv.selected" type="checkbox" class="nmc-checkbox-notallowed"/>
                                            </td>
                                            <td class="col-md-11 onlyPaddingLegt5">
<!--                                                style="padding: 0 0 0 5px !important;">-->
                                                <span class="nmc-service-package-caption" ng-attr-id={{"service"+serv.id}}>{{serv.itemCaption}}
                                                </span>
                                            </td>
                                            <td class="col-md-1">
                                                {{serv.price.priceValue}} <span ng-class="{'nmc-transparent':!serv.price.priceValue}">{{ctrlSettings.currency}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>    
                        </tr>
                    </table>
                 
                </td>
            </tr>
            <tr>
                <td>
<!--                    Подключенных объектов: {{ctrlSettings.subscriberContObjectCount}}. Сумма ежемесячного платежа: {{}}<span ng-class="{'nmc-hide':!serv.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                </td>
            </tr>
        </tbody>    
    </table>
</div>

<!--Edit account service list-->
<div id="editServiceListModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="editServiceListLabel" tabindex="-1">
	<div class="modal-dialog  modal-content nmc-modal-dialog nmc-modal-wide-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="editServiceListLabel" class="nmc-h3">
				Редактирование списка услуг
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
                        <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
                            <tbody>
                                <tr ng-repeat="pack in serviceListEdition">
                                    <td>
                                        <table class="nmc-table-nowrap-data">
                                            <tr ng-class="{'nmc-tr-odd':($index%2!==1)}">
                                                <td class="nmc-td-for-button-checkbox">
                                                    <i title="Показать/Скрыть услуги" ng-attr-id={{"btnDetail"+pack.id}} class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(pack)"></i>
                                                    <input ng-disabled="((pack.keyname=='PACK_BASE_SERVICE')&&(pack.selected==true))" ng-model="pack.selected" type="checkbox" class="marginRight2" style="vertical-align: middle; margin-right: 7px;" ng-click="packClick(pack)" ng-class="{'nmc-checkbox-notallowed': ((pack.keyname=='PACK_BASE_SERVICE')&&(pack.selected==true))}"/>

                                                </td>
                                                <td class="col-md-10">
                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editpackage"+pack.id}}>{{pack.packCaption}}
                                                    </span>    
                                                </td>
                                                <td class="col-md-1">
                                                    {{pack.price.priceValue}} <span ng-class="{'nmc-transparent':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>
                                                </td>

                                            </tr>
                    <!--                        <tr>-->
                                            <tr ng-show="!pack.showDetailsFlag">
                                                <td></td>
                                                <td colspan="2" class="nmc-td-for-child-table">
<!--                                                    style="padding-top: 2px !important;">-->
                                                    <table class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-child-object-table nmc-table-nowrap-data">
                                                        <tbody>
                                                            <tr ng-repeat="serv in pack.serviceItems">
                                                                <td class="onlyPaddingLeft5">
<!--                                                                    style="padding: 0 0 0 5px !important;">-->
                                                                    <input ng-model="serv.selected" type="checkbox" ng-disabled="pack.selected || (pack.keyname=='PACK_BASE_SERVICE')" ng-click="serviceClick(pack,serv)" ng-class="{'nmc-checkbox-notallowed': pack.selected || (pack.keyname=='PACK_BASE_SERVICE')}"/>
                                                                </td>
                                                                <td class="col-md-11 onlyPaddingLeft5">
<!--                                                                    style="padding: 0 0 0 5px !important;">-->
                                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editservice"+serv.id}}>{{serv.itemCaption}}
                                                                    </span>
                                                                </td>
                                                                <td class="col-md-1">
                                                                    {{serv.price.priceValue}} <span ng-class="{'nmc-transparent':!serv.price.priceValue}">{{ctrlSettings.currency}}</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>    
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                    </div>
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <input type="submit" class="btn btn-primary btn-xs nmc-save-button"
					ng-click="checkPackages()"
					value="Сохранить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit()">
								Отменить
			</button>				
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- confirm edition account service list-->
<div id="confirmSavingModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="editServiceListLabel" tabindex="-1">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="confirmSavingLabel" class="nmc-h3">
				Подтверждение сохранения списка услуг
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <p> Вы действительно хотите сохранить внесенные изменения?
                    </p>
<!--
                    <p> <label class="text-primary nmc-form-label">Здесь будет перечень добавляемых/удаляемых услуг</label>
                    </p>
-->
                    <div id="divWithObjectTable" class="" ng-hide="loading" style="overflow-x: auto;">
                        <div ng-show="serviceAddedList.length>0"><label class="nmc-form-label">Подключены услуги:</label></div>
                        <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
                            <tbody>
                                <tr ng-repeat="pack in serviceAddedList">
                                    <td>
                                        <table class="">
                                            <tr ng-class="{'nmc-tr-odd':($index%2!==1)}">
                                                <td class="nmc-td-for-button">
                                                    <i title="Показать/Скрыть услуги" ng-attr-id={{"btnDetail"+pack.id}} class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(pack)"></i>
                                                </td>
                                                <td class="col-md-10 noPadding">
                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editpackage"+pack.id}}>{{pack.packCaption}}
                                                    </span>    
                                                </td>

                    <!--
                                                <td class="col-md-7">
                                                    {{pack.packDescription}}
                                                </td>
                    -->
                                                <td class="col-md-1">
<!--                                                    {{pack.price.priceValue}} <span ng-class="{'nmc-hide':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                                                </td>

                                            </tr>
                    <!--                        <tr>-->
                                            <tr ng-show="!pack.showDetailsFlag">
                                                <td></td>
                                                <td colspan="2" class="nmc-td-for-child-table">
<!--                                                    style="padding-top: 2px !important;">-->
                                                    <table class="crud-grid table table-lighter table-condensed table-hover nmc-child-object-table nmc-table-nowrap-data">
                                                        <tbody>
                                                            <tr ng-repeat="serv in pack.serviceItems">
                                                                <td class="onlyPaddingLeft5">
<!--                                                                    style="padding: 0 0 0 5px !important;">-->
                                                                </td>
                                                                <td class="col-md-11 onlyPaddingLeft15">
<!--                                                                    style="padding: 0 0 0 15px !important;">-->
                                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editservice"+serv.id}}>{{serv.itemCaption}}
                                                                    </span>
                                                                </td>
                    <!--
                                                                <td class="col-md-5">
                                                                    {{serv.itemDescription}}
                                                                </td>
                    -->
                                                                <td class="col-md-1">
<!--                                                                    {{serv.price.priceValue}} <span ng-class="{'nmc-hide':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>    
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                        
                        <div ng-show="serviceRemovedList.length>0"><label class="nmc-form-label">Отключены услуги:</label></div>
                        <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
                            <tbody>
                                <tr ng-repeat="pack in serviceRemovedList">
                                    <td>
                                        <table class="">
                                            <tr ng-class="{'nmc-tr-odd':($index%2!==1)}">
                                                <td class="nmc-td-for-button">
                                                    <i title="Показать/Скрыть услуги" ng-attr-id={{"btnDetail"+pack.id}} class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(pack)"></i>

                                                </td>
                                                <td class="col-md-10 noPadding">
                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editpackage"+pack.id}}>{{pack.packCaption}}
                                                    </span>    
                                                </td>
                                                <td class="col-md-1">
<!--                                                    {{pack.price.priceValue}} <span ng-class="{'nmc-hide':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                                                </td>

                                            </tr>
                    <!--                        <tr>-->
                                            <tr ng-show="!pack.showDetailsFlag">
                                                <td></td>
                                                <td colspan="2" class="nmc-td-for-child-table">
<!--                                                    style="padding-top: 2px !important;">-->
                                                    <table class="crud-grid table table-lighter table-condensed table-hover nmc-child-object-table nmc-table-nowrap-data">
                                                        <tbody>
                                                            <tr ng-repeat="serv in pack.serviceItems">
                                                                <td class="onlyPaddingLeft5">
<!--                                                                    style="padding: 0 0 0 5px !important;">-->
                                                                </td>
                                                                <td class="col-md-11 onlyPaddingLeft15">
<!--                                                                    style="padding: 0 0 0 15px !important;">-->
                                                                    <span class="nmc-service-package-caption" ng-attr-id={{"editservice"+serv.id}}>{{serv.itemCaption}}
                                                                    </span>
                                                                </td>
                                                                <td class="col-md-1">
<!--                                                                    {{serv.price.priceValue}} <span ng-class="{'nmc-hide':!pack.price.priceValue}">{{ctrlSettings.currency}}</span>-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>    
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                        
                    </div>
                    <div>
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                    </div>
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <input ng-disabled = "(confirmCode!=sumNums && !isSystemuser())" type="submit" class="btn btn-primary btn-xs nmc-save-button"
					ng-click="savePackages()"
					value="Сохранить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit()">
								Отменить
			</button>	
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>