<div  ng-show="loading" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        <li id="clients_edit_2nd_menu_item" role="presentation" class="active" ><a class="nmc-main-tab-button" href="" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="data_sources_2nd_menu_item" role="presentation" class=""><a id="datasourcesTab" class="nmc-main-tab-button" href="#/management/datasources/" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class=""><a id="devicesTab" class="nmc-main-tab-button" href="#/management/devices/" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a>  

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="datasourcesTab">
      </div>
    </div>
</div>  