<div  ng-show="loading" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        <li id="clients_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/clients/" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="data_sources_2nd_menu_item" role="presentation" class=""><a id="datasourcesTab" class="nmc-main-tab-button" href="#/management/datasources/" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class="active"><a id="devicesTab" class="nmc-main-tab-button" href="" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a>           </li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="devicesTab">
      </div>
    </div>
</div>

<div class="btn-toolbar marginBottom10">
    <button class="btn nmc-main-add-button" ng-click="addDevice()">Добавить прибор</button>
</div>

<!--    Непрокручиваямая шапка -->
<table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
        <tr class="nmc-main-table-header">
            <th class="col-md-1 nmc-td-for-button">

            </th>

            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    s/n
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-4" ng-click="setOrderBy(column.name)">
                <div>
                    Объект
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Модель
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>

            <th class="col-md-3">
            </th>
        </tr>
</table>

<div class="nmc-data-sources-main-div">
    <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table">
        <tr class="nmc-main-table-header nmc-hide">
            <th class="col-md-1 nmc-td-for-button">

            </th>

            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    s/n
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-4" ng-click="setOrderBy(column.name)">
                <div>
                    Объект
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Модель
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>

            <th class="col-md-3">
            </th>
        </tr>

        <tr ng-repeat="device in data.devices | orderBy:orderBy.field:!orderBy.asc | filter: filter" >
            <td class="nmc-td-for-button">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i title="Редактировать свойства прибора" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="editDevice(device)"></i>
                    </div>
                </div>
            </td>

            <td class="col-md-2">
                <div><span ng-class="">{{device.number}}</span>
                </div>
            </td>
            <td class="col-md-4">
                    <span>{{device.contObjectInfo.fullName}}</span>
            </td>
            <td class="col-md-2">
                <div><span ng-class="">{{device.deviceModel.modelName}}<span ng-show="isSystemuser()"> (id = {{device['id']}})</span></span>
                </div>
            </td>

            <td class="col-md-3">
                <div class="btn-toolbar">
                    <div class="btn-group pull-right">                   
                        <i title="Удалить прибор" class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" ng-click="selectedItem(device)" data-target="#deleteObjectModal" data-toggle="modal"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Show data source options-->
<div id="showDeviceModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showDeviceLabel" tabindex="-1">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showDeviceLabel" class="nmc-h3">
				Прибор
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="inputMode">s/n</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left"><input class="form-control nmc-text-input-form" type="text" id="inputSn" placeholder="Серийный номер"  ng-model="data.currentObject.number">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Модель</label>
                                </td>
                                <td class="nmc-text-align-left col-sm-9"><select class="form-control nmc-select-form" id="inputType" ng-model="data.currentObject.deviceModelId" ng-options="model.id as model.modelName for model in data.deviceModels">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Объект</label>
                                </td>
<!--
                                <td>
                                      <ui-select ng-model="contObject.selected" theme="bootstrap" style="min-width: 300px;">
                                        <ui-select-match placeholder="Объект учета">{{$select.selected.fullName}}</ui-select-match>
                                        <ui-select-choices repeat="contObject in data.objects | propsFilter: {fullName: $select.search}">
                                          <div ng-bind-html="contObject.fullName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                      </ui-select>
                                </td>
-->
                                <td class="nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':data.currentObject.contObjectId==null}">
                                        <select class="form-control nmc-select-form" id="inputContObject" ng-model="data.currentObject.contObjectId" ng-options="contObject.id as (contObject.fullName || contObject.id) for contObject in data.objects">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputDescription" >Источник данных</label>
                                </td>
                                <td class="nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':data.currentObject.subscrDataSourceId==null}">
                                        <select class="form-control nmc-select-form" id="inputDataSource" ng-model="data.currentObject.subscrDataSourceId" ng-options="source.id as (source.dataSourceName || source.id) for source in data.dataSources" ng-change="deviceDatasourceChange()">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="data.currentObject.curDatasource.dataSourceType.isRaw==true">
                                <td><label for="inputDescription" >Адрес прибора</label>
                                </td>
                                <td class="nmc-text-align-left">
                                    <input class="form-control nmc-text-input-form" type="text" id="inputAddr" placeholder="" ng-model="data.currentObject.subscrDataSourceAddr"/>
                                </td>
                            </tr>
                            <tr ng-if="data.currentObject.curDatasource.dataSourceType.isDbTablePair==true">
                                <td><label for="inputDescription" >Таблица часовых данных</label>
                                </td>
                                <td class="nmc-text-align-left">
                                    <input class="form-control nmc-text-input-form" type="text" id="inputTable1h" placeholder="" ng-model="data.currentObject.dataSourceTable1h"/>
                                </td>
                            </tr>
                            <tr ng-if="data.currentObject.curDatasource.dataSourceType.isDbTablePair==true">
                                <td><label for="inputDescription" >Таблица суточных данных</label>
                                </td>
                                <td class="nmc-text-align-left">
                                    <input class="form-control nmc-text-input-form" type="text" id="inputTable24h" placeholder="" ng-model="data.currentObject.dataSourceTable24h"/>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="saveDevice(data.currentObject)"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- window: delete device-->
<div id="deleteObjectModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{data.currentObject.number || data.currentObject.id}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deleteObject(data.currentObject);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#deleteObject');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>