<div  ng-show="loading" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        
        <li id="data_sources_2nd_menu_item" role="presentation" class="active"><a id="datasourcesTab" class="nmc-main-tab-button" href="" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class=""><a id="devicesTab" class="nmc-main-tab-button" href="#/management/devices/" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a>           </li>
        <li ng-if="isSystemuser()"
            ng-hide="isTestMode()"
            id="modems_edit_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/management/modems/" 
               aria-controls="modems" 
               role="tab" 
               data-target="#modems" 
               data-toggle="tab">Модемы
            </a>
        </li>
        <li id="organizations_edit_2nd_menu_item" role="presentation" class="">
            <a class="nmc-main-tab-button" 
               href="#/management/organizations/" 
               aria-controls="organizations" 
               role="tab" 
               data-target="#organizations" 
               data-toggle="tab">Организации
            </a>
        </li>
        <li id="clients_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/clients/" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/users/" aria-controls="users" role="tab" data-target="#users" data-toggle="tab">Пользователи</a></li>
        <li id="users_edit_2nd_menu_item" ng-hide="isTestMode()" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/price/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Прайс-листы</a></li>
        <li id="temperature_schedules_2nd_menu_item" ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/management/temp-sch/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Температурные графики</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="datasourcesTab">
      </div>
    </div>
</div>

<div class="btn-toolbar marginBottom10">
    <button class="btn nmc-main-add-button" ng-click="addDatasource()">Добавить источник данных</button>
</div>
<!--    Непрокручиваямая шапка -->
<table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
        <tr class="nmc-main-table-header">
            <th class="col-md-1 nmc-td-for-button">

            </th>

            <th class="col-md-4" ng-click="setOrderBy(column.name)">
                <div>
                    Название
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Тип
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    IP \ Hostname
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Порт
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-1">
            </th>
        </tr>
</table>

<div class="nmc-data-sources-main-div">
    <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table">
        <tr class="nmc-main-table-header nmc-hide">
            <th class="col-md-1 nmc-td-for-button">

            </th>

            <th class="col-md-4" ng-click="setOrderBy(column.name)">
                <div>
                    Название
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Тип
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    IP \ Hostname
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-2" ng-click="setOrderBy(column.name)">
                <div>
                    Порт
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                </div>
            </th>
            <th class="col-md-1">
            </th>
        </tr>

        <tr ng-repeat="dataSource in data.dataSources | filter: filter" >
            <td class="nmc-td-for-button">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i title="Редактировать источник данных" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="editDatasource(dataSource)"></i>
                    </div>
                </div>
            </td>
            <td class="col-md-4">
                <div><span ng-class="">{{dataSource.dataSourceName || "Без названия"}}<span ng-show="isSystemuser()"> (id = {{dataSource['id']}})</span></span>
                </div>
            </td>
            <td class="col-md-2">
                <div><span ng-class="">{{dataSource.dataSourceType.caption}}</span>
                </div>
            </td>
            <td class="col-md-2">
                    <span>{{dataSource.dataSourceIp}}</span>
            </td>
            <td class="col-md-2">
                    <span>{{dataSource.dataSourcePort}}</span>
            </td>
            <td class="col-md-1">
                <div class="btn-toolbar">
                    <div class="btn-group pull-right">                   
                        <i title="Удалить источник данных" class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" ng-click="deleteObjectInit(dataSource)" data-target="#deleteObjectModal" data-toggle="modal"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Show data source options-->
<div id="showDatasourceModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showDatasourceLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showDatasourceLabel" class="nmc-h3">
				Источник данных
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div role="tabpanel" 
                 class="nmc-tab-panel">
              <!-- Навигационная полоса для варианта отчета-->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" 
                    class="active" 
                    id="main_properties_tab">
                    <a class="nmc-tab-button" 
                       href="" 
                       aria-controls="main_properties" 
                       data-target="#main_properties" 
                       role="tab" 
                       data-toggle="tab" 
                       ng-click="">Основные свойства
                    </a>
                  </li>
                <li role="presentation" 
                    id="con_properties_tab"                                         
                    > 
                    <a class="nmc-tab-button"
                       href="" 
                       aria-controls="con_properties" 
                       data-target="#con_properties" 
                       role="tab" 
                       data-toggle="tab" 
                       >Параметры подключения
                    </a>
                  </li>
                  <li role="presentation" 
                    id="ex_properties_tab"                                         
                    > 
                    <a class="nmc-tab-button"
                       href="" 
                       aria-controls="ex_properties" 
                       data-target="#ex_properties" 
                       role="tab" 
                       data-toggle="tab" 
                       >Дополнительные параметры
                    </a>
                  </li>                  
              </ul>

              <!-- реализация вкладок -->
              <div class="tab-content">
            <!--      Основные свойства-->
                <div role="tabpanel" 
                     class="tab-pane fade in active" 
                     id="main_properties">
                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                                    <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                                        <tr>
                                            <td class="col-xs-3 col-sm-3"><label for="inputDataSourceMode">Тип</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <select class="form-control nmc-select-form" 
                                                        id="inputDataSourceMode" 
                                                        ng-model="data.currentObject.dataSourceTypeKey" 
                                                        ng-options="dtype.keyname as dtype.caption for dtype in data.dataSourcesTypes">
                                                </select>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td class="col-sm-3"><label for="inputAddress">Режим</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <select class="form-control nmc-select-form" 
                                                        id="inputDeviceMode" 
                                                        ng-model="data.currentObject.rawConnectionType" 
                                                        ng-options="dmode.keyname as dmode.caption for dmode in ctrlSettings.DEVICE_MODES">
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-3"><label for="inputName">Наименование</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <div id="divInputName" class="form-group noMarginBottom" 
                                                     ng-class="{'has-error':(!data.currentObject.dataSourceName||(data.currentObject.dataSourceName==''))}">
                                                    <input class="form-control nmc-text-input-form" 
                                                           type="text" 
                                                           id="inputName"
                                                           placeholder="Наименование"  
                                                           ng-model="data.currentObject.dataSourceName">
                                                </div>    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-3"><label for="inputDescription" >Описание</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <textarea class="form-control nmc-textarea-form" 
                                                          id="inputDescription" 
                                                          placeholder="Описание" 
                                                          ng-model="data.currentObject.dataSourceDescription">
                                                </textarea>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </div>    
                            </div>  
                        </div> 
                  </div>
                  <div role="tabpanel" 
                     class="tab-pane fade" 
                     id="con_properties">
                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                                    <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                                        <tr ng-if="data.currentObject.dataSourceTypeKey != 'DEVICE' || data.currentObject.rawConnectionType != 'CLIENT'">
                                            <td class="col-sm-3"><label for="inputThv">IP \ Hostname</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
            <!--                                    <div id="divInputIp" class="form-group noMarginBottom" ng-class="{'has-error':!ctrlSettings.inputIpComplete}">-->
                                                <div id="divInputIp" 
                                                     class="form-group noMarginBottom" 
                                                     ng-class="{'has-error':(!data.currentObject.dataSourceIp||(data.currentObject.dataSourceIp==''))}">
                                                    <input class="form-control nmc-text-input-form" 
                                                           type="text" 
                                                           id="inputIP" 
                                                           placeholder="" 
                                                           ng-model="data.currentObject.dataSourceIp"/> 
                                                </div>
                                            </td>                               
                                        </tr>                           
                                        <tr ng-if="data.currentObject.dataSourceTypeKey != 'DEVICE' || data.currentObject.rawConnectionType != 'CLIENT'">
                                            <td class="col-sm-3"><label for="inputSquare">Порт</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.dataSourcePort)}">
                                                <input class="form-control nmc-input-digital-data nmc-text-input-form" type="text" id="inputPort" placeholder="" ng-model="data.currentObject.dataSourcePort">
                                                </div>        
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE' && data.currentObject.rawConnectionType == 'CLIENT'">
                                            <td class="col-sm-4">
                                                <label for="inputMode">Модель</label>
                                            </td>
                                            <td colspan="2" 
                                                class="nmc-text-align-left col-sm-8">
                                                <div class="form-group noMarginBottom" 
                                                     ng-class="{'has-error': !data.currentObject.rawModemModelId}">
                                                    <select class="form-control nmc-select-form" 
                                                        id="inputDeviceMode" 
                                                        ng-model="data.currentObject.rawModemModelId" 
                                                        ng-options="smodel.id as smodel.rawModemModelName for smodel in data.rawModemModels"
                                                        ng-change="changeModemModel()"
                                                            >
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE' && data.currentObject.rawConnectionType == 'CLIENT' && data.currentObject.rawModemIdentity == 'SERIAL_NR'">
                                            <td class="col-sm-4">
                                                <label for="inputMode">Серийный номер</label>
                                            </td>
                                            <td colspan="2" 
                                                class="nmc-text-align-left col-sm-8">
                                                <div class="form-group noMarginBottom" 
                                                     ng-class="{'has-error': !data.currentObject.rawModemSerial}">
                                                    <input class="form-control nmc-text-input-form" 
                                                        id="inputClientNumber" 
                                                        ng-model="data.currentObject.rawModemSerial" 
                                                        />
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE' && data.currentObject.rawConnectionType == 'CLIENT' && data.currentObject.rawModemIdentity == 'MAC_ADDR'">
                                            <td class="col-sm-4">                                                
                                                <label for="inputClientMac">MAC-адрес</label>
                                            </td>
                                            <td colspan="2" 
                                                class="nmc-text-align-left col-sm-8">
                                                <div class="form-group noMarginBottom" 
                                                     ng-class="{'has-error': !data.currentObject.rawModemMacAddr}">                        <input class="form-control nmc-text-input-form" 
                                                        id="inputClientMac" 
                                                        ng-model="data.currentObject.rawModemMacAddr"                                   ui-mask="MM-MM-MM-MM-MM-MM" 
                                                        ui-mask-placeholder ui-mask-placeholder-char="_"                             
                                                        />
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE' && data.currentObject.rawConnectionType == 'CLIENT' && data.currentObject.rawModemIdentity == 'IMEI'">
                                            <td class="col-sm-4">                                                
                                                <label for="inputClientMac">IMEI</label>
                                            </td>
                                            <td colspan="2" 
                                                class="nmc-text-align-left col-sm-8">
                                                <div class="form-group noMarginBottom" 
                                                     ng-class="{'has-error': !data.currentObject.rawModemImei}">                        <input class="form-control nmc-text-input-form" 
                                                        id="inputClientMac" 
                                                        ng-model="data.currentObject.rawModemImei" ui-mask="99-999999-999999-9" 
                                                        ui-mask-placeholder ui-mask-placeholder-char="_"                             
                                                        />
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE' && data.currentObject.rawConnectionType == 'CLIENT' && data.currentObject.rawModemDialupAvailable == true">
                                            <td class="col-sm-4">
                                                <input type="checkbox" ng-model="data.currentObject.rawModemDialEnable"/>
                                                <label for="inputMode">Поддержка дозвона</label>
                                            </td>
                                            <td colspan="2" 
                                                class="nmc-text-align-left col-sm-8">
                                                <div class="form-group noMarginBottom pull-right" 
                                                     ng-class="{'has-error': data.currentObject.rawModemDialEnable == true && !data.currentObject.rawModemDialTel}">
                                                    <label>Номер</label>
<!--
                                                    <input class="form-control nmc-text-input-form nmc-input-data-with-label" 
                                                        id="inputClientNumber" 
                                                        ng-model="data.currentObject.rawModemDialTel" 
                                                        ng-disabled="!data.currentObject.rawModemDialEnable"
                                                        />
-->
                                                    <input type="text"
                                                           class="form-control nmc-text-input-form nmc-input-data-with-label" 
                                                           id="inputClientNumber"
                                                           ng-model="data.currentObject.rawModemDialTel" 
                                                           ui-mask="(999)999-9999" 
                                                           ui-mask-placeholder ui-mask-placeholder-char="_"
                                                           ng-disabled="!data.currentObject.rawModemDialEnable"
                                                           />
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                      </div>
                  </div>
                  <div role="tabpanel" 
                     class="tab-pane fade" 
                     id="ex_properties">
                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                                    <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                                        <tr ng-if="data.currentObject.dataSourceTypeKey != 'DEVICE'">
                                            <td class="col-sm-3"><label for="inputAddress">База данных</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <input class="form-control nmc-text-input-form pull-right"  
                                                       type="text" 
                                                       id="inputDB" 
                                                       placeholder="" 
                                                       ng-model="data.currentObject.dbName">
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey != 'DEVICE'">
                                            <td class="col-sm-3"><label for="inputCC">Логин</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <input class="form-control nmc-text-input-form nmc-input-data pull-right" 
                                                       type="text" 
                                                       ng-model="data.currentObject.dbUser">
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey != 'DEVICE'">
                                            <td class="col-sm-3"><label for="inputMode">Пароль</label>
                                            </td>
                                            <td colspan="2" class="nmc-text-align-left">
                                                <input class="form-control nmc-text-input-form nmc-input-data pull-right" 
                                                       type="text" 
                                                       ng-model="data.currentObject.dbPassword">
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td colspan="2" class="col-sm-9"><label for="inputMode">Время ожидания ответа, сек</label>
                                            </td>
                                            <td class="nmc-text-align-left col-sm-3">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.rawTimeout)}">
                                                    <input class="form-control nmc-text-input-form nmc-input-digital-data pull-right"
                                                           id="inputDSTimeout"
                                                           data-inputmask="'alias':'numeric', 'greedy': false"
                                                           type="text" 
                                                           ng-model="data.currentObject.rawTimeout">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td colspan="2" class="col-sm-9"><label for="inputMode">Интервал проверки получения ответа, мс</label>
                                            </td>
                                            <td class="nmc-text-align-left col-sm-3">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.rawSleepTime)}">
                                                    <input class="form-control nmc-text-input-form nmc-input-digital-data pull-right"
                                                           id="inputDSCheckInterval"
                                                           data-inputmask="'alias':'numeric', 'greedy': false"
                                                           type="text" 
                                                           ng-model="data.currentObject.rawSleepTime">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td colspan="2" class="col-sm-9"><label for="inputMode">Количество попыток переотправки пакета</label>
                                            </td>
                                            <td class="nmc-text-align-left col-sm-3">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.rawResendAttempts)}">
                                                    <input class="form-control nmc-text-input-form nmc-input-digital-data pull-right"
                                                           id="inputDSRepeatCount"
                                                           data-inputmask="'alias':'numeric', 'greedy': false"
                                                           type="text" 
                                                           ng-model="data.currentObject.rawResendAttempts">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td colspan="2" class="col-sm-9">
                                                <label for="inputMode">Количество переподключений в случае ошибки</label>
                                            </td>
                                            <td class="nmc-text-align-left col-sm-3">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.rawReconnectAttempts)}">
                                                    <input class="form-control nmc-text-input-form nmc-input-digital-data pull-right"
                                                           id="inputDSReconnectionCount"
                                                           data-inputmask="'alias':'numeric', 'greedy': false"
                                                           type="text" 
                                                           ng-model="data.currentObject.rawReconnectAttempts">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="data.currentObject.dataSourceTypeKey == 'DEVICE'">
                                            <td colspan="2" class="col-sm-9">
                                                <label for="inputMode">Пауза между переподключениями, сек</label>
                                            </td>
                                            <td class="nmc-text-align-left col-sm-3">
                                                <div class="form-group noMarginBottom" ng-class="{'has-error':!checkPositiveNumberValue(data.currentObject.rawReconnectTimeout)}">
                                                    <input class="form-control nmc-text-input-form nmc-input-digital-data pull-right"
                                                           id="inputDSReconnectionInterval"
                                                           data-inputmask="'alias':'numeric', 'greedy': false"
                                                           type="text" 
                                                           ng-model="data.currentObject.rawReconnectTimeout">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                      </div>
                  </div>
                  
                </div>
            </div>
            
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="saveDatasource(data.currentObject)"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>

<!-- window: delete data source-->
<div id="deleteObjectModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1" data-backdrop="static">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{data.currentObject.dataSourceName || data.currentObject.id}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
                <div class="marginLeft15">
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                </div>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deleteObject(data.currentObject);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#deleteObject');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>		
	</div>
</div>