<div  ng-show="loading" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="objects_edit_2nd_menu_item" role="presentation" class=""><a id="objectsTab" class="nmc-main-tab-button" href="#/management/objects/" aria-controls="objects" data-target="#objects" role="tab" data-toggle="tab">Объекты</a></li>
<!--        ng-class="{'nmc-show':objectCtrlSettings.mapAccess, 'nmc-hide':!objectCtrlSettings.mapAccess}"-->
        <li id="data_sources_2nd_menu_item" role="presentation" class=""><a id="datasourcesTab" class="nmc-main-tab-button" href="#/management/datasources/" aria-controls="datasources" data-target="#datasources" role="tab" data-toggle="tab">Источники данных</a>           </li>
        <li id="devices_2nd_menu_item" role="presentation" class=""><a id="devicesTab" class="nmc-main-tab-button" href="#/management/devices/" aria-controls="devices" data-target="#devices" role="tab" data-toggle="tab">Приборы</a></li>
        <li ng-if="isSystemuser()"
            ng-hide="isTestMode()"
            id="modems_edit_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/management/modems/" 
               aria-controls="modems" 
               role="tab" 
               data-target="#modems" 
               data-toggle="tab">Модемы
            </a>
        </li>
        <li ng-if="isSystemuser()"
            ng-hide="isTestMode()"
            id="modems_edit_2nd_menu_item" role="presentation">
            <a class="nmc-main-tab-button" 
               href="#/management/device-models/" 
               aria-controls="device-models" 
               role="tab" 
               data-target="#device-models" 
               data-toggle="tab">Модели приборов
            </a>
        </li>        
        <li id="organizations_edit_2nd_menu_item" role="presentation" class="" >
            <a class="nmc-main-tab-button" 
               href="#/management/organizations/" 
               aria-controls="organizations" 
               role="tab" 
               data-target="#organizations" 
               data-toggle="tab">Организации
            </a>
        </li>
        <li id="clients_edit_2nd_menu_item" role="presentation" class="active" ><a class="nmc-main-tab-button" href="" aria-controls="clients" role="tab" data-target="#clients" data-toggle="tab">Абоненты</a></li>
        <li id="users_edit_2nd_menu_item" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/users/" aria-controls="users" role="tab" data-target="#users" data-toggle="tab">Пользователи</a></li>
        <li id="users_edit_2nd_menu_item" ng-hide="isTestMode()" role="presentation" class="" ><a class="nmc-main-tab-button" href="#/management/price/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Прайс-листы</a></li>
        <li id="temperature_schedules_2nd_menu_item" ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/management/temp-sch/" aria-controls="price" role="tab" data-target="#price" data-toggle="tab">Температурные графики</a></li>
        <li ng-hide="isTestMode()"
            id="meter_period_setting_2nd_menu_item" 
            role="presentation"
            class="">
            <a class="nmc-main-tab-button"  
               href="#/management/meter-period-setting/" 
               aria-controls="meter-period-setting" 
               role="tab" 
               data-target="#meter-period-setting" 
               data-toggle="tab">Настройка отчетных периодов
            </a>
        </li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="clientsTab">
      </div>
    </div>
</div>  
<div class="btn-toolbar marginBottom10">
    <button class="btn nmc-main-add-button" ng-click="addClient()">Добавить абонента</button>
</div>
<!--    Непрокручиваямая шапка -->
<table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
        <tr class="nmc-main-table-header">
            <th class="col-md-1 nmc-td-for-buttons">

            </th>
            <th ng-repeat="column in ctrlSettings.clientColumns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                {{column.caption}}
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
            </th>
            <th class="col-md-1">
            </th>
        </tr>
</table>

<div class="nmc-data-sources-main-div">
    <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table">
        <tr class="nmc-main-table-header nmc-hide">
            <th class="col-md-1 nmc-td-for-buttons">

            </th>
            <th ng-repeat="column in ctrlSettings.clientColumns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                {{column.caption}}
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
            </th>
            <th class="col-md-1">
            </th>
        </tr>

        <tr ng-repeat="client in data.clients | orderBy:orderBy.field:!orderBy.asc | filter: filter" >
            <td class="nmc-td-for-buttons">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i title="Редактировать абонента" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="selectedItem(client)" data-target="#showClientOptionModal" data-toggle="modal"></i>
                        <i title="Связанные объекты" class="btn btn-xs glyphicon glyphicon-th-list nmc-button-in-table" ng-click="editObjectList(client)" data-target="#showObjectListModal" data-toggle="modal"></i>
<!--                        <i title="Абонентский прайс" class="btn btn-xs glyphicon glyphicon-usd nmc-button-in-table" ng-click="" data-target="" data-toggle="modal"></i>-->
                    </div>
                </div>
            </td>
            <td ng-repeat="column in ctrlSettings.clientColumns" ng-class="column.class">
                <div ng-switch on="column.name">
                    <span ng-switch-when="subscriberName" ng-class="">{{client[column.name] || "Без названия"}}<span ng-show="isSystemuser()"> (id = {{client['id']}})</span></span>
                    <span ng-switch-default >
                        {{client[column.name]}}
                    </span>
                </div>
            </td>

            <td class="col-md-1">
                <div class="btn-toolbar">
                    <div class="btn-group pull-right">                   
                        <i title="Удалить абонента" class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" ng-click="deleteObjectInit(client)" data-target="#deleteClientModal" data-toggle="modal"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Show client options-->
<div id="showClientOptionModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showClientOptionLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showClientOptionLabel" class="nmc-h3">
				Абонент
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Наименование</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentClient.subscriberName>'')}">
                                        <input class="form-control nmc-text-input-form" type="text" id="inputName" placeholder="Наименование"  ng-model="data.currentClient.subscriberName"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputDescription" >Информация</label>
                                </td>
                                <td class="nmc-text-align-left"><textarea class="form-control nmc-textarea-form" id="inputDescription" placeholder="Информация" ng-model="data.currentClient.info"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Комментарий</label>
                                </td>
                                <td class="nmc-text-align-left"><textarea class="form-control nmc-textarea-form" id="inputComment" placeholder="Комментарий" ng-model="data.currentClient.comment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputCC">Организация</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
<!--                                    <input disabled class="form-control nmc-text-input-form" type="text" ng-model="data.currentClient._activeContManagement.organization.organizationName">-->
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!data.currentClient.organizationId}">
                                        <select class="form-control nmc-select-form" id="inputCm" ng-model="data.currentClient.organizationId" ng-options="cmOrg.id as cmOrg.organizationName for cmOrg in data.organizations">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMode">Часовой пояс</label>
                                </td>
                                <td class="nmc-text-align-left col-sm-9">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!data.currentClient.timezoneDefKeyname}">
                                        <select class="form-control nmc-input-data nmc-select-form" id="inputMode" ng-model="data.currentClient.timezoneDefKeyname" ng-options="timezone.keyname as timezone.caption for timezone in data.timezones">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="col-sm-12">
                                   <input type="checkbox" class="nmc-checkbox-form" ng-model="data.currentClient.canCreateChild">Разрешить создавать пользователей (наблюдателей) объектов учета.
                                </td>                                
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="sendClientToServer(data.currentClient)"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentClient')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- window: delete client-->
<div id="deleteClientModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteClientLabel" tabindex="-1" data-backdrop="static">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteClientLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{data.currentClient.subscriberName || data.currentClient.id}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
                <div class="marginLeft15">
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                </div>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
<!--                            -->
							<input ng-disabled = "(confirmCode!=sumNums && !isSystemuser())" type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deleteObject(data.currentClient);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentClient');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- Client's object list-->
<div id="showObjectListModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showObjectListLabel" tabindex="-1" data-backdrop="static">
    
    <div class="col-md-2"></div> 
    <div class="modal-sm col-md-2 col-sm-2" ng-class="{'nmc-hide':showAvailableObjects_flag, 'nmc-show':!showAvailableObjects_flag}"></div>
    <div class="modal-dialog modal-content modal-sm col-md-2 col-sm-2 noPadding nmc-modal-dialog nmc-hide" ng-class="{'nmc-hide':!showAvailableObjects_flag, 'nmc-show':showAvailableObjects_flag}">
            <div class="modal-header nmc-modal-header">
                <h3 class="nmc-h3">{{headers.addObjects}}</h3>
            </div>
            <div class="modal-body nmc-modal-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="noPaddingBottom marginBottom10 nmc-modal-panel-with-table nmc-object-list" style="">
                                    <table id="table_objects_in_window" class = "table table-striped table-condensed table-hover nmc-modal-table-with-chkbx">
                                        <tr ng-repeat="object in availableEntities">
                                            <td><input type="checkbox" ng-model="object.selected" class="nmc-checkbox-form"/>{{object.fullName || object.contGroupName}}
                                            </td>
                                        </tr>
                                    </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer nmc-modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 noPadding">
                            <input class="pull-left nmc-checkbox-form" ng-model="ctrlSettings.selectedAll" type="checkbox" ng-click="selectAllAvailableEntities()"/><p style="margin-bottom: 0;
    margin-top: 3px;">Выбрать все</p>
                        </div>
                        <div class="col-xs-offset-1 col-md-3 noPadding">
<!--                            <input type="submit"-->
                            <p  class="btn btn-block btn-xs nmc-add-button-in-modal"

                                ng-click="addSelectedEntities()"
                                value="Добавить" >
                                Добавить
                            </p>
                        </div>

                        <div class=" pull-right col-xs-offset-1 col-md-3 noPadding">
                            <button class="btn btn-default btn-block btn-xs nmc-cancel-button glyphicon glyphicon-chevron-right"
                                ng-click="showAvailableObjects_flag=false">
                                
                            </button>
                        </div>

                    </div>
                </div>		
            </div>

    </div>
    
	<div class="modal-dialog  modal-content col-md-7 col-xs-7 noPadding nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="objectListLabel" class="nmc-h3">
				Список объектов абонента (всего объектов: {{selectedObjects.length}}) 
			</h3>
		</div>
		<div class="modal-body paddingLeftRight15 nmc-modal-body"> 
                    <div class="container-fluid noPadding">
                        <div class="row-fluid">
<!--                            <div class="col-md-12 nmc-modal-panel-with-objects-tp nmc-modal-panel-with-table" id="object_list">-->
                            <div class="col-md-12 marginBottom10 nmc-modal-panel-with-table nmc-object-list noPadding" >
                                    <table class="table table-condensed table-striped nmc-modal-table-with-chkbx" >
                                        <tr ng-repeat="object in selectedObjects">
                                            <td class="col-md-11">
                                                {{object.fullName}}
                                            </td>
                                            <td class="col-md-1"><button ng-disabled="isDisabled()" class="btn btn-xs nmc-remove-button" ng-click="removeSelectedObject(object)"></button>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid ">
					<div class="row">
                        <div class=" col-md-3">
<!--                             <button class="btn btn-xs nmc-add-button-in-modal" ng-click="showAvailableObjects_flag=!showAvailableObjects_flag;" ng-class="{'nmc-show':showAddObjectButton(), 'nmc-hide':!showAddObjectButton()}">Добавить объекты</button>-->
                            <div class="btn-group">
                              <button title="Добавить объекты" type="button" class="btn btn-xs nmc-add-button-in-modal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                                      ng-click="prepareObjectsList()"
                                      ng-class="{'nmc-show':showAddObjectButton(), 'nmc-hide':!showAddObjectButton()}">
                                  Добавить объекты
<!--                                <span class="caret"></span>-->
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="" ng-click="viewAvailableObjects(false);">Из списка объектов</a></li>
                                <li><a href="" ng-click="viewAvailableObjects(true);">Из группы объектов</a></li> 
                              </ul>
                            </div>
                        </div>
                        <div class="col-xs-offset-3 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="saveObject()"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noPadding noMargin">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#currentClient')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>