<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ><a id="monitorTab" class="nmc-main-tab-button" href="#/notices/monitor/" aria-controls="monitor" data-target="#monitor" role="tab" data-toggle="tab">Монитор</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/notices/list" aria-controls="notices" role="tab" data-target="#notices" data-toggle="tab">Уведомления</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="monitor_map" role="tab" data-target="#monitor_map" data-toggle="tab">Карта</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="monitor">
      </div>
    </div>
</div>


<!--
<div class="nmc-map-monitor" id="map">
    
</div>
-->
<!--
<div><span context-menu data-target="menu-{{ $index }}" id="">Ntest context menu</span>
</div>
<div context-menu class="panel panel-default position-fixed"
     data-target="menu-{{ $index }}">
  test context menu
</div>
-->
<leaflet class="nmc-map-monitor" center="mapCenter" tiles="currentTile" markers="markers"></leaflet>


<div class="dropdown position-fixed" id="menu-{{ $index }}">
  <ul class="dropdown-menu" role="menu">
    <li>
      <a class="pointer" role="menuitem" tabindex="1">
<!--         ng-click="getNoticesByObjectAndType(objId, typeId)">-->
         Открыть в новой вкладке {{$index+1}}
      </a>
    </li>
    
  </ul>
</div>