<div id="monitor_map_page">
<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li id="monitor_2nd_menu_item" role="presentation" class="nmc-hide"><a id="monitorTab" class="nmc-main-tab-button" href="#/notices/monitor/" aria-controls="monitor" data-target="#monitor" role="tab" data-toggle="tab">Монитор</a></li>
        <li id="notice_2nd_menu_item" role="presentation" class="nmc-hide"><a class="nmc-main-tab-button" href="#/notices/list" aria-controls="notices" role="tab" data-target="#notices" data-toggle="tab">Уведомления</a></li>
        <li id="monitor_map_2nd_menu_item" role="presentation" class="active nmc-hide"><a class="nmc-main-tab-button" href="" aria-controls="monitor_map" role="tab" data-target="#monitor_map" data-toggle="tab">Карта</a></li>
        <div  ng-show="mapSettings.loadingFlag" class="nmc-loading">
            <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
        </div>
        <div ng-if="objects.length > 0" 
             class="paddingTop5 pull-right">
            <span class="marginRight15">
                <label ng-if="data.currentTree.objectName">Показаны объекты для иерархии:</label> {{data.currentTree.objectName}}
            </span> 
            <span><label ng-if="data.currentTreeNode.objectName">узел:</label> {{data.currentTreeNode.objectName}}</span>
        </div>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="monitor">
      </div>
    </div>
</div>


<leaflet class="nmc-map-monitor" center="mapCenter" tiles="currentTile" markers="markersOnMap"></leaflet>

<!-- Модальное окно редактирования группы объектов -->
<div id="showObjectsDetailModal" class="modal fade nmc-modal-window" role="dialog"
		aria-labelledby="showObjectsDetailLabel" tabindex="-1" data-backdrop="static">
		<div class="modal-dialog  modal-content noPadding nmc-modal-dialog">
            
			<div class="modal-header nmc-modal-header">
                <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="nmc-h3">Объекты с нештатными ситуациями</h3>
			</div>
    		<div class="modal-body nmc-modal-body noPadding">
 	        	<div class="container-fluid noPadding">
 	            	<div class="row-fluid">
   	               		<div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel" style="">

   							<div id = "monitor_objects" class = "panel panel-default noMargin nmc-modal-panel-with-objects">
   								<table id="table_monitor_objects_in_window" class = "table table-striped table-condensed table-hover nmc-modal-table-with-chkbx">
                                    <tr ng-repeat="object in currentCity.contEventNotificationStatuses" ng-if="(object.statusColor === 'RED') ||(object.statusColor === 'ORANGE')">
                                        <td class="col-md-12">
                                            <i class="btn btn-xs glyphicon glyphicon-chevron-right" ng-click="object.showObjDetails=!object.showObjDetails" ng-class="{'glyphicon-chevron-right':!object.showObjDetails, 'glyphicon-chevron-down':object.showObjDetails}"></i>{{object.contObject.fullName}}<br>
                                            <table ng-show="object.showObjDetails" class="table table-striped table-condensed table-hover">
                                                <tr ng-repeat="event in object.monitorEventsForMap">
                                            
                                                    <td><img ng-src="{{'images/object-state-'+event.contEventLevelColorKey.toLowerCase()+'.png'}}"</td>
                                                    <td class="col-md-4">{{event.contEventTime | date:'dd.MM.yyyy HH:mm'}} </td>
                                                    <td class="col-md-7">{{event.contEventType.name}}</td>
                                            
                                                </tr>    
                                            </table>    
                                        </td>
                                    </tr>
   								</table>
   							</div>
   							<br>
     					</div>
    				</div>
    			</div>
    		</div>
	    	<div class="modal-footer nmc-modal-footer">
    			<div class="container-fluid">
					<div class="row">
                        
						<div class=" pull-right col-xs-offset-2 col-md-3 noPadding noMargin nmc-cancel-button">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
	    	</div>
    	</div>
    </div>

</div>