<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="monitorTab" class="nmc-main-tab-button" href="" aria-controls="monitor" data-target="#monitor" role="tab" data-toggle="tab">Монитор</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/notices/list" aria-controls="notices" role="tab" data-target="#notices" data-toggle="tab">Уведомления</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/notices/monitor_map" aria-controls="monitor_map" role="tab" data-target="#monitor_map" data-toggle="tab">Карта</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="monitor">
      </div>
    </div>
</div>
<!--
<div class="" ng-class="{'nmc-hide':!monitorSettings.loadingFlag, 'nmc-show':monitorSettings.loadingFlag}">
    <i class="fa fa-spinner fa-spin"></i> Загрузка .... 
</div>
-->
<div  ng-show="monitorSettings.loadingFlag" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div class="tab-content" ng-class="{'nmc-hide':monitorSettings.loadingFlag, 'nmc-show':!monitorSettings.loadingFlag}">
    <div role="tabpanel" class="tab-pane fade in active" id="param_sets">
        <!--       Все / Объекты, на которых наблюдались нештатные ситуации -->
        <ul class="nav nav-pills marginLeft15 marginTop15 marginBottom15 nmc-toggle nmc-toggle-monitor col-md-2" role="tablist">
            <li role="presentation" class="active nmc-toggle-active"><a class="nmc-toggle-button" href="" aria-controls="active_paramsets" data-target="#all_objects" role="tab" data-toggle="tab" ng-click="refreshData()">Все объекты</a></li>
            <li role="presentation" class="nmc-toggle-archive"><a title="Объекты с нештатными ситуациями" class="nmc-toggle-button" href="" aria-controls="arhive_paramsets" data-target="#alert_objects" role="tab" data-toggle="tab" ng-click="getNoGreenObjects()">Объекты с НС</a></li>
        </ul>
        <div class="col-md-2 noPadding marginTop15" ng-controller="DataRangeSettings">   
        <div class="input-group marginRight15">
            <span class="input-group-addon nmc-date-interval-form-addon" id="leftAddon">период: с</span>
            <input date-range-picker class="form-control date-picker nmc-date-interval-form nmc-input-data"
                type="text" ng-model="monitorDates" options="queryDateOptsMonitorRu" aria-describedby="leftAddon"/>
        </div>    
        </div>
        <div class="pull-right col-md-offset-3 col-md-3 marginTop15">
<!--            <label class="nmc-form-label">Период обновления:</label>-->
    <!--         <input type="number" min="1" max="100" class="form-control inputDigitalData" ng-model="noticesPerPage">-->
            <div class="input-group nmc-input-group-refresh-period">
                <span class="input-group-addon nmc-date-interval-form-addon" id="leftAddon">период обновления: </span>
                <select class="form-control nmc-date-interval-form nmc-input-digital-data nmc-select-form" ng-model="monitorSettings.refreshPeriod">
<!--                            <option value=30>30 сек</option>-->
                            <option value="60">1 мин</option>
                            <option value="180">3 мин</option>
                            <option value="300">5 мин</option>
                            <option value="1800">30 мин</option>
                            <option value="3600">1 час</option>
        <!--            <option>100</option>-->
                </select>
                <span class="input-group-addon nmc-input-form-suffix">
                    <i title="Обновить" class="btn btn-xs glyphicon glyphicon-refresh" ng-click="refreshData()"></i>
                </span>
            </div>    
        </div>
<!--
        <div class="col-md-2">
        </div>
-->
        <div class="tab-content">
<!--            Активные варианты-->
            <div role="tabpanel" class="tab-pane fade in active" id="active_paramsets">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" ng-class="{'nmc-hide':monitorSettings.loadingFlag, 'nmc-show':!monitorSettings.loadingFlag}">
<!--
    <table id="objectMonitorTable" class="table table-lighter table-condensed table-striped noMarginBottom nmc-parent-table nmc-parent-object-table">
        <tbody></tbody>
    </table>
-->
    
    
    <div infinite-scroll="addMoreObjectsForMonitor()" infinte-scroll-distance='50' >
        <table  id="tableMonitor" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
        <tr class="" ng-repeat="object in objectsOnPage" ng-attr-id="{{'obj'+object.contObject.id}}">
            <td>
                <table>
                    <tr ng-class="{'nmc-tr-odd':($index%2!==0)}">
                        <td class="nmc-td-for-buttons"> <i title="Показать/Скрыть список типов событий" ng-attr-id="{{'btnDetail'+object.contObject.id}}" class="btn btn-xs noMargin glyphicon glyphicon-chevron-right nmc-button-in-table" ng-click="toggleShowGroupDetails(object.contObject.id)"></i>
                        <img ng-attr-id="{{'imgObj'+object.contObject.id}}" title="" height="" width="" ng-src="{{'images/object-state-'+object.statusColor.toLowerCase()+'.png'}}"/>
                        
                            </td>
                        <td class="col-md-1"><a title="Всего уведомлений" href="#/notices/list/" ng-mousedown="setNoticeFilterByObject(object.contObject.id)"> {{object.eventsCount}} / {{object.eventsTypesCount}}</a> (<a title="Новые уведомления" href="#/notices/list/" ng-mousedown="setNoticeFilterByObjectAndRevision(object.contObject.id)">{{object.newEventsCount}}</a>)

                        </td>
                        <td class="nmc-td-for-buttons"><i title="Показать диаграмму уведомлений" class="btn btn-xs" ng-click="getEventTypesByObject(object.contObject.id, true)"><img height="16" width="16" src='images/roundDiagram4.png'/></i></td>
                        <td class="col-md-3" ng-click="toggleShowGroupDetails(object.contObject.id)">{{object.contObject.fullName}}
                            <span ng-if="isSystemuser()">(id = {{object.contObject.id}})</span>
                        </td>
                        <td class="col-md-8"></td>
                    </tr>
                    <tr ng-attr-id="{{'trObjEvents'+object.contObject.id}}" class="nmc-tr-object-events">
                    </tr>
                </table>
            </td>
         </tr>
        <tr class="nmc-hide">
            <td>{{onTableLoad()}}</td>
        </tr>    
        </table>
        
    </div>
</div>    

<!-- Окно с графиком-->
<div id="chartModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="chartLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-some-wide-dialog nmc-modal-dialog">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showNoticeLabel" class="nmc-h3">
				Диаграмма уведомлений 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
            <div id="noticeChart" class="paddingBottom40">
                <div id="noticeChart-area"></div>
		  </div>
        </div>     
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-offset-2 col-md-3 pull-right">
							<button class="btn btn-xs btn-default btn-primary btn-block nmc-ok-button" data-dismiss="modal"
								ng-click="exit();">
								Ок
							</button>
						</div>
					</div>
				</div>		
		</div>

	</div>
</div>

<!-- Окно с графиком-->
<div id="showNoticesModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showNoticesLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-some-wide-dialog nmc-modal-dialog">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showNoticesLabel" class="nmc-h3">
				События, которые привели к текущей оценки объекта. 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">

        </div>     
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-offset-2 col-md-3 pull-right">
							<button class="btn btn-xs btn-default btn-primary btn-block nmc-ok-button" data-dismiss="modal"
								ng-click="exit();">
								Ок
							</button>
						</div>
					</div>
				</div>		
		</div>

	</div>
</div>