<div>Портал / Уведомления</div>
<h2>Уведомления</h2>

<!--
<div crud-grid-notice table="'../api/subscr/contObjects'"
	columns='[
             
	          {"name":"noticeCat", "header" : "Категория", "class":"col-md-1"},
             {"name":"noticeType", "header" : "Тип", "class":"col-md-2"},
             {"name":"noticeText", "header" : "Уведомление", "class":"col-md-3"},
             {"name":"noticeDate", "header" : "Дата", "class":"col-md-2"},
	          {"name":"noticeObject", "header" : "Объект", "class":"col-md-3"}
             ,{"name":"noticeZpoint", "header" : "Точка учета", "class":"col-md-3"}
             ]'
	captions='{"loading":"loading", "totalElements":"totalElements"}'
	exprops='{"idColumnName":"noticeId", "defaultOrderBy" : "noticeDate"}' 
    ></div>
-->
<!--
<div>
    <pre class="code">
        {{notices}}
    </pre>
</div>
-->
<!--
<div class="btn-group">
    <i class="btn btn-xs btn-default" data-target="#showNoticeModal" data-toggle="modal">Карточка уведомления</i>
</div>
-->

<div class="container-fluid">
<div class="row">    
<div class="col-md-12 noPadding marginBottom10">
    <div class="col-md-12 noPadding">
        <b>Фильтры:</b>
    </div>     
    <div class="col-md-2 noPadding" ng-controller="DataRangeSettings">
        <div>по интервалу дат:</div>
        <div class="input-group">
            <span class="input-group-addon excbt_inputGroupAddon">с</span>
            <input date-range-picker class="form-control excbt_inputFormControl date-picker excbt_noLeftBorder"
                type="text" ng-model="navPlayerDates" options="queryDateOptsRu" />
        </div>    
    </div>

<!--
    <div class="col-md-3">
        <div>по объектам:</div>
        <div class="">
                <input  class="form-control excbt_inputFormControl" type="text" ng-click="selectObjectsClick()" ng-model="selectedObjects_list">
-->
<!--
            <ul class="navbar navbar-static">
                <ul class="nav">
                    <li class="dropdown">
                      <a class="btn btn-default btn-xs dropdown-toggle" id="dObjects" role="button" data-toggle="dropdown" data-target="#" href="">
                        по объектам
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dObjects">
                        <li class="modal-scrollable-area1"><table class="table table-striped table-condensed table-hover">
                            <tr ng-repeat="object in objects">
                                <td><input type="checkbox">{{object.fullName}}
                                </td>    
                            </tr>    
                            </table>
                        </li>
                      </ul>
                    </li>
                </ul>
            </ul>    
-->
<!--            <select class="form-control excbt_inputFormControl" ng-model="selectedObjects" multiple ng-options="object.id as object.fullName for object in objects"></select>-->
<!--
        </div>
    </div>
-->
    <div class="col-md-10 btn-toolbar">
<!--        <div> </div>-->
        <div class="btn-group paddingTop15"><i class="btn btn-xs btn-default btn-primary" ng-click="dtInstance.changeData(newPromise)">Применить</i>
        </div>
    </div>
    
    <div class="col-md-12 noPadding">
        <div>по объектам:</div>
        <div class="">
            <textarea  class="form-control excbt_inputFormControl" type="text" ng-click="selectObjectsClick()" ng-model="selectedObjects_list"></textarea>

        </div>
    </div>
    
</div>
</div>    
</div>    
<!--//////////////////////// Notices: react version-->
<!--
<div>
    <table-component-react table-def="tableDef" data="data"/>
-->
<!--    <my-table cols="cols" rows="data" />-->
<!--</div>-->
<!--///////////////////////-->

<!--++++++++++++++++++++++++++++ Notices: angular-datatable-->
<!--
<div ng-controller="NoticeDatatableCtrl as noticeCtrl">
    <table datatable="" dt-options="noticeCtrl.dtOptions" dt-columns="noticeCtrl.dtColumns" class="row-border hover"></table>
</div>    
-->
<!--++++++++++++++++++++++++++++-->


<!--++++++++++++++++++++++++++++ Notices: angular-datatable - Angular way-->
<!--<div ng-controller="NoticeDatatableCtrl as noticeCtrl">-->
<div ng-init="getObjects()">
    <table  datatable="" dt-options="dtOptions" dt-columns="dtColumns" ng-class="tableDef.tableClass">
<!--
        <thead>
            <tr>
                <td ng-repeat="column in tableDef.columns" ng-class="column.headerClass">
                    {{column.header}}
                </td>
            </tr>
        </thead> 
        <tbody>
            <tr ng-repeat="notice in data" ng-click="selectedItem(notice)" data-target="#showNoticeModal" data-toggle="modal">
                <td ng-repeat="column in tableDef.columns">
                    {{notice[column.fieldName]}}
                </td>
            </tr>
        </tbody>    
-->
    </table>
</div>    
<!--</div>    -->
<!--++++++++++++++++++++++++++++-->

<!--Строка состояния-->
<div class="navbar navbar-default  " style="margin-bottom:60px; margin-top:20px;">
                                                    <!--    navbar-fixed-bottom-->
    <div id="navbar-container" class="container navbar-left">
      
            		
              <ul class="nav navbar-nav ">
				
				<li>
<!--
                    <p
							 style="margin-right:5px;padding-top:15px;"> <b>Start get: {{startGetData | date:'dd.MM.yyyy HH:mm:ss'}} Start mod: {{startModificateData | date:'dd.MM.yyyy HH:mm:ss'}} End mod: {{endModificateData | date:'dd.MM.yyyy HH:mm:ss'}}</b>  
				    </p>
-->
                    <div ng-show="totalPages>1">
                        По вашему запросу найдено {{totalElements}} уведомлений. Для комфортной работы с системой отображены только первые 1000 уведомлений. Для просмотра остальных уведомлений сузьте область поиска в фильтре.
                    </div>
                </li>
                             
                 
				
			</ul>
                
					
			</div>
</div>


<div id="selectObjectsModal" class="modal excbt_selectObjectWindow " role="dialog"
	aria-labelledby="selectObjectsLabel" tabindex="-1">

	<div class="modal-dialog ">
<!--                modal-content">-->
    <div class="modal-content modalWindow_lessWide">

		<div class=" well modalWindow_lessWide noMarginBottom noPadding">
            <div class="input-group col-md-12 filter marginBottom10">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" ng-model="objectfilter">
                <span class="input-group-addon btn btn-default" ng-disabled="objectfilter.length == 0" ng-click="objectfilter = ''"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
		</div>
		<div class=" well modal-scrollable-area1 modalWindow_lessWide noMarginBottom noMarginTop noPadding">

			<table class="table table-striped table-condensed table-hover">
                <tr ng-repeat="object in objects | filter: objectfilter">
                    <td><input type="checkbox" ng-model="object.selected">{{object.fullName}}
                    </td>    
                </tr>    
            </table>
		</div>
		<div class=" well modalWindow_lessWide noMarginBottom noMarginTop noPadding">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-4">
							<input type="submit" class="btn btn-xs btn-primary btn-block"
								ng-click="selectObjects();"
								value="Выбрать" />
						</div>

						<div class="col-xs-offset-2 col-md-4">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#moveToArchive');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
<!--
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
-->
	</div>
        </div>
</div>


<!--
                    result.noticeType = el.contEventType.name;
                    result.noticeText = el.message;
                    result.noticeDate = (new Date(el.eventTime)).toLocaleString();                      
                    result.noticeObject = el.contObjectId;
                //Преобразование типа точки учета в значение, которое сможет прочитать пользователь
                    switch (el.contServiceType)
                    {
                            case "heat" : result.noticeZpoint = "ТС"; break;
-->

<!-- Карточка уведомления-->
<div id="showNoticeModal" class="modal fade" role="dialog"
	aria-labelledby="showNoticeLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="showNoticeLabel">
				Уведомление 
			</h3>
		</div>
		<div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom excbt_table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Тип</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeType}}
<!--                                    Большой объем недокаченной воды-->
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Текст</label>
                                </td>
                                <td class="textAlign_left">{{currentObject.noticeText}}
<!--                                    Аларм!!! В ночь с понедельника на субботу был зафиксирован большой объем недокаченной воды по направлению на юг от места происшествия. Вот такая вот байда.-->
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Объект</label>
                                </td>
                                <td class="textAlign_left">{{currentObject.noticeObjectName}}
<!--                                    Объект одна тысяча семьсот первый-->
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputAddress">Дата</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeDate | date:'dd.MM.yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputAddress">Точка учета</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeZpoint}}
                                </td>
                            </tr>

                        </table>
                    </div>
                    </div> 
                </div> 

            </div>     
<!--		</div>-->
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
<!--
						<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block"
								ng-click="deleteObject(currentObject);"
								value="Ок" />
						</div>
-->

						<div class="col-xs-offset-2 col-md-3 pull-right">
							<button class="btn btn-xs btn-default btn-primary btn-block" data-dismiss="modal"
								ng-click="exit('#currentObject');">
								Ок
							</button>
						</div>
					</div>
				</div>		
		</div>
<!--
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
-->
	</div>
</div>

