<div>Портал / Уведомления</div>
<h2>Уведомления</h2>

<div class="container-fluid">
<div class="row">    
<div class="col-md-12 noPadding marginBottom10">
    <div class="col-md-12 noPadding">
        <b>Фильтры:</b>
    </div>     
    <div class="col-md-2 noPadding" ng-controller="DataRangeSettings">
        <div>по интервалу дат:</div>
        <div class="input-group">
            <span class="input-group-addon excbt_inputGroupAddon">с</span>
            <input date-range-picker class="form-control excbt_inputFormControl date-picker excbt_noLeftBorder"
                type="text" ng-model="navPlayerDates" options="queryDateOptsRu" />
        </div>    
    </div>
    <div class="col-md-10 btn-toolbar">
        <div class="btn-group paddingTop15"><i class="btn btn-xs btn-default btn-primary" ng-click="dtInstance.changeData(newPromise)">Применить</i>
        </div>
    </div>
    
    <div class="col-md-12 noPadding">
        <div>по объектам:</div>
        <div class="">
            <textarea  class="form-control excbt_inputFormControl" type="text" ng-click="selectObjectsClick()" ng-model="selectedObjects_list"></textarea>

        </div>
    </div>
    
</div>
</div>    
</div>    

<!--++++++++++++++++++++++++++++ Notices: angular-datatable -->
<!--<div ng-init="getObjects()">-->
    <table  datatable="" dt-options="dtOptions" dt-columns="dtColumns" ng-class="tableDef.tableClass">

    </table>
<!--</div>    -->
<!--++++++++++++++++++++++++++++-->

<!--Строка состояния-->
<div class="navbar navbar-default  " style="margin-bottom:60px; margin-top:20px;">
                                                    <!--    navbar-fixed-bottom-->
    <div id="navbar-container" class="container navbar-left">
      
            		
              <ul class="nav navbar-nav ">
				
				<li>
                    <div ng-show="totalPages>1">
                        По вашему запросу найдено {{totalElements}} уведомлений. Для комфортной работы с системой отображены только последние 1000 уведомлений. Для просмотра остальных уведомлений сузьте область поиска в фильтре.
                    </div>
                </li>
                             
                 
				
			</ul>
                
					
			</div>
</div>

<!--Окно выбора объектов-->
<div id="selectObjectsModal" class="modal excbt_selectObjectWindow " role="dialog"
	aria-labelledby="selectObjectsLabel" tabindex="-1">

	<div class="modal-dialog ">
<!--                modal-content">-->
    <div class="modal-content modalWindow_lessWide">

		<div class=" well modalWindow_lessWide noMarginBottom noPadding">
            <div class="input-group col-md-12 filter marginBottom10">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" ng-model="objectfilter">
                <span class="input-group-addon btn btn-default" ng-disabled="objectfilter.length == 0" ng-click="objectfilter = ''"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
		</div>
		<div class=" well modal-scrollable-area1 modalWindow_lessWide noMarginBottom noMarginTop noPadding">

			<table class="table table-striped table-condensed table-hover">
                <tr ng-repeat="object in objects | filter: objectfilter">
                    <td><input type="checkbox" ng-model="object.selected">{{object.fullName}}
                    </td>    
                </tr>    
            </table>
		</div>
		<div class=" well modalWindow_lessWide noMarginBottom noMarginTop noPadding">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-4">
							<input type="submit" class="btn btn-xs btn-primary btn-block"
								ng-click="selectObjects();"
								value="Выбрать" />
						</div>

						<div class="col-xs-offset-2 col-md-4">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#moveToArchive');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>

	</div>
        </div>
</div>


<!-- Карточка уведомления-->
<div id="showNoticeModal" class="modal fade" role="dialog"
	aria-labelledby="showNoticeLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="showNoticeLabel">
				Уведомление 
			</h3>
		</div>
		<div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom excbt_table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Тип</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeType}}
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Текст</label>
                                </td>
                                <td class="textAlign_left">{{currentObject.noticeText}}

                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Объект</label>
                                </td>
                                <td class="textAlign_left">{{currentObject.noticeObjectName}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputAddress">Дата</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeDate | date:'dd.MM.yyyy HH:mm:ss'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputAddress">Точка учета</label>
                                </td>
                                <td class="col-sm-9 textAlign_left">{{currentObject.noticeZpoint}}
                                </td>
                            </tr>

                        </table>
                    </div>
                    </div> 
                </div> 

            </div>     
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">


						<div class="col-xs-offset-2 col-md-3 pull-right">
							<button class="btn btn-xs btn-default btn-primary btn-block" data-dismiss="modal"
								ng-click="exit('#currentObject');">
								Ок
							</button>
						</div>
					</div>
				</div>		
		</div>

	</div>
</div>

