<!--<div>Портал / Объекты</div>-->
<!--
<div>
    <ul class="breadcrumb marginBottom10">
        <li><a href="#/">Портал</a> <span class="divider"></span></li>
        <li class="active">Объекты</li>
    </ul>
</div> 
-->

<div crud-grid-objects-use-svc table="'../api/subscr/contObjects'"
	columns='[

	          {"name":"fullName", "header" : "Название", "class":"col-md-10"}
           
            ]'

	captions='{"loading":"loading...", "totalElements":"totalElements"}'
	exprops='{"idColumnName":"id", "defaultOrderBy" : "fullName", "nameColumnName":"fullName"}'
     
     blist = 'false'
     
     bgroup='true'
     
     bextramenu='true'
     
     bobject='true'

    
     
     
        zpointcolumns='[
            
           
	          {"name":"zpointName", "header" : "Наименование", "class":"col-md-2"},
             {"name":"zpointModel", "header" : "Модель", "class":"col-md-2"},
            {"name":"zpointNumber", "header" : "Номер", "class":"col-md-2"},
            {"name":"zpointRefRange", "header" : "Эталонный интервал", "class":"col-md-2"},
           {"name":"zpointLastDataDate", "header" : "Последние данные", "class":"col-md-2"}
            ]'     
    

     ></div>
