<div>Портал / Объекты</div>
<h2>Объекты</h2>

<div crud-grid-objects table="'../api/subscr/contObjects'"
	columns='[

	          {"name":"fullName", "header" : "Название", "class":"col-md-5"},
             {"name":"fullAddress", "header" : "Адрес", "class":"col-md-5"}
           
            ]'

	captions='{"loading":"loading", "totalElements":"totalElements"}'
	exprops='{"idColumnName":"id", "defaultOrderBy" : "fullName"}'
     
     blist = 'false'
     
     bgroup='true'
     
     bextramenu='true'
     
     bobject='true'

    
     
     
        zpointcolumns='[
            
           
	          {"name":"zpointName", "header" : "Наименование", "class":"col-md-2"},
             {"name":"zpointModel", "header" : "Модель", "class":"col-md-2"},
            {"name":"zpointNumber", "header" : "Номер", "class":"col-md-2"},
           {"name":"zpointLastDataDate", "header" : "Последние данные", "class":"col-md-2"}
            ]'     
    

     ></div>
