<h2>Операции</h2>

<div crud-grid-operation-log table=""
	columns='[{"name":"operationId", "header" : "ID", "class":"col-md-1", "autoincrement": "false"}, 
	          {"name":"operationDate", "header" : "Дата", "class":"col-md-1"},
             {"name":"operationText", "header" : "Операция", "class":"col-md-3"},
             {"name":"operationUser", "header" : "Пользователь", "class":"col-md-2"}
             ]'
	captions='{"loading":"loading", "totalElements":"totalElements"}'
	exprops='{"idColumnName":"operationId", "defaultOrderBy" : "operationDate"}'  
     datasource='[
                 {
      "operationId": "1",
      "operationDate": "13.02.2015 18:52:48.679",
      "operationText": "Запрошен системный журнал",
        "operationUser": "Администратор"
        
    }
                     ,{    "operationId": "2",
      "operationDate": "11.02.2015 14:03:45.557",
      "operationText": "Сформирован отчет Ведомость параметров объекта учета (СО и ГВС) ГВС в тоннах для Ижевск, 40 лет Победы, 56 с 12/12/2014 12:00:00 АМ по 1/21/2015 11:59:59 РМ",
        "operationUser": "Администратор"
                       
    }
    ,{
      "operationId": "3",
      "operationDate": "01.02.2015 18:52:48.679",
      "operationText": "Запрошен системный журнал",
        "operationUser": "Инженер-электрик"
        
    }
                    ,{
      "operationId": "4",
      "operationDate": "01.02.2015 18:50:00.000",
      "operationText": "Просмотрены показания прибора ТЭМ-106 №122111",
        "operationUser": "Инженер-электрик"
                        
    }
   
    
    ]'
     ></div>
