<div>Портал / Настройки / Отчеты</div>
<h2>Отчеты</h2>

<div role="tabpanel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="#/settings/reports/" aria-controls="report_templates"  role="tab" data-toggle="tab">Шаблоны</a></li>
    <li role="presentation" class="active"><a href="" aria-controls="param_sets" data-target="#param_sets" role="tab" data-toggle="tab">Варианты отчетов</a></li>
    <li role="presentation"><a href="" aria-controls="mailing_lists" data-target="#mailing_lists" role="tab" data-toggle="tab">Рассылки</a></li>   
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!--      Варианты отчетов-->
    <div role="tabpanel" class="tab-pane fade in active" id="param_sets">
        <!--       Активные / Архивные -->
        <ul class="nav nav-pills marginLeft15 marginTop15 marginBottom15" role="tablist">
            <li role="presentation" class="active" style="border: 1px solid #ddd;border-radius:4px;"><a href="" aria-controls="active_paramsets" data-target="#active_paramsets" role="tab" data-toggle="tab" ng-click="getActive();" >Действующие</a></li>
            <li role="presentation" style="border: 1px solid #ddd;border-radius:4px; margin-left:0px;"><a href="" aria-controls="arhive_paramsets" data-target="#arhive_paramsets" role="tab" data-toggle="tab" ng-click="getArchive();" style="width:108px;text-align:center">Архив</a></li>
<!--            <li ng-show="active_tab_active_templates" ><a class="" href="" aria-controls="" data-target="#createParamsetModal" role="" data-toggle="modal" style="margin-left: 15px;border: 1px solid #ddd; background-color: #337ab7;color:white;" ng-click="">Добавить</a></li>-->
        </ul>
        <div class="tab-content">
<!--            Активные варианты-->
            <div role="tabpanel" class="tab-pane fade in active" id="active_paramsets">
<!--///////////////////////////////////////////////////////////////////////////////////////////// Data table                -->
                <table id="datatabl" class="table table-bordered table-striped  table-condensed noMarginBottom">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="" ng-dblclick="showDetails(object)">
                        <td style="padding:0;">
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom"> 

                                <tr>

                                    <td ng-class="column.class">

                                        <div class="btn-toolbar col-md-1" style="padding-left:5px;width:50px;">

                                            <i class="btn btn-default btn-xs glyphicon noMargin" ng-class="{'glyphicon-minus': object.showGroupDetails, 'glyphicon-plus': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);"></i>

                                        </div>
                                        <div class="col-md-3">
                                            <b>{{object.reportTypeName}}</b> <small>(вариантов: {{object.paramsetsCount || 0}})</small>
                                        </div>
                                        <div class="col-md-2">
                                             <i title="Добавить" class="btn btn-default btn-xs btn-primary" ng-click="addParamSet(object)" data-target="#createParamsetModal" data-toggle="modal">Добавить</i>
                                        </div>
                                        <div class="col-md-6">
                                            
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataParamsetsTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover " ng-show="object.showGroupDetails">

                                     <tr ng-repeat="oldObject in object.paramsets | orderBy:orderBy.field:!orderBy.asc" ng-click="" ng-dblclick="getIndicators(oldObject)">

                                         <td class="col-md-12">
                                             <div class="col-md-1" style="width:45px;">
                                             </div>
                                              <div class="btn-toolbar col-md-2" style="text-align: right;">
                                                    <div class="btn-group">
                                                      <table>
                                                          <tr>
                                                            <td>    <i title="Редактировать" class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="editParamSet(object,oldObject);" data-target="#createParamsetModal" data-toggle="modal"></i>
                                                            </td>
                                                            <td>    <i title="В архив" class="btn btn-default btn-xs glyphicon glyphicon-arrow-right" ng-click="selectedItem(object, oldObject)" data-target="#moveToArchiveModal" data-toggle="modal"></i>
                                                            </td>

                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
                                             <div class="col-md-7" ng-class="{'default': oldObject._default}">     
                                                    {{oldObject.name}} <label class="marginLeft15"> </label> тип файла: {{oldObject.outputFileType}} <label class="marginLeft15"  ng-class="{'default': oldObject._default}"> </label>интервал: {{oldObject.reportPeriod.caption}} <label class="marginLeft15"  ng-class="{'default': oldObject._default}"> </label>шаблон отчета: {{oldObject.reportTemplate.name}}
                                            </div>
                                            <div class="col-md-2" ng-class="{'default': oldObject._default}">     
                                                    действует с: {{oldObject.activeStartDate | date:'dd.MM.yyyy'}}
                                            </div>
                                         </td>

                                     </tr>
                                    </table>         

                                </tr>


                            </table>  

                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>                
<!--///////////////////////////////////////////////////////////////////////////////////////////// end Data table - active               -->
            </div>
<!--            Архивные шаблоны-->
             <div role="tabpanel" class="tab-pane fade " id="arhive_paramsets">
<!--///////////////////////////////////////////////////////////////////////////////////////////// Data table - Archive               -->
                <table id="datatabl" class="table table-bordered table-striped  table-condensed noMarginBottom">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="" ng-dblclick="showDetails(object)">
                        <td style="padding:0;">
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom"> 

                                <tr>

                                    <td ng-class="column.class">

                                        <div class="btn-toolbar col-md-1" style="padding-left:5px;width:50px;">

                                            <i class="btn btn-default btn-xs glyphicon noMargin" ng-class="{'glyphicon-minus': object.showGroupDetails, 'glyphicon-plus': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);"></i>

                                        </div>
                                        <div class="col-md-10">
                                            <b>{{object.reportTypeName}}</b> <small>(вариантов: {{object.paramsetsCount || 0}})</small>
                                        </div>

                                    </td>

                                </tr>
                                <tr>

                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataParamsetsTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover " ng-show="object.showGroupDetails">

                                     <tr ng-repeat="oldObject in object.paramsets | orderBy:orderBy.field:!orderBy.asc" ng-click="selectedItem(object, oldObject)" ng-dblclick="">

                                         <td class="col-md-12">
                                             <div class="col-md-1" style="width:45px;">
                                             </div>
                                              <div class="btn-toolbar col-md-2" style="text-align: right;width:55px;">
                                                    <div class="btn-group">
                                                      <table>
                                                          <tr>
                                                            <td>    <i title="Создать новый действующий вариант на основании этого" class="btn btn-default btn-xs glyphicon glyphicon-share" ng-click="createByTemplate(oldObject)" data-target="#createParamsetModal" data-toggle="modal"></i>
                                                            </td>

                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
                                             <div class="col-md-7 " >     
                                                    {{oldObject.name}} <label class="marginLeft15" style="font-weight:normal;">тип файла: {{oldObject.outputFileType}}</label> <label class="marginLeft15" style="font-weight:normal;">интервал: {{oldObject.reportPeriod.caption}}</label><label class="marginLeft15"  ng-class="{'default': oldObject._default}"> </label>шаблон отчета: {{oldObject.reportTemplate.name}}
                                            </div>
                                            <div class="col-md-2">     
                                                    в архиве с: {{oldObject.activeEndDate | date:'dd.MM.yyyy'}}
                                            </div>
                                         </td>

                                     </tr>
                                    </table>         
                                </tr>
                            </table>  

                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>            
<!--///////////////////////////////////////////////////////////////////////////////////////////// end Data table Archive               -->                 
            </div>
            
        </div>
        
    </div>
<!--      Шаблоны отчетов-->
    <div role="tabpanel" class="tab-pane fade " id="report_templates">Шаблоны
    </div>
<!--      Списки рассылок-->
    <div role="tabpanel" class="tab-pane fade " id="mailing_lists">Списки
    </div>
    
  </div>

</div>

<!-- Create paramset-->
<div id="createParamsetModal" class="modal fade" role="dialog"
	aria-labelledby="createParamsetLabel" tabindex="-1">

	<div class="modal-dialog  modal-content" ng-class="{'modalWindow_wide': set_of_objects_flag}">

		<div class="modal-header">
			<h3 id="createParamsetLabel" ng-show="createParamset_flag">
				Создание варианта отчета
			</h3>
            <label id="createParamsetLabel" ng-show="createByTemplate_flag">
				Создание варианта отчета на основе архивного шаблона "{{archiveParamset.name}}"
			</label>
            <h3 id="createParamsetLabel" ng-show="!createParamset_flag">
				Вариант отчета
			</h3>
            
		</div>
		<div class="modal-body ">
                     
            <div role="tabpanel">

              <!-- Навигационная полоса для варианта отчета-->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" id="main_properties_tab"><a href="" aria-controls="main_properties" data-target="#main_properties" role="tab" data-toggle="tab" ng-click="set_of_objects_flag=false">Основные свойства</a></li>
                <li role="presentation" id="set_of_objects_tab"><a href="" aria-controls="set_of_objects" data-target="#set_of_objects" role="tab" data-toggle="tab" ng-click="set_of_objects_flag=true;" ng-show="(currentObject.reportTemplate.id!=null)&&(currentObject.reportPeriodKey!=null)">Выбор объектов</a></li>
              </ul>

              <!-- реализация вкладок -->
              <div class="tab-content">
            <!--      Варианты отчетов-->
                <div role="tabpanel" class="tab-pane fade in active" id="main_properties">            
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="col-md-12 well noPaddingBottom marginBottom10" style="">
                                <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom">
                                    <tr>
                                        <td class="col-sm-3"><label for="inputType">Тип отчета</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left">{{currentReportType.reportTypeName}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-3"><label for="inputType">Шаблон отчета</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left">
                                            <div class="form-group noMarginBottom" ng-class="{'has-error': (currentObject.reportTemplate.id==null)}">
                                            <select class="form-control "  ng-model="currentObject.reportTemplate.id" ng-options="template.id as template.name for template in templatesForCurrentParaset" ng-disabled="currentObject.common">
                                            </select>                                            
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputName">Наименование</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left"><input class="form-control" id="inputName" type=text  placeholder="Наименование варианта" ng-model="currentObject.name" ng-disabled="currentObject.common">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="inputDescription" >Описание</label>
                                        </td>
                                        <td class="textAlign_left"><textarea class="form-control" id="inputDescription" placeholder="Описание" ng-model="currentObject.description" ng-disabled="currentObject.common"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputPeriod">Период</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left">
                                            <div class="form-group noMarginBottom" ng-class="{'has-error':(currentObject.reportPeriodKey==null)}">
                                                <select ng-disabled="currentObject.common" class="form-control input-sm inputData" id="inputPeriod" placeholder="" ng-model="currentObject.reportPeriodKey" ng-options="period.keyname as period.caption for period in reportPeriods">
                                                </select>
                                            </div>    
                                        </td>
                                    </tr>
                                    <tr ng-show="currentSign==null">
                                        <td class="col-sm-3"><label for="inputPeriod">Укажите интервал</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left">
                                            <div ng-disabled="currentObject.common">
                                                <div class="col-sm-1 paddingTop10"><label>c</label></div>
                                                <div class="col-sm-5">
                                                    <input class="form-control inputData noMargin" type="date" ng-model="paramsetStartDateFormat"> 
                                                </div>    
                                                <div class="col-sm-1 paddingTop10"><label>по</label></div>
                                                <div class="col-sm-5">
                                                    <input class="form-control inputData noMargin" type="date" ng-model="paramsetEndDateFormat">
                                                </div>
                                            </div>    

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputFileTemplate">Шаблон имени файла (<small>без расширения</small>)</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left"><input class="form-control" id="inputFileTemplate" type=text  placeholder="Шаблон имени файла" ng-model="currentObject.outputFileNameTemplate" ng-disabled="currentObject.common">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputPeriod">Тип файла</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left"><select class="form-control inputData" id="inputPeriod" placeholder="" ng-model="currentObject.outputFileType" ng-disabled="currentObject.common"> 
                                                <option>PDF</option>
                                                <option>HTML</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="col-sm-3"><input type=checkbox ng-model="currentObject._default">По умолчанию
                                        </td>

                                    </tr>                            
                                    <tr>
                                        <td class="col-sm-3"><label for="inputStartDate">Действует с:</label>
                                        </td>
                                        <td class="textAlign_left col-sm-9">

                                            <input class="form-control input-sm marginRight28 inputData" type="date" id="inputStartDate" placeholder="дд.ММ.гггг"  ng-model="activeStartDateFormat" ng-disabled="currentObject.common"> 
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="col-sm-3"><label for="inputValue">Дата отправки в архив:</label>
                                        </td>
                                        <td class="col-sm-9 textAlign_left">{{currentObject.activeEndDate | date:'dd.MM.yyyy'}} 
                                        </td>
                                    </tr>

                                </table>

                            </div> 
                        </div>

                    </div>
                  </div>    
                <div role="tabpanel" class="tab-pane fade " id="set_of_objects">
                    <div class="container-fluid">
                        <div class="row-fluid">
               
                             <div class="col-md-6 object_list" id="object_list">
                                 <div><label>Доступные объекты</label></div>
                                <div>
                                    <table class="table table-condensed table-striped" ng-disabled="currentObject.common">
                                        <tr ng-repeat="object in availableObjects">
                                            <td><input ng-disabled="currentObject.common" type="checkbox" ng-model="object.selected" ng-click="addObject(object)">{{object.fullName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 object_list" id="object_list">
                                <div><label>Выбранные объекты</label></div>
                                <div>
                                    <table class="table table-condensed table-striped" >
                                        <tr ng-repeat="object in selectedObjects">
                                            <td><input ng-disabled="currentObject.common" type="checkbox" ng-model="object.selected" ng-click="removeObject(object)">{{object.fullName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>    
                </div>
                </div>	
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">
					<div class="row">
                        <div class="col-xs-offset-2 col-md-3">
							<input ng-disabled="currentObject.common" type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="saveParamset(currentObject)"
								value="Сохранить" 
                                ng-disabled="(currentObject.reportTemplate.id==null)||(currentObject.reportPeriodKey==null)"  data-target="#main_properties" data-toggle="tab" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject');setDefault();" data-target="#main_properties" data-toggle="tab">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>
   
    
<div id="moveToArchiveModal" class="modal fade" role="dialog"
	aria-labelledby="moveToArchiveLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="moveToArchiveLabel">
				Перемещение в архив 
			</h3>
		</div>
		<div class="modal-body">
			<form name="moveForm" novalidate>
				<p>
					<label class="text-warning"> Вы хотите переместить в архив  
					</label> 
					<label class="text-primary">{{currentObject.name}}</label> 
					<label
						class="text-warning"> ? </label>
				</p>

			</form>
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block"
								ng-click="moveToArchive(currentObject);"
								value="Переместить" />
						</div>

						<div class="col-xs-offset-2 col-md-3">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#moveToArchive');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>