<!--<div>Портал / Настройки / Отчеты</div>-->
<!--
<div>
    <ul class="breadcrumb marginBottom10">
        <li><a href="#/">Портал</a> <span class="divider"></span></li>
        <li>Настройки<span class="divider"></span></li>
        <li class="active">Отчеты</li>
    </ul>
</div>
-->

<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="report_settings" role="tab" data-target="#report_settings" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группы объектов</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
      </div>
    </div>
</div>

<div class="nmc-main-workspace-header">
    <h2 class="noMargin nmc-h2">Отчеты</h2>
    <hr>
</div>    
<div role="tabpanel" class="nmc-tab-panel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a class="nmc-tab-button" href="" aria-controls="param_sets" data-target="#param_sets" role="tab" data-toggle="tab">Варианты отчетов</a></li>
    <li role="presentation" ><a class="nmc-tab-button" href="#/settings/reports/" aria-controls="report_templates" data-target="#report_templates"  role="tab" data-toggle="tab">Шаблоны</a></li>
    <li role="presentation"><a class="nmc-tab-button" href="#/settings/delivery/" aria-controls="mailing_lists" data-target="#mailing_lists" role="tab" data-toggle="tab">Рассылки</a></li>   
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!--      Варианты отчетов-->
    <div role="tabpanel" class="tab-pane fade in active" id="param_sets">
        <!--       Активные / Архивные -->
        <ul class="nav nav-pills marginLeft15 marginTop15 marginBottom15 nmc-toggle" role="tablist">
            <li role="presentation" class="active nmc-toggle-active"><a class="nmc-toggle-button" href="" aria-controls="active_paramsets" data-target="#active_paramsets" role="tab" data-toggle="tab" ng-click="getActive();" >Действующие</a></li>
            <li role="presentation" class="nmc-toggle-archive"><a class="nmc-toggle-button" href="" aria-controls="arhive_paramsets" data-target="#arhive_paramsets" role="tab" data-toggle="tab" ng-click="getArchive();">Архив</a></li>
<!--            <li ng-show="active_tab_active_templates" ><a class="" href="" aria-controls="" data-target="#createParamsetModal" role="" data-toggle="modal" style="margin-left: 15px;border: 1px solid #ddd; background-color: #337ab7;color:white;" ng-click="">Добавить</a></li>-->
        </ul>
        <div class="tab-content">
<!--            Активные варианты-->
            <div role="tabpanel" class="tab-pane fade in active" id="active_paramsets">
<!--///////////////////////////////////////////////////////////////////////////////////////////// Data table                -->
                <table id="datatabl" class="table table-condensed noMarginBottom nmc-table-container">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="" ng-dblclick="showDetails(object)">
                        <td style="padding:0;">
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-parent-table"> 

                                <tr>

                                    <td ng-class="column.class">

                                        <div class="btn-toolbar col-md-1 nmc-btn-toolbar-in-table">

                                            <i title="Скрыть / Показать" class="btn btn-xs glyphicon noMargin nmc-button-in-table" ng-class="{'glyphicon-chevron-down': object.showGroupDetails, 'glyphicon-chevron-right': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);"></i>

                                        </div>
                                        <div class="col-md-3">
                                            <b>{{object.reportTypeName}}</b> <small>(вариантов: {{object.paramsetsCount || 0}})</small>
                                        </div>
                                        <div class="col-md-2">
                                             <button title="Добавить" class="btn btn-default btn-xs btn-primary nmc-add-button-in-table" ng-click="addParamSet(object)" data-target="#main_properties" data-toggle="tab">Добавить</button>
                                        </div>
                                        <div class="col-md-6">
                                            
                                        </div>
                                    </td>

                                </tr>
                                <tr>

                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataParamsetsTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-child-table" ng-show="object.showGroupDetails">
                                    <thead>
                                        <tr class="nmc-child-table-header">
    <!--                                            td for buttons-->
                                            <th></th>
                                            <th></th>
                                            <th ng-repeat="paramsetColumn in paramsetColumns" class="paramsetColumn.class">
                                                {{paramsetColumn.header}}
                                            </th>
                                            <th></th>
                                            <th>
                                                Действует с
                                            </th>
                                        </tr>
                                    </thead>

                                     <tr ng-repeat="oldObject in object.paramsets | orderBy:orderBy.field:!orderBy.asc" ng-click="" ng-dblclick="getIndicators(oldObject)">

                                         <td>
                                             <i title="Редактировать" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="editParamSet(object,oldObject);" data-target="#main_properties" data-toggle="tab"></i>
                                                           
                                            <i title="В архив" class="btn btn-xs glyphicon glyphicon-arrow-right nmc-button-in-table" ng-click="selectedItem(object, oldObject)" data-target="#moveToArchiveModal" data-toggle="modal"></i>
                                         </td>
                                         <td>
                                             <span ng-show="oldObject.allRequiredParamsPassed"><i title="Корректно заполненн" class="glyphicon glyphicon-thumbs-up"></i></span>
                                         </td>
                                         <td class="nmc-text-align-center">
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.name}} <span ng-show="isSystemuser()"> (id = {{oldObject['id']}})</span></span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.reportTemplate.name}}</span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.reportPeriod.caption}}</span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.outputFileType || "не задан"}}</span>
                                         </td>
                                         <td class="nmc-text-align-center">
                                             <span ng-show="oldObject.outputFileType=='ZIP'||oldObject.outputFileZipped"><i title="Архивировать" class="fa fa-cube"></i></span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.activeStartDate | date:'dd.MM.yyyy'}}</span>
                                         </td>
<!--                                         <td class="col-md-12">-->
<!--
                                             <div class="col-md-1" style="width:45px;">
                                             </div>
-->
<!--
                                              <div class="btn-toolbar col-md-2 nmc-btn-toolbar-in-table nmc-text-align-right">
                                                    <div class="btn-group">
                                                      <table>
                                                          <tr>
                                                            <td><i title="Редактировать" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="editParamSet(object,oldObject);" data-target="#main_properties" data-toggle="tab"></i>
                                                            </td>
                                                            <td><i title="В архив" class="btn btn-xs glyphicon glyphicon-arrow-right nmc-button-in-table" ng-click="selectedItem(object, oldObject)" data-target="#moveToArchiveModal" data-toggle="modal"></i>
                                                            </td>

                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
                                             <div class="col-md-7" ng-class="{'nmc-distinguish': oldObject._default}">     
                                                    {{oldObject.name}} <label class="marginLeft15"> </label> тип файла: {{oldObject.outputFileType}} <label class="marginLeft15"  ng-class="{'nmc-distinguish': oldObject._default}"> </label>интервал: {{oldObject.reportPeriod.caption}} <label class="marginLeft15"  ng-class="{'nmc-distinguish': oldObject._default}"> </label>шаблон отчета: {{oldObject.reportTemplate.name}} <span ng-show="isSystemuser()"> (id = {{oldObject['id']}})</span>
                                            </div>
                                            <div class="col-md-2" ng-class="{'nmc-distinguish': oldObject._default}">     
                                                    действует с: {{oldObject.activeStartDate | date:'dd.MM.yyyy'}}
                                            </div>
                                         </td>
-->

                                     </tr>
                                    </table>         

                                </tr>


                            </table>  

                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>                
<!--///////////////////////////////////////////////////////////////////////////////////////////// end Data table - active               -->
            </div>
<!--            Архивные шаблоны-->
             <div role="tabpanel" class="tab-pane fade " id="arhive_paramsets">
<!--///////////////////////////////////////////////////////////////////////////////////////////// Data table - Archive               -->
                <table id="datatabl" class="table  table-condensed noMarginBottom nmc-table-container">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="" ng-dblclick="showDetails(object)">
                        <td>
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-parent-table"> 

                                <tr>

                                    <td ng-class="column.class">

                                        <div class="btn-toolbar col-md-1 nmc-btn-toolbar-in-table">

                                            <i class="btn btn-xs glyphicon noMargin nmc-button-in-table" ng-class="{'glyphicon-chevron-down': object.showGroupDetails, 'glyphicon-chevron-right': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);"></i>

                                        </div>
                                        <div class="col-md-10">
                                            <b>{{object.reportTypeName}}</b> <small>(вариантов: {{object.paramsetsCount || 0}})</small>
                                        </div>

                                    </td>

                                </tr>
                                <tr>

                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataParamsetsTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover nmc-child-table" ng-show="object.showGroupDetails">
                                    <thead>
                                        <tr class="nmc-child-table-header">
    <!--                                            td for buttons-->
                                            <th></th>
                                            <th ng-repeat="paramsetColumn in paramsetColumns" class="paramsetColumn.class">
                                                {{paramsetColumn.header}}
                                            </th>
                                            <th>
                                                В архиве с
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>    
                                    <tr ng-repeat="oldObject in object.paramsets | orderBy:orderBy.field:!orderBy.asc" ng-click="" ng-dblclick="">

                                        <td>
                                            <i title="Просмотреть" class="btn btn-xs glyphicon glyphicon-list nmc-button-in-table" ng-click="editParamSet(object,oldObject);" data-target="#main_properties" data-toggle="tab"></i>
                                            <i title="Создать новый действующий вариант на основании этого" class="btn btn-xs glyphicon glyphicon-share nmc-button-in-table" ng-click="createByTemplate(object, oldObject)" data-target="#main_properties" data-toggle="tab"></i>
                                        </td>
                                        <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.name}} <span ng-show="isSystemuser()"> (id = {{oldObject['id']}})</span></span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.reportTemplate.name}}</span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.reportPeriod.caption}}</span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.outputFileType || "не задан"}}</span>
                                         </td>
                                         <td>
                                             <span ng-class="{'nmc-distinguish': oldObject._default}">{{oldObject.activeEndDate | date:'dd.MM.yyyy'}}</span>
                                         </td>
<!--                                        <td class="col-md-12">-->
<!--
                                             <div class="col-md-1" style="width:45px;">
                                             </div>
-->
<!--                                              <div class="btn-toolbar col-md-2 nmc-btn-toolbar-in-table nmc-text-align-right">-->
<!--                                                  width:55px;-->
<!--
                                                    <div class="btn-group">
                                                      <table>
                                                          <tr>
                                                            <td><i title="Просмотреть" class="btn btn-xs glyphicon glyphicon-list nmc-button-in-table" ng-click="editParamSet(object,oldObject);" data-target="#main_properties" data-toggle="tab"></i>
                                                            </td>  
                                                            <td><i title="Создать новый действующий вариант на основании этого" class="btn btn-xs glyphicon glyphicon-share nmc-button-in-table" ng-click="createByTemplate(object, oldObject)" data-target="#main_properties" data-toggle="tab"></i>
                                                            </td>

                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
-->
<!--
                                             <div class="col-md-7 " >     
                                                    {{oldObject.name}} <span class="marginLeft15">тип файла: {{oldObject.outputFileType}}</span> <span class="marginLeft15">интервал: {{oldObject.reportPeriod.caption}}</span><span class="marginLeft15"> </span>шаблон отчета: {{oldObject.reportTemplate.name}} <span ng-show="isSystemuser()"> (id = {{oldObject['id']}})</span>
                                            </div>
                                            <div class="col-md-2">     
                                                    в архиве с: {{oldObject.activeEndDate | date:'dd.MM.yyyy'}}
                                            </div>
-->
<!--                                         </td>-->
                                         <td><i class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" ng-click="selectedItem(object, oldObject)" data-target="#deleteObjectModal" data-toggle="modal"></i>
                                         </td>

                                     </tr>
                                    </table>         
                                </tr>
                            </table>  

                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>            
<!--///////////////////////////////////////////////////////////////////////////////////////////// end Data table Archive               -->                 
            </div>
            
        </div>
        
    </div>
<!--      Шаблоны отчетов-->
    <div role="tabpanel" class="tab-pane fade " id="report_templates">Шаблоны
    </div>
<!--      Списки рассылок-->
    <div role="tabpanel" class="tab-pane fade " id="mailing_lists">Рассылки
    </div>
    
  </div>

</div>

<!-- window: delete paramset-->
<div id="deleteObjectModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteObjectLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{currentObject[extraProps.deleteConfirmationProp || extraProps.idColumnName]}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deleteObject(currentObject);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noMargin noPadding nmc-cancel-button">
							<button class="btn btn-xs btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#deleteObject');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!-- Create paramset-->
<div id="createParamsetModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="createParamsetLabel" tabindex="-1">
    
    <div class="col-md-2"></div> 
    <div class="modal-sm col-md-2 col-sm-2" ng-class="{'nmc-hide':showAvailableObjects_flag, 'nmc-show':!showAvailableObjects_flag}"></div>
    <div class="modal-dialog modal-content modal-sm col-md-2 col-sm-2 noPadding nmc-modal-dialog nmc-hide" ng-class="{'nmc-hide':!showAvailableObjects_flag, 'nmc-show':showAvailableObjects_flag}">
            <div class="modal-header nmc-modal-header">
                <h3 class="nmc-h3">Доступные объекты:</h3>
            </div>
            <div class="modal-body nmc-modal-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="noPaddingBottom marginBottom10 nmc-modal-panel-with-table nmc-object-list" style="">

<!--                                    <div id = "available_objects" class = "">-->
                                    <table id="table_objects_in_window" class = "table table-striped table-condensed table-hover nmc-modal-table-with-chkbx">
                                        <tr ng-repeat="object in availableObjects">
                                            <td><input type="checkbox" ng-model="object.selected" class="nmc-checkbox-form"/>{{object.fullName}}
                                            </td>
                                        </tr>
                                    </table>
<!--                                    </div>-->
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer nmc-modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 noPadding">
                            <input type="submit" class="btn btn-block btn-xs nmc-add-button-in-modal"

                                ng-click="addSelectedObjects()"
                                value="Добавить" />
                        </div>
                        <div class=" pull-right col-xs-offset-2 col-md-4 noPadding">
                            <button class="btn btn-default btn-block btn-xs nmc-cancel-button"
                                ng-click="showAvailableObjects_flag=false">
                                Закрыть
                            </button>
                        </div>

                    </div>
                </div>		
            </div>

    </div>

	<div class="modal-dialog  modal-content col-md-7 col-xs-7 noPadding nmc-modal-dialog">
<!--        ng-class="{'nmc-modal-wide-dialog': set_of_objects_flag}">-->

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="createParamsetLabel" ng-show="createParamset_flag" class="nmc-h3">
				Создание варианта отчета
			</h3>
            <label id="createParamsetLabel" ng-show="createByTemplate_flag" class="nmc-form-label">
				Создание варианта отчета на основе архивного шаблона "{{archiveParamset.name}}"
			</label>
            <h3 id="createParamsetLabel" ng-show="!createParamset_flag" class="nmc-h3">
				Вариант отчета
			</h3>
            
		</div>
		<div class="modal-body paddingLeftRight15 nmc-modal-body">
                     
            <div role="tabpanel" class="nmc-tab-panel">

              <!-- Навигационная полоса для варианта отчета-->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" id="main_properties_tab"><a class="nmc-tab-button" href="" aria-controls="main_properties" data-target="#main_properties" role="tab" data-toggle="tab" ng-click="set_of_objects_flag=false;showAvailableObjects_flag=false;">Основные свойства</a></li>
                <li role="presentation" id="extra_properties_tab" class="nmc-hide" ng-class="{'nmc-hide':!currentReportType.reportMetaParamSpecialList_flag, 'nmc-show':currentReportType.reportMetaParamSpecialList_flag}"><a class="nmc-tab-button" href="" aria-controls="extra_properties" data-target="#extra_properties" role="tab" data-toggle="tab" ng-click="set_of_objects_flag=false;showAvailableObjects_flag=false;">Дополнительные свойства</a></li>  
                <li role="presentation" id="set_of_objects_tab"><a class="nmc-tab-button" href="" aria-controls="set_of_objects" data-target="#set_of_objects" role="tab" data-toggle="tab" ng-click="set_of_objects_flag=true;" >Выбор объектов</a></li>
<!--                  ng-show="(currentObject.reportTemplate.id!=null)&&(currentObject.reportPeriodKey!=null)"-->
              </ul>

              <!-- реализация вкладок -->
              <div class="tab-content">
            <!--      Варианты отчетов-->
                <div role="tabpanel" class="tab-pane fade in active" id="main_properties">            
                    <div class="container-fluid noPadding">
                        <div class="row-fluid well noPadding noMargin nmc-modal-panel-with-objects-tp">
                            <div class="col-md-12 noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                                <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                                    <tr>
                                        <td class="col-sm-3"><label for="inputType" class="nmc-form-label">Тип отчета</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left">{{currentReportType.reportTypeName}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-3"><label for="inputType" class="nmc-form-label">Шаблон отчета</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left">
                                            <div class="form-group noMarginBottom" ng-class="{'has-error': (currentObject.reportTemplate.id==null)}">
                                            <select class="form-control nmc-select-form"  ng-model="currentObject.reportTemplate.id" ng-options="template.id as template.name for template in templatesForCurrentParaset" ng-disabled="isDisabled()">
                                            </select>                                            
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputName" class="nmc-form-label">Наименование</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left"><input class="form-control nmc-text-input-form" id="inputName" type=text  placeholder="Наименование варианта" ng-model="currentObject.name" ng-disabled="isDisabled()">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="inputDescription" class="nmc-form-label">Описание</label>
                                        </td>
                                        <td class="nmc-text-align-left"><textarea class="form-control nmc-textarea-form" id="inputDescription" placeholder="Описание" ng-model="currentObject.description" ng-disabled="isDisabled()"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputPeriod" class="nmc-form-label">Период</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left">
                                            <div class="form-group noMarginBottom" ng-class="{'has-error':(currentObject.reportPeriodKey==null)}">
                                                <select ng-disabled="isDisabled()" class="form-control nmc-input-data nmc-select-form" id="inputPeriod" placeholder="" ng-model="currentObject.reportPeriodKey" ng-options="period.keyname as period.caption for period in reportPeriods">
                                                </select>
                                            </div>    
                                        </td>
                                    </tr>
                                    <tr ng-show="currentSign==null">
                                        <td class="col-sm-3"><label for="inputPeriod" class="nmc-form-label">Укажите интервал</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left">
                                            <div ng-disabled="isDisabled()">
                                                <span class="form-group" ng-class="{'has-error':!checkDateInterval(paramsetStartDateFormat, paramsetEndDateFormat)}">
                                                <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">c</label></div>
                                                <div class="col-sm-5">
                                                    <input ng-disabled="isDisabled()" class="form-control nmc-input-data noMargin nmc-date-input-form" type="date" ng-model="paramsetStartDateFormat"> 
                                                </div>    
                                                <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">по</label></div>
                                                <div class="col-sm-5">
                                                    <input ng-disabled="isDisabled()" class="form-control nmc-input-data noMargin nmc-date-input-form" type="date" ng-model="paramsetEndDateFormat">
                                                </div>
                                                </span>    
                                            </div>    

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputFileTemplate" class="nmc-form-label">Шаблон имени файла (<small>без расширения</small>)</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left"><input class="form-control nmc-text-input-form" id="inputFileTemplate" type=text  placeholder="Шаблон имени файла" ng-model="currentObject.outputFileNameTemplate" ng-disabled="isDisabled()">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputPeriod" class="nmc-form-label">Тип файла</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left"><select class="form-control nmc-input-data nmc-select-form" id="inputPeriod" placeholder="" ng-model="currentObject.outputFileType" ng-disabled="isDisabled()" ng-options="fileType for fileType in fileTypes"> 
<!--
                                                <option value="PDF" selected>PDF</option>
                                                <option value="HTML">HTML</option>
                                                <option value="XLSX">XLSX</option>
-->
<!--                                                <option>ZIP</option>-->
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" class="col-sm-3"><input type=checkbox ng-model="currentObject._default" class="nmc-checkbox-form">По умолчанию
                                        </td>
                                    </tr>                            
                                    <tr>
                                        <td class="col-sm-3"><label for="inputStartDate" class="nmc-form-label">Действует с:</label>
                                        </td>
                                        <td class="nmc-text-align-left col-sm-9">

                                            <input class="form-control  marginRight28 nmc-input-data nmc-date-input-form" type="date" id="inputStartDate" placeholder="дд.ММ.гггг"  ng-model="activeStartDateFormat" ng-disabled="isDisabled()"> 
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="col-sm-3"><label for="inputValue" class="nmc-form-label">Дата отправки в архив:</label>
                                        </td>
                                        <td class="col-sm-9 nmc-text-align-left">{{currentObject.activeEndDate | date:'dd.MM.yyyy'}} 
                                        </td>
                                    </tr>
<!--
                                    <tr>
                                        <td colspan="2" class="col-sm-3"><input ng-model="currentObject.showParamsBeforeRunReport" ng-disabled="!checkRequiredFieldsOnSave()" type=checkbox class="nmc-checkbox-form">Показывать параметры отчета перед запуском.
                                        </td>
                                    </tr>
-->
                                    <tr>
                                        <td colspan="2" class="col-sm-3"><input ng-disabled="checkOutputFileZipped()" type=checkbox ng-model="currentObject.outputFileZipped" class="nmc-checkbox-form" >Упаковывать файлы отчета в ZIP архив.
                                        </td>
                                    </tr> 

                                </table>

                            </div> 
                        </div>

                    </div>
                  </div> 
<!--                  Вкладка с дополнительными свойствами -->
                  <div role="tabpanel" class="tab-pane fade " id="extra_properties">
                       <div class="container-fluid noPadding">
                            <div class="row-fluid well noPadding noMargin nmc-modal-panel-with-objects-tp">
                                <div class="col-md-12 noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
    <!--
                        <div class="container-fluid noPadding">
                            <div class="row-fluid well noPadding noMargin nmc-modal-panel-with-objects-tp nmc-modal-panel-with-table">
    -->
                                <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                                        <tr ng-repeat="paramSpecial in currentParamSpecialList">
                                            <td class="col-sm-3"><label for="inputType" class="nmc-form-label">{{paramSpecial.paramSpecialCaption}}</label>
                                            </td>
    <!--
                                            <td class="col-sm-9 nmc-text-align-left">{{currentReportType.reportTypeName}}
                                            </td>
    -->
                                            <td class="col-sm-9 nmc-text-align-left">
                                                <div ng-switch on="paramSpecial.paramSpecialTypeKeyname">
                                                    <span ng-switch-when="SPECIAL_STRING">
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=text  placeholder="" ng-model="paramSpecial.textValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                    </span>
                                                    <span ng-switch-when="SPECIAL_NUMERIC">
                                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" id="inputSpecParam" type=text  placeholder="" ng-model="paramSpecial.numericValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                    </span>
                                                    <span ng-switch-when="SPECIAL_DATE">
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-model="paramSpecial.oneDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                    </span>
                                                    <span ng-switch-when="SPECIAL_DATETIME">
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type="date"  placeholder="" ng-model="paramSpecial.oneDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                    </span>
                                                    <span ng-switch-when="SPECIAL_DATETIME_PERIOD">
<!--
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.startDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                        
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.endDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
-->
                                                        <div ng-disabled="isDisabled()">
                                                            <span class="form-group" >
                                                            <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">c</label></div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type="date"  placeholder="" ng-model="paramSpecial.startDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                            </div>    
                                                            <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">по</label></div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type="date"  placeholder="" ng-model="paramSpecial.endDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                            </div>
                                                            </span>    
                                                        </div> 
                                                    </span>
                                                    <span ng-switch-when="SPECIAL_DATE_PERIOD">
<!--
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.startDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                        
                                                        <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.endDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
-->
                                                        <div ng-disabled="isDisabled()">
                                                            <span class="form-group" >
                                                            <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">c</label></div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-model="paramSpecial.startDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                            </div>    
                                                            <div class="col-sm-1 paddingTop5"><label class="nmc-form-label">по</label></div>
                                                            <div class="col-sm-5">
                                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-model="paramSpecial.endDateValueFormatted" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                            </div>
                                                            </span>    
                                                        </div> 
                                                    </span>
<!--
                                                    <span ng-switch-when="SPECIAL_PERIOD_DATE">
                                                    </span>
-->
                                                    <span ng-switch-default>
                                                        <select class="form-control nmc-text-input-form" id="inputSpecParam" ng-model="paramSpecial.directoryValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired" ng-options="specvalue[paramSpecial.specialTypeDirectoryValue] as specvalue[paramSpecial.specialTypeDirectoryCaption] for specvalue in paramSpecial.specialTypeDirectoryValues"></select> 
                                                    </span>
                                                </div>
<!--
                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=text  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_STRING'" ng-model="paramSpecial.textValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                <input class="form-control nmc-text-input-form nmc-input-digital-data" id="inputSpecParam" type=text  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_NUMERIC'" ng-model="paramSpecial.numericValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_DATE'" ng-model="paramSpecial.oneDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.startDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=date  placeholder="" ng-show="paramSpecial.paramSpecialTypeKeyname==='SPECIAL_PERIOD_DATE'" ng-model="paramSpecial.endDateValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">
                                                <input class="form-control nmc-text-input-form" id="inputSpecParam" type=select  placeholder="" ng-show="paramSpecial.directoryValue==='SPECIAL_CONT_OBJECT_GROUP'" ng-model="paramSpecial.directoryValue" ng-disabled="isDisabled()" ng-required="paramSpecial.paramSpecialRequired">                                                
-->
                                            </td>
                                        </tr>
                                </table>    

                            </div>
                        </div>
                    </div>
                </div>   
<!--               Вкладка с выбранными объектами   -->
                <div role="tabpanel" class="tab-pane fade " id="set_of_objects">
                    <div class="container-fluid noPadding">
                        <div class="row-fluid ">
               
<!--
                             <div class="col-md-6 nmc-object-list nmc-modal-panel-with-table" id="object_list">
                                <div><label class="nmc-form-label">Доступные объекты</label></div>
                                <div>
                                    <table class="table table-condensed table-striped nmc-modal-table-with-chkbx" ng-disabled="isDisabled()">
                                        <tr ng-repeat="object in availableObjects">
                                            <td><input ng-disabled="isDisabled()" type="checkbox" ng-model="object.selected" ng-click="addObject(object)" class="nmc-checkbox-form">{{object.fullName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
-->
                            <div class="col-md-12 noPadding nmc-modal-panel-with-objects-tp nmc-modal-panel-with-table" id="object_list">
                                <div><label class="nmc-form-label">Выбранные объекты</label></div>
                                <div>
                                    <table class="table table-condensed table-striped nmc-modal-table-with-chkbx" >
                                        <tr ng-repeat="object in selectedObjects">
                                            <td>
<!--                                                <input ng-disabled="isDisabled()" type="checkbox" ng-model="object.selected" ng-click="removeObject(object)" class="nmc-checkbox-form">-->
                                                {{object.fullName}}
                                            </td>
                                            <td><button ng-disabled="isDisabled()" class="btn btn-xs nmc-remove-button" ng-click="removeSelectedObject(object)"></button>
<!--                                            <img height="12" width="12" src="images/cross-512.png" ng-click="removeSelectedObject(object)">-->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>    
                </div>
                </div>	
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">
					<div class="row">
                        <div class=" col-md-3">
                             <button class="btn btn-xs nmc-add-button-in-modal" ng-click="showAvailableObjects_flag=!showAvailableObjects_flag;" ng-class="{'nmc-show':showAddObjectButton(), 'nmc-hide':!showAddObjectButton()}">Добавить объекты</button>
                        </div>
                        <div class="col-xs-offset-3 col-md-3">
							<input ng-disabled="isDisabled()" type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="checkAndSaveParamset(currentObject)"
								value="Сохранить" 
                                />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noPadding noMargin">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#currentObject');setDefault();">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>
   
    
<div id="moveToArchiveModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="moveToArchiveLabel" tabindex="-1">

	<div class="modal-dialog modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="moveToArchiveLabel" class="nmc-h3">
				Перемещение в архив 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="moveForm" novalidate>
				<p class="paddingLeft10">
					<label class="text-warning nmc-form-label"> Вы хотите переместить в архив  
					</label> 
					<label class="text-primary nmc-form-label">{{currentObject.name}}</label> 
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>

			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="moveToArchive(currentObject);"
								value="Переместить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#moveToArchive');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<div id="messageForUserModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="messageForUserLabel" tabindex="-1">

	<div class="modal-dialog modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="messageForUserLabel" class="nmc-h3">
				Внимание! 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
			<form name="moveForm" novalidate>
                <pre>
                    {{messageForUser}}  
                </pre>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-xs btn-primary btn-block nmc-ok-button"
								ng-click="saveParamset(currentObject);"
								value="Ок" 
                                data-target="#main_properties" data-toggle="tab"    
                                   />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#moveToArchive');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>