<div>Портал / Отчеты</div>
<h2>Отчеты</h2>

<div>
    <table id="datatabl" class="table table-bordered table-striped  table-condensed noMarginBottom">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="" ng-dblclick="">
                        <td style="padding:0;">
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom"> 

                                <tr>

                                    <td ng-class="column.class">

                                        <div class="btn-toolbar col-md-1" style="padding-left:5px;width:50px;">

                                            <i class="btn btn-default btn-xs glyphicon noMargin" ng-class="{'glyphicon-minus': object.showGroupDetails, 'glyphicon-plus': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);selectedItem(object)"></i>

                                        </div>
                                        <div class="col-md-11">
                                            <div class="col-md-3 noPadding"><b>{{object.reportTypeName}}</b> <small>(вариантов: {{object.paramsetsCount || 0}})</small>
                                            </div>    
                                            <div class="col-md-9" ng-show="object.reportType=='COMMERCE_REPORT'">
                                            </div>
                                        </div>


                                    </td>

                                </tr>
                                <tr>

                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataЗaramsetsTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover " ng-show="object.showGroupDetails">

                                     <tr ng-repeat="oldObject in object.paramsets | orderBy:orderBy.field:!orderBy.asc" ng-click="" ng-dblclick="">

                                         <td class="col-md-12">
                                             <div class="col-md-1" style="width:45px;">
                                             </div>
                                              <div class="btn-toolbar col-md-2" style="text-align: right;">
                                                    <div class="btn-group" style="width:45px;">
                                                      <table>
                                                          <tr>
                                                            <td>    <i title="Сформировать" class="btn btn-default btn-xs glyphicon glyphicon-play" ng-click="createReport(oldObject)"></i>
                                                            </td>
                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
                                             <div class="col-md-7" ng-class="{'default': oldObject._default}">     
                                                    {{oldObject.name}} <label class="marginLeft15"> </label> тип файла: {{oldObject.outputFileType}} <label class="marginLeft15"  ng-class="{'default': oldObject._default}"> </label>интервал: {{oldObject.reportPeriod.caption}} <label class="marginLeft15"  ng-class="{'default': oldObject._default}"> </label>шаблон отчета: {{oldObject.reportTemplate.name}}
                                            </div>
                                            <div class="col-md-2" ng-class="{'default': oldObject._default}">     
                                                    действует с: {{oldObject.activeStartDate | date:'dd.MM.yyyy'}}
                                            </div>
                                         </td>

                                     </tr>
                                    </table>         

                                </tr>


                            </table>  

                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>          
</div>

