<div>Портал / Настройки / Отчеты</div>
<h2>Отчеты</h2>

<div role="tabpanel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="" aria-controls="report_templates" data-target="#report_templates" role="tab" data-toggle="tab">Шаблоны</a></li>
    <li role="presentation"><a href="" aria-controls="param_sets" data-target="#param_sets" role="tab" data-toggle="tab">Варианты отчетов</a></li>
    <li role="presentation"><a href="" aria-controls="mailing_lists" data-target="#mailing_lists" role="tab" data-toggle="tab">Рассылки</a></li>
    
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!--      Шаблоны отчетов-->
    <div role="tabpanel" class="tab-pane fade in active" id="report_templates">
        <!--       Активные / Архивные -->
        <ul class="nav nav-pills marginLeft15 marginTop15 marginBottom10" role="tablist">
            <li role="presentation" class="active" style="border: 1px solid #ddd;border-radius:4px;"><a href="" aria-controls="active_templates" data-target="#active_templates" role="tab" data-toggle="tab" ng-click="active_tab_active_templates=true" >Действующие</a></li>
            <li role="presentation" style="border: 1px solid #ddd;border-radius:4px; margin-left:0px;"><a href="" aria-controls="arhive_templates" data-target="#arhive_templates" role="tab" data-toggle="tab" ng-click="active_tab_active_templates=false">Архив</a></li>
            <li ng-show="active_tab_active_templates" ><a class="" href="" aria-controls="" data-target="" role="" data-toggle="" style="margin-left: 15px;border: 1px solid #ddd; background-color: #337ab7;color:white;">Добавить</a></li>
        </ul>
        <div class="tab-content">
<!--            Активные шаблоны-->
            <div role="tabpanel" class="tab-pane fade in active" id="active_templates">
<!--///////////////////////////////////////////////////////////////////////////////////////////// Data table                -->
                <table id="datatabl" class="table table-bordered table-striped  table-condensed noMarginBottom">

                <!--  Постороение таблицы с данными  -->
                    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="selectedItem(object)" ng-dblclick="showDetails(object)">
                        <td style="padding:0;"><!--    <td> Уровень 1     -->
                            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom"> <!--    <table> Уровень 2     -->


                                <tr><!--    <tr> Уровень 3     -->
                <!-- этот столбец отображается, когда включена группировка или отображается иерархия объектов-->
                            <td class="col-md-1 noMargin" style="padding:0;">
                                <div class="btn-toolbar marginLeft5">
         
                                        <i class="btn btn-default btn-xs glyphicon noMargin" ng-class="{'glyphicon-minus': object.showGroupDetails, 'glyphicon-plus': !object.showGroupDetails}" ng-click="showObjectDetails(object); toogleShowGroupDetails(object);selectedItem(object)"></i>
               
                                </div>        

                            </td>


                    <!--  Выводим данные в соответствующие столбцы таблицы  -->
                            <td ng-repeat="column in columns" ng-class="column.class" ng-switch on="object.editMode" >
                                <div ng-switch-default ng-switch on="!column.lookup">
                                    <span ng-switch-default>
                    <!--                    В зависимости от названия столца делаем соответствующую разметку-->
                                        <div ng-switch on="column.name">
                    <!--                        По дефолту выводим содержимое данной ячейки-->
                                            <span ng-switch-default>
                                                <div>
                                                    <b>{{object.reportType}}</b> <small>шаблонов: {{object.templatesCount}}</small>
                                                    </div>
                                            </span>
                                        </div>
                                    </span>
                                    <span ng-switch-when="false"> {{ getLookupValue(column.lookup, object[column.name]) }} </span>
                                </div>

                                <div ng-switch-when="true" ng-switch on="!column.lookup">
                                    <input ng-switch-default ng-model="object[column.name]" model-change-blur ng-disabled="column.autoincrement" class="form-control" />
                                    <select ng-switch-when="false" ng-options="l[column.lookup.key] as l[column.lookup.value] for l in getLookupData(column.lookup.table) | orderBy: column.lookup.orderBy.field:!column.lookup.orderBy.asc" ng-model="object[column.name]" class="form-control"></select>
                                </div>

                            </td>

                                </tr><!--    </tr> Уровень 3     -->
                                <tr><!--    <tr> Уровень 3     -->


                                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
                                <table id="dataZpointTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover " ng-show="object.showGroupDetails">

                                     <tr ng-repeat="oldObject in oldObjects | orderBy:orderBy.field:!orderBy.asc" ng-click="selectedItem(oldObject)" ng-dblclick="getIndicators(oldObject)">
                                         <td class="col-md-1" style="padding-left:3%;">
                                             <div class="btn-toolbar" style="text-align: right;">
                                                    <div class="btn-group">
                                                      <table>
                                                          <tr>
                                                            <td>    <i title="Установить как шаблон по умолчанию" class="btn btn-default btn-xs glyphicon glyphicon-check" ng-click="" ></i> 
                                                            </td>    
                                                            <td>    <i title="В архив" class="btn btn-default btn-xs glyphicon glyphicon-arrow-right glyphicon-list" ng-click="" data-target="" data-toggle="modal"></i>
                                                            </td>
                                                          </tr>
                                                      </table>
                                                    </div>    
                                                </div>
                                         </td>
                                         <td ng-repeat="oldColumn in oldColumns">
                                             <div ng-switch on="oldColumn.name">
                    <!--                        Если в столбце должна отображаться категория, то...-->
                                            <span ng-switch-when="noticeCat">
                    <!--                                Смотрим какая категория у уведомления и выводим соответствующий значок-->
                                                <div ng-switch on="oldObject[oldColumn.name]">
                                                    <span ng-switch-when="Критическая"><img height=16 width=16 src="images/crit.png"></span>
                                                    <span ng-switch-when="Предупреждение"><img height=16 width=16 src="images/alert.png"></span>
                                                    <span ng-switch-when="Информация"><img height=16 width=16 src="images/info-icon.jpg"></span>
                                                    <span ng-switch-default>{{oldObject[oldColumn.name]}}</span>
                                                </div>
                                            </span> 
                                            <span ng-switch-when="zpointType" style="text-align: right;">
                    <!--                                Смотрим какая категория у уведомления и выводим соответствующий значок-->
                                                <div ng-switch on="oldObject[oldColumn.name]">
                                                    <span ng-switch-when="cw"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-22-snowflake.png"></span>
                                                    <span ng-switch-when="heat">
                                                        <img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-85-heat.png">
                <!--                                        <img height=16 width=16 src="images/ts.png">-->
                                                    </span>
                                                    <span ng-switch-when="hw"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-93-tint.png"></span>
                                                    <span ng-switch-when="gas"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-23-fire.png"></span>
                                                    <span ng-switch-when="el"><img height=16 width=16 src="images/es.png"></span>
                                                    <span ng-switch-when="env"><img height=16 width=16 src="images/es.png"></span>
                                                    <span ng-switch-default>{{oldObject[oldColumn.name]}}</span>
                                                </div>
                                            </span>      
                    <!--                        По дефолту выводим содержимое данной ячейки-->
                                            <span ng-switch-default>
                                                    {{oldObject[oldColumn.name]}}
                <!--                                Раскрываем группировку-->
                                            </span>
                                        </div>
                                         </td>

                                         <!-- Колонка для редактирования элементов                   -->
                                            <td ng-show="bObject && !bList" class="col-md-1"> 
                                                

                                            </td>


                                     </tr>
                                    </table>         

                                </tr><!--    <tr> Уровень 3     -->


                            </table>  <!--    </table> Уровень 2     -->
                <!--    </td> Уровень 1     -->
                    </td>     
                    </tr>
                    <!--        End Построение таблицы с данными-->
                    <tr>
                        <td>

                        </td>
                    </tr>
                </table>                
<!--///////////////////////////////////////////////////////////////////////////////////////////// end Data table                -->
            </div>
<!--            Архивные шаблоны-->
             <div role="tabpanel" class="tab-pane fade " id="arhive_templates">Архив шаблонов
            </div>
            
        </div>
        
    </div>
<!--      Варианты отчетов-->
    <div role="tabpanel" class="tab-pane fade " id="param_sets">Варианты
    </div>
<!--      Списки рассылок-->
    <div role="tabpanel" class="tab-pane fade " id="mailing_lists">Списки
    </div>
    
  </div>

</div>