<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="param_sets" role="tab" data-target="#param_sets" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>        
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/program" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="object_trees">
      </div>
    </div>
</div>
<div role="tabpanel" class="nmc-tab-panel">

  <!-- Навигационная полоса -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="object_groups_3rd_menu_item" 
        role="presentation" 
        >
        <a class="nmc-tab-button" 
           href="#/settings/object_groups/" 
           aria-controls="object_groups_sets" 
           data-target="#object_groups_sets" 
           role="tab" 
           data-toggle="tab">
            Группы
        </a>
      </li>
    <li id="object_trees_3rd_menu_item" 
        role="presentation"
        class="active"
        >
        <a class="nmc-tab-button" 
           href="" 
           aria-controls="object_trees_sets" 
           data-target="#object_trees_sets"  
           role="tab" 
           data-toggle="tab">
            Иерархии
        </a>
      </li>  
  </ul>

  <!-- реализация вкладок -->
  <div class="tab-content">
<!--      Группы объектов-->
    <div role="tabpanel" class="tab-pane fade in active" id="object_trees_sets">
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-md-3 noPadding paddingRight20" ng-show="objectCtrlSettings.isTreeView == true">                    
            <div class="row nmc-main-workspace-header marginBottom5 marginTop5">
                <div class="col-xs-6 col-md-6">
                    <div class="btn-group">
                          <button 
                                  title="Действия над объектом" 
                             type="button" 
                             class="btn btn-default btn-xs dropdown-toggle nmc-toggle-button-trees" 
                             data-toggle="dropdown" 
                             aria-haspopup="true" 
                             aria-expanded="false" 
                             >
                              {{messages.treeMenuHeader}} <span ng-show="isSystemuser()">(id = {{data.currentTree.id}})</span> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu nmc-dropdown-menu nmc-dropdown-menu-filter">
                            <li class="menu-item" role="presentation">
                                <a href=""
                                   class=""
                                   ng-click="data.newTree = {}"
                                   data-target="#showTreeOptionModal"
                                   data-toggle="modal"
                                   >
                                    Создать новую иерархию                                        
                                </a>
                            </li>
                            <li ng-if="data.treeTemplates.length > 0" 
                                class="menu-item dropdown dropdown-submenu" role="presentation">
                                <a href="" 
                                   class="" 
                                   data-toggle="dropdown" 
                                   aria-haspopup="true" 
                                   aria-expanded="false"  
                                   >
                                    Создать иерархию по шаблону
                                </a>
                                <ul ng-if="data.treeTemplates.length > 0"
                                    class="dropdown-menu nmc-dropdown-menu">
                                    <li class="menu-item" 
                                        ng-repeat="treeTemplate in data.treeTemplates" 
                                        >                                            
                                        <a href=""
                                           class=""
                                           ng-click="createTreeByTemplate(treeTemplate)"
                                           data-target="#showTreeOptionModal"
                                           data-toggle="modal"
                                           >
                                            {{treeTemplate.templateName}}
                                        </a>                                                
                                    </li>                                        
                                </ul>                                    
                              </li>
                        </ul>
                        <ul class="dropdown-menu nmc-dropdown-menu nmc-tree-list-items nmc-dropdown-menu-filter">
                              <li ng-if="data.trees.length > 0"
                                  class="menu-item" 
                                  role="presentation" 
                                  ng-repeat="tree in data.trees">
                                  <a href="" class=""
                                     ng-click="loadTree(tree);">
                                      {{tree.objectName || tree.id}}
                                  </a>
                              </li>
                          </ul>
                        </div>

                </div>
                <div class="col-xs-6 col-md-6">
                </div>
            </div>
             <div class="row nmc-tree-with-fixed-header">
                  <div ui-tree="options" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="data.currentTree" >
                      <li ng-repeat="item in data.currentTree.childObjectList" ui-tree-node ng-include="'object_tree_items_renderer.html'"></li>
                    </ol>
                  </div>
             </div>
        </div>
        <div class="noPadding" 
             ng-class="{'col-xs-12 col-md-12': objectCtrlSettings.isTreeView != true, 'col-xs-9 col-md-9': objectCtrlSettings.isTreeView == true}">
            <div  ng-show="loading" class="nmc-loading">
                <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
            </div>
            <div class="container-fluid" ng-hide="loading">
                <div class="row nmc-main-workspace-header marginBottom5 marginTop5">
                    <div class="col-md-3 noPadding">
                    </div>
                    <div class="col-md-7"></div>
                    <div class="input-group col-md-4 filter pull-left nmc-search-form">   
                        <span class="input-group-addon nmc-search-form-addon"><i class="glyphicon glyphicon-search nmc-search-form-button"></i></span>
                        <input title="Введите текст для поиска объектов" type="text" class="form-control nmc-text-input-form" ng-model="filter" ng-change="searchObjects(filter)">
                    </div>
                    <div class="col-md-offset-2 col-md-2">
                            <label class="nmc-form-label">Всего:</label>
                             <input type="text" disabled class="form-control nmc-view-allcount nmc-inactive-form" ng-model="objects.length">
                            <span id="timeOutput"></span>
                    </div>
                </div>
             </div>

            <!-- Шапка для таблицы-->
            <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table" ng-hide="loading">
                    <thead>
                        <tr>
                            <th style="padding: 0; border-bottom-width: 0px;">
                                <table class="crud-grid table table-lighter table-condensed noMargin">
                                    <thead>
                                        <tr class="nmc-child-table-header">
                                            <th ng-hide="!objectCtrlSettings.extendedInterfaceFlag" 
                                                class="nmc-td-for-button-object-control" 
                                                style="padding: 0 0 3px;">

                                                <div class="btn-group">
                                                    <button ng-disabled="!(objectCtrlSettings.anySelected == true) ||  (objectCtrlSettings.isTreeView == false || data.trees.length == 0)" 
                                                            title="Действия над объектами" 
                                                            type="button" 
                                                            class="btn btn-default btn-xs dropdown-toggle" 
                                                            data-toggle="dropdown" 
                                                            aria-haspopup="true" 
                                                            aria-expanded="false" 
                                                            style="height: 15px; font-size: 8px; width: 15px; padding-left: 2px;margin-left: 6px; margin-right: 3px;">
                                                    <span class="caret"></span>
                                                    </button>
                                                  <ul class="dropdown-menu">
<!--                                                    <li><a href="" ng-click="setClientsInit()">{{messages.signClientsObjects}}</a></li>-->
                                                    <li ng-if="objectCtrlSettings.isTreeView == true && data.selectedNode.type == 'root' && data.trees.length > 0">
                                                        <a href="" 
                                                           data-target="#viewTreeModal" 
                                                           data-toggle="modal" 
                                                           ng-click="moveToNodeInit()">{{messages.moveToNode}}
                                                        </a>
                                                    </li>
                                                    <li ng-if="objectCtrlSettings.isTreeView == true && data.selectedNode.type != 'root' && data.trees.length > 0">
                                                        <a href="" 
                                                           ng-click="releaseFromNode()">{{messages.releaseFromNode}}
                                                        </a>
                                                    </li>
                                                  </ul>
                                                </div>
                                                <input title="Выбрать / отменить все" 
                                                       type="checkbox" 
                                                       ng-model="objectCtrlSettings.allSelected" 
                                                       ng-click="toggleObjects(objectCtrlSettings.allSelected)" 
                                                       class="marginRight2" 
                                                       style="vertical-align: middle;"/>
                                            </th>
                                            <th class="nmc-td-for-button"></th>
                                            <th>Название объекта
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>
                    </thead>
            </table>
            <div>
                <div class=""                     
                     ng-show="!(objectsOnPage.length > 0)" 
                     ng-hide="loading || (objectsOnPage.length > 0)">
                    <h3 class="nmc-h3">Объектов нет.</h3>
                </div>
                <div id="divWithObjectTable" class="nmc-table-with-fixed-header" ng-hide="loading">
                    <table id="tableInf" class="crud-grid table table-lighter table-condensed noMarginBottom nmc-parent-table nmc-parent-object-table">
                    <thead>
                        <tr class="nmc-hide">
                            <th style="padding: 0; border-bottom-width: 0px;">
                                <table class="crud-grid table table-lighter table-condensed noMargin">
                                    <thead>
                                        <tr class="nmc-child-table-header">
                                            <th ng-hide="!objectCtrlSettings.extendedInterfaceFlag" class="nmc-td-for-button-object-control" style="padding: 0 5px;">
                                                <input title="Выбрать / отменить все" 
                                                       type="checkbox" 
                                                       ng-model="objectCtrlSettings.allSelected" 
                                                       ng-click="toggleObjects(objectCtrlSettings.allSelected)"/>
                                                <div class="btn-group" style="vertical-align: initial;">

                                                  <button title="Действия над объектами" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 15px; font-size: 8px; width: 15px; padding-left: 2px;">
                                                    <span class="caret"></span>
                                                  </button>
                                                  <ul class="dropdown-menu">
                                                    <li><a href="" ng-click="">{{messages.deleteObjects}}</a></li>            
                                                  </ul>
                                                </div>
                                            </th>
                                            <th class="nmc-td-for-button"></th>
                                            <th>Название объекта
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat='object in objectsOnPage track by $index' ng-attr-id={{"obj"+object.id}}>
                        <td>
                            <table>
                                <tr ng-class="{'nmc-tr-odd':($index%2!==0)}">

                                    <td ng-hide="!objectCtrlSettings.extendedInterfaceFlag" class="nmc-td-for-button-object-control">            
                                        <div class="btn-group">
                                          <i title="Действия над объектом" 
                                             type="button" 
                                             class="btn btn-xs glyphicon glyphicon-menu-hamburger nmc-button-in-table dropdown-toggle" data-toggle="dropdown" 
                                             aria-haspopup="true" 
                                             aria-expanded="false" 
                                             ng-click="" 
                                             style="font-size: .9em;"
                                             ng-disabled="objectCtrlSettings.isTreeView !== true || data.trees.length == 0"
                                             >
                                            </i>
                                          <ul class="dropdown-menu">
                                            <li ng-if="objectCtrlSettings.isTreeView == true && data.selectedNode.type == 'root' && data.trees.length > 0">
                                                <a href="" 
                                                   data-target="#viewTreeModal" 
                                                   data-toggle="modal" 
                                                   ng-click="moveToNodeInit(object)">{{messages.moveToNode}}
                                                </a>
                                            </li>
                                            <li ng-if="objectCtrlSettings.isTreeView == true && data.selectedNode.type != 'root' && data.trees.length > 0">
                                                <a href=""                                             
                                                   ng-click="releaseFromNode(object)">{{messages.releaseFromNode}}</a>
                                            </li>
                                          </ul>
                                        </div>            
                                        <input type="checkbox" ng-click="toggleObject(object)" ng-model="object.selected" class="marginRight2" style="vertical-align: middle;"/>
                                    </td>
                                    <td class="nmc-td-for-button"> 
                                    </td>

                                    <td>
                                        {{object.fullName}}<span ng-show="isSystemuser()">(id = {{object.id}})</span>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr ng-attr-id="{{'trObjZp'+object.id}}" class="nmc-tr-zpoint">
                                </tr>
                            </table>
                         </td>        
                     </tr>            
                    </tbody>
                </table>            
              </div>
            </div><!-- end of scrolling table div -->
        </div>
    </div>
</div>
    
<!--    window: add/change level-->
<div id="treeLevelModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="treeLevelLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="setClientLabel" class="nmc-h3">
				Уровень
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr ng-if="data.parentLevel.templateItemId">
                                <td class="col-sm-3"><label for="viewLevelType">Тип узла</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         ng-class="{'has-error': !(data.currentLevel.objectName >'')}">
                                        <input class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="viewLevelType" 
                                               placeholder="" 
                                               ng-model="data.currentLevel.levelType"
                                               disabled
                                               />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputLevelName">Наименование</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         ng-class="{'has-error': !(data.currentLevel.objectName >'')}">
                                        <input class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="inputLevelName" 
                                               placeholder="" 
                                               ng-model="data.currentLevel.objectName"
                                               />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputLevelName">Родительский узел</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         >
                                        <input ng-if="data.parentLevel.type != 'root'"
                                               class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="inputLevelName" 
                                               placeholder="" 
                                               ng-model="data.parentLevel.objectName"
                                               disabled/>
                                        <div ng-if="data.parentLevel.type == 'root'" class="well noMargin nmc-text-output">
                                            {{data.currentTree.objectName || data.currentTree.id}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
            <span class="pull-left">
            <p 
               type="button" 
                    class="btn btn-xs nmc-add-button-in-modal"                
                    title="Сохранить текущий и создать еще один уровень" 
                    ng-click="saveNode(data.currentLevel, data.parentLevel, true)"
                    
               >
                Сохранить и создать еще
            </p>
        </span>
            <input type="submit" 
                   class="btn btn-primary btn-xs nmc-save-button"
					ng-click="saveNode(data.currentLevel, data.parentLevel)"
					value="Сохранить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" 
                    data-dismiss="modal"
                    ng-click="exit()">
								Отменить
			</button>				
		</div>
	</div>
</div>
    
    <!--    window: add/change tree-->
<div id="showTreeOptionModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showTreeOptionLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showTreeOptionLabel" class="nmc-h3">
				Иерархия
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="inputTreeName">Наименование</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         ng-class="{'has-error': !(data.newTree.objectName >'')}">
                                        <input class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="inputTreeName" 
                                               placeholder="" 
                                               ng-model="data.newTree.objectName"
                                               />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputTreeType">Тип</label>
                                </td>
                                <td colspan="2" class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         >                                        
                                        <select class="form-control nmc-select-form"
                                                ng-model="data.newTree.templateId" 
                                                ng-options="template.id as template.templateName for template in data.treeTemplates"
                                                disabled>
                                        </select>
                                        
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">            
            <input type="submit" 
                   class="btn btn-primary btn-xs nmc-save-button"
					ng-click="saveTree(data.newTree)"
					value="Сохранить" />
            <button class="btn btn-default btn-xs nmc-cancel-button" 
                    data-dismiss="modal"
                    ng-click="exit()">
								Отменить
			</button>				
		</div>
	</div>
</div>
    
<!--    delete tree-->
<div nmc-view-delete-modal-window 
     message = "{{data.currentDeleteMessage}}"      
     confirm-label = "{{confirmLabel}}"
     control-code = "{{sumNums}}"
     is-systemuser = "isSystemuser()"
     delete-item-click = "deleteHandler(data.currentDeleteItem)">
</div>

    <!--    window: move objects to node-->
<div id="viewTreeModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="viewTreeLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="viewTreeLabel" class="nmc-h3">
				Выберете узел иерархии "{{data.treeForMove.objectName}}"
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 noPadding marginBottom10 nmc-modal-panel-with-table" style="">
                          <div ui-tree="options" data-drag-enabled="false">
                            <ol ui-tree-nodes ng-model="data.treeForMove" >
                              <li ng-repeat="item in data.treeForMove.childObjectList" 
                                  ui-tree-node 
                                  ng-include="'object_tree_items_renderer.html'">
                                </li>
                            </ol>
                          </div>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">            
            <input type="submit" 
                   class="btn btn-primary btn-xs nmc-save-button"
					ng-click="moveToNode()"
                   ng-disabled="data.selectedNodeForMove == null"
					value="Привязать" />
            <button class="btn btn-default btn-xs nmc-cancel-button" 
                    data-dismiss="modal"
                    ng-click="exit()">
								Отменить
			</button>				
		</div>
	</div>
</div>

<!--        Object tree view template-->
<script type="text/ng-template" id="object_tree_items_renderer.html">
    <div ui-tree-handle ng-click="selectNode(item)"
         ng-mouseover = "item.isHover = true"
         ng-mouseleave = "item.isHover = false"
         ng-class="{'nmc-bg-distinguish': item.isSelected}"
         class="nmc-ui-tree-handle">
        <div class="btn-group "
             ng-show="objectCtrlSettings.isObjectMoving != true">
          <i type="button" 
                  class="btn btn-xs glyphicon glyphicon-menu-hamburger nmc-button-in-table dropdown-toggle" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false"
                  ng-disabled=false
             >
          </i>
          <ul class="dropdown-menu noMarginI">
            <li ng-hide="addNodeDisabled(item)"><a href="" ng-click="createNodeInit(item)" 
                   data-target="#treeLevelModal" 
                   data-toggle="modal"
                   
                   >Добавить узел</a></li>                            
            <li role="presentation" class="divider"></li>
            <li><a href="" ng-click="removeNodeInit(item)">Удалить 
                <span ng-if="item.type != 'root'">узел</span>
                <span ng-if="item.type == 'root'">иерархию</span></a></li>
          </ul>
        </div>
        <i class="btn btn-xs glyphicon"
             ng-class="{'glyphicon-chevron-right': collapsed && item.childObjectList.length > 0, 'glyphicon-chevron-down': !collapsed && item.childObjectList.length > 0, 'glyphicon-chevron-right nmc-button-disabled': !(item.childObjectList.length > 0)}"
             data-nodrag ng-click="toggle(this)">                                  
        </i>
        <span ng-if = "item.type == 'root'">
              <strong>\</strong>
        </span>
        <span class="nmc-valign-middle">
            {{item.objectName}}<span ng-show="isSystemuser()">(id = {{item.id}})</span>
        </span>
    </div>
    <ol ui-tree-nodes="options" ng-model="item.childObjectList" ng-class="{hidden: collapsed}">
      <li ng-repeat="item in item.childObjectList" ui-tree-node ng-include="'object_tree_items_renderer.html'">
      </li>
    </ol>
</script>    