<!-- Вкладки рабочей области-->
<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="param_sets" role="tab" data-target="#param_sets" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object-view/" aria-controls="object-view" data-target="#object-view" role="tab" data-toggle="tab">Объекты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>
        <li role="presentation" ng-show="isSystemViewInfo()"><a class="nmc-main-tab-button" href="#/settings/about-program/" aria-controls="about-program" data-target="#about-program" role="tab" data-toggle="tab">О программе</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="settings-program">
      </div>
    </div>
</div>

<div class="nmc-tariff-main-div">
    <div class="marginTop5">
        <div class="container-fluid">
            <div class="row" ng-repeat="setting in data.modifySettings"
                 ng-class="{'nmc-sms-prop-row': setting.subscrPrefKeyname == 'SUBSCR_DAY_COUNT_SMS_PREF' || setting.subscrPrefKeyname == 'SUBSCR_HOUR_COUNT_SMS_PREF' || setting.subscrPrefKeyname == 'SUBSCR_ZOOM_MAP_PREF' || setting.subscrPrefKeyname == 'SUBSCR_LNG_MAP_PREF' || setting.subscrPrefKeyname == 'SUBSCR_LAT_MAP_PREF'}">
                <div class="container-fluid">
                <div ng-switch on="setting.subscrPrefCategory">
                    <div ng-switch-when="SUBSCR_OBJECT_TREE">
                        <div class="row nmc-table-program-settings">                        
                            <div class="col-xs-1 col-md-1 noPadding nmc-td-for-button" >
                                <input type="checkbox" ng-model="setting.isActive" ng-disabled="isDisabled()"/>
                            </div>
                            <div class="col-xs-3 col-md-3 noPadding marginTop3">
                                {{setting.subscrPref.isActiveCaption}}
                                <p ng-if="setting.subscrPref.prefDescription"
                                           ng-attr-id="{{'prefHelpButton' + setting.id}}"
                                                type="button" 
                                                class="btn glyphicon glyphicon-question-sign nmc-button-help-setting noPadding"
                                           title="Помощь"
                                                >                                            
                                        </p>
                            </div>

                        </div>
                        <div class="row nmc-table-program-settings"
                             ng-class="{'nmc-disabled': !setting.isActive}">
                            <div class="col-xs-3 col-md-3 noPadding marginTop3">
                                <span class="">{{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                            </div>
                            <div class="col-xs-2 col-md-2 " >
                                <select class="form-control nmc-select-form" 
                                        ng-model="setting.value" 
                                        ng-options="item.id as item.objectName for item in data.items[setting.subscrPrefKeyname]"
                                        ng-disabled="!setting.isActive || isDisabled()"
                                        >
                                </select>
                            </div>
                            <div class="col-xs-4 col-md-4">                    
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="SUBSCR_SMS_PREF_TYPE">
                        <span ng-switch on="setting.subscrPrefKeyname">
                            <span ng-switch-when="SUBSCR_SMS_PREF">
                                <div class="row nmc-table-program-settings">                        
                                    <div class="col-xs-1 col-md-1 noPadding nmc-td-for-button" >
                                        <input type="checkbox" ng-model="setting.isActive" ng-disabled="isDisabled()"
                                               ng-click="setActiveFlagForSmsSetting(setting.isActive)"/>
                                    </div>
                                    <div class="col-xs-2 col-md-2 noPadding marginTop3">
                                        {{setting.subscrPref.isActiveCaption}}
                                        <p ng-if="setting.subscrPref.prefDescription"
                                           ng-attr-id="{{'prefHelpButton' + setting.id}}"
                                                type="button" 
                                                class="btn glyphicon glyphicon-question-sign nmc-button-help-setting noPadding"
                                           title="Помощь"
                                                >                                            
                                        </p>
                                    </div>

                                </div>
                                <div class="row nmc-table-program-settings"
                                     ng-class="{'nmc-disabled': !setting.isActive}">
                                    <div class="col-xs-2 col-md-2 noPadding marginTop3">
                                        <span class="">{{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                                    </div>
                                    <div class="col-xs-5 col-md-5 " >
                                        <div class="form-group noMarginBottom" 
                                             ng-class="{'has-error': !checkSMSUrl(setting.value)}">
                                            <input type="text" 
                                                   class="form-control nmc-text-input-form" 
                                                   ng-model="setting.value" 
                                                   ng-disabled="!setting.isActive || isDisabled()"
                                                   placeholder="https://service/send.php?login=<Логин>&psw=<Пароль>&phones=##PHONE##&mes=##MSG##"
                                                   title="https://service/send.php?login=<Логин>&psw=<Пароль>&phones=##PHONE##&mes=##MSG##"
                                                   />
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-md-1">                    
                                    </div>
                                </div>
                            </span>
                            
                                
                               <span ng-switch-when="SUBSCR_DAY_COUNT_SMS_PREF">   
                                     <div class="row marginBottom5"
                                     ng-class="{'nmc-disabled': !setting.isActive}">
                                        <div class="col-xs-10 col-md-10 noPadding marginTop3">
                                            <span class="pull-right">{{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                                        </div>
                                        <div class="col-xs-1 col-md-1 " >
                                            <div class="form-group noMarginBottom" 
                                                 ng-class="{'has-error': !checkAttemptionCount(setting.value)}">
                                                <input id="inputDayCountValue"
                                                       type="text" 
                                                       class="form-control nmc-text-input-form nmc-input-count" 
                                                       ng-model="setting.value" 
                                                       ng-disabled="!setting.isActive || isDisabled()"
                                                       data-inputmask="'alias':'numeric', 'greedy': false"
                                                       />
                                            </div>
                                        </div>
                                     </div>
                                </span>
                                <span ng-switch-when="SUBSCR_HOUR_COUNT_SMS_PREF">
                                    <div class="row marginBottom5" 
                                         ng-class="{'nmc-disabled': !setting.isActive}">
                                        <div class="col-xs-10 col-md-10 noPadding marginTop3">
                                            <span class="pull-right">{{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                                        </div>
                                        <div class="col-xs-1 col-md-1 " >
                                            <div class="form-group noMarginBottom" 
                                                 ng-class="{'has-error': !checkAttemptionCount(setting.value)}">
                                                <input id="inputHourCountValue"
                                                       type="text" 
                                                       class="form-control nmc-text-input-form nmc-input-count" 
                                                       ng-model="setting.value" 
                                                       ng-disabled="!setting.isActive || isDisabled()"
                                                       data-inputmask="'alias':'numeric', 'greedy': false"
                                                       />
                                            </div>
                                        </div>
                                    </div>
                                </span>
                        </span>
                    </div>
                    <div ng-switch-when="SUBSCR_MAP_PREF_TYPE">
                        <span ng-switch on="setting.subscrPrefKeyname">
                            <span ng-switch-when="SUBSCR_MAP_PREF">
                                <div class="row nmc-table-program-settings">                        
                                    <div class="col-xs-1 col-md-1 noPadding nmc-td-for-button" >
                                        <input type="checkbox" ng-model="setting.isActive" ng-disabled="isDisabled()"
                                               ng-click="setActiveFlagForMapSetting(setting.isActive)"/>
                                    </div>
                                    <div class="col-xs-2 col-md-2 noPadding marginTop3">
                                        {{setting.subscrPref.isActiveCaption}}
                                        <p ng-if="setting.subscrPref.prefDescription"
                                           ng-attr-id="{{'prefHelpButton' + setting.id}}"
                                           type="button" 
                                           class="btn glyphicon glyphicon-question-sign nmc-button-help-setting noPadding"
                                           title="Помощь"
                                                >
                                        </p>
                                    </div>
                                </div>
                            </span>                                
                            <span ng-switch-default>   
                                 <div class="row marginBottom5 marginTop5"
                                 ng-class="{'nmc-disabled': !setting.isActive, 'nmc-width0':setting.subscrPrefKeyname == 'SUBSCR_LNG_MAP_PREF'}"                                      
                                      >                                     
                                    <div class="col-xs-7 col-md-7 noPadding marginTop3">
                                        <span class="pull-right">
                                            <span ng-if="setting.subscrPrefKeyname == 'SUBSCR_LAT_MAP_PREF'">Координаты центра:&nbsp;</span>
                                            {{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                                    </div>
                                    <div class="col-xs-2 col-md-2 " >
                                        <div class="form-group noMarginBottom" 
                                             ng-class="{'has-error': !isNumeric(setting.value)}">
                                            <input ng-attr-id="{{'inputMapValue' + setting.subscrPrefKeyname}}"
                                                   type="text" 
                                                   class="form-control nmc-text-input-form nmc-input-count" 
                                                   ng-model="setting.value" 
                                                   ng-disabled="!setting.isActive || isDisabled()"
                                                   data-inputmask="'alias':'numeric', 'greedy': false"
                                                   />
                                        </div>
                                    </div>
                                 </div>
                            </span>
                        </span>
                    </div>
                </div>    
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="saveSettings()" ng-disabled="isDisabled()">Сохранить</button>
            <button class="btn btn-default" ng-click="cancelSettings()" ng-disabled="isDisabled()">Отменить</button>
        </div>
    </div>
</div>
