<!-- Вкладки рабочей области-->
<div role="tabpanel" class="nmc-main-tab-panel">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="param_sets" role="tab" data-target="#param_sets" data-toggle="tab">Отчеты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li role="presentation" class="active"><a class="nmc-main-tab-button" href="" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="settings-program">
      </div>
    </div>
</div>

<div class="nmc-tariff-main-div">
    <div class="marginTop5">
        <div class="container-fluid">
            <div class="row" ng-repeat="setting in data.modifySettings">
                <div class="container-fluid">
                <div class="row nmc-table-program-settings">
                    <div class="col-xs-1 col-md-1 noPadding nmc-td-for-button" >
                        <input type="checkbox" ng-model="setting.isActive" ng-disabled="isDisabled()"/>
                    </div>
                    <div class="col-xs-2 col-md-2 noPadding marginTop3">
                        {{setting.subscrPref.isActiveCaption}}
                    </div>

                </div>
                <div class="row nmc-table-program-settings"
                     ng-class="{'nmc-disabled': !setting.isActive}">
                    <div class="col-xs-2 col-md-2 noPadding marginTop3">
                        <span class="">{{setting.subscrPref.caption || setting.subscrPref.prefName}}</span>
                    </div>
                    <div class="col-xs-2 col-md-2 " >
                        <select class="form-control nmc-select-form" 
                                ng-model="setting.value" 
                                ng-options="item.id as item.objectName for item in data.items[setting.subscrPrefKeyname]"
                                ng-disabled="!setting.isActive || isDisabled()"
                                >
                        </select>
                    </div>
                    <div class="col-xs-4 col-md-4">                    
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="saveSettings()" ng-disabled="isDisabled()">Сохранить</button>
            <button class="btn btn-default" ng-click="cancelSettings()" ng-disabled="isDisabled()">Отменить</button>
        </div>
    </div>
</div>
