<div ng-show="loading">{{captions.msgLoading}}</div>


<!--Фильтр-->

<!-- Common filter-->
<div class="input-group col-md-5 row filter marginBottom10">
    
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" class="form-control" ng-model="filter">
    <span class="input-group-addon btn btn-default" ng-disabled="filter.length == 0" ng-click="filter = ''"><i class="glyphicon glyphicon-remove"></i></span>
</div>

<!-- Create directory-->
<!--
<div ng-show="bdirectories">
    <i class="btn btn-default glyphicon glyphicon-plus" ng-class="{'glyphicon-minus': addMode, 'glyphicon-plus': !addMode}" ng-click="toggleAddMode()"></i>
</div>
-->

<table class="table table-bordered table-condensed noMarginBottom">
  
     <tr class="info" >
<!--         ng-hide="bdirectories">-->
<!--         off head for page Directories-->
         
<!--         ng-show="!bGroupByObject">  -->
<!--         отключить шапку для групп объектов-->
         
         
         <td style="padding:0;">
             <table class="crud-grid table table-lighter table-bordered table-condensed table-hover noMarginBottom">
                 <tr class="info">
<!--                                          Если включена группировка и объект первый в массиве, то выводим шапку таблицы                       -->
                       <th class="col-md-1">
<!--                          button "Add" for directories-->
                           <i class="btn btn-default btn-xs glyphicon glyphicon-plus" ng-class="{'glyphicon-minus': addMode, 'glyphicon-plus': !addMode}" ng-click="toggleAddMode()" title="Создать справочник"></i>
                                                     
                        </th>
                     


                <!--       Шапка таблицы-->
                        <th ng-repeat="column in columns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                            <div>
                                {{column.header || column.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                            </div>
                        </th>
                     
<!--                     Extra column for directory buttons-->
                      <th class="col-md-1"> 

                
                    </th>
                     
                     
                </tr> 
                 
                <tr ng-show="addMode">
                    
                    <td class="col-md-1">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <i class="btn btn-default btn-xs glyphicon glyphicon-save" ng-click="addObject()" title="Сохранить"></i>
                                <i class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="toggleAddMode()" title="Отменить"></i>
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="column in columns" ng-switch="!column.lookup" ng-class="column.class">
                        <input ng-switch-default ng-model="object[column.name]" ng-disabled="column.autoincrement" class="form-control" required/>
                        <select ng-switch-when="false" ng-options="l[column.lookup.key] as l[column.lookup.value] for l in getLookupData(column.lookup.table) | orderBy: column.lookup.orderBy.field:!column.lookup.orderBy.asc" ng-show="column.lookup" ng-model="object[column.name]" class="form-control" required></select>
                    </td>
                    
                </tr> 
                 
            </table>     
        </td>          
     </tr>
    

<!--      Фильтры по колонкам  -->
<!--    <tr class="info" ng-show="!bGroupByObject">
        <td ng-show="bGroupByObject" >
            <div class="btn-toolbar"><i class="btn btn-default glyphicon" ng-class="{'glyphicon-minus': addMode, 'glyphicon-plus': !addMode}" ng-click="toggleAddMode()"></i></div>
        </td>
        <td ng-repeat="column in columns" ng-class="column.class">
            <div>
                <input type="text" class="form-control" ng-model="filterType">
            </div>
        </td>
    </tr>    -->
<!--    End фильтры по колонкам-->

       
    
<!--  Постороение таблицы с данными  -->
    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-dblclick="selectedItem(object);getCurDirNodes();showDetails(object)" oncontextmenu=" $('.dropdown-toggle').dropdown();return false">
        <td style="padding:0;"><!--    <td> Уровень 1     -->
            <table class="crud-grid table table-lighter table-bordered table-condensed table-hover noMarginBottom"> <!--    <table> Уровень 2     -->
            

                <tr><!--    <tr> Уровень 3     -->
<!-- этот столбец отображается, когда включена группировка или отображается иерархия объектов-->
            <td class="col-md-1 noMargin" style="padding:0;">
               <div class="btn-toolbar">
                    <div class="btn-group">
                        <table>
                            <tr>
                                <td ng-show="!object.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="toggleEditMode(object)" title="Редактировать справочник"></i> </td>                           
                                <td ng-show="object.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-save" ng-click="toggleEditMode(object)" title="Сохранить справочник"></i> </td>
                                <td ng-show="object.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="toggleEditMode(object)" ></i> </td>
                                <td><i class="btn btn-default btn-sm fa fa-sitemap" ng-click="selectedItem(object);getCurDirNodes()" data-target="#showDirectoryStructModal" data-toggle="modal" title="Открыть справочник"></i></td>
                                
                            </tr>
                        </table>    
                    </div>    
                </div> 
                
            </td>
            
<!--       Extra column for Add mode in page of directories-->
<!--
            <td ng-show="bdirectories" class="col-md-1">
            </td>
-->

    <!--  Выводим данные в соответствующие столбцы таблицы  -->
            <td ng-repeat="column in columns" ng-class="column.class" ng-switch on="object.editMode" >
                <div ng-switch-default ng-switch on="!column.lookup">
                    <span ng-switch-default>
    <!--                    В зависимости от названия столца делаем соответствующую разметку-->
                        <div ng-switch on="column.name">
    <!--                        Если в столбце должна отображаться категория, то...-->
                          

    <!--                        По дефолту выводим содержимое данной ячейки-->
                            <span ng-switch-default>
                                
                                    {{object[column.name]}}
                                  
                            </span>
                        </div>
                    </span>
                    <span ng-switch-when="false"> {{ getLookupValue(column.lookup, object[column.name]) }} </span>
                </div>

                <div ng-switch-when="true" ng-switch on="!column.lookup">
                    <input ng-switch-default ng-model="object[column.name]" model-change-blur ng-disabled="column.autoincrement" class="form-control" />
                    <select ng-switch-when="false" ng-options="l[column.lookup.key] as l[column.lookup.value] for l in getLookupData(column.lookup.table) | orderBy: column.lookup.orderBy.field:!column.lookup.orderBy.asc" ng-model="object[column.name]" class="form-control"></select>
                </div>
                     
            </td>

<!--                    Buttons for directories-->
            <td class="col-md-1"> 
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <table>
                            <tr>
                                
                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-pencil" ng-click="selectedItem(object); getCurDirParams()" data-target="#editDirectoryParamsModal" data-toggle="modal" title="Редактировать параметры справочника"></i> </td>
                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-trash" ng-click="setCurObjToDel(object, extraProps.idColumnName, extraProps.deleteConfirmationProp)" data-target="#deleteObjectModal" data-toggle="modal" title="Удалить справочник"></i></td>
                            </tr>
                        </table>    
                    </div>    
                </div>
                
            </td>        
                </tr><!--    </tr> Уровень 3     -->
                <tr><!--    <tr> Уровень 3     -->
                    
                    
                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
				<table class="crud-grid table table-lighter table-bordered table-condensed table-hover" ng-show="object.showGroupDetails">
                    <tr>
                        <!--       Шапка таблицы-->
                        <th ng-repeat="oldColumn in oldColumns" ng-class="oldColumn.class" ng-click="setOrderBy(oldColumn.name)">
                            <div>
                                {{oldColumn.header || oldColumn.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{oldColumn.name}}'"></i>
                            </div>
                        </th>
                        
                    </tr>
                     <tr ng-repeat="oldObject in oldObjects | orderBy:orderBy.field:!orderBy.asc | filter: currentObject.name">
                         <td ng-repeat="oldColumn in oldColumns">
                             <div ng-switch on="oldColumn.name">
    <!--                        Если в столбце должна отображаться категория, то...-->
   
    <!--                        По дефолту выводим содержимое данной ячейки-->
                            <span ng-switch-default>
                                    {{oldObject[oldColumn.name]}}
<!--                                Раскрываем группировку-->
                            </span>
                        </div>
                         </td>
                         
                         
                         
                             
                     </tr>
                    </table>
                
                
                </tr><!--    <tr> Уровень 3     -->

                    
            </table>  <!--    </table> Уровень 2     -->
<!--    </td> Уровень 1     -->
    </td>     
    </tr>
    <!--        End Построение таблицы с данными-->
</table>

<!-- Нижняя полоса с описанием количества объектов и элементов учета-->
<div ng-show="bObject||bdirectories" class="navbar navbar-default  navbar-fixed-bottom" style="margin-bottom:60px;">
    <div id="navbar-container" class="container">
        
        		
              <ul class="nav navbar-nav">
				
				<li><p
							class="displayInLine"> <b>Всего: {{objects.length}}</b>  
				    </p>
                </li>
                			
			
				
			</ul>
                
					
			</div>
</div>


<!-- Edit parametrs of directory-->
<div id="editDirectoryParamsModal" class="modal fade" role="dialog"
	aria-labelledby="editDirectoryParamsLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="editDirectoryParamsLabel">
				Параметры справочника "{{currentObject.directoryName}}" 
			</h3>
		</div>
		<div class="modal-body">
			<form name="editDirectoryParamsForm" novalidate>

                
<!--            Таблица с данными    -->
				<table class="crud-grid table table-lighter table-bordered table-condensed table-hover">
                    <tr>
                        <!--       Шапка таблицы-->
                        <th class="col-md-1"> 
<!--                          button "Add" for param of cur directory-->
                           <i class="btn btn-default btn-xs glyphicon glyphicon-plus" ng-class="{'glyphicon-minus': addParamMode, 'glyphicon-plus': !addParamMode}" ng-click="toggleAddParamMode()"></i>

                
                        </th>
                        
                        <th ng-repeat="oldColumn in oldColumns" ng-class="oldColumn.class" ng-click="setOrderBy(oldColumn.name)">
                            <div>
                                {{oldColumn.header || oldColumn.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{oldColumn.name}}'"></i>
                            </div>
                        </th>
                       
                    </tr>
<!--                    Add new param in row-->
                    <tr ng-show="addParamMode">
                    
                        <td class="col-md-1">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <i class="btn btn-default btn-xs glyphicon glyphicon-save" ng-click="addParam()" title="Сохранить"></i>
                                    <i class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="toggleAddParamMode()" title="Отменить"></i>
                                </div>
                            </div>
                        </td>
                        <td ng-repeat="column in oldColumns" ng-switch="!column.lookup" ng-class="column.class">
                            <input ng-switch-default ng-model="object[column.name]" ng-disabled="column.autoincrement" class="form-control" required/>
                            <select ng-switch-when="false" ng-options="t for t in typesArray" ng-show="column.lookup" ng-model="object[column.name]" class="form-control" required></select>
                        </td>
                        
                     </tr>
                    
<!--                    Show exists params-->
                     <tr ng-repeat="oldObject in oldObjects | orderBy:orderBy.field:!orderBy.asc | filter: currentObject.name">
<!--                        buttons for edit params-->
                         <td ng-class="col-md-1">
                             <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <table>
                                            <tr>
                                                <td ng-show="!oldObject.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="toggleEditMode(oldObject)" ></i> </td>
                                                <td ng-show="oldObject.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-save" ng-click="toggleEditMode(oldObject)" ></i> </td>
                                                <td ng-show="oldObject.editMode"><i class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="toggleEditMode(oldObject)" ></i> </td>
                                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-trash" ng-click="setCurObjToDel(oldObject, 1, oldColumns[0].name)" data-target="#deleteObjectModal" data-toggle="modal"></i></td>
                                            </tr>
                                        </table>    
                                    </div>    
                                </div>
                         </td>
                         <td ng-repeat="oldColumn in oldColumns" ng-switch on="oldObject.editMode">
                            <div ng-switch-default >
                                        <div ng-switch on="oldColumn.name">

                    <!--                        По дефолту выводим содержимое данной ячейки-->
                                            <span ng-switch-default>
                                                    {{oldObject[oldColumn.name]}}

                                            </span>
                                        </div>
                            </div>         
                            <div ng-switch-when="true" ng-switch on="!oldColumn.lookup">
                                <input ng-switch-default ng-model="oldObject[oldColumn.name]" model-change-blur ng-disabled="oldColumn.autoincrement" class="form-control" />
                                <select ng-switch-when="false" ng-options="l[oldColumn.lookup.key] as l[oldColumn.lookup.value] for l in getLookupData(oldColumn.lookup.table) | orderBy: oldColumn.lookup.orderBy.field:!oldColumn.lookup.orderBy.asc" ng-model="oldObject[oldColumn.name]" class="form-control"></select>
                            </div>
                         </td>
                         
                     </tr>
                    </table>

			</form>
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
	<!--					<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block"
								ng-click="deleteObject(currentObject);"
								value="Delete" />
						</div>-->

						<div class="pull-right col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject'); addParamMode = false">
								Закрыть
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!--Delete window-->
<div id="deleteObjectModal" class="modal fade" role="dialog"
	aria-labelledby="deleteObjectLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="deleteObjectLabel">
				Удалить 
			</h3>
		</div>
		<div class="modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning"> Вы действительно хотите удалить  
					</label> 
					<label class="text-primary">{{currentObjectToDel[extraProp.deleteConfirmationProp || extraProp.idColumnName]}}</label> 
					<label
						class="text-warning"> ? </label>
				</p>

			</form>
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block"
								ng-click="deleteObject(targetTableName, currentObjectToDel[extraProp.idColumnName]);"
								value="Удалить" />
						</div>

						<div class="col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#deleteObject');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>


<!--Show structure of directory-->
<div id="showDirectoryStructModal" class="modal fade" role="dialog"
	aria-labelledby="showDirectoryStructLabel" tabindex="-1">

	<div class="modal-dialog  modal-content modalWindow_wide">

		<div class="modal-header">
			<h3 id="showDirectoryStructLabel">
				{{currentObject.directoryName}} 
			</h3>
		</div>
        <div class="row">
            <div class="col-md-12">
<!--                <div class="col-md-6">-->
                <div class="modal-body
                            modal-scrollable-area1">

                        <!-- Дерево справочника-->

        <!--            Кнопки управления деревом: создать узел, редактировать узел, удалить дерево, -->
                    <div>
                        <i class="btn btn-default btn-xs glyphicon glyphicon-plus" ng-click="newNode()" title="Добавить узел"></i>
<!--                        <i class="pull-right btn btn-default btn-xs glyphicon glyphicon-trash" ng-click="removeTree()" title="Удалить дерево"></i>-->
                    </div>

                    <script type="text/ng-template" id="items_renderer.html">
                        <div ui-tree-handle>
                          <a class="btn btn-default btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                          {{item.nodeName}}
                          <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="remove(this)" ng-disabled="item.childNodes.length!=0"><span class="glyphicon glyphicon-trash"></span></a>
                          <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="openNode(this)"><span class="glyphicon glyphicon-list"></span></a>
                          <a class="pull-right btn btn-default btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <ol ui-tree-nodes="options" ng-model="item.childNodes" ng-class="{hidden: collapsed}">
                          <li ng-repeat="item in item.childNodes" ui-tree-node ng-include="'items_renderer.html'">
                          </li>
                        </ol>
                      </script>
                      <div ui-tree="options">
                        <ol ui-tree-nodes ng-model="list" >
                          <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                        </ol>
                      </div>			
                </div>
<!--                </div>-->
<!--
                <div class="col-md-6">
                    <div class="modal-body
                            modal-scrollable-area1">
                            <h3>JSon</h3>
                            <pre class="code">{{ list | json }}</pre>
                    </div>
                </div>
-->
            </div>    
        </div>    
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="updateObject(list[0].id, list[0]);"
								value="Сохранить" />
						</div>

						<div class="col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Закрыть
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!--Edit value of directory params-->
<div id="editDirValueModal" class="modal fade modal-position-right" role="dialog"
	aria-labelledby="editDirValueLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="editDirValueLabel">
				Атрибуты записи 
                <input type=text ng-model="currentNode.nodeName">
<!--
                
                dl=*{{currentNode.$parentNodeScope.title}}*

                test= *{{currentParentScope}}*
                count = *{{tree.nodes.length}}*
                element = *{{tree.element}}*
                 currentNodeScope = *{{currentNodeScope}}*
-->

			</h3>
            <h4>
				Входит в: 
                <input type=select ng-model="currentParent.nodeName" >
<!--                ng-options="currentParent.title as l.title for l in tree.nodes">-->
			</h4>
		</div>
		<div class="modal-body modal-scrollable-area1">
                    

               <!--            Таблица с данными    -->
				<table class="crud-grid table table-lighter table-bordered table-condensed table-hover">
                    <tr>
                        <!--       Шапка таблицы-->
                        <th ng-repeat="oldColumn in oldColumns" ng-class="oldColumn.class" ng-click="setOrderBy(oldColumn.name)">
                            <div>
                                {{oldColumn.header || oldColumn.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{oldColumn.name}}'"></i>
                            </div>
                        </th>
                        <th class="col-md-1"> 
                            <div>Значение</div>

                
                        </th>
                    </tr>
<!--                    Add new param in row-->
<!--
                    <tr ng-show="addParamMode">
                    
                        <td ng-repeat="column in oldColumns" ng-switch="!column.lookup" ng-class="column.class">
                            <input ng-switch-default ng-model="object[column.name]" ng-disabled="column.autoincrement" class="form-control"/>
                            <select ng-switch-when="false" ng-options="l[column.lookup.key] as l[column.lookup.value] for l in getLookupData(column.lookup.table) | orderBy: column.lookup.orderBy.field:!column.lookup.orderBy.asc" ng-show="column.lookup" ng-model="object[column.name]" class="form-control"></select>
                        </td>
                        <td class="col-md-2">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <i class="btn btn-default btn-xs glyphicon glyphicon-save" ng-click="addObject()"></i>
                                    <i class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="toggleAddParamMode()"></i>
                                </div>
                            </div>
                        </td>
                     </tr>
-->
                    
<!--                    Show exists params-->
                     <tr ng-repeat="oldObject in oldObjects | orderBy:orderBy.field:!orderBy.asc | filter: currentObject.name">
                         <td ng-repeat="oldColumn in oldColumns" ng-switch on="oldObject.editMode">
                        <div ng-switch-default >
                                    <div ng-switch on="oldColumn.name">

                <!--                        По дефолту выводим содержимое данной ячейки-->
                                        <span ng-switch-default>
                                                {{oldObject[oldColumn.name]}}

                                        </span>
                                    </div>
                        </div>         
                        <div ng-switch-when="true" ng-switch on="!oldColumn.lookup">
                            <input ng-switch-default ng-model="oldObject[oldColumn.name]" model-change-blur ng-disabled="oldColumn.autoincrement" class="form-control" />
                            <select ng-switch-when="false" ng-options="l[oldColumn.lookup.key] as l[oldColumn.lookup.value] for l in getLookupData(oldColumn.lookup.table) | orderBy: oldColumn.lookup.orderBy.field:!oldColumn.lookup.orderBy.asc" ng-model="oldObject[oldColumn.name]" class="form-control"></select>
                        </div>
                         </td>
                         <td ng-class="col-md-1">
                             <div>
                                 <input type=text>
                                    
                            </div>
                         </td>
                     </tr>
                    </table>



			
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
                        <div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="saveObject(targetTableName, currentObjectToDel[extraProp.idColumnName]);"
								value="Сохранить" />
						</div>
                        
						<div class="col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Закрыть
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!--Context menu-->
<div class="dropdown">

<!--    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu</a>-->
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a tabindex="-1" href="#">Действие</a></li>
        <li><a tabindex="-1" href="#">Другое действие</a></li>
        <li><a tabindex="-1" href="#">Еще ссылка</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="#">Доп. ссылка</a></li>
    </ul>
</div>