<div ng-show="loading">{{captions.msgLoading}}</div>
<!--Фильтр-->
<div ng-hide="bReports" ng-show="!bObject && !bGroupByObject">
    <div>
        Фильтры:
    </div>
</div>

<!-- Common filter-->
<div class="input-group col-md-5 filter marginBottom10">   
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" class="form-control" ng-model="filter">
    <span class="input-group-addon btn btn-default" ng-disabled="filter.length == 0" ng-click="filter = ''"><i class="glyphicon glyphicon-remove"></i></span>
</div>

<table id="datatabl" class="table table-bordered  table-condensed noMarginBottom excbt_table"> 
     <tr class="info" >
<!--         отключить шапку для групп объектов-->       
         <td style="padding:0;">
             <table class="crud-grid table table-lighter  table-condensed table-hover noMarginBottom excbt_table">
                 <tr class="info">
                <!--       Шапка таблицы-->
                        <th>
                        </th>
                        <th ng-repeat="column in columns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                            <div>
                                {{column.header || column.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
                            </div>
                        </th>
                         <th ng-show="bObject" class="col-md-1"> 
                         </th>                   
                </tr>                  
            </table>     
        </td>          
     </tr>
    
<!--  Постороение таблицы с данными  -->
    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc | filter: filter" ng-click="selectedItem(object)" ng-show="showRow(object)" ng-dblclick="showDetails(object)">
        <td style="padding:0;"><!--    <td> Уровень 1     -->
            <table class="crud-grid table table-lighter table-striped table-condensed table-hover noMarginBottom excbt_table"> <!--    <table> Уровень 2     -->
            

                <tr><!--    <tr> Уровень 3     -->
<!-- этот столбец отображается, когда включена группировка или отображается иерархия объектов-->
            <td ng-show="bGroupByObject || bObject" class="col-md-1 noMargin" style="padding:0;">
                <div class="btn-toolbar marginLeft5">
<!--                    <div  class="noMargin">-->
<!--                        <i ng-show="bGroupByObject" class="btn btn-default btn-xs glyphicon noMargin" ng-class="{'glyphicon-minus': object.showGroupDetails, 'glyphicon-plus': !object.showGroupDetails}" ng-click="toogleShowGroupDetails(object); selectedItem(object)"></i>-->
<!--                    </div>-->
    <!--                data-target="#showObjectDetailModal" data-toggle="modal"-->           
    <!--                Эта кнопка доступна, когда отображаются объекты-->
<!--                    <div  class="noMargin">-->
                        
<!--                    </div>-->
                    <div class="btn-group">
                        <table>
                            <tr>
                                <td><i ng-show="bObject" class="btn btn-default btn-xs noMargin glyphicon" ng-class="{'glyphicon glyphicon-chevron-down': object.showGroupDetails, 'glyphicon glyphicon-chevron-right': !object.showGroupDetails}" ng-click="toogleShowGroupDetails(object);selectedItem(object)"></i></td>
<!--                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="" ></i> </td>-->
                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-list" ng-click="selectedItem(object)" data-target="#showObjOptionModal" data-toggle="modal"></i></td>                                
                            </tr>
                        </table>    
                    </div> 
                </div> 
<!--
                <div class="btn-toolbar excbt_zpointButtonMargin">
     
                </div>
-->
            </td>
<!--
            <td ng-show="bReports">
                <div ng-show="bObject" class="btn-toolbar noMargin"><input type="checkbox" ng-click="toggleSelectObject(object)"></div>
            </td>
-->
            
    <!--  Выводим данные в соответствующие столбцы таблицы  -->
            <td ng-repeat="column in columns" ng-class="column.class" ng-switch on="object.editMode" >
                <div ng-switch-default ng-switch on="!column.lookup">
                    <span ng-switch-default>
    <!--                    В зависимости от названия столца делаем соответствующую разметку-->
                        <div ng-switch on="column.name">
    <!--                        Если в столбце должна отображаться категория, то...-->
                            <span ng-switch-when="noticeCat">
    <!--                                Смотрим какая категория у уведомления и выводим соответствующий значок-->
                                <div ng-switch on="object[column.name]">
                                    <span ng-switch-when="Критическая"><img height=16 width=16 src="images/crit.png"></span>
                                    <span ng-switch-when="Предупреждение"><img height=16 width=16 src="images/alert.png"></span>
                                    <span ng-switch-when="Информация"><img height=16 width=16 src="images/info-icon.jpg"></span>
                                    <span ng-switch-default>no define</span>
                                </div>
                            </span>
                            <span ng-switch-when="critCount">
                                <img height=16 width=16 src="images/crit.png"> {{object[column.name]}}
                            </span> 
                            <span ng-switch-when="warnCount">
                                <img height=16 width=16 src="images/alert.png"> {{object[column.name]}}
                            </span> 
                            <span ng-switch-when="infoCount">
                                <img height=16 width=16 src="images/info-icon.jpg"> {{object[column.name]}}
                            </span> 
                            <span ng-switch-when="commonCount">
                                Всего: {{object[column.name]}}
                            </span>

    <!--                        По дефолту выводим содержимое данной ячейки-->
                            <span ng-switch-default>
                                <div>
                                    {{object[column.name]}}
                                    </div>
                            </span>
                        </div>
                    </span>
                    <span ng-switch-when="false"> {{ getLookupValue(column.lookup, object[column.name]) }} </span>
                </div>

                <div ng-switch-when="true" ng-switch on="!column.lookup">
                    <input ng-switch-default ng-model="object[column.name]" model-change-blur ng-disabled="column.autoincrement" class="form-control" />
                    <select ng-switch-when="false" ng-options="l[column.lookup.key] as l[column.lookup.value] for l in getLookupData(column.lookup.table) | orderBy: column.lookup.orderBy.field:!column.lookup.orderBy.asc" ng-model="object[column.name]" class="form-control"></select>
                </div>
                     
            </td>
<!-- Колонка для редактирования объектов                   -->
            <td ng-show="bObject" ng-hide="bReports || bList" class="col-md-1"> 

                
            </td>
                    
<!-- Колонка для формирования отчетов по объектам                   -->
<!--
            <td ng-show="bObject" ng-hide="!bReports" class="col-md-1"> 
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <table>
                            <tr>
                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-play" ng-click="getReport(object, 'html')" title="Сформировать"></i> </td>
                                <td><i class="btn btn-default btn-xs glyphicon" ng-click="getReport(object, 'pdf')">PDF</i></td>                                
                            </tr>
                        </table>    
                    </div>    
                </div>
                
            </td>
-->
                </tr><!--    </tr> Уровень 3     -->
                <tr><!--    <tr> Уровень 3     -->
                    
                    
                    <!--          Внутренняя(раскрывающая) таблица с данными    -->
				<table id="dataZpointTabl" class="crud-grid table table-lighter table-bordered table-condensed table-hover excbt_table" ng-show="object.showGroupDetails">
<!--                    <caption><b>Точки учета</b></caption>-->
                    <tr>
                        <!--       Шапка таблицы-->
<!--                        Колонка для кнопок-->
                        <th ng-show="bObject && !bList" class="col-md-1">
                        </th>
                        <th ng-repeat="oldColumn in oldColumns" ng-class="oldColumn.class" ng-click="setOrderBy(oldColumn.name)" style="text-align: left;">
                            <div>
                                {{oldColumn.header || oldColumn.name}}
                                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{oldColumn.name}}'"></i>
                            </div>
                        </th>

                    </tr>
                     <tr ng-repeat="oldObject in object.zpoints | orderBy:orderBy.field:!orderBy.asc | filter: currentObject.name" ng-click="selectedItem(oldObject)" ng-dblclick="getIndicators(oldObject)">
                                                  <!-- Колонка для редактирования элементов                   -->
                        <td ng-show="bObject && !bList" class="col-md-1"> 
                                <div class="btn-toolbar excbt_zpointButtonMargin">
                                    <div class="btn-group">
                                        <table>
                                            <tr>
<!--                                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-edit" ng-click="" ></i> </td>-->
                                                <td><i class="btn btn-default btn-xs glyphicon glyphicon-list" ng-click="selectedItem(oldObject);getZpointSettings(oldObject)" data-target="#showZpointOptionModal" data-toggle="modal"></i></td>
                                            </tr>
                                        </table>    
                                    </div>    
                                </div>
                        </td>
                         
                         <td ng-repeat="oldColumn in oldColumns">
                             <div ng-switch on="oldColumn.name">
    <!--                        Если в столбце должна отображаться категория, то...-->
<!--                            <span ng-switch-when="noticeCat">-->
    <!--                                Смотрим какая категория у уведомления и выводим соответствующий значок-->
<!--
                                <div ng-switch on="oldObject[oldColumn.name]">
                                    <span ng-switch-when="Критическая"><img height=16 width=16 src="images/crit.png"></span>
                                    <span ng-switch-when="Предупреждение"><img height=16 width=16 src="images/alert.png"></span>
                                    <span ng-switch-when="Информация"><img height=16 width=16 src="images/info-icon.jpg"></span>
                                    <span ng-switch-default>{{oldObject[oldColumn.name]}}</span>
                                </div>
                            </span> 
-->
                            <span ng-switch-when="zpointName" >
    <!--                                Смотрим какой тип у точки учета и выводим соответствующий значок-->
                                <div ng-switch on="oldObject['zpointType']">
                                    <span ng-switch-when="cw"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-22-snowflake.png"></span>
                                    <span ng-switch-when="heat">
                                        <img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-85-heat.png">
<!--                                        <img height=16 width=16 src="images/ts.png">-->
                                    </span>
                                    <span ng-switch-when="hw"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-93-tint.png"></span>
                                    <span ng-switch-when="gas"><img height=16 width=16 src="vendor_components/glyphicons_free/glyphicons/png/glyphicons-23-fire.png"></span>
                                    <span ng-switch-when="el"><img height=16 width=16 src="images/es.png"></span>
                                    <span ng-switch-when="env"><img height=16 width=16 src="images/es.png"></span>
                                    <span ng-switch-default>{{oldObject['zpointType']}}</span>
                                    {{oldObject[oldColumn.name]}} <span ng-show="isSystemuser()"> ({{oldObject['id']}})</span>
                                </div>
                            </span> 
                            <span ng-switch-when="zpointLastDataDate">
                                {{oldObject[oldColumn.name] | date: 'dd.MM.yyyy HH:mm'}}
                            </span>     
    <!--                        По дефолту выводим содержимое данной ячейки-->
                            <span ng-switch-default>
                                    {{oldObject[oldColumn.name]}}
<!--                                Раскрываем группировку-->
                            </span>
                        </div>
                         </td>
                         

                     </tr>
                    </table>         
                </tr><!--    <tr> Уровень 3     -->                 
            </table>  <!--    </table> Уровень 2     -->
<!--    </td> Уровень 1     -->
    </td>     
    </tr>
    <!--        End Построение таблицы с данными-->
    <tr>
        <td>
            
        </td>
    </tr>
</table>

<!-- Нижняя полоса с описанием количества объектов и элементов учета-->
<div ng-show="bObject" class="navbar navbar-default  " style="margin-bottom:60px; margin-top:20px;">
                                                    <!--    navbar-fixed-bottom-->
    <div id="navbar-container" class="container navbar-left">    		
              <ul class="nav navbar-nav ">	
				<li><p
							 style="margin-right:5px;padding-top:15px;"> <b>Всего: {{objects.length}}</b>  
				    </p>
                </li>
			     <li ng-show="bReports" style="margin-right:5px;padding-top:15px;"><p
							class="displayInLine"> <b>Выбрано объектов: {{selectedObjectsCount}}</b>  
				    </p>
                </li>
                  <li>
<!--
                      <div class="pull-right btn-toolbar" ng-show="bReports">
                        <div class="btn-group">
                            <i class="btn btn-default btn-sm glyphicon" ng-click="getReports()" ng-disabled="{{selectedObjectsCount>0}}"> Сформировать отчеты в формате PDF для выбранных обеъектов</i>  
                        </div>    
				    
                        </div>
-->
                  </li>
			</ul>				
    </div>
</div>


<!--Show Zpoint options-->
<div id="showZpointOptionModal" class="modal fade" role="dialog"
	aria-labelledby="showZpointOptionLabel" tabindex="-1">

	<div class="modal-dialog  modal-content modalWindow_moreWide">

		<div class="modal-header onlyPaddingLeft15">
			<h3 id="showZpointOptionLabel">
				Свойства точки учета "{{zpointSettings.zpointName}}"
			</h3>
		</div>
		<div class="modal-body ">
          
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12 well noPaddingBottom marginBottom10" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom excbt_table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Наименование</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input disabled="true" class="" type="text" id="inputName" placeholder="Наименование" size="70" ng-model="zpointSettings.zpointName">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Комментарий</label>
                                </td>
                                <td class="textAlign_left "><textarea disabled="true" class="" id="inputComment" placeholder="Комментарий" cols="71"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputType">Тип</label>
                                    
                                </td>
                                <td class="textAlign_left "><input class="" type="text" id="inputType" disabled="true" placeholder="Тип"  size="30" ng-model="zpointSettings.zpointType">
                                    <div ng-show="zpointSettings.piped">
                                        <input disabled="true" type="radio" name="gvstype" ng-model="zpointSettings.singlePipe">Однотрубная
                                        <input disabled="true" type="radio" name="gvstype" ng-model="zpointSettings.doublePipe">Двухтрубная
                                    </div>    
                                </td>
                            </tr>
                             <tr>
                                <td class="col-sm-3"><label for="inputDevice">Прибор</label>
                                </td>
                                <td class="col-sm-9 textAlign_left "><input class="" disabled="true" type="text" id="inputDevice" size="70" ng-model="zpointSettings.zpointModel">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputPCO">РСО</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input class="" type="text" id="inputType" disabled="true" placeholder=""  size="30" ng-model="zpointSettings.zpointRSO">

                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3 "><label for="inputRh">Расчетный час : </label>
                                </td>
                                <td class="col-sm-9"><input disabled="true" type="text" id="inputRh" pattern="\d[0-2]\d[0-9] : \d[0-5]\d[0-9]" class="marginRight15" ng-model="zpointSettings.checkoutTime"> <label for="inputRd" style="margin-left: 23px">Расчетный день : </label><input disabled="true" type="text" id="inputRd" pattern="\d[0-3]\d[0-9]" class="margin10" size="19" style="margin-right: 0px" ng-model="zpointSettings.checkoutDay">
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>
                <div class="row-fluid">                    
                    <div class="col-md-12">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="" id="summersetup-tab" role="tab" data-target="#summersetup" data-toggle="tab" aria-controls="home" aria-expanded="true">Для летнего режима</a></li>
                              <li role="presentation"><a href="" role="tab" id="wintersetup-tab" data-target="#wintersetup" data-toggle="tab" aria-controls="profile">Для зимнего режима</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                              <div role="tabpanel" class="tab-pane fade in active" id="summersetup" aria-labelledBy="summersetup-tab">
                                <div class="col-md-12 well noPadding marginBottom10">
                                  <div class="col-md-3 paddingTop10">
                                      <div class="well marginBottom10 paddingTop10" style="padding-bottom: 45px;">
                                        <div class="row">
                                            Метрологический 
                                            диапазон:
                                        </div>    
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход объема за мин значение" ng-model="zpointSettings.summer.md_V_minChk" />V &lt; Vmin
                                        </div> 
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход объема за макс значение" ng-model="zpointSettings.summer.md_V_maxChk"/>V &gt; Vmax
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход температуры за мин значение" ng-model="zpointSettings.summer.md_T_minChk"/>T &lt; Tmin
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход температуры за макс значение" ng-model="zpointSettings.summer.md_T_maxChk"/>T &gt; Tmax
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход давления за мин значение" ng-model="zpointSettings.summer.md_P_minChk"/>P &lt; Pmin
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход давления за макс значение" ng-model="zpointSettings.summer.md_P_maxChk"/>P &gt; Pmax
                                        </div> 
                                      
                                      </div>
                                </div>
                                <div class="col-md-9 well marginBottom10 marginTop10 paddingTop10 paddingBottom10">
                                    
                        <!--                                Строка для режима потребления-->            
                                    <div class="row-fluid ">
                                       <div class="col-sx-12">
                                            <div>Рабочий режим потребления:</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row-fluid">

                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="M1" class="" ng-model="zpointSettings.summer.wm_M1_chk"/>М1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_M1_chk" ng-model="zpointSettings.summer.wm_M1_min">
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class=" span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_M1_chk" ng-model="zpointSettings.summer.wm_M1_max"> т/час
                                        </div>

                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="M2" class="" ng-model="zpointSettings.summer.wm_M2_chk"/>М2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class=" span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_M2_chk" ng-model="zpointSettings.summer.wm_M2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class=" span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_M2_chk" ng-model="zpointSettings.summer.wm_M2_max"> т/час
                                        </div>

                                    </div> 
                                    
                                    
                                     <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="T1" class="" ng-model="zpointSettings.summer.wm_T1_chk"/>T1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_T1_chk" ng-model="zpointSettings.summer.wm_T1_min">

                                        </div>
                                        <div class="col-xs-5 noPadding ">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_T1_chk" ng-model="zpointSettings.summer.wm_T1_max"> &deg;C
                                        </div>

                                    </div> 
                                    
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="T2" class="" ng-model="zpointSettings.summer.wm_T2_chk"/>T2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_T2_chk" ng-model="zpointSettings.summer.wm_T2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_T2_chk" ng-model="zpointSettings.summer.wm_T2_max"> &deg;C
                                        </div>

                                    </div> 
                                    
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="P1" class="" ng-model="zpointSettings.summer.wm_P1_chk"/>P1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_P1_chk" ng-model="zpointSettings.summer.wm_P1_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_P1_chk" ng-model="zpointSettings.summer.wm_P1_max"> ат
                                        </div>

                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="P2" class="" ng-model="zpointSettings.summer.wm_P2_chk"/>P2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_P2_chk" ng-model="zpointSettings.summer.wm_P2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_P2_chk" ng-model="zpointSettings.summer.wm_P2_max"> ат
                                        </div>

                                    </div> 
                                    
                                    <div class="row-fluid">
                                        <div class="col-xs-2">
                                            <input type="checkbox" title="&Delta;Q" class="" ng-model="zpointSettings.summer.wm_deltaQ_chk"/>&Delta;Q
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_deltaQ_chk" ng-model="zpointSettings.summer.wm_deltaQ_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_deltaQ_chk" ng-model="zpointSettings.summer.wm_deltaQ_max"><!--<button class="btn btn-default btn-xs glyphicon glyphicon-plus" type="button"></button><button class="btn btn-default btn-xs glyphicon glyphicon-minus" type="button"></button>--> ГКал/сут
                                        </div>

                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="&Delta;T" class="" ng-model="zpointSettings.summer.wm_deltaT_chk"/>&Delta;T
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.summer.wm_deltaT_chk" ng-model="zpointSettings.summer.wm_deltaT_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.summer.wm_deltaT_chk" ng-model="zpointSettings.summer.wm_deltaT_max"> &deg;C
                                        </div>
                                    </div>                                    
                                </div>  
                            </div> 
                            
<!--                                  Утечки и порывы воды-->
                            <div class="col-md-12 well paddingBottom10 marginBottom10 noPadding" >      
                                <div class="row-fluid">
                                    <div class="row-fluid ">
                                        <div class="col-xs-12 "><h4>Утечки и прорывы воды</h4></div>
                                    </div>    
                                    <div class="row-fluid">
                                        <div class="col-xs-12">
                                            <input type="checkbox" title="" class="" ng-model="zpointSettings.summer.leak_Night_chk"/>Утечки, если ночной расход больше
                                            <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.summer.leak_Night_chk" ng-model="zpointSettings.summer.leak_Night">
                                            &#37; от среднечасового расхода за сутки
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-12">
                                            <input type="checkbox" title="" class="" ng-model="zpointSettings.summer.leak_Gush_chk"/>Порыв / сброс, если расход в 
                                            <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.summer.leak_Gush_chk" ng-model="zpointSettings.summer.leak_Gush" style="margin-left: 0px;">
                                            раза больше обычного
                                        </div>
                                    </div>
                                </div>  
                            </div>    
<!--                                Нарушение эксплуатации  -->
                            <div class="col-md-12 well paddingBottom10 marginBottom10 noPadding" >      
                                <div class="row-fluid">
                                    <div class="row-fluid">
                                        <div class="col-xs-12"><h4>Нарушение эксплуатации</h4></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-7 ">
                                            <input type="checkbox" title="Tраб" class="" ng-model="zpointSettings.summer.ov_Worktime_chk"/>Т<small>раб</small> &lt; <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.summer.ov_Worktime_chk" ng-model="zpointSettings.summer.ov_Worktime"> чч:мм
                                        </div>
                                        <div class="col-xs-5">
                                           <input type="checkbox" title="Перегрев/недогрев" class="" ng-model="zpointSettings.summer.ov_OverheatCool_chk"/> Перегрев / недогрев
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-7 ">
                                           <input type="checkbox" title="Контроль баланса масс" class="" ng-model="zpointSettings.summer.ov_BalanceM_ctrl_chk"/>
                                            Контроль баланса масс <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.summer.ov_BalanceM_ctrl_chk" ng-model="zpointSettings.summer.ov_BalanceM_ctrl"> &#37;
                                        </div>                                
                                        <div class="col-xs-5">
                                               <input type="checkbox" title="&Delta;M" class="" ng-model="zpointSettings.summer.ov_deltaM_chk"/>&Delta;M &lt; 0 
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                              <div role="tabpanel" class="tab-pane fade" id="wintersetup" aria-labelledBy="wintersetup-tab">
                                 
                                 <div class="col-md-12 well noPadding marginBottom10">
                                  <div class="col-md-3 paddingTop10">
                                      <div class="well marginBottom10 paddingTop10" style="padding-bottom: 45px;">
                                        <div class="row">
                                            Метрологический 
                                            диапазон:
                                        </div>    
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход объема за мин значение" ng-model="zpointSettings.winter.md_V_minChk" />V &lt; Vmin
                                        </div> 
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход объема за макс значение" ng-model="zpointSettings.winter.md_V_maxChk"/>V &gt; Vmax
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход температуры за мин значение" ng-model="zpointSettings.winter.md_T_minChk"/>T &lt; Tmin
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход температуры за макс значение" ng-model="zpointSettings.winter.md_T_maxChk"/>T &gt; Tmax
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход давления за мин значение" ng-model="zpointSettings.winter.md_P_minChk"/>P &lt; Pmin
                                        </div>
                                        <div class="row">
                                            <input type="checkbox" title="Отслеживать выход давления за макс значение" ng-model="zpointSettings.winter.md_P_maxChk"/>P &gt; Pmax
                                        </div> 
                                      
                                      </div>
                                </div>
                                <div class="col-md-9 well marginBottom10 marginTop10 paddingTop10 paddingBottom10">
                                    
                        <!--                                Строка для режима потребления-->            
                                    <div class="row-fluid ">
                                       <div class="col-sx-12">
                                            <div>Рабочий режим потребления:</div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="M1" class="" ng-model="zpointSettings.winter.wm_M1_chk"/>М1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_M1_chk" ng-model="zpointSettings.winter.wm_M1_min">
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_M1_chk" ng-model="zpointSettings.winter.wm_M1_max"> т/час
                                        </div>
                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="M2" class="" ng-model="zpointSettings.winter.wm_M2_chk"/>М2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_M2_chk" ng-model="zpointSettings.winter.wm_M2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_M2_chk" ng-model="zpointSettings.winter.wm_M2_max"> т/час
                                        </div>
                                    </div> 
                                     <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="T1" class="" ng-model="zpointSettings.winter.wm_T1_chk"/>T1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_T1_chk" ng-model="zpointSettings.winter.wm_T1_min">
                                        </div>
                                        <div class="col-xs-5 noPadding ">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_T1_chk" ng-model="zpointSettings.winter.wm_T1_max"> &deg;C
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="T2" class="" ng-model="zpointSettings.winter.wm_T2_chk"/>T2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_T2_chk" ng-model="zpointSettings.winter.wm_T2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_T2_chk" ng-model="zpointSettings.winter.wm_T2_max"> &deg;C
                                        </div>

                                    </div> 
                                    
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="P1" class="" ng-model="zpointSettings.winter.wm_P1_chk"/>P1
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_P1_chk" ng-model="zpointSettings.winter.wm_P1_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_P1_chk" ng-model="zpointSettings.winter.wm_P1_max"> ат
                                        </div>

                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="P2" class="" ng-model="zpointSettings.winter.wm_P2_chk"/>P2
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_P2_chk" ng-model="zpointSettings.winter.wm_P2_min">

                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_P2_chk" ng-model="zpointSettings.winter.wm_P2_max"> ат
                                        </div>
                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2">
                                            <input type="checkbox" title="&Delta;Q" class="" ng-model="zpointSettings.winter.wm_deltaQ_chk"/>&Delta;Q
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_deltaQ_chk" ng-model="zpointSettings.winter.wm_deltaQ_min">
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_deltaQ_chk" ng-model="zpointSettings.winter.wm_deltaQ_max"> ГКал/сут
                                        </div>
                                    </div> 
                                    <div class="row-fluid">
                                        <div class="col-xs-2 ">
                                            <input type="checkbox" title="&Delta;T" class="" ng-model="zpointSettings.winter.wm_deltaT_chk"/>&Delta;T
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            от <input class="span2" size="4" type="text" ng-disabled="!zpointSettings.winter.wm_deltaT_chk" ng-model="zpointSettings.winter.wm_deltaT_min">
                                        </div>
                                        <div class="col-xs-5 noPadding">
                                            до <input class="span2" size="4" type=text class="" ng-disabled="!zpointSettings.winter.wm_deltaT_chk" ng-model="zpointSettings.winter.wm_deltaT_max"> &deg;C
                                        </div>
                                    </div>
                                </div>  
                            </div> 
                            
<!--                                  Утечки и порывы воды-->
                            <div class="col-md-12 well paddingBottom10 marginBottom10 noPadding" >      
                                <div class="row-fluid">
                                    <div class="row-fluid ">
                                        <div class="col-xs-12 "><h4>Утечки и прорывы воды</h4></div>
                                    </div>    
                                    <div class="row-fluid">
                                        <div class="col-xs-12">
                                            <input type="checkbox" title="" class="" ng-model="zpointSettings.winter.leak_Night_chk"/>Утечки, если ночной расход больше
                                            <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.winter.leak_Night_chk" ng-model="zpointSettings.winter.leak_Night">
                                            &#37; от среднечасового расхода за сутки
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-12">
                                            <input type="checkbox" title="" class="" ng-model="zpointSettings.winter.leak_Gush_chk"/>Порыв / сброс, если расход в 
                                            <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.winter.leak_Gush_chk" ng-model="zpointSettings.winter.leak_Gush" style="margin-left: 0px;">
                                            раза больше обычного
                                        </div>
                                    </div>
                                </div>  
                            </div>    
<!--                                Нарушение эксплуатации  -->
                            <div class="col-md-12 well paddingBottom10 marginBottom10 noPadding" >      
                                <div class="row-fluid">
                                    <div class="row-fluid">
                                        <div class="col-xs-12"><h4>Нарушение эксплуатации</h4></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-7 ">
                                            <input type="checkbox" title="Tраб" class="" ng-model="zpointSettings.winter.ov_Worktime_chk"/>Т<small>раб</small> &lt; <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.winter.ov_Worktime_chk" ng-model="zpointSettings.winter.ov_Worktime"> чч:мм
                                        </div>
                                        <div class="col-xs-5">
                                           <input type="checkbox" title="Перегрев/недогрев" class="" ng-model="zpointSettings.winter.ov_OverheatCool_chk"/> Перегрев / недогрев
                                        </div>                               
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-xs-7 ">
                                           <input type="checkbox" title="Контроль баланса масс" class="" ng-model="zpointSettings.winter.ov_BalanceM_ctrl_chk"/>
                                            Контроль баланса масс <input class="span1" size="1" type="text" ng-disabled="!zpointSettings.winter.ov_BalanceM_ctrl_chk" ng-model="zpointSettings.winter.ov_BalanceM_ctrl"> &#37;
                                        </div>
                                        <div class="col-xs-5">
                                               <input type="checkbox" title="&Delta;M" class="" ng-model="zpointSettings.winter.ov_deltaM_chk"/>&Delta;M &lt; 0 
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    </div><!-- /example -->

                    </div>
                </div>
            </div>        

			
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
                        <div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="updateZpointSettings()"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>

<!--Show Object options-->
<div id="showObjOptionModal" class="modal fade" role="dialog"
	aria-labelledby="showObjOptionLabel" tabindex="-1">

	<div class="modal-dialog  modal-content">

		<div class="modal-header">
			<h3 id="showObjOptionLabel">
				Свойства объекта учета "{{currentObject.fullName}}"
			</h3>
		</div>
		<div class="modal-body ">     
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-12 well noPaddingBottom marginBottom10" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom excbt_table">
                            <tr>
                                <td class="col-sm-3"><label for="inputName">Наименование</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input class="form-control" type="text" id="inputName" placeholder="Наименование"  ng-model="currentObject.fullName">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputDescription" >Описание</label>
                                </td>
                                <td class="textAlign_left"><textarea class="form-control" id="inputDescription" placeholder="Описание" ng-model="currentObject.description"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="inputComment" >Комментарий</label>
                                </td>
                                <td class="textAlign_left"><textarea class="form-control" id="inputComment" placeholder="Комментарий" ng-model="currentObject.comment"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputAddress">Адрес</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input class="form-control" type="text" id="inputAddress" placeholder="Адрес" ng-model="currentObject.fullAddress">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputCC">Управляющая компания</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input class="form-control" type="text" disabled="true" ng-model="currentObject.contManagements[0].organization.organizationName">
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMode">Режим функционирования</label>
                                </td>
                                <td class="textAlign_left col-sm-9"><select class="form-control inputData" id="inputMode" ng-model="currentObject.currentSettingMode" ng-options="mode.keyname as mode.caption for mode in cont_zpoint_setting_mode_check">
                                    </select>
                                </td>
                            </tr>       
                            <tr>
                                <td class="col-sm-3"><label for="inputThv">Температура холодной воды</label>
                                </td>
                                <td class="textAlign_left col-sm-9">
                                        <input class="form-control inputDigitalData" type="text" id="inputThv" placeholder="" ng-model="currentObject.cwTemp"> <label class="control-label">&deg; C </label>
                                </td>                               
                            </tr>                           
                            <tr>
                                <td class="col-sm-3"><label for="inputSquare">Отапливаемая площадь</label>
                                </td>
                                <td class="col-sm-9 textAlign_left"><input class="form-control inputDigitalData" type="text" id="inputSquare" placeholder="" ng-model="currentObject.heatArea"> кв. м.
                                </td>
                            </tr>
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
                        <div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs"
								ng-click="updateObject(currentObject)"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block btn-xs" data-dismiss="modal"
								ng-click="exit('#currentObject')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>
