<!--Show document preperties-->
<div id = "ndpv-showDocumentPropertiesModal" 
     class = "modal fade nmc-modal-window" 
     role = "dialog"
     aria-labelledby = "showDocumentPropertiesLabel" 
     tabindex = "-1" 
     data-backdrop = "static">
	<div class = "modal-dialog  modal-content nmc-modal-dialog">
		<div class = "modal-header nmc-modal-header">
            <button type = "button" 
                    class = "close nmc-close-button" 
                    data-dismiss = "modal" 
                    aria-label = "Close">
                <span aria-hidden = "true">&times;</span>
            </button>
			<h3 id = "showDocumentPropertiesLabel" 
                class = "nmc-h3">
				Документ
			</h3>
		</div>
		<div class = "modal-body nmc-modal-body paddingLeftRight15">
            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-xs-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table">
                        <table class = "table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class = "col-xs-3">
                                    <label for = "inputEnergyDocType">Тип</label>
                                    <span class = "nmc-required-star">*</span>
                                </td>
                                <td class = "col-xs-9 nmc-text-align-left">
                                    <div class = "form-group noMarginBottom" 
                                         ng-class = "{'has-error': emptyString(currentDocument.type)}">
<!--
                                        <input  
                                               class = "form-control nmc-text-input-form" 
                                               type = "text" 
                                               id = "inputEnergyDocType" 
                                               ng-model = "data.currentDocument.type"                                                
                                               disabled/>
-->
                                        <select  
                                               class = "form-control nmc-select-form"                                                 
                                               id = "inputEnergyDocType" 
                                               ng-model = "currentDocument.type"
                                                ng-options = "dt.keyname as dt.caption for (key, dt) in data.documentTypes"
                                               disabled>
                                            
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if = "currentDocument.type === data.documentTypes.ENERGY_DECLARATION.keyname">
                                <td class = "col-xs-3">
                                    <label for = "inputEnergyDocType">Форма</label>
                                    <span class = "nmc-required-star">*</span>
                                </td>
                                <td class = "col-xs-9 nmc-text-align-left">
                                    <div class = "form-group noMarginBottom" 
                                         ng-class = "{'has-error': emptyString(currentDocument.templateKeyname)}">
<!--
                                        <input  
                                               class = "form-control nmc-text-input-form" 
                                               type = "text" 
                                               id = "inputEnergyDocType" 
                                               ng-model = "data.currentDocument.type"                                                
                                               disabled/>
-->
                                        <select  
                                               class = "form-control nmc-select-form"                                                 
                                               id = "inputEnergyDocType" 
                                               ng-model = "currentDocument.templateKeyname"
                                                ng-options = "df.templateKeyname as df.shortCaption for (key, df) in data.energyDeclarationForms"
                                                ng-disabled = "currentDocument.id || isReadOnly()">
                                            
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class = "col-xs-3">
                                    <label for = "ndpv-inputEnergyDocName">Название</label>
                                    <span class = "nmc-required-star">*</span>
                                </td>
                                <td class = "col-xs-9 nmc-text-align-left">
                                    <div class = "form-group noMarginBottom" 
                                         ng-class = "{'has-error': emptyString(currentDocument.passportName)}">
                                        <input  
                                               class = "form-control nmc-text-input-form" 
                                               type = "text" 
                                               id = "ndpv-inputEnergyDocName" 
                                               ng-model = "currentDocument.passportName" 
                                               ng-disabled = "isReadOnly()"/>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td class = "col-xs-3">
                                    <label for = "ndpv-inputEnergyDocDate" 
                                           class = "nmc-form-label">Дата документа</label>
                                    <span class = "nmc-required-star">*</span>
                                </td>
                                <td class = "col-xs-9 nmc-text-align-left">
                                    <span class = "form-group" 
                                          ng-class = "{'has-error': emptyString(currentDocument.docDateFormatted)}">
                                        <input id = "ndpv-inputEnergyDocDate" 
                                               class = "form-control nmc-date-input-form nmc-spec-date" 
                                               type = "text"                                                                                               
                                               ng-model = "currentDocument.docDateFormatted"
                                               ng-disabled = "isReadOnly()"
                                               readonly
                                               />
                                    </span>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <label for = "inputEnergyDocDescription" >Комментарий</label>
                                </td>
                                <td class = "nmc-text-align-left">
                                    <textarea class = "form-control nmc-textarea-form" 
                                              id = "inputEnergyDocDescription" 
                                              placeholder = "Описание" 
                                              ng-model = "currentDocument.description"
                                              ng-disabled = "isReadOnly()">
                                    </textarea>
                                </td>
                            </tr>
<!--
                            <tr ng-if = "!currentDocument.id && currentDocument.type === data.documentTypes.OBJECT_PASSPORT.keyname">
                                <td colspan = "2" class = "col-xs-12">
                                    <input type= "checkbox" 
                                           class="nmc-checkbox-form" 
                                           ng-model="currentDocument.isRunDataCoping"
                                           ng-disabled="isReadOnly()"
                                           />
                                    <label>
                                        Скопировать данные из предыдущего паспорта.
                                    </label>
                                </td>                                
                            </tr>
                            <tr ng-if = "!currentDocument.id && currentDocument.type === data.documentTypes.OBJECT_PASSPORT.keyname">
                                <td colspan = "2" class = "col-xs-12">
                                    <input type= "checkbox" 
                                           class="nmc-checkbox-form" 
                                           ng-model="currentDocument.isRunDataCoping"
                                           ng-disabled="isReadOnly()"
                                           />
                                    <label>
                                        Импортировать данные из паспортов объектов учета.
                                    </label>
                                </td>                                
                            </tr>
-->
                            <tr>
                                <td colspan = "2">
                                    Поля отмеченные <span class = "nmc-required-star">*</span> обязательны для заполнения!
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
		</div>
		<div class = "modal-footer nmc-modal-footer">
				<div class = "container-fluid  ">

					<div class = "row">
                        <div class = "col-xs-offset-6 col-xs-3">
							<input ng-if = "!isReadOnly()" 
                                   type = "submit" 
                                   class = "btn btn-primary btn-block btn-xs nmc-save-button"
                                   ng-click = "btnClick()"                                   
                                   value = "Сохранить" 
                                   ng-disabled = "saveBtnDisabled()"/>
						</div>
						<div class = "pull-right col-xs-offset-2 col-xs-3 noMargin noPadding">
							<button class = "btn btn-default btn-block btn-xs nmc-cancel-button" 
                                    data-dismiss = "modal"
                                    ng-click = "exit('#currentDocument')">
								Отменить
							</button>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>