<div id="scheduleEditorModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="scheduleEditorLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog  modal-content nmc-modal-dialog nmc-modal-dialog-w450">
		<div class="modal-header nmc-modal-header-scheduler">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="scheduleEditorLabel" class="nmc-h3 noMargin">
				Расписание опроса прибора <span ng-if="data.currentObject.number!=null">- №: </span> {{data.currentObject.number}}
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" 
                                           class="nmc-checkbox-form" 
                                           ng-model="data.currentScheduler.isLoadingAuto"
                                           ng-disabled="checkAutoLoadingDisabled()"
                                           />
                                    <label class="nmc-form-label">
                                        Автоматический опрос
                                    </label>
                                    <small ng-if="checkAutoLoadingDisabled()" class="text-danger">Автоматический опрос не возможен, потому что у источника данных прибора не включена поддержка дозвона</small>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-6 col-md-6"><label for="intervalShd" class="nmc-form-label">Интервал</label>
                                </td>
                                <td class="col-xs-6 col-md-6 nmc-text-align-left">
                                    <span class="form-group" ng-class="{'has-error': data.currentScheduler.isLoadingAuto && !checkHHmm(data.currentScheduler.loadingInterval)}">
                                        <input id="intervalShd"
                                               class="form-control nmc-text-input-form nmc-input-digital-data" 
                                               type="text" 
                                               ng-disabled="!data.currentScheduler.isLoadingAuto"                                                
                                               ng-model="data.currentScheduler.loadingInterval"/> чч:мм
<!--                                        pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){1}" -->
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-6 col-md-6"><label for="inputAttemptsNumberShd" class="nmc-form-label">Количество попыток</label>
                                </td>
                                <td class="col-xs-6 col-md-6 nmc-text-align-left">
                                    <span class="form-group" 
                                          ng-class="{'has-error':data.currentScheduler.isLoadingAuto && !checkPositiveNumberValue(data.currentScheduler.loadingAttempts)}">
                                        <input id = "inputAttemptsNumberShd" 
                                               class="form-control nmc-text-input-form nmc-input-digital-data-sm" 
                                               type="text" 
                                               ng-disabled="!data.currentScheduler.isLoadingAuto"
                                               data-inputmask="'alias':'numeric', 'greedy': false"
                                               ng-model="data.currentScheduler.loadingAttempts"/>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-6 col-md-6">
                                    <label for="inputIntervalBetweenAttemptsShd" class="nmc-form-label"> Интервал между попытками 
                                    </label>                                    
                                </td>
                                <td class="col-xs-6 col-md-6 nmc-text-align-left">
                                    <span class="form-group" ng-class="{'has-error':data.currentScheduler.isLoadingAuto && !checkHHmm(data.currentScheduler.loadingRetryInterval)}">
                                        <input id="inputIntervalBetweenAttemptsShd"
                                               class="form-control nmc-text-input-form nmc-input-digital-data" 
                                               type="text" 
                                               ng-disabled="!data.currentScheduler.isLoadingAuto"                                                
                                               ng-model="data.currentScheduler.loadingRetryInterval"/> чч:мм
<!--                                        pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){1}" -->
                                    </span>
                                </td>
                            </tr>
                            <tr ng-if="checkNodataIdleTimeEnabled()">
                                <td colspan="2" class="col-xs-12 col-md-12">
                                    <input type="checkbox" class="nmc-checkbox-form" 
                                           ng-model="data.currentScheduler.nodataRequestEnabled"
                                           ng-disabled="!data.currentScheduler.isLoadingAuto"/>
                                    <span class="nmc-form-label">
                                        Опрашивать только, если нет данных свыше 
                                    </span>
                                    <input class="form-control nmc-text-input-form nmc-input-digital-data-sm" 
                                           type="text"
                                           ng-disabled="!data.currentScheduler.isLoadingAuto"
                                           ng-model="data.currentScheduler.nodataIdleTime"/>
                                    <span>часов</span>
                                </td>                                
                            </tr> 
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-3 col-xs-5 col-md-5">
                            <input type="submit" 
                                   class="btn btn-primary btn-block btn-xs nmc-save-button"
                                   ng-disabled="data.currentScheduler.isSaving == true || data.currentScheduler.isLoadingAuto && !checkScheduler(data.currentScheduler)"
                                   ng-click = "btnOkClick()"
                                   ng-value = "btnOkCaption || 'Ok'"
								/>
<!--
							<input type="submit" 
                                   class="btn btn-primary btn-block btn-xs nmc-save-button"
                                   ng-disabled="data.currentScheduler.isSaving == true || data.currentScheduler.isLoadingAuto && !checkScheduler(data.currentScheduler)"
                                   ng-click = "saveScheduler(data.currentObject.contObjectId, data.currentObject, data.currentScheduler)                           
								value="Сохранить" />
-->
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#currentDevice')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>