<div id="nmcMeterPeriodsModal" 
     class="modal fade nmc-modal-window" 
     role="dialog"
	 aria-labelledby="meterPeriodsLabel" 
     tabindex="-1"
      data-backdrop="static"
     >

	<div class="modal-dialog modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" 
                    class="close nmc-close-button" 
                    data-dismiss="modal" 
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" 
                    class="close marginRight5 nmc-close-button">
                <span aria-hidden="true">?</span>
            </button>
			<h3 id="meterPeriodsLabel" 
                class="nmc-h3">
				Отчетные периоды объекта {{contObjectName}}
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr ng-repeat = "rs in resourceSystemList track by $index">
                                <td class="col-xs-6 col-md-6"><label class="nmc-form-label">{{rs.caption}}</label>
                                </td>
                                <td class="col-xs-6 col-md-6 nmc-text-align-left">
<!--                                    <span class="form-group" ng-class="{'has-error': !rs.value}">-->
                                        <select class = "form-control nmc-select-form"
                                                ng-model = "rs.value"
                                                ng-options = "mps.id as mps.name for mps in meterPeriodList">
                                        </select>
<!--                                    </span>-->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
<!--
			<div class = "container-fluid">
                <div class = "row" ng-repeat = "rs in resourceSystemList track by $index">
                    <div class = "col-xs-6">
                        <span ng-bind = "rs.caption"></span>
                    </div>
                    <div class = "col-xs-6">
                        <select class = "form-control nmc-select-form"
                                ng-model = "rs.value"
                                ng-options = "mps.id as mps.name for mps in meterPeriodList">
                        </select>
                    </div>
                </div>
            </div>
-->
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-4 col-xs-5 col-md-5">
							<input ng-show="showOkButton=='true'"                                    
                                   type="submit" 
                                   class="btn btn-xs btn-primary btn-block nmc-ok-button"
                                   data-dismiss="modal" 
                                   data-target="#main_properties" 
                                   data-toggle="tab"
								   ng-click="btnClick()"
								   ng-value="btnOkCaption || 'Ок'" 
                                   data-target="#main_properties" 
                                   data-toggle="tab"    
                                   />
						</div>
						<div class="pull-right col-xs-offset-2 col-xs-3 col-md-3 noPadding noMargin">
							<button ng-show="showCancelButton=='true'"
                                    class="btn btn-xs btn-default btn-block nmc-cancel-button" 
                                    data-dismiss="modal"
								    ng-click="exit('#moveToArchive');">
								{{btnCancelCaption || 'Отменить'}}
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>