<div id="deleteWindowModal" 
     class="modal fade nmc-modal-window" 
     role="dialog"
     aria-labelledby="deleteLabel" 
     tabindex="-1"
      data-backdrop="static"
     >
    
	<div class="modal-dialog  modal-content nmc-modal-dialog-low">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{message}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
                <div class="marginLeft15">
                    <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                    </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                </div>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
							<input ng-disabled = "(confirmCode != controlCode && !isSystemuser())" 
                                   type="submit" 
                                   class="btn btn-xs btn-primary btn-block nmc-save-button"
                                   ng-click="deleteItemClick()"
                                   value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit();">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>