<div  id="messageForUserModal" 
     class="modal fade nmc-modal-window" 
     role="dialog"
	 aria-labelledby="messageForUserLabel" 
     tabindex="-1"
      data-backdrop="static"
     >

	<div class="modal-dialog modal-content nmc-modal-dialog-low">

		<div class="modal-header nmc-modal-header">
            <button type="button" 
                    class="close nmc-close-button" 
                    data-dismiss="modal" 
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" 
                    class="close marginRight5 nmc-close-button">
                <span aria-hidden="true">?</span>
            </button>
			<h3 id="messageForUserLabel" 
                class="nmc-h3">
				Внимание! 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
			<form name="moveForm" novalidate>
                <pre class="nmc-textfield">
                    {{'\n'+messageForUser}}  
                </pre>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-4 col-xs-5 col-md-5">
							<input ng-show="showOkButton=='true'"                                    
                                   type="submit" 
                                   class="btn btn-xs btn-primary btn-block nmc-ok-button"
                                   data-dismiss="modal" 
                                   data-target="#main_properties" 
                                   data-toggle="tab"
								   ng-click="btnClick()"
								   ng-value="btnOkCaption || 'Ок'" 
                                   data-target="#main_properties" 
                                   data-toggle="tab"    
                                   />
						</div>
						<div class="pull-right col-xs-offset-2 col-xs-3 col-md-3 noPadding noMargin">
							<button ng-show="showCancelButton=='true'"
                                    class="btn btn-xs btn-default btn-block nmc-cancel-button" 
                                    data-dismiss="modal"
								    ng-click="exit('#moveToArchive');">
								{{btnCancelCaption || 'Отменить'}}
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>