<!-- MODAL -->
<div id="searchTerminalModal" class="modal fade" role="dialog"
	aria-labelledby="" aria-hidden="true" tabindex="-1">

	<div class="modal-dialog modal-lg modal-dialog-center modal-content" style="height: 73%">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">x</button>
			<h3 class="modal-title">Terminal Search</h3>
		</div>
		<!-- MODAL BODY -->
		<div class="modal-body" style="height: 80%">
			<!-- Filter -->
			<form ng-submit="doModalSearch()">
				<div class="container-fluid">
					<div class="row">
						<div class="input-group col-md-5 filter">

							<span class="input-group-addon" ng-click="toggleModalSearch()">
								<i ng-show="!searchInProgress" class="glyphicon glyphicon-filter"></i>
								<i ng-show="searchInProgress"  class="fa fa-spinner fa-spin"></i>
							</span>
								 
							<input type="text"
								class="form-control" ng-model="searchFilter">
							<!-- buttons -->
													
							<!-- search -->
							<span class="input-group-addon btn btn-default submit"
								ng-disabled="!filterCanClear()" ng-click="doModalSearch()"><i
								class="fa fa-search"></i></span> 
							<!-- clear -->
							<span class="input-group-addon btn btn-default"
								ng-disabled="!filterCanClear()" ng-click="searchFilter = ''"><i
								class="glyphicon glyphicon-remove"></i></span>
							<!-- end of buttons -->
						</div>
					</div>
				</div>
			</form>
			
			<span class="lead">Search results </span> 
			<!-- RIGHT INFO -->
			<span class="pull-right"> 
			  <span class="text-warning" ng-show="isTooManyResults()">Too many results ({{modal.totalMatches}}). </span>
			  <span ng-show="searchResults.length > 0">Displayed: {{searchResults.length}}.</span>  
			  <span ng-show="noDataFound">No data found.</span>  
			</span>
			<!-- END OF Filter -->
			<div class="container-fluid">
			<div class="well row">
					<!-- TABLE HEADER -->
					<div >
						<table class="table table-lighter table-bordered table-condensed table-hover marginZero">
							<tr class="info">
								<th class="text-center td-check-box">
									<input model-change-blur type="checkbox" ng-show="searchResults.length > 0" 
										ng-click="modalCheckAllToggle()" />
								</th>
								<th>Available terminals</th>
							</tr>
							<tr></tr>
						</table>					
					</div>
					<!-- TABLE BODY. Scroll -->
					<div class="modal-scrollable-area1" >
						<table class="table table-lighter table-bordered table-condensed table-hover">
							<tr ng-repeat="t in searchResults">
								<td class="text-center td-check-box">
									<input model-change-blur type="checkbox" ng-model="t.isChecked" />
								</td>
								<td>
									<span class="prop-name-title">External
													Id: </span> <span class="text-primary prop-highlight">{{t.extId}}</span>;  
									<span class="prop-name-title">Description:</span> {{t.description ||
												('MSG.NA' | translate)}}.										
								
								</td>
							</tr>
						</table>
					</div>
			</div><!-- row -->
			</div><!-- container-fluid -->

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="doModalAction('#searchTerminalModal')">Add</button>
			<button class="btn btn-default" ng-click="exitModal('#searchTerminalModal')">Cancel</button>
		</div>
	</div>
</div>