
<div id="addSystemUserModal" class="modal fade" role="dialog"
	aria-labelledby="addSystemUserModalLabel" tabindex="-1">

	<div class="modal-dialog modal-content">
		<div class="modal-header">
			<h3 id="addSystemUserModalLabel">
				Create  {{'SYSTEMUSER' | translate}}
			</h3>
		</div>
	<form name="newSystemUserForm" role="form" class="form" novalidate>		
		<div class="modal-body">
			<div>

				
					<div class="form-group marginZero">
						<label for="inputUserRole" class="control-label">* {{'SYSTEMUSERS.USER_ROLE' | translate}}: <select name="userRole"
							class="form-control" required ng-model="systemUser.userRole">
								<option>ROLE_USER</option>
								<option>ROLE_ADMIN</option>
						</select> <label> <span class="alert-danger"
								ng-show="displayValidationError && newSystemUserForm.userRole.$error.required">
									Required
							</span>
						</label>
					</div>
					
					<div class="form-group marginZero">
						<label for="inputUserName" class="control-label">* {{'SYSTEMUSERS.USER_NAME' | translate}}:
						</label> <input name="userName" class="form-control" type="text" required
							ng-model="systemUser.userName"
							placeholder="{{'SYSTEMUSERS.USER_NAME' | translate}}" /> <label>
							<span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.userName.$error.required">
								Required
						</span>
						</label>
					</div>
					<div class="form-group marginZero">
						<label for="inputFirstName" class="control-label">* {{'SYSTEMUSERS.FIRST_NAME' | translate}}:
						</label> <input name="firstName" class="form-control" type="text" required
							ng-model="systemUser.firstName"
							placeholder="{{'SYSTEMUSERS.FIRST_NAME' | translate}}" /> <label>
							<span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.firstName.$error.required">
								Required
						</span>
						</label>
					</div>
					<div class="form-group marginZero">
						<label for="inputSecondName" class="control-label">* {{'SYSTEMUSERS.SECOND_NAME' | translate}}:
						</label> <input name="secondName" class="form-control" type="text"
							required ng-model="systemUser.secondName"
							placeholder="{{'SYSTEMUSERS.SECOND_NAME' | translate}}" />
						<label> <span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.secondName.$error.required">
								Required
						</span>
						</label>
					</div>
					<div class="form-group marginZero">
						<label for="inputUserDescription" class="control-label">*
							{{'SYSTEMUSERS.USER_DESCRIPTION' | translate}}:
						</label> <input name="userDescription" class="form-control" type="text"
							ng-model="systemUser.userDescription"
							placeholder="{{'SYSTEMUSERS.USER_DESCRIPTION' | translate}}" />
						<label> <span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.userDescription.$error.required">
								Required
						</span>
						</label>
					</div>
					

					<div class="form-group marginZero">
						<label for="inputNewPassword" class="control-label">* {{'SYSTEMUSERS.NEW_PASSWORD' | translate}}:
						</label> 
							
							<input name="userNewPassword" class="form-control" type="password"
							ng-model="newPassword"
							placeholder="{{'SYSTEMUSERS.NEW_PASSWORD' | translate}}" 
							value="{{newPassword}}"
							ng-change="isNewPasswordEmpty()" 
							required
							/>
							
						<label> <span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.newPassword.$error.required">
								Required
						</span>
						</label>
					</div>
					
					<div class="form-group marginZero">
						<label for="inputConfPassword" class="control-label">* {{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}:
						</label> 
													
							<input name="userConfPassword" class="form-control" type="password"
							 ng-model="systemUser.newPassword"
							placeholder="{{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}" 
							value="{{systemUser.newPassword}}"
							ng-disabled="newPassword=='' || newPassword==null"
							required
							/>
							
						<label> <span class="alert-danger"
							ng-show="displayValidationError && newSystemUserForm.confPassword.$error.required">
								Required
						</span>
						</label>
						<label> <span class="alert-danger"
							ng-show="newPassword!='' && newPassword!=systemUser.newPassword">
									{{'SYSTEMUSERS.NEW_PASSWORD' | translate}} &lt;&gt; {{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}
						</span>
						</label>
					</div>

					
			</div>
		</div>
		<div class="modal-footer">
			<div class="container-fluid dialogMarginButtons">

						<div class="row">
							<div class="col-xs-offset-2 col-md-3">
								<input type="submit" class="btn btn-primary btn-block"
 									ng-click="createSystemUser(newSystemUserForm);"
									ng-disabled="(newPassword!=systemUser.newPassword)&&(systemUser.newPassword!=null) || (newPassword!=systemUser.newPassword)&&(newPassword!='')"
									value="Create" />
							</div>
							<div class="col-xs-offset-2 col-md-3">

								<button class="btn btn-default btn-block" data-dismiss="modal"
									ng-click="exit('#addSystemUserModal');">
									Cancel
								</button>
							</div>
						</div>
					</div>
				
		</div>
	</form>
		<span class="alert-danger dialogErrorMessage" ng-show="errorOnSubmit">
			Request error
		</span>
	</div>
</div>

<div id="updateSystemUserModal" class="modal fade" role="dialog"
	aria-labelledby="addSystemUserModalLabel" tabindex="-1">
	<div class="modal-dialog modal-content">
		<div class="modal-header">
			<h3 id="addSystemUserModalLabel">
				Update {{'SYSTEMUSER' | translate}}
			</h3>
		</div>
	<form name="updateSystemUserForm" role="form" class="form" novalidate>

		<div class="modal-body gridworkarea">
			<div>
			<div class="form-group marginZero">
						<label for="inputUserRole" class="control-label">* {{'SYSTEMUSERS.USER_ROLE' | translate}}: <select name="userRole"
							class="form-control" required ng-model="systemUser.userRole"
							value="{{systemUser.userRole}}"
							>
								<option>ROLE_USER</option>
								<option>ROLE_ADMIN</option>
						</select> <label> <span class="alert-danger"
								ng-show="displayValidationError && updateSystemUserForm.userRole.$error.required">
									Required
							</span>
						</label>
					</div>

					<div class="form-group marginZero">
						<label for="inputUserName" class="control-label">* {{'SYSTEMUSERS.USER_NAME' | translate}}:
						</label> <input name="userName" class="form-control" type="text" required
							ng-model="systemUser.userName"
							placeholder="{{'SYSTEMUSERS.USER_NAME' | translate}}"
							value="{{systemUser.userName}}" readonly/> <label> <span
							class="alert-danger"
							ng-show="displayValidationError && updateSystemUserForm.userName.$error.required">
								Required
						</span>
						</label>
					</div>

					<div class="form-group marginZero">
						<label for="inputFirstName" class="control-label">* {{'SYSTEMUSERS.FIRST_NAME' | translate}}:
						</label> <input name="firstName" class="form-control" type="text" required
							ng-model="systemUser.firstName"
							placeholder="{{'SYSTEMUSERS.FIRST_NAME' | translate}}"
							value="{{systemUser.firstName}}" /> <label> <span
							class="alert-danger"
							ng-show="displayValidationError && updateSystemUserForm.firstName.$error.required">
								Required
						</span>
						</label>
					</div>

					<div class="form-group marginZero">
						<label for="inputSecondName" class="control-label">* {{'SYSTEMUSERS.SECOND_NAME' | translate}}:
						</label> <input name="secondName" class="form-control" type="text"
							required ng-model="systemUser.secondName"
							placeholder="{{'SYSTEMUSERS.SECOND_NAME' | translate}}" 
							value="{{systemUser.secondName}}"/>
						<label> <span class="alert-danger"
							ng-show="displayValidationError && updateSystemUserForm.secondName.$error.required">
								Required
						</span>
						</label>
					</div>

					<div class="form-group marginZero">
						<label for="inputUserDescription" class="control-label">
							{{'SYSTEMUSERS.USER_DESCRIPTION' | translate}}:
						</label> <input name="userDescription" class="form-control" type="text"
							ng-model="systemUser.userDescription"
							placeholder="{{'SYSTEMUSERS.USER_DESCRIPTION' | translate}}" 
							value="{{systemUser.userDescription}}"
							/>
						<label> <span class="alert-danger"
							ng-show="displayValidationError && updateSystemUserForm.userDescription.$error.required">
								Required
						</span>
						</label>
					</div>
					
					<h3>{{'SYSTEMUSERS.CHANGE_PASSWORD' | translate}}:
					</h3>	
					<div class="form-group marginZero">
						<label for="inputUserCurPassword" class="control-label">
							{{'SYSTEMUSERS.PASSWORD' | translate}}:
						</label> <input name="userCurPassword" class="form-control" type="password"
							ng-model="systemUser.password"
							placeholder="{{'SYSTEMUSERS.PASSWORD' | translate}}" 
							value="{{systemUser.Password}}"
							/>

					</div>

					<div class="form-group marginZero">
						<label for="inputUserNewPassword" class="control-label">
							{{'SYSTEMUSERS.NEW_PASSWORD' | translate}}:
						</label> <input name="userNewPassword" class="form-control" type="password"
							ng-model="newPassword"
							placeholder="{{'SYSTEMUSERS.NEW_PASSWORD' | translate}}" 
							value="{{newPassword}}"
							ng-change="isNewPasswordEmpty()"
							/>
							
					</div>
					
					<div class="form-group marginZero">
						<label for="inputUserConfPassword" class="control-label">
							{{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}:
						</label> <input name="userConfPassword" class="form-control" type="password"
							ng-model="systemUser.newPassword"
							placeholder="{{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}" 
							value="{{systemUser.newPassword}}"
							ng-disabled="newPassword==''"
							/>
						
						<label> <span class="alert-danger"
								ng-show="newPassword!='' && newPassword!=systemUser.newPassword">
									{{'SYSTEMUSERS.NEW_PASSWORD' | translate}} &lt;&gt; {{'SYSTEMUSERS.CONFIRMATION_PASSWORD' | translate}}
							</span>
						</label>
						
					</div>
	
					
				
			</div>
		</div>
		
		<div class="modal-footer">
		<div class="container-fluid dialogMarginButtons">

						<div class="row">
							<div class="col-xs-offset-2 col-md-3">
								<input type="submit" class="btn btn-primary btn-block"
									ng-click="updateSystemUser(updateSystemUserForm);"
									ng-model="systemUser.newPassword"
									ng-disabled="(newPassword!=systemUser.newPassword)&&(systemUser.newPassword!=null) || (newPassword!=systemUser.newPassword)&&(newPassword!='')"
									value="Update" />
							</div>
							<div class="col-xs-offset-2 col-md-3">

								<button class="btn btn-default btn-block" data-dismiss="modal"
									ng-click="exit('#addSystemUserModal');">
									Cancel
								</button>
							</div>
						</div>
					</div>
		</div>
	</form>

		<span class="alert-danger dialogErrorMessage" ng-show="errorOnSubmit">
			Request error
		</span>
	</div>
</div>

<div id="deleteSystemUserModal" class="modal fade" role="dialog"
	aria-labelledby="deleteSystemUserModalLabel" tabindex="-1">

	<div class="modal-dialog modal-dialog-center modal-content">

		<div class="modal-header">
			<h3 id="deleteSystemUserModalLabel">
				Delete {{'SYSTEMUSER' | translate}}
			</h3>
		</div>
		<div class="modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning"> Do you want to delete systemUser
					</label> <label class="text-primary">{{systemUser.userName}} </label> <label
						class="text-warning"> ? </label>
				</p>

			</form>
		</div>
		<div class="modal-footer">
				<div class="container-fluid dialogMarginButtons">

					<div class="row">
						<div class="col-xs-offset-2 col-md-3">
							<input type="submit" class="btn btn-primary btn-block"
								ng-click="deleteSystemUser();"
								value="Delete" />
						</div>

						<div class="col-xs-offset-2 col-md-3">
							<button class="btn btn-default btn-block" data-dismiss="modal"
								ng-click="exit('#deleteSystemUserModal');">
								Cancel
							</button>
						</div>
					</div>
				</div>		
		</div>
		<span class="alert alert-error dialogErrorMessage"
			ng-show="errorOnSubmit"> Request error
		</span> <span class="alert alert-error dialogErrorMessage"
			ng-show="errorIllegalAccess"> Request illegal access
		</span>
	</div>
</div>