.nmc-data-table {
//    height: 87.5vh;
//    overflow: auto;
}

.nmc-img-state {
    height: 16px;
    width: 16px;
}

.nmc-red-state {
    background: url(../../../../content/images/object-trees/states/object-state-red.png);
}

.nmc-green-state {
    background: url(../../../../content/images/object-trees/states/object-state-green.png);
}

.nmc-yellow-state {
    background: url(../../../../content/images/object-trees/states/object-state-yellow.png);
}

.nmc-null-state {
    background: url(../../../../content/images/object-trees/states/object-state-null.png);
}

.nmc-col-setting-mode {
    flex-grow: 0.2;
}

.nmc-col-building {
    flex-grow: 0.2;
}

.nmc-col-name {
    flex-grow: 2;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}