.nmc-data-table {
//    height: 87.5vh;
//    overflow: auto;
}

.nmc-col-setting-mode {
    flex-grow: 0.2;
}

.nmc-col-building {
    flex-grow: 0.2;
}

.nmc-col-name {
    flex-grow: 2;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}