.nmc-img-state {
    height: 16px;
    width: 16px;
}

.nmc-red-state {
    background: url(../../../../content/images/object-trees/states/object-state-red.png);
}

.nmc-green-state {
    background: url(../../../../content/images/object-trees/states/object-state-green.png);
}

.nmc-yellow-state {
    background: url(../../../../content/images/object-trees/states/object-state-yellow.png);
}

.nmc-null-state {
    background: url(../../../../content/images/object-trees/states/object-state-null.png);
}

