<div>
    <nmc-view-indicators-container
         cont-object-id = {{$ctrl.node.nodeObject.contObjectId}}
         cont-zpoint-id = {{$ctrl.node.nodeObject.id}}
         cont-zpoint-name = {{$ctrl.node.nodeObject.customServiceName}}
         cont-zpoint-type = {{$ctrl.node.nodeObject.contServiceTypeKeyname}}
         device-model-id = {{$ctrl.node.childNodes[0].nodeObject.deviceModelId}}
         device-number = {{$ctrl.node.childNodes[0].nodeObject.number}}
         is-manual = {{$ctrl.node.childNodes[0].nodeObject.isManual}}
     >

     </nmc-view-indicators-container>
</div>