<div *ngIf="isTextField()">
    <mat-form-field class="detail-field">
        <input type="text" matInput placeholder="{{placeholder}}" value="{{fieldValue}}" readonly>
    </mat-form-field>
</div>
<div *ngIf="isCheckboxField()">
    <!-- <mat-checkbox  type="checkbox" checked="{{fieldValue}}" disabled >{{placeholder}}</mat-checkbox> -->
    <mat-slide-toggle
        checked="{{ fieldValue }}"
        disabled="true"
        labelPosition="after">
        {{placeholder}}
    </mat-slide-toggle>  
</div>