
.nmc-card {
//    padding: 1.5%;
//    margin-top: 10px;
    border: none;
    height: 91vh;
//    position: absolute;
//    width: 100%;
//    bottom: 0;
//    top: 36px;
}

.nmc-container {
    padding-left: 1px;
    padding-right: 1px;
}