
.portal-card {
    padding: 1%;
    padding-top: 1em;
    margin-top: 0%;
    margin-left: 0%;
    border: none;
    height: 92vh;
    border-top: 1px solid black;
    border-radius: 0 !important;            
}

.portal-container {
    padding-left: 0%;
    padding-right: 0%;
}

.portal-headerbar {
    height: 6.5vh;
}