<div class="zpoint-cw-widget" ng-controller="zpointCwWidgetCtrl">
    <div class="container-fluid">
<div class="row">            
<!--
            <div class = "col-xs-1">
                <img class='marginLeft5' height="12" width="12" ng-attr-src="{{data.imgPath}}">
            </div>
            <div class = "col-xs-1">
                <img class='marginLeft5' height="12" width="12" ng-attr-src="{{widgetOptions.zpointStatus}}">
            </div>
-->
            <div class = "col-xs-8">
                <img class='' height="16" width="16" ng-src="{{data.imgPath}}">
                <span ng-bind="widgetOptions.zpointName"></span>
            </div>
<!--
            <div class = "col-xs-4">                
                <span style="font-size: 12px">
                    Температура окр. среды
                </span>
                <span ng-show = "data.currentHwTemp === null" 
                      class="glyphicon glyphicon-ban-circle"></span>
                
                <span ng-show = "data.currentHwTemp !== null" 
                      class = "">
                      <span ng-bind = "data.currentHwTemp"></span>
                    &deg;C
                    <i class="fa fa-thermometer-half" aria-hidden="true"></i>
                </span>
            </div>
-->
            <div class = "col-xs-3"
                 style = "">
<!--
                <a href="" style="font-size: 12px; float: right;"
                   ng-click = "openNotices()">
                    Открыть уведомления
                </a>
-->
            </div>
        </div>
        <div class="row">            
<!--
            <div class = "col-xs-1">
                <img class='marginLeft5' height="25" width="25" ng-src="{{data.imgPath}}">
            </div>
-->
            
<!--
            <div class = "col-xs-1">
                <a href="" style="font-size: 12px"
                   ng-click = "openNotices()">
                    Уведомления
                </a>
            </div>
-->

            <div class = "col-xs-offset-3 col-xs-5">
                <ul class="nav nav-pills" style="float: right;">
                    <li role="presentation" ng-repeat="mode in data.MODES"
                        ng-class="mode.modeClass">
                        <a href="" class = "nmc-period-toogle" ng-click="modeClick(mode)">
                            <span ng-bind="mode.caption"></span>
                        </a>
                    </li>
                </ul>
            </div>                        
            <div class = "col-xs-4"
                 style = "">
                <a href="" style="font-size: 12px; float: right; margin-bottom: 5px;"
                   ng-click = "openNotices()">
                    <img class = 'marginLeft5' 
                     style = ""
                     height = "16" width = "16" 
                     ng-src = "{{data.zpointStatus}}" 
                     ng-attr-title = {{data.zpointStatusTitle}}>
                    Открыть уведомления
                </a>
                <a href="" style="font-size: 12px; float: right;"
                   ng-click = "getIndicators()">
                    Открыть показания
                </a>
            </div>
<!--
            <div class = "col-xs-1">
                <img class = 'marginLeft5' 
                     style = ""
                     height = "16" width = "16" 
                     ng-src = "{{data.zpointStatus}}" 
                     ng-attr-title = {{data.zpointStatusTitle}}>
            </div>
-->
        </div>
        <div class="row">            
            <div class = "col-xs-12">
                <div ng-show = "presentDataFlag === false"
                     class = "nmc-text-align-center">                    
                        <span class="glyphicon glyphicon-ban-circle"></span> Данные за указанный период не были загружены.
                </div>
                <div ng-show = "presentDataFlag ===  true">
                    <canvas id="line" 
                            class="chart chart-bar" 
                            chart-data="barChart.data"
                            chart-labels="barChart.labels" 
                            chart-series="barChart.series" 
                            chart-options="barChart.options"
                            >
                    </canvas>
                </div>
            </div>            
        </div>
<!--
        <div class="row">            
            <div class = "col-xs-12">
                <a href="" style="font-size: 12px; float: right">
                    Посмотреть уведомления
                </a>
            </div>            
        </div>
-->
    </div>
</div>
