<jhi-exc-form-template>
    <div class="exc-data-frame">
        <div>
            <div class="row">
                <div class="col-sm">
                    <jhi-organizations-widget></jhi-organizations-widget>
                </div>
                <div class="col-sm">
                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <jhi-p-subscribers-widget subscrMode="partner"></jhi-p-subscribers-widget>
                    </div>
                </div>
                <div class="col-sm">
                    <jhi-operator-access-management-widget></jhi-operator-access-management-widget>
                </div>
            </div>
        </div>
    </div>
</jhi-exc-form-template>