<div  ng-show="loading" class="nmc-loading">
    <i class="fa fa-spinner fa-spin"></i> Загрузка ... 
</div>
<div role="tabpanel" class="nmc-main-tab-panel" ng-hide="loading">

  <!-- Навигационная полоса -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a class="nmc-main-tab-button" href="#/settings/paramsets/" aria-controls="report_settings" role="tab" data-target="#report_settings" data-toggle="tab">Отчеты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/object-view/" aria-controls="object-view" data-target="#object-view" role="tab" data-toggle="tab">Объекты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/tariffs/" aria-controls="tariffs" data-target="#tariffs" role="tab" data-toggle="tab">Тарифы</a></li>        
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/object_groups/" aria-controls="object_groups" data-target="#object_groups" role="tab" data-toggle="tab">Группировка</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/contacts/" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Контакты</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/users/" aria-controls="users" data-target="#users" role="tab" data-toggle="tab">Пользователи</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/management_services" aria-controls="contacts" data-target="#contacts" role="tab" data-toggle="tab">Услуги</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/notices" aria-controls="settings-notices" data-target="#settings-notices" role="tab" data-toggle="tab">Уведомления</a></li>
        <li ng-hide="isTestMode()" role="presentation"><a class="nmc-main-tab-button" href="#/settings/program" aria-controls="settings-program" data-target="#settings-program" role="tab" data-toggle="tab">Настройки программы</a></li>
        <li id="meter_period_setting_2nd_menu_item" 
            role="presentation"
            class="active">
            <a class="nmc-main-tab-button"  
               >Настройка отчетных периодов
            </a>
        </li>
        <li role="presentation" ng-show="isSystemViewInfo()"><a class="nmc-main-tab-button" href="#/settings/about-program/" aria-controls="about-program" data-target="#about-program" role="tab" data-toggle="tab">О программе</a></li>

    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="modelsTab">
      </div>
    </div>
</div>  

<div class="row nmc-main-workspace-header">
    <div class="col-md-3 marginBottom10">
        <button class="btn nmc-main-add-button" ng-click="addMeterPeriod()">Добавить период</button>
    </div>
    <div class="col-md-7"></div>
    <div class="input-group col-md-4 filter marginBottom10 pull-left nmc-search-form">   
        <span class="input-group-addon nmc-search-form-addon"><i class="glyphicon glyphicon-search nmc-search-form-button"></i></span>
        <input title="Введите текст для поиска" type="text" class="form-control nmc-text-input-form" ng-model="filter">
    </div>
    <div class="col-md-offset-2 col-md-2">
    </div>
</div>
<!--    Непрокручиваямая шапка -->
<table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
        <tr class="nmc-main-table-header">
            <th class="col-xs-1 nmc-td-for-button">

            </th>
            <th ng-repeat="column in ctrlSettings.periodColumns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                {{column.caption}}
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
            </th>
            <th class="col-xs-1">
            </th>
        </tr>
</table>

<div class="nmc-data-sources-main-div">
    <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table">
        <tr class="nmc-main-table-header nmc-hide">
            <th class="col-xs-1 nmc-td-for-button">

            </th>
            <th ng-repeat="column in ctrlSettings.periodColumns" ng-class="column.class" ng-click="setOrderBy(column.name)">
                {{column.caption}}
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == '{{column.name}}'"></i>
            </th>
            <th class="col-xs-1">
            </th>
        </tr>

        <tr ng-repeat="meterPeriod in data.meterPeriodSettings | orderBy:orderBy.field:!orderBy.asc | filter: filter" >
            <td class="col-xs-1 nmc-td-for-button">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <i title="Свойства модели прибора" class="btn btn-xs glyphicon glyphicon-edit nmc-button-in-table" ng-click="selectedItem(meterPeriod)" data-target="#showMeterPeriodSettingModal" data-toggle="modal"></i>
                        
                    </div>
                </div>
            </td>
            <td ng-repeat="column in ctrlSettings.periodColumns" ng-class="column.class">
                <div ng-switch on="column.type">
                    <span ng-switch-when="name" ng-class="">{{meterPeriod[column.name] || "Без названия"}}<span ng-show="isSystemuser()"> (id = {{meterPeriod['id']}})</span>
                    </span>
                    <span ng-switch-when="checkbox" ng-class="">
                        <input type="checkbox" ng-model="meterPeriod[column.name]" disabled/>
                    </span>
                    <span ng-switch-default >
                        {{meterPeriod[column.name]}}
                    </span>
                </div>
            </td>

            <td class="col-xs-1">
                <div class="btn-toolbar">
                    <div class="btn-group pull-right">                   
                        <i title="Удалить" 
                           class="btn btn-xs glyphicon glyphicon-trash nmc-button-in-table" 
                           ng-click="selectedItem(meterPeriod)" 
                           data-target="#deleteWindowModal" 
                           data-toggle="modal"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--Show model options-->
<div id="showMeterPeriodSettingModal" class="modal fade nmc-modal-window" role="dialog"
	aria-labelledby="showMeterPeriodSettingLabel" tabindex="-1" data-backdrop="static">
	<div class="modal-dialog modal-content nmc-modal-dialog">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="showMeterPeriodSettingLabel" class="nmc-h3">
				Настройка периода
			</h3>
		</div>
		<div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table" style="">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">                             
                            <tr>
                                <td class="col-sm-3"><label for="inputMeterPeriodName">Название периода</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" 
                                         ng-class="{'has-error':!(data.currentMeterPeriodSetting.name > '')}">
                                        <input class="form-control nmc-text-input-form" 
                                               type="text" 
                                               id="inputMeterPeriodName"
                                               ng-model="data.currentMeterPeriodSetting.name"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMeterPeriodDescription">Описание</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <textarea class="form-control nmc-textarea-form" 
                                              id="inputMeterPeriodDescription" 
                                              placeholder="Описание периода" 
                                              cols="71" 
                                              ng-model="data.currentMeterPeriodSetting.description">
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMeterPeriodFromDay">Начало периода</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentMeterPeriodSetting.fromDay > '') || checkPeriod(data.currentMeterPeriodSetting)}">
                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                               type="text" 
                                               id="inputMeterPeriodFromDay" 
                                               ng-model="data.currentMeterPeriodSetting.fromDay"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMeterPeriodToDay">Конец периода</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentMeterPeriodSetting.toDay > '') || checkPeriod(data.currentMeterPeriodSetting)}">
                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                               type="text" 
                                               id="inputMeterPeriodToDay" 
                                               ng-model="data.currentMeterPeriodSetting.toDay"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3"><label for="inputMeterPeriodValueCount">Количество показаний</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
<!--                                    <div class="form-group noMarginBottom" ng-class="{'has-error':!(data.currentMeterPeriodSetting.valueCount > '')}">-->
                                        <input class="form-control nmc-text-input-form nmc-input-digital-data" 
                                               type="text" 
                                               id="inputMeterPeriodValueCount" 
                                               ng-model="data.currentMeterPeriodSetting.valueCount"/>
<!--                                    </div>-->
                                </td>
                            </tr>                           
                        </table>
                    </div>    
                </div>  
            </div>        
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid  ">

					<div class="row">
                        <div class="col-xs-offset-6 col-md-3">
							<input type="submit" class="btn btn-primary btn-block btn-xs nmc-save-button"
								ng-click="saveMeterPeriodSetting()"
								value="Сохранить" />
						</div>
						<div class=" pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
							<button class="btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentModel')">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>

<div nmc-view-delete-modal-window 
     message = "{{data.currentMeterPeriodSetting.name || data.currentMeterPeriodSetting.id}}"      
     confirm-label = "{{confirmLabel}}"
     control-code = "{{sumNums}}"
     is-systemuser = "isSystemuser()"
     delete-item-click = "deleteMeterPeriodSetting(data.currentMeterPeriodSetting)">
</div>

<!-- window: delete model-->
<div id="deleteMeterPeriodSettingModal123" 
     class="modal fade nmc-modal-window" 
     role="dialog" 
     aria-labelledby="deleteModelLabel" 
     tabindex="-1" 
     data-backdrop="static">

	<div class="modal-dialog  modal-content nmc-modal-dialog-low">
		<div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 id="deleteModelLabel" class="nmc-h3">
				Удаление 
			</h3>
		</div>
		<div class="modal-body nmc-modal-body">
			<form name="deleteContactForm" novalidate>
				<p>
					<label class="text-warning marginLeft15 nmc-form-label"> Вы хотите удалить  
					</label> 
					<label class="text-primary nmc-form-label">{{data.currentModel[extraProps.nameColumnName] || data.currentModel[extraProps.idColumnName]}}</label>
					<label
						class="text-warning nmc-form-label"> ? </label>
				</p>
                <div class="marginLeft15">
                        <label class="nmc-form-label">Введите код подтверждения: 
                            {{confirmLabel}}
                        </label><input type="text" class="nmc-text-input-form nmc-input-digital-data" ng-model="confirmCode"/>
                </div>
			</form>
		</div>
		<div class="modal-footer nmc-modal-footer">
				<div class="container-fluid">

					<div class="row">
						<div class="col-xs-offset-6 col-md-3">
<!--                            -->
							<input ng-disabled = "(confirmCode!=sumNums && !isSystemuser())" type="submit" class="btn btn-xs btn-primary btn-block nmc-save-button"
								ng-click="deleteObject(data.currentModel);"
								value="Удалить" />
						</div>

						<div class="pull-right col-xs-offset-2 col-md-3 noPadding noMargin ">
							<button class="btn btn-xs btn-default btn-block nmc-cancel-button" data-dismiss="modal"
								ng-click="exit('#data.currentModel');">
								Отменить
							</button>
						</div>
					</div>
				</div>		
		</div>
	</div>
</div>