@mixin fa-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.search1 {
  width: 50em;
}

.menu1-header {
  display: inline;
  padding-top: 0;
  border-width: 0;
  font-size: 2.1rem;
  font-weight: 300;
  position: absolute;
  left: 2em;
  top: -0.1em;
}

.menu1-bars {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.menu-bars-size {
  @include fa-icon-size(40px);
}