.spinner-container {
    height: 360px;
    width: 100%;
    position: fixed;
}

.id-column-width {
    flex: none;
    width: 10rem;
    // font-size: 10px;
    // align-items: flex-start;
}

.select-column-width {
    flex: none;
    width: 5rem;
    // font-size: 10px;
    // align-items: flex-start;
}

.name-column-width {
    flex: none;
    width: 20rem;
    // font-size: 10px;
    // align-items: flex-start;
}

.name-column-width-2x {
    flex: none;
    width: 40rem;
    // font-size: 10px;
    // align-items: flex-start;
}

.inn-column-width {
    flex: none;
    width: 20rem;
    // font-size: 10px;
    // align-items: flex-start;
}
