<div>

    <button pButton type="button" label="{{'entity.action.back' | translate}}" class="ui-button-secondary" (click)="back()"
        icon="fa-arrow-left"></button>

    <button pButton type="button" label="{{'entity.action.revert' | translate}}" class="ui-button-secondary" (click)="revert()"
        icon="fa-arrow-ban" [disabled]="formGroup.pristine"></button>

    <button pButton type="button" label="{{'entity.action.save' | translate}}" class="ui-button-primary" (click)="save()"
        icon="fa-minus-square" [disabled]="formGroup.pristine || formGroup.invalid"></button>


    <button *ngIf="!deleteDisabled" pButton type="button" label="{{'entity.action.delete' | translate}}" class="ui-button-danger" (click)="delete()"
        icon="fa-minus-square" [disabled]="!formGroup.pristine"></button>

</div>
