<div style = "min-width: 1000px; display: none;">
<!--    Cont object monitor view-->
<!--Мониторинг-->
   <div style = "position:relative; height: 300px; width: 300px; border: 1px solid black;">
        <canvas id = "polar-area" 
        class = "chart chart-polar-area"
        chart-data = "$ctrl.data" chart-labels = "$ctrl.labels"
        chart-options = "$ctrl.options"
        
        >
<!--        chart-colors = "$ctrl.colours"-->
        </canvas>
    </div>
    
</div>


<div class = "container-fluid" style = "display: none;">
   <div class = "row">
        <div class = "col-xs-3">
            <canvas id = "polar-area" 
                class = "chart chart-polar-area"
                chart-data = "$ctrl.data" chart-labels = "$ctrl.labels"
                chart-options = "$ctrl.options"
                >
            <!--        chart-colors = "$ctrl.colours"-->
            </canvas>
        </div>
        <div class = "col-xs-9">
          
        </div>
   </div>
    
</div>

<div style = "min-width: 1400px;">
<h3>Общая диаграмма монитора объектов и точек учета</h3>
<div layout = "column">
    <div layout = "row" style = "height: 367px; max-height: 367px;">
    <!--    style = "background-color: aqua">-->
        <div flex = "30">
    <!--        style = "background-color: blueviolet">-->
           <div style = "position:relative; height: 367px; width: 367px;">
            <canvas id = "polar-area" 
                   
                    class = "chart chart-polar-area"
                    chart-data = "$ctrl.data" chart-labels = "$ctrl.labels"
                    chart-options = "$ctrl.options"
                    chart-click = "$ctrl.doughnutClick"
                    >
                <!--        chart-colors = "$ctrl.colours"-->
                </canvas>
            </div>
        </div>
        <div flex = "70">
    <!--         style = "background-color: brown">-->
            <div layout = "column">
    <!--           style = "background-color: indianred">-->
               <div flex = "20">
    <!--              style = "background-color: blue">-->
                  <div layout = "row">
                      <div flex = "25">                          
<!--
                           <div style = "text-align: center; font-weight: bold">
                                <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\db.png"/> (123)
                           </div> 
-->
                           <canvas id="doughnut"
                               style = "height: 130px;  width: 250px;"
                                class="chart chart-doughnut" 
                                chart-data="$ctrl.doughnut3.data"
                                chart-labels="$ctrl.doughnut3.labels"                              
                                chart-options="$ctrl.doughnut3.options"
                                chart-click = "$ctrl.doughnutClick"
                                chart-colors = "$ctrl.doughnut3.colors"
                                >
                           </canvas>
                           <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\db.png"/>
                               <p>124</p>
                           </div>                                 
                      </div>
                      <div flex = "25">
<!--
                          <div style = "text-align: center; font-weight: bold">
                              <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\device.png"/> (123)
                           </div>                          
-->
                           <canvas id="doughnut"
                                    style = "height: 130px;  width: 250px;"
                                    class="chart chart-doughnut" 
                                    chart-data="$ctrl.doughnut2.data"
                                    chart-labels="$ctrl.doughnut2.labels"                              
                                    chart-options="$ctrl.doughnut2.options"
                                    chart-click = "$ctrl.doughnutClick"
                                    chart-colors = "$ctrl.doughnut2.colors"
                                    >
                            </canvas>
                            <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\device.png"/>
                               <p>1011</p>
                           </div>                                 
                      </div>
                   </div>
               </div>
                <div flex = "20">
    <!-- style = "background-color: beige">-->
    <!--               flex = 40 at column-->
                   <div layout = "row">
                       <div flex = "25">
<!--                          Тепло (Х)-->
<!--
                           <div style = "text-align: center;">
                              <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\heat.png"/> (123)
                           </div>
-->
                           <canvas id="doughnut"
                                    style = "height: 130px;  width: 250px;"
                                    class="chart chart-doughnut" 
                                    chart-data="$ctrl.doughnut.data"
                                    chart-labels="$ctrl.doughnut.labels"                              
                                    chart-options="$ctrl.doughnut.options"
                                    chart-click = "$ctrl.doughnutClick"
                                    chart-colors = "$ctrl.doughnut.colors"
                                    >
                            </canvas>
                            <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\heat.png"/>
                               <p>199</p>
                           </div>
                       </div>
                       <div flex = "25">
<!--                          ГВС (У)-->
<!--
                          <div style = "text-align: center;">
                              <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\hw.png"/> (231)
                           </div>
-->
                           <canvas id="doughnut"
style = "height: 130px;  width: 250px;"
                                    class="chart chart-doughnut" 
                                    chart-data="$ctrl.doughnut.data"
                                    chart-labels="$ctrl.doughnut.labels"                              
                                    chart-options="$ctrl.doughnut.options"
                                    chart-click = "$ctrl.doughnutClick"
                                    chart-colors = "$ctrl.doughnut.colors"
                                    >
                            </canvas>
                            <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\hw.png"/>
                               <p>199</p>
                           </div>
                       </div>
                       <div flex = "25">
    <!--                      Электроэнергия (Зед)-->
<!--                          Электроэнергия (Зед)-->
<!--
                          <div style = "text-align: center;">
                              <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\el.png"/> (321)
                           </div>
-->
                           <canvas id="doughnut"
style = "height: 130px;  width: 250px;"
                                    class="chart chart-doughnut" 
                                    chart-data="$ctrl.doughnut.data"
                                    chart-labels="$ctrl.doughnut.labels"                              
                                    chart-options="$ctrl.doughnut.options"
                                    chart-click = "$ctrl.doughnutClick"
                                    chart-colors = "$ctrl.doughnut.colors"
                                    >
                            </canvas>
                            <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\el.png"/>
                               <p>199</p>
                           </div>
                       </div>
                       <div flex = "25">
<!--                          ХВС (Эн)-->
<!--
                          <div style = "text-align: center;">
                              <img style = "height: 14px; width: 14px;" src = "components\object-tree-module\cont-object-monitor-component\cw.png"/> (12)
                           </div>
-->
                           <canvas id="doughnut"
style = "height: 130px;  width: 250px;"
                                    class="chart chart-doughnut" 
                                    chart-data="$ctrl.doughnut.data"
                                    chart-labels="$ctrl.doughnut.labels"                              
                                    chart-options="$ctrl.doughnut.options"
                                    chart-click = "$ctrl.doughnutClick"
                                    chart-colors = "$ctrl.doughnut.colors"
                                    >
                            </canvas>
                            <div style = "position: relative; top: -80px; left: 70px;">
                               <img src = "components\object-tree-module\cont-object-monitor-component\cw.png"/>
                               <p>199</p>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <div layout = "row" layout-align = "center center"  style = "border-bottom: 1px solid rgb(95, 95, 95); ">
        <div >
            <p style = "height: 16px; width: 32px; background-color: #ef473a; display: inline-block; margin: 5px 10px 0 5px;"></p>Критические
            <p style = "height: 16px; width: 32px; background-color: #FDB45C; display: inline-block; margin: 5px 10px 0 5px;"></p>Некритические
            <p style = "height: 16px; width: 32px; background-color: #46BFBD; display: inline-block; margin: 5px 10px 0 5px;"></p>Остальные
        </div>
    </div>
    <div layout = "row" ng-show = "$ctrl.contObjectStateShowFlag" style = "height: 520px; max-height: 520px;">
        <div flex>
<!--            Cont object and zpoint montitor state.-->
            <cont-object-control-component node = "{id: 1}"></cont-object-control-component>

        </div>
    </div>
</div>
</div>