      <md-toolbar layout = "row" class = "nmc-md-main-toolbar-n">
<!--         style = "background-color: #f0f0f0">-->
         <div class = "md-toolbar-tools" ng-init = "$ctrl.searchFlag = false" >
             <md-button class = "md-icon-button nmc-md-ltb-btn nmc-md-main-menu-btn" ng-click="$ctrl.menuToggleList()">
                 <md-icon md-svg-icon="menu"></md-icon>
             </md-button>
          
              <div flex ng-show = "$ctrl.searchFlag != true">
<!--                  <tree-node-view-select ng-if = "$ctrl.isObjectsPTree()"></tree-node-view-select>-->

              </div>
              
              <div flex ng-show = "$ctrl.searchFlag == true" >
                                               
                  <md-input-container class = "md-icon-float md-button-right nmc-main-search-input" style = "width: 100%">
                      <input style = "background-color: white; width: 94%; border: 1px solid rgb(95, 95, 95);" id="searchInput" type="text" ng-model = "$ctrl.mainFilter" aria-label = "Поиск"/>
                      <div class="button-group">
<!--
                         <md-button class = "nmc-md-ltb-btn" aria-label = "Найти" 
                             ng-click = "$ctrl.searching()" title = "найти">
                             Найти
                          </md-button>
-->
                          <a style = "text-decoration: underline; margin-left: 5px; cursor: pointer; color: rgb(95, 95, 95);"
                             ng-click = "$ctrl.searching()" title = "найти">
                              Найти
                          </a>
<!--
                          <md-button class = "md-icon-button nmc-md-ltb-btn" aria-label = "Отмена" 
                             ng-click = "$ctrl.cancelSearch()" title = "Отмена">
                              <md-icon>X</md-icon>
                          </md-button>
-->
<!--
                          <md-button class = "md-icon-button nmc-md-ltb-btn" aria-label = "Поиск" 
                                 ng-click = "$ctrl.startSearch()">
                              <md-icon md-font-set = "fa fa-lg">&#xf002;</md-icon>
                          </md-button>
-->
                      </div>
                  </md-input-container>
              </div>
              <md-button class = "md-icon-button nmc-md-ltb-btn nmc-md-main-search-btn" aria-label = "Поиск" 
                     ng-click = "$ctrl.startSearch()">
                  <md-icon ng-if = "!$ctrl.searchFlag" md-font-set = "fa fa-lg">&#xf002;</md-icon>
                  
                  <i ng-if = "$ctrl.searchFlag"
                       class = "btn btn-lg glyphicon glyphicon-remove"
                       style = "color: rgb(95, 95, 95); margin-top: -18px; margin-left: -15px;"
                     >
                         
                     </i>
              </md-button>
              <div 
                class = "nmc-header-user-info"
                ng-attr-title = "{{$ctrl.displayedUserInfo.userName + '(' + $ctrl.displayedUserInfo.subscriber.subscriberName + ')'}}">
                 <p>
                  {{$ctrl.displayedUserInfo.userName}}
                  </p>
                  <p ng-if = "$ctrl.displayedUserInfo.subscriber">
                      ({{$ctrl.displayedUserInfo.subscriber.subscriberName}})
                  </p>
              </div>
              <md-menu md-offset = "0 40">
                  <md-button class = "md-icon-button nmc-md-ltb-btn nmc-md-main-user-btn"
                       ng-click = "$ctrl.openUserMenu($mdMenu, $event)"
                       aria-label = "Пользовательское меню"
                       >
                        <md-icon md-font-set = "fa fa-lg">&#xf007;</md-icon>
                  </md-button>
                  <md-menu-content>                     
<!--
                      <md-menu-item>
                          <md-button class = "md-icon-button" title = "Написать в техподдержку" aria-label = "Написать в техподдержку">
                             <img class = "nmc-img-user-menu" src = "images/tech_support.png"/>
                          </md-button>
                      </md-menu-item>
                      <md-menu-item>
                          <md-button class = "md-icon-button" title = "Партнерская лента" aria-label = "Партнерская лента">
                             <img class = "nmc-img-user-menu" src = "images/partner_rss.png"/>
                          </md-button>
                      </md-menu-item>
                      <md-menu-item>
                          <md-button class = "md-icon-button" title = "Техническая лента" aria-label = "Техническая лента">
                             <img class = "nmc-img-user-menu" src = "images/tech_rss.png"/>
                          </md-button>
                      </md-menu-item>
                      <md-menu-divider></md-menu-divider>
-->
                      <md-menu-item>
                         <md-button ng-if="$ctrl.userInfo.isReadonly != true"
                               class = "md-icon-button"
                               ng-click="$ctrl.changePasswordInit()"
                               title='Сменить пароль'
                               data-target="#changePasswordModal"
                               data-toggle="modal">                                
                             <md-icon md-font-set = "fa fa-lg">&#xf141;</md-icon>
                         </md-button>
                      </md-menu-item>
                      <md-menu-divider></md-menu-divider>
                      <md-menu-item>
                         <md-button 
                            href="../logout" 
                            ng-click="$ctrl.logOut()" 
                            title = "Выход"
                            class = "md-icon-button">
                             <md-icon md-font-set = "fa fa-lg">&#xf08b;</md-icon>
                         </md-button>
                      </md-menu-item>
                  </md-menu-content>
              </md-menu>
              
          </div>
      </md-toolbar>
      
         <!--change password window-->
<div id="changePasswordModal" class="modal fade nmc-modal-window" role="dialog"
    aria-labelledby="changePasswordLabel" tabindex="-1">
    <div class="modal-dialog  modal-content nmc-modal-dialog">
        <div class="modal-header nmc-modal-header">
            <button type="button" class="close nmc-close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 id="changePasswordLabel" class="nmc-h3">
                Изменение пароля
            </h3>
        </div>
        <div class="modal-body nmc-modal-body paddingLeftRight15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 well noPaddingBottom marginBottom10 nmc-modal-panel-with-table">
                        <table class="table table-lighter table-striped table-condensed table-hover noMarginBottom nmc-modal-main-table">
                            <tr>
                                <td class="col-sm-3"><label for="viewLogin">Логин</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <input class="form-control nmc-text-input-form" type="text" id="viewLogin" placeholder="Логин"  ng-model="$ctrl.userInfo.userName" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3">
                                    <label for="inputTenantPassword">Текущий пароль</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error' : !$ctrl.checkPasswordFields($ctrl.userInfo)}">
                                        <input class="form-control nmc-text-input-form"
                                               type="password"
                                               id="inputCurrentUserInfoPassword"
                                               placeholder=""
                                               ng-model="$ctrl.userInfo.oldPassword"
                                               />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3">
                                    <label for="inputTenantPassword">Новый пароль</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error' : !$ctrl.checkPasswordFields($ctrl.userInfo)}">
                                        <input class="form-control nmc-text-input-form"
                                               type="password"
                                               id="inputUserInfoPassword"
                                               placeholder=""
                                               ng-model="$ctrl.userInfo.newPassword"
                                               />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3">
                                    <label for="confirmTenantPassword">Подтверждение пароля</label>
                                </td>
                                <td class="col-sm-9 nmc-text-align-left">
                                    <div class="form-group noMarginBottom" ng-class="{'has-error' : !$ctrl.checkPasswordFields($ctrl.userInfo)}">
                                        <input class="form-control nmc-text-input-form"
                                               type="password"
                                               id="confirmUserInfoPassword"
                                               placeholder="Повторите пароль"
                                               ng-model="$ctrl.userInfo.newPasswordConfirm"
                                               />
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class = "modal-footer nmc-modal-footer">
                <div class = "container-fluid  ">

                    <div class = "row">
                        <div class = "col-xs-offset-6 col-md-3">
                            <input type = "submit" class = "btn btn-primary btn-block btn-xs nmc-save-button"
                                ng-click = "$ctrl.changeUserPassword($ctrl.userInfo)"
                                value = "Сохранить" />
                        </div>
                        <div class = "pull-right col-xs-offset-2 col-md-3 noMargin noPadding">
                            <button class = "btn btn-default btn-block btn-xs nmc-cancel-button" data-dismiss="modal"
                                ng-click = "exit('#createPasswordModal')">
                                Отменить
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>