<!--<div>{{mainVm.isCabinet()}}</div>-->
<header></header>
<div flex layout = "row"> 
    <md-sidenav class = "md-whiteframe-z2" ng-click = "mainVm.menuToggleList()" md-component-id="left-main-menu">
        <md-list>
            <md-list-item>
                <img src="images/logo-main-menu-h.png"/>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-button id="object_main_menu_item"
                   class="nmc-md-main-menu-item"
                   ng-class="{'nmc-hide': !mainVm.isCabinet(), 'nmc-show': mainVm.isCabinet()}"
                   href="#/"
                   data-toggle="offcanvas"
                   ng-click="mainVm.clickMenu('object_menu_item'); mainVm.showAdminSettings = false;">
                    <i class="glyphicon glyphicon-list nmc-main-menu-item-icon nmc-color"
                       title="Объекты">
                    </i>
                    <span ng-if="mainVm.mainCtrlSettings.showFullMenuFlag">Объекты</span>
                </md-button>
            </md-list-item>
            <md-list-item>            
                <md-button id="object_new_main_menu_item"
                   class="nmc-md-main-menu-item"
                   ng-class="{'nmc-show': mainVm.isCabinet()}"
                   href="#/objects/newlist/"
                   data-toggle="offcanvas"
                   ng-click="mainVm.clickMenu('object_new_menu_item'); mainVm.showAdminSettings = false;">
                    <i class="glyphicon glyphicon-list nmc-main-menu-item-icon nmc-color"
                       title="Объекты (NEW!)">
                    </i>
                    <span ng-if="mainVm.mainCtrlSettings.showFullMenuFlag">Объекты (NEW!)</span>
                </md-button>            
            </md-list-item>
            <md-list-item>            
                <md-button id="report_main_menu_item"
                   class="nmc-md-main-menu-item nmc-hide"
                   ng-class=""
                   href="#/reports/"
                   data-toggle="offcanvas"
                   ng-click="mainVm.clickMenu('report_menu_item')">
                   <i class="glyphicon glyphicon-file nmc-main-menu-item-icon nmc-color" title="Отчеты">

                   </i>
                   <span ng-if="mainVm.mainCtrlSettings.showFullMenuFlag">Отчеты</span>
                </md-button>            
            </md-list-item>
            <md-list-item class = "menu-item" role = "presentation">
                <md-button ng-show="!mainVm.isCabinet()"
                   ng-hide="mainVm.isTestMode()"
                   id="log_main_menu_item"
                   class="nmc-md-main-menu-item"
                   ng-class = ""

                   href = "#/log/session-log/"
                   data-toggle = "offcanvas"
                   ng-click = "mainVm.clickMenu('log_menu_item')"
                   ng-cloak>
                    <i class = "glyphicon glyphicon-list-alt nmc-main-menu-item-icon nmc-color" title="Журнал"></i>
                    <span ng-if = "mainVm.mainCtrlSettings.showFullMenuFlag">
                        Журналы
                    </span>
                </md-button>
            </md-list-item>
            <md-list-item class = "menu-item" role = "presentation">
                <md-button ng-show="!mainVm.isCabinet() && !mainVm.isTestMode()"
                   id="energy_main_menu_item"
                   class="nmc-md-main-menu-item"
                   ng-class=""
                   href="#/documents/energo-passports/"
                   data-toggle="offcanvas"
                   ng-click="mainVm.clickMenu('energy_menu_item')"
                   ng-cloak>
                    <i class="glyphicon glyphicon-tags nmc-main-menu-item-icon nmc-color" title="Энергоэффективность"></i>
                    <span ng-if="mainVm.mainCtrlSettings.showFullMenuFlag">
                        Энергоэффективность
                    </span>
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button id = "setting_main_menu_item"
                   class = "nmc-md-main-menu-item nmc-hide"
                   ng-class = ""
                   href = "#/settings/paramsets/" data-toggle="offcanvas" ng-click="mainVm.clickMenu('setting_menu_item')">
                   <i class = "glyphicon glyphicon-cog nmc-main-menu-item-icon nmc-color" title="Настройки"></i>
                   <span ng-if = "mainVm.mainCtrlSettings.showFullMenuFlag">Настройки</span>
                </md-button>
            </md-list-item>
            <md-list-item ng-if = "mainVm.isRma()" ng-cloak>
                <md-button id = "management_main_menu_item"
                   class = "nmc-md-main-menu-item"
                   ng-class = "{'nmc-hide': !mainVm.isRma(), 'nmc-show': mainVm.isRma()}"
                   href = "#/management/objects/"
                   data-toggle = "offcanvas"
                   ng-click = "mainVm.clickMenu('admin_menu_item'); mainVm.showAdminSettings = true">
                    <i class = "glyphicon glyphicon-wrench nmc-main-menu-item-icon nmc-color"
                       title = "Управление">
                    </i>
                    <span ng-if = "mainVm.mainCtrlSettings.showFullMenuFlag">Управление</span>
                </md-button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-button 
                   class = "nmc-md-main-menu-item">           
                    <i class = "glyphicon glyphicon-chevron-left nmc-main-menu-item-icon nmc-color"
                       title = "Скрыть">
                    </i>
                    <span ng-if = "mainVm.mainCtrlSettings.showFullMenuFlag">Скрыть</span>
                </md-button>
            </md-list-item>
        </md-list>
        
    </md-sidenav>

<md-content flex id = "content" style = "overflow-y: hidden">
    

    <div>
        <div id="wrap" class="wrap">                    

            <div class="container-fluid noMargin" >

            <div class="row row-offcanvas row-offcanvas-left">

                <!-- Side bar menu -->
                

                <div id="div-main-area" class="col-xs-12 well mainarea nmc-main-workspace nmc-main-workspace-maximize" ng-cloak>
        <!--             ng-class="{'nmc-main-workspace-maximize': !mainCtrlSettings.showFullMenuFlag}" ng-cloak>-->

                            <div id="main" ui-view></div>
        <!--					<div id="main" ng-view></div>-->
        <!--            <a class="btn btn-block btn-primary" href="index2.html"> Вариант 1</a>-->
                </div>

             </div>
            </div>

        </div> <!-- end id=wrap -->

          <div class="navbar-fixed-bottom row-fluid nmc-main-footer nmc-hide" >
              <div class="container-fluid" >
                  <div class="row">
                  </div>
              </div>
          </div>
    </div>
    </md-content>
</div>