:host { 
    padding: 0%;
    width: 100%;
} 

.template-frame {
    height: calc(100vh - 52px);
    max-height: calc(100vh - 52px);
}

.debug-frame {
    border-style: solid !important;
    border-width: 2px;
    border-color: rgb(24, 252, 3);    
    border-radius: 0 !important;  
}