<mat-toolbar class="menu1-toolbar">
    <button *ngIf="reportEnabled" mat-icon-button (click)="reportAction.next()">
        <mat-icon mat-list-icon>save_alt</mat-icon>
    </button>
    <button *ngIf="propertiesEnabled" mat-icon-button (click)="propertiesAction.next()">
        <mat-icon mat-list-icon>edit</mat-icon>
    </button>
    <button *ngIf="createEnabled" mat-icon-button (click)="createAction.next()">
        <mat-icon mat-list-icon>add</mat-icon>
    </button>
    &nbsp;
    <span class="menu1-header-toolbar">{{headerKey | translate}}</span>
    <span class="spacer"></span>
    <small jhiTranslate="form-search.title">Search field</small>&nbsp;
    <input class="search1" type="text" pInputText #input>      
</mat-toolbar>

<!-- <p-menubar styleClass="menu1" [model]="items" [autoDisplay]="false">
    <div class="menu1-header" >
            <span>{{headerKey | translate}}</span>
    </div>
    <b><span jhiTranslate="form-search.title">Search field</span></b>
    <input class="search1" type="text" pInputText #input>
</p-menubar> -->