<jhi-exc-toolbar>
    <div toolbar-left>

        <button *ngIf="reportEnabled" mat-icon-button (click)="reportAction.next()">
            <mat-icon mat-list-icon>save_alt</mat-icon>
        </button>
        <button *ngIf="propertiesEnabled" mat-icon-button (click)="propertiesAction.next()">
            <mat-icon mat-list-icon>edit</mat-icon>
        </button>
        <button *ngIf="createEnabled" mat-icon-button (click)="createAction.next()">
            <mat-icon mat-list-icon>add</mat-icon>
        </button>
    </div>
    <mat-icon toolbar-right mat-list-icon>search</mat-icon>
    <input toolbar-right class="searchInput" type="text" pInputText #input>
</jhi-exc-toolbar>

<!-- <p-menubar styleClass="menu1" [model]="items" [autoDisplay]="false">
    <div class="menu1-header" >
            <span>{{headerKey | translate}}</span>
    </div>
    <b><span jhiTranslate="form-search.title">Search field</span></b>
    <input class="search1" type="text" pInputText #input>
</p-menubar> -->