.nmc-tree-nav-toolbar {
    min-height: 32px; 
    background-color: rgb(231, 235, 245);
    border-top: 1px solid #41719c;
    border-bottom: 1px solid #41719c;    
}

.nmc-tree-nav-toolbar mat-toolbar-row {
    height: 32px;
}

.nmc-tree-nav-toolbar-btn {
    height: 31px; 
    width: 31px; 
    line-height: 31px;
}