<!--
<div 
    mwlResizable
    [enableGhostResize] = "true"
    [resizeEdges] = "{right: true}"
    style = "display: inline-block; width: 25%; border-right: 1px solid grey;"
>
    My Tree
</div>

<div 
    mwlResizable
    [enableGhostResize] = "true"
    [resizeEdges] = "{left: true}"
    style = "display: inline-block; width: 75%; border-left: 1px solid grey;"
>
    Tree node component
</div>
-->

<!--<div style = "width: 100%; background: rgba(0,0,10,0.4); border: 4px solid grey; position: absolute; bottom: 0; top: 0;">-->

<div style = "width: 100%; height: 91vh; background: rgba(0,0,10,0.4); border: 0px solid grey;">        
     <split direction = "horizontal">
         <split-area size = "25">
<!--             My trees-->
             <jhi-tree-navigate>
                 
             </jhi-tree-navigate>
         </split-area>
         <split-area size = "75">
<!--             Tree node component -->
             <jhi-tree-node-information-container
             [treeNodeId] = "treeNodeId"
             >                 
             </jhi-tree-node-information-container>
             <router-outlet name="treeNodeView"></router-outlet>
         </split-area>
     </split>
</div>