.nmc-building-default-16 {
    height: 16px;
    width: 16px;
    background: url(../../../content/images/buildings/building16.png);
}

.nmc-building-default-24 {
    height: 24px;
    width: 24px;
    background: url(../../../content/images/buildings/building24.png);
}

.nmc-winter-mode {
    height: 16px;
    width: 16px;
    background: url(../../../content/images/object-trees/object-mode-winter.png);
}

.nmc-object-tree-main-div {
//    width: 100%; 
    height: 91vh; 
//    background: rgba(0,0,10,0.4); 
//    border: 0px solid grey;
    width: 102%;
//    margin-top: -1rem;
    margin-right: -1rem;
    margin-left: -1rem;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.nmc-img-state {
    height: 16px;
    width: 16px;
}

.nmc-red-state {
    background: url(../../../content/images/object-trees/states/object-state-red.png);
}

.nmc-green-state {
    background: url(../../../content/images/object-trees/states/object-state-green.png);
}

.nmc-yellow-state {
    background: url(../../../content/images/object-trees/states/object-state-yellow.png);
}

.nmc-null-state {
    background: url(../../../content/images/object-trees/states/object-state-null.png);
}

mat-toolbar.nmc-nav-toolbar {
    min-height: 32px; 
    background-color: transparent; /*rgb(231, 235, 245);*/
    border-top: 1px solid rgba(0, 0, 0, .12); /*#41719c;*/
    border-bottom: 1px solid rgba(0, 0, 0, .12); /* #41719c;*/
}

.nmc-nav-toolbar mat-toolbar-row {
    height: 32px;
}

.nmc-toolbar-btn {
    height: 31px; 
    width: 31px; 
    line-height: 31px;
}

.nmc-clickable {
    cursor: pointer;
}