<!--
<div 
    mwlResizable
    [enableGhostResize] = "true"
    [resizeEdges] = "{right: true}"
    style = "display: inline-block; width: 25%; border-right: 1px solid grey;"
>
    My Tree
</div>

<div 
    mwlResizable
    [enableGhostResize] = "true"
    [resizeEdges] = "{left: true}"
    style = "display: inline-block; width: 75%; border-left: 1px solid grey;"
>
    Tree node component
</div>
-->

<!--<div style = "width: 100%; background: rgba(0,0,10,0.4); border: 4px solid grey; position: absolute; bottom: 0; top: 0;">-->
<jhi-exc-form-template>
<div class = "nmc-object-tree-main-div">        
<!--
    <p-calendar 
      [(ngModel)] = "dateVal">

    </p-calendar>
-->
     <split direction = "horizontal">
         <split-area size = "25">
             <jhi-tree-navigate>
                 
             </jhi-tree-navigate>
         </split-area>
         <split-area size = "75">
             <jhi-tree-node-information-container             
             >
             </jhi-tree-node-information-container>
             <router-outlet name="treeNodeView"></router-outlet>
         </split-area>
     </split>
<!--     <button type = "button"  pButton icon = "pi pi-ckeck" (click) = "showDialog()" label = "Dialog"></button>-->
</div>

<!--
       <p-dialog 
          header = "Test" 
          [(visible)] = "showEventFlag" 
          [modal] = "false" 
          [responsive] = "true" 
          [width] = "700" 
          [minWidth] = "200" 
          [minY] = "70"
          [maximizable] = "false"          
          >    
    
            <p-footer>
                <button 
                    type = "button" 
                    pButton 
                    icon = "pi pi-check" 
                    (click) = "showEventFlag = false" 
                    label = "OK">
                </button>
            </p-footer>

       </p-dialog>
-->
</jhi-exc-form-template>