:host { 
  display: inline-block;
  padding: 0%;
  width: 100%;
} 

.search-box {
  display: inline-block;
  width: 100%;
}

.box-right {
  float: right;
  width: 50%;
}

.search-field {
  width: 90%;
}