<div>
<!--    Tree navigate component-->
    <div class = "container-fluid noPadding">
        <div class = "row">
            <div class="noPadding paddingRight10 paddingLeft20" ng-show="$ctrl.objectCtrlSettings.isTreeView == true">
                <div class="row nmc-main-workspace-header marginBottom5"
                     ng-class="{'nmc-hide':$ctrl.treeLoading, 'nmc-show':!$ctrl.treeLoading}">
                     <div class = "col-xs-12">
                       <md-toolbar layout = "row" style = "background: rgb(231,235,245)">
                           <div class = "md-toolbar-tools">
                               <div flex>
                                    <md-menu md-offset = "0 60">
                                          <md-button class = "md-icon-button"
                                               ng-click = "$ctrl.openUserMenu($mdMenu, $event)"
                                               aria-label = "Выбор представления">
                                                <md-icon md-font-set = "fa fa-lg">&#xf1bb;</md-icon>
                                          </md-button>
                                          <md-menu-content>                     
                                              <md-menu-item ng-repeat = "tree in $ctrl.data.trees track by $index">
                                                  <md-button class = "md-raised" ng-attr-title = "{{tree.objectName}}"
                                                      ng-click = "$ctrl.loadTree(tree); $ctrl.objectCtrlSettings.isFullObjectView = false">
                                <!--                     <img class = "nmc-img-user-menu" src = "images/tech_support.png"/>-->
                                                     {{tree.objectName}}
                                                  </md-button>
                                              </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                               </div>
                           </div>
                         </md-toolbar>
                         
                     </div>
                    <div class="col-xs-6 nmc-hide">
                        <div class="btn-group">
                              <button
                                     title="Иерархии объектов"
                                     type="button"
                                     class="btn btn-default btn-xs dropdown-toggle nmc-toggle-button-trees"
                                     data-toggle="dropdown"
                                     aria-haspopup="true"
                                     aria-expanded="false"
                                     ng-disabled="!($ctrl.data.trees.length > 0)"
                                 >
                                  {{$ctrl.messages.treeMenuHeader}} <span class="caret"></span>
                              </button>
<!--
                              <ul class="dropdown-menu nmc-dropdown-menu nmc-dropdown-menu-filter">
                                  <li class="menu-item" role="presentation">
                                      <a href="" class=""
                                         ng-click="$ctrl.viewFullObjectList()">
                                          Полный список объектов
                                      </a>
                                  </li>
                            </ul>
-->
                            <ul class="dropdown-menu nmc-dropdown-menu nmc-view-p-tree-list-items nmc-dropdown-menu-filter">
            <!--                          <li class="divider" role="presentation"></li>-->
                                  <li class="menu-item" role="presentation" ng-repeat="tree in $ctrl.data.trees track by $index">
                                      <a href="" class=""
                                         ng-click="$ctrl.loadTree(tree); $ctrl.objectCtrlSettings.isFullObjectView = false">
                                          {{tree.objectName}}
                                      </a>
                                  </li>
                              </ul>
                            </div>

                    </div>
                    <div class="input-group col-xs-6 filter pull-left nmc-search-form">
                    </div>
                </div>
            </div>
        </div>
        <div class = "row" ng-if = "!($ctrl.data.trees.length > 0)">
            <div class = "paddingLeft20 paddingTop25">
                {{$ctrl.noTreesMessage}}
            </div>
        </div>
        <div class = "row">
          <div class = "noPadding paddingRight10 paddingLeft20" ng-show="$ctrl.objectCtrlSettings.isTreeView == true && $ctrl.objectCtrlSettings.isFullObjectView == false">
                <div ng-show="$ctrl.treeLoading" class="nmc-loading"
                   style = "padding-left: 33px;">
                    <i class="fa fa-spinner fa-spin"></i> Загрузка иерархии...
                </div>

             <div class="row nmc-p-tree-with-fixed-header marginRight10"
                  ng-class="{'nmc-hide':$ctrl.treeLoading, 'nmc-show':!$ctrl.treeLoading}"
                  >
                  <div ui-tree="options" data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="$ctrl.data.currentPTreeWrapper">
                      <li ng-repeat="item in $ctrl.data.currentPTreeWrapper"
                          ui-tree-node
                          ng-include="'subscr_object_p_tree_items_renderer.html'"></li>
                    </ol>
                  </div>
             </div>
        </div>
      </div>
    </div>
            
      <script type="text/ng-template" id="subscr_object_p_tree_items_renderer.html">
        <div ui-tree-handle ng-click="$ctrl.selectPNode(item, $event, collapsed, this, toggle)"
             ng-mouseover = "item.isHover = true"
             ng-mouseleave = "item.isHover = false"
             ng-class="{'nmc-bg-distinguish': item.isSelected}">
             
<!--            <img ng-attr-id = "{{'objState' + (item.nodeObject.id || item._id)}}"/> -->

            <img ng-attr-id = "{{'objState' + (item.nodeObject.id || item._id)}}"
                 class = "marginRight2 nmc-p-tree-status-img"
                  ng-src = "{{item.monitorStatusPath || $ctrl.data.currentPTreeMonitorDefault}}"
                  >
<!--                  ng-src = "{{$ctrl.data.currentPTreeMonitor[item.nodeType + (item._id || item.nodeObject.id)] || $ctrl.data.currentPTreeMonitorDefault}}"-->

          <i class="btn btn-xs glyphicon"
             ng-class="{'glyphicon-chevron-right': $ctrl.isChevronRight(collapsed, item), 'glyphicon-chevron-down': $ctrl.isChevronDown(collapsed, item), 'glyphicon-chevron-right nmc-button-disabled': $ctrl.isChevronDisabled(collapsed, item)}"
             data-nodrag ng-click="toggle(this)">
            </i>
            
<!--
            <span ng-if = "item.type == 'root'">
                  <strong>\</strong>
            </span>
-->
            <span ng-if = "$ctrl.isElementNode(item)" class="nmc-valign-middle">
                <i class = "glyphicon glyphicon-folder-close text-primary"></i> {{item.nodeName}}<span ng-show="$ctrl.isSystemuser()">(id = {{item._id}})</span>                
            </span>
            <span ng-if = "$ctrl.isContObjectNode(item)" class="nmc-valign-middle">
                <i class = "glyphicon glyphicon-file text-success"></i>
                {{item.nodeObject.fullName}}<span ng-show="$ctrl.isSystemuser()">(id = {{item.nodeObject.id}})</span>
            </span>
            <span ng-if = "$ctrl.isContZpointNode(item)" class="nmc-valign-middle">
               <i class = "glyphicon glyphicon-map-marker text-info"></i>
                {{item.nodeObject.customServiceName}}<span ng-show="$ctrl.isSystemuser()">(id = {{item.nodeObject.id}})</span>
            </span>
            <span ng-if = "$ctrl.isDeviceNode(item)" class="nmc-valign-middle">
                <i class = "glyphicon glyphicon-scale text-warning"></i>
               <span ng-if = "item.nodeObject.number">S/N: {{item.nodeObject.number}};</span>
               <span ng-if = "item.nodeObject.deviceObjectName">Название: {{item.nodeObject.deviceObjectName}};</span>
               <span ng-if = "item.nodeObject.deviceModelId">Модель: {{item.nodeObject.deviceModelId}};</span>
               <span ng-show="$ctrl.isSystemuser()">(id = {{item.nodeObject.id}})</span>
            </span>
            <span class="nmc-valign-middle">                
                <p ng-if = "(item.linkedNodeObjectsOnPage.length > 0 || item.childNodesOnPage.length > 0) && !collapsed"
                   style = "display: inline;">
                    ({{item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length}} из {{item.linkedNodeObjects.length + item.childNodes.length}}) 
                    <span ng-if = "item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length < item.linkedNodeObjects.length + item.childNodes.length">
<!--                            <i class = "btn btn-default btn-xs" ng-click = "$ctrl.viewMoreElements(item)">Показать еще {{$ctrl.ELEMENTS_PER_NODE}}</i>-->
                            <i class = "btn btn-default btn-xs" ng-click = "$ctrl.viewAllElements(item)">Показать все</i>
                  </span>
                </p>    
                
            </span>
<!--
            <span>
                item.lazyNode: {{item.lazyNode}}
            </span>            
-->
<!--
            <a ui-sref = "objectsPTree.info({node: item})"> Уведомления</a>
            <a ui-sref = "objectsPTree.contObjectControl({node: item})"> Контроль</a>
-->
        </div>
        <div ng-show = "item.loading">
            <i class="fa fa-spinner fa-spin"></i> Загрузка иерархии...
        </div>
        <div ng-hide = "item.loading">
            <ol ui-tree-nodes="options"
                ng-model="item.childNodesOnPage"
                ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.childNodesOnPage"
                  ui-tree-node data-collapsed = "true"
                  ng-include="'subscr_object_p_tree_items_renderer.html'">
              </li>
            </ol>
            <ol ui-tree-nodes="options"
                ng-model="item.linkedNodeObjectsOnPage"
                ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.linkedNodeObjectsOnPage"
                  ui-tree-node data-collapsed = "true"
                  ng-include="'subscr_object_p_tree_items_renderer.html'">
              </li>
            </ol>
<!--
            <ol ng-if = "$ctrl.isElementNode(item) && (item.linkedNodeObjectsOnPage.length > 0 || item.childNodesOnPage.length > 0)">
                <li>
                    ({{item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length}} из {{item.linkedNodeObjects.length + item.childNodes.length}}) 
                    <i class = "btn btn-default btn-xs" ng-click = "viewMoreElements(item)">Показать еще {{ELEMENTS_PER_NODE}}</i>
                    <i class = "btn btn-default btn-xs" ng-click = "viewAllElements(item)">Показать все</i>
                </li>
            </ol>
-->
            <span class="nmc-valign-middle" style = "">                
                <p ng-if = "item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length < item.linkedNodeObjects.length + item.childNodes.length  && !collapsed"
                   style = "display: inline; margin-left: 40px;">
                    ({{item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length}} из {{item.linkedNodeObjects.length + item.childNodes.length}}) 
<!--                    <span ng-if = "item.linkedNodeObjectsOnPage.length + item.childNodesOnPage.length < item.linkedNodeObjects.length + item.childNodes.length">-->
                            <i class = "btn btn-primary btn-xs" ng-click = "$ctrl.viewMoreElements(item)">Показать еще</i>
<!--                            <i class = "btn btn-default btn-xs" ng-click = "$ctrl.viewAllElements(item)">Показать все</i>-->
<!--                  </span>-->
                </p>    
                
            </span>
        </div>
    </script>
</div>