/*
 *  Файл со стилями, используемыми во всём интерфейсе
 */

/********************
 * Разметка страницы
 ********************/
/* Шапка */
.nmc-main-header {
    background-color: #225685;
    color: #FFFFFF;
    height: 5%;
}

	/* Брэнд ака Марка - надпись в левом верхнем углу*/
.nmc-main-header-brand{
    color: #FFFFFF !important;
}
	/* Меню в строке заголовка*/
.nmc-main-header-menu{
/*
	padding: 5px;
	background-color: yellow;
*/
}

	/* Пункт меню заголовка*/
.nmc-main-header-menu > li{
/*	background-color: brown;*/
    
}
    
.nmc-main-header-menu > li > a{
/*    color: wheat !important;*/
    color: #FFFFFF !important;
}

	/* Раскрытый пункт меню*/
.nmc-main-header-menu > li.open {
/*
	background-color: orange;
    color: white !important;
*/
}
.nmc-main-header-menu > li.open > a{
/*	background-color: orange !important;*/
}
    /* Пункт меню, на который наведен фокус*/
.nmc-main-header-menu > li.open > a:focus{
/*	background-color: red !important;*/
}
.nmc-main-header-menu > li.open > a:hover{
/*	background-color: green !important;*/
}

    /* Раскрывающееся меню*/
.nmc-main-header-menu > li > ul{
/*	background-color: white ;*/
}
    /* Пункт раскрывающегося меню*/
.nmc-main-header-menu > li > ul > li{
/*	background-color: greenyellow ;*/
}

    /* Пункт раскрывающегося меню, на который наведен указатель*/
.nmc-main-header-menu > li > ul > li > a:hover{
/*	background-color: blueviolet !important;*/
}

    /* Пункт раскрывающегося меню, который в фокусе*/
.nmc-main-header-menu > li > ul > li > a:focus{
/*	background-color: aqua!important;*/
}

/* Основная рабочая область */

    /* Обертка для страницы, которая придавливает футер к низу экрана.
                Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.wrap > .container-fluid {
    padding-top: 50px;
}

.wrap > .container {
    padding-top: 50px;
/*    width: 1920px;*/
}


.nmc-main-workspace {
    margin-left: 10pt;
    width: 87%;
	min-height: 900px;
    border: none;
    -webkit-box-shadow: 5px 5px 5px 0px #646263;
/*    box-shadow: none;*/
/*    border-radius: 0;*/
    background-color: #EEEEEE; /*background color of main area*/
    padding-top: 10px;
	height: 85%;
/*	height: 865px; */
/*    overflow: hidden;*/
    overflow-y: auto;
    
/*
    min-height: 900px;
    border: none;
    -webkit-box-shadow: none;
*/
    /*box-shadow: none;*/
    box-shadow: 5px 5px 5px 0px #646263;
/*    border-radius: 0;*/
    background-color: #FFFFFF; /*background color of main area*/
/*    padding-top: 10px;*/
}

/* Футер */
.nmc-main-footer {
    height: 10px;
    padding-top: 19px;
    background-color: 646263;
}

/* Заголовки интерфейсов в рабочей области */
.nmc-main-workspace-header {
    
}
/* Горизонтальная линия в заголовке рабочей области*/
.nmc-main-workspace-header hr{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: black; /*line color*/
    /*      #EEEEEE;*/
    /*    -moz-use-text-color #FFFFFF;*/
    border-style: solid none;
    border-width: 1px 0;
    margin: 10px 0;
}

/*Футер рабочей области*/
.nmc-main-workspace-footer{
    
}

/* Фон главного окна */
.nmc-main-window-background {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    background-color: #BEBEBE; /*body background color*/
    
/*
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    background-color: #BEBEBE;
*/
    background: linear-gradient(to left, #BEBEBE, #969696); /*#A0A0A0 #AAAAAA*/
    /*background: linear-gradient(to left, #b5bdc8, /*#828c95 36%,*/ #28343b);*/
}


/***********************
 * Элементы навигации 
 ***********************/
/* Главное меню */
.nmc-main-menu {
    min-width: 155px;
    width: 10%;
}

    /* Пункт главного меню - неактивный*/
.nmc-main-menu-item{
    word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
    font-size: 16px;
    border-radius: 4px 0px 0px 4px;
	background-color: #DCDCDC; /*background color of menu item*/
    
/*        background-color: #DCDCDC ; background color of menu item*/
                      /* my1: #D3D4D6*/
    /*background: linear-gradient(to top, #BFC0C2, #DDDEE0);*/
    /*background: linear-gradient(to top, #DCDCDC, #EBEBEB);*/   /*#E6E6E6 --  #EBEBEB  --  #F0F0F0*/
    background: linear-gradient(to top, #C8C8C8, #EBEBEB);   /*#E6E6E6 --  #EBEBEB  --  #F0F0F0*/
                                      /*  bottom  top  */

/*ORG: #DCDCDC, #ECEDEF*/
}

    /* Пункт главного меню */
        /*в фокусе*/    /* на который наведен курсор*/
.nmc-main-menu-item:focus, .nmc-main-menu-item:hover{
    word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
    background-color: #DCDCDC;
}

    /*Активный пункт главного меню*/
.nmc-main-menu-item-active{
    font-weight: bold;
    color: #555 !important;
    text-decoration: none;
    background: none !important;
    background-color: #FFFFFF !important;
}

    /* Иконка пункта меню*/
.nmc-main-menu-item-icon {
    margin-right: 10px;
}
    
.submenu{
    margin-left: 20px;
}

.submenu > .nmc-main-menu-item {
	border: 0px;
}

/* Вкладки рабочей области */
.nmc-main-tab-panel {
    margin-bottom: 5px;
}
    /* неактивная вкладка*/
.nmc-main-tab-button{
/*    background-color: #DCDCDC;*/
    background: linear-gradient(to top, #C8C8C8, #EBEBEB);
/*    margin-right: 15px;*/
}

    /* активная вкладка */
.nmc-main-tab-panel > ul > li.active > a{
    /*background-color: orange;*/
/*    background-color: #FFFFFF !important;*/
/*    background: linear-gradient(to bottom, #C8C8C8, #FFFFFF);*/
    background: #FFFFFF;
    color: black;
    font-weight: bold;
/*    margin-right: 15px;*/
}

/* Вкладки третьего уровня */
    /* Панель вкладок*/
.nmc-tab-panel {
}
    /* Нижняя граница под вкладками*/
.nmc-tab-panel > .nav-tabs{
    border-bottom-color: #337ab7 !important;
}


    /* неактивная вкладка*/
.nmc-tab-button{
    /*background-color: red;
    color: white;*/
/*
    border-radius: 0 10px 0 0 !important;
    border-color: #337ab7 !important;
    border-bottom-color: transparent !important;
    padding: 5px 5px !important;
*/
    border: none !important;
    border-radius: 0 !important;
    position:relative;
/*    width:480px;*/
    padding:.5em 2em .5em 1em!important;
/*    margin:2em auto;*/
    color:#fff;
    background:#337ab7;
    overflow:hidden;
}

    /* Правый верхний уголок неактивной вкладки*/
.nmc-tab-button:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* Данный трюк устраняет ошибку в браузерах webkit (сдвиг)  */
    border-style:solid;
    border-color:#fff #fff #337ab7 #337ab7; /* Для работы с .rounded */
    background:#658E15; /* Для Opera при применении border-radius */
    display:block; width:0; /* Только для Firefox 3.0 для снятия ограничений */
    /* Опционально: тени */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

    /* активная вкладка */
.nmc-tab-panel > ul > li.active > a{
 /*   background-color: orange;*/
/*    border-bottom: transparent !important;*/
    border: 1px solid #337ab7 !important;
    border-bottom-color: transparent !important;
}
    /* Правый верхний уголок активной вкладки - затираем его, создавая эффект раскрытия вкладки*/
.nmc-tab-panel > ul > li.active > a:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 0px 0px 0; /* Данный трюк устраняет ошибку в браузерах webkit (сдвиг)  */
    border-style:solid;
    border-color:#fff #fff #fff #fff; /* Для работы с .rounded */
    background:#fff; /* Для Opera при применении border-radius */
    display:block; width:0; /* Только для Firefox 3.0 для снятия ограничений */
    /* Опционально: тени */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

 
/* Блок номеров страниц */
.nmc-pages {
}
.nmc-pages-active{
    
}
/***********
 * Таблицы
 ***********/

/* Общие стили*/
table {
    border: 0px;
}

td {
    vertical-align: middle !important;
}

    /* Таблица в основной рабочей области */
.nmc-main-table {
 }

    /* Заголовок таблицы */
tr.nmc-main-table-header > th {
     background-color: #646263; /*background color*/
     color: #FFFFFF;
}

    /*Таблица - контейнер для таблицы первого уровня*/
.nmc-table-container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
/*    background-color: #EEEEEE;*/
}
.nmc-table-container > tbody > tr>td {
    border: none;
    padding: 0 !important;
}

.nmc-table-container > tbody > tr:nth-of-type(odd) {
/*    background-color: #FFFFFF;*/
    /* цвет фона для нечетной строки таблицы*/
/*    background-color: #f5f5f5;*/
}

    /* Таблица первого уровня с вложенными таблицами */
.nmc-parent-table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.nmc-parent-table > tbody > tr>td {
    border: none;
}

.nmc-parent-table > tbody > tr:nth-of-type(odd) {
    background-color: #FFFFFF;/* цвет фона для нечетной строки родительской таблицы*/
/*    background-color: #f5f5f5;*/
}
 
    /* Вложенная таблица */
.nmc-child-table {
    margin-left: 2%;
    width: 97%;
    border-radius: 4px;
/*    background-color: azure !mportant;*/
}

.nmc-child-table-header{
     background-color: #646263; /*background color*/
     color: #FFFFFF;
}

.nmc-child-table-without-header{
    margin-left: 2%;
    width: 97%;
    border-radius: 4px;
}
 
    /* Таблица рабочей области модального окна */
.nmc-modal-main-table {
}
 
    /* Таблица с чекбоксами в модальном окне */
.nmc-modal-table-with-chkbx {
}

.nmc-modal-table-with-chkbx > tbody > tr > td{
    padding: 0 !important;
}

/* Стиль, запрещающий многострочность в ячейке таблицы. Используются на страницах Уведомления и Показания для того,
    чтобы данные внутри ячейки отображались в одну строку.
*/
.nmc-table-nowrap-data > tbody > tr > td{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: auto; /*Обрезаем все, что не вмещается*/
    text-overflow: ellipsis;/* Добавляем многоточие*/
    padding: 1px; /* Устанавливаем отступ от границ ячейки = 1*/
 }   
  
/*********
 * Формы
 *********/
/* label поля ввода */
.nmc-form-label {
}
 
/* поле поиска */
.nmc-search-form {
}
    /* приставка к строке поиска*/
.nmc-search-form-addon{
    font-size: 12px;
    height: 24px;
    padding: 4px;
}
    /* кнопка поиска*/
.nmc-searh-form-button{
    
}

 
/* выпадающий список */
.nmc-select-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}
 
/* дата */
.nmc-date-input-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}
 
/* интервал дат */
.nmc-date-interval-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
    border-left-width: 0px;
}

    /* Приписка перед интервалом дат - изначально там буква "с"*/
.nmc-date-interval-form-addon{
    background-color: white;
    padding: 0px 0px 0px 6px;
    border-right-width: 0px;
}
 
/* ввод строки */
.nmc-text-input-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}
 
/* ввод многострочного текстового поля */
.nmc-textarea-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
    resize: none;
}
 
/* радиобатон */
.nmc-radio-form {
}
 
/* чекбокс */
.nmc-checkbox-form {
}

/* див, содержаций в себе чексбокс*/
.nmc-div-with-checkbox {
    width:15px;
}
 
/* неактивная форма */
.nmc-inactive-form {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}

/* Классы для задания размеров полей*/
    /* общее поле ввода*/
.nmc-input-data{
    width: 150px;
}
    /* Поле ввода числовых данных*/
.nmc-input-digital-data{
    width: 80px;
    display: inline;   
}
    /* Поле ввода числовых данных - укороченный вариант*/
.nmc-input-digital-data-sm{
    width: 50px;
    display: inline;
}
    /* Поле, в котором отображается общее количество чего либо - страниц, записей и т.д.*/
.nmc-view-allcount{
    width: 100px;
    display: inline;
}
 
/**********
 * Кнопки
 **********/
/* Ок */
.nmc-ok-button {
}

/* Сохранить */
.nmc-save-button {
    max-width: 112px;
}
  
/* Отмена */
.nmc-cancel-button {
    max-width: 142px;
}

/* Закрыть окно - крестик в правом верхнем углу модального окна */
.nmc-close-button{
    color: #FFFFFF;
}
    /* Крестик при наведенном на него курсоре*/
.nmc-close-button:hover{
    color: #FFFFFF;
}

/* Кнопка Удалить ака Красивый крестик*/
.nmc-remove-button{
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url(../images/cross-12.png);
    background-repeat: no-repeat;
}
 
    /* Кнопка в правом верхнем углу заголовка рабочей области*/
.nmc-button-in-header{
 }

/* Добавить в заголовке рабочей области */
.nmc-main-add-button {
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to top, #FF6802,#FF811B);
    color: #fff;
}

.nmc-main-add-button:hover {
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to top, #FF6802,#FF811B);
    color: #fff;
}
 
/* Добавить в таблице */
.nmc-add-button-in-table {
    
}
 
/* Добавить в модальном окне */
.nmc-add-button-in-modal {
/*    padding: 5px 10px 5px 10px;*/
    background: linear-gradient(to top, #FF6802,#FF811B);
    color: #fff;
}

    /* Кнопка в модальном окне*/
.nmc-button-in-modal{
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to top, #FF6802,#FF811B);
    color: #fff;
}

.nmc-arrow-button-in-modal{
/*
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to top, #FF6802,#FF811B);
    color: #fff;
*/
}
 
/* кнопка в таблице */
.nmc-button-in-table {
}
/* панель для кнопок в столбце таблице*/
.nmc-btn-toolbar-in-table{
    padding-left:5px !important;
    width:50px !important;
}

 
/* Переключатель */
    /*Панель с переключателями*/
.nmc-toggle {
}
    /* Неактивный переключатель*/
.nmc-toggle-button {
/*    background: linear-gradient(to top, #FF6802,#FF811B);*/
    padding: 5px 10px 5px 10px !important;
}

    /* Активный переключатель*/
.nmc-toggle > li.active > a{
/*
    background-color: aqua;
    color:red;
*/
    padding: 5px 10px 5px 10px;
    background: linear-gradient(to top, #FF6802,#FF811B);
}
    /* Активный переключатель - наведен указатель на него*/
.nmc-toggle > li.active > a:hover{
/*
    background-color: aqua;
    color:red;
*/
}
    /* Активный переключатель - установлен фокус*/
.nmc-toggle > li.active > a:focus{
/*
    background-color: aqua;
    color:red;
*/
}

    /* Переключатель для действующих шаблонов/вариантов отчетов */
.nmc-toggle-active{
    border: 1px solid #ddd !important;
    border-radius:4px !important;
}
    /* Переключатель для архивных шаблонов/вариантов отчетов */
.nmc-toggle-archive{
    border: 1px solid #ddd !important;
    border-radius:4px !important; 
    margin-left:0px !important;
}
.nmc-toggle-archive > a{
    width:108px !important;
    text-align:center !important;
}

.nmc-toggle-button-active {
}

 
/* Неактивная кнопка */
.nmc-button-inactive {
}
 
/**************************************************************************************
 *  Разметка модального окна
 ****************************************************************************************/
.nmc-modal-window{
}

    /* Контейнер для шапки, тела и футера*/
.nmc-modal-dialog{
    margin-top: 130px;
}

    /* Классы задающие ширину модального окна*/
.nmc-modal-wide-dialog{
    width: 1200px; 
}

.nmc-modal-some-wide-dialog{
    width: 700px; 
}

.nmc-modal-narrow-dialog{
    width: 300px; 
}

/* Заголовок */
.nmc-modal-header {
    background-color: #225685;
    color: #FFFFFF;
    height: 30px;
    padding-top: 7px;
}
 
/* Футер */
.nmc-modal-footer {
    padding-top: 6px;
    height: 35px;
}
 
/* Рабочая панель */
.nmc-modal-panel {
}

/* Тело модального окна (фон)*/
.nmc-modal-body{
    padding: 10px 0 0 0;
}
 
/* Поле с таблицей */
.nmc-modal-panel-with-table{
}
/* поле с таблицей колонок*/    /* поле с таблицей объектов*/
/* устанавливаем у них прокрутку*/
.nmc-modal-panel-with-table.nmc-column-list, .nmc-modal-panel-with-table.nmc-object-list{
    overflow-y: scroll;
}


    /* Вспогомогательные классы для разметки модального окна Конструктора шаблонов отчетов 
        и вариантов отчетов
    */
    /* Высота листа с колоноками отчета*/
.nmc-column-list  {
    height: 346px;
}
    /* Высота листа с объектами*/
.nmc-object-list  {
    height: 520px;
}
    /* Отступ для кнопок-стрелок, которыми управляется положение колонок*/
.nmc-column-list-button {
    padding-top: 150px;
}
    /* Отступ для кнопок-стрелок, которыми управляются объекты в списках*/
.nmc-object-list-button  {
   padding-top: 250px;
}

    /* Разметка модального окна выбора объектов на странице Уведомления*/
/*.excbt_selectObjectWindow > .modal-backdrop {*/
.nmc-select-objects-window > .modal-backdrop{   
    background-color: inherit;
}

.nmc-select-objects-window > .modal-dialog {
    margin-top: 200px;
}

    /* Панель с выбранными объектами в модальном окне создания/редактирования группы объектов*/
/*.editGroupWindowSelectedObjectsArea{*/
.nmc-modal-panel-with-objects{  
    height: 378px;
    overflow-y: scroll;
}    

 
/*****************************
 * Предупреждения и подсказки
 *****************************/
/* Ошибка */
.nmc-error-alert {
}
 
/* Успех */
.nmc-success-alert {
}
 
/* Всплывающая подсказка */
.nmc-tooltip {
}
 
/* Неправильно введённое значение */
.nmc-wrong-value {
}
  
/**********************
 * Вспомогательные
 *********************/
/* Шрифты */
    /* Заголовок в 2х этажных полях*/
.nmc-caption-in-field {
    font-size: 14px;
}
    /* Общий текст в 2х этажных полях*/
.nmc-common-text-in-field {
    /*font-size: 14px;*/
}
 
/* Заголовки */

.nmc-h1 {
}

    /*Заголовок страниц*/
.nmc-h2 {
    /*white-space: nowrap;*/
    color: #555555;
    /*font-size: 200%;*/
    font: bold 200% arial;
}
    /* Заголовок модального окна*/
.nmc-h3 {
    font-size: 14px;
    margin-top: 0;
}

/* Панели */
.nmc-panel {
}

/* Картинки*/
    /* Индикатор расхождения Итого и Интеграторов*/
    /*  Пути к картинкам задаются в скрипте - файл indicator.js:
    var ALERT_IMG_PATH = "images/divergenceIndicatorAlert.png";
    var CRIT_IMG_PATH = "images/divergenceIndicatorCrit.png";
    var EMPTY_IMG_PATH = "images/plug.png";  */
.nmc-img-divergence-indicator {
    width: 16px;
    height: 16px;
}
.nmc-img2 {
}

/*************** Отступы внутри элементов (padding) и отступы от других элементов (margin) *********************/
/******************************************************************************************************/
.noMarginTop {
    margin-top: 0;
}
.noMarginBottom {
    margin-bottom: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom5 {
    margin-bottom: 5px;
}
.marginBottom15 {
    margin-bottom: 15px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.margin10 {
    margin:10px;
}

.marginRight15 {
    margin-right:15px;
}

.marginRight28 {
    margin-right:28px;
}

.marginLeft24 {
    margin-left:24px;
}

.noMargin {
    margin : 0;
}

.noPadding {
    padding : 0;
}

.noPaddingBottom {
    padding-bottom : 0;
}

.noPaddingRight {
    padding-right : 0;
}


.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}


.paddingTop10 {
    padding-top: 10px;
}

.paddingTop15 {
    padding-top: 15px;
}

.paddingTop3 {
    padding-top: 3px;
}

.paddingTop5 {
    padding-top: 5px;
}

.noPaddingTop {
    padding-top: 0px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.paddingLeft5 {
    padding-left: 5px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.onlyPaddingLeft15 {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 15px;
}

.paddingRight10{
    padding-right: 10px;
}

.paddingLeftRight15{
    padding-left: 15px;
    padding-right: 15px;
}

.noPaddingTop {
    padding-top: 0px;
}

/* Выравнивание текста по краю*/
.nmc-text-align-left {
    text-align: left !important;
}

.nmc-text-align-right {
    text-align: right !important;
}

    /* Управление отображением элементов*/
.nmc-show {
    display:inherit;
}

.nmc-hide {
    display:none !important;
}

.btn-toolbar {
    width: 85px;
}
    /* Выделить элемент по умолчанию*/
.nmc-distinguish {
    font-weight: bold;
}
    /* Снять выделение элемента*/
.nmc-undistinguish {
    font-weight: lighter;
}

/*------------------------------------------*/
.span2, .span1 {
        margin-left: 5px;
        margin-right: 5px;
        text-align: right;
    }
    
input[type="checkbox"] {
    margin-right: 5px;
    
}