/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#wrap > .container-fluid {
    padding-top: 50px;
}

#wrap > .container {
    padding-top: 50px;
/*    width: 1920px;*/
}

/*#navbar-container {*/
/*    width: 1024px;*/
/*}*/

#div-main-area {
    margin-left: 10pt;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: black;
/*      #EEEEEE;*/
/*    -moz-use-text-color #FFFFFF;*/
  border-style: solid none;
  border-width: 1px 0;
  margin: 10px 0;
}

.excbt_h2{
    white-space: nowrap;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
    font-size: 12px;
background-color:  #BEBEBE;
/*    #DCDCDC;*/
/*    #BEBEBE;    */
}
/*
th {
    text-align: center;
}
*/

caption {
        padding-left: 20px;
    }

input[type="checkbox"] {
    margin-right: 5px;
    
}

input[type="radio"]{
    margin-right: 5px;
    margin-left: 15px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    height: 10px;
  padding-top: 19px;
/*  color: #777;*/
/*  border-top: 1px solid #e5e5e5;*/

}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 40px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.noMarginTop {
    margin-top: 0;
}
.noMarginBottom {
    margin-bottom: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom15 {
    margin-bottom: 15px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.margin10 {
    margin:10px;
}

.marginRight15 {
    margin-right:15px;
}

.marginRight28 {
    margin-right:28px;
}

.marginLeft24 {
    margin-left:24px;
}

.noMargin {
    margin : 0;
}

.noPadding {
    padding : 0;
}

.noPaddingBottom {
    padding-bottom : 0;
}

.noPaddingRight {
    padding-right : 0;
}


.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}


.paddingTop10 {
    padding-top: 10px;
}

.paddingTop15 {
    padding-top: 15px;
}

.paddingTop3 {
    padding-top: 3px;
}

.paddingTop5 {
    padding-top: 5px;
}

.noPaddingTop {
    padding-top: 0px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.paddingLeft5 {
    padding-left: 5px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.onlyPaddingLeft15 {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 15px;
}


.noPaddingTop {
    padding-top: 0px;
}

.textAlign_left {
    text-align: left;
}

.textAlign_right {
    text-align: right;
}



.btn-toolbar {
    width: 85px;
}

.well-bgc {
    background-color: cadetblue;
}

.excbt_well-main {
    min-height: 900px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
/*    border-radius: 0;*/
    background-color: #EEEEEE;
    padding-top: 10px;
}

.showM {
    display:inherit;
}

.hideM {
    display:none !important;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 0 0;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.modal-scrollable-area1 {
	height: 600px; overflow-y: scroll;	
}

.column_list  {
    height: 382px;
}

.object_list  {
    height: 520px;
}

.column_list_button {
    padding-top: 150px;
}

.object_list_button  {
   padding-top: 250px;
}
#system1_default_cols, #system1_define_cols, #system2_default_cols, #system2_define_cols, #object_list     {
      overflow-y: scroll;
    }

.main-scrollable-area1 {
    height: 85%;
/*	height: 865px; */
/*    overflow: hidden;*/
    overflow-y: auto;	
}

.modal-position-right {
/*    position: relative;*/
/*    right: 0;*/
}

table {
    border: 0px;
}

td {
    vertical-align: middle !important;
}

/* Если нужна подсветка цветом для выделенных строк
tr > .active{
    background-color: #337ab7 !important;
    color:white;
}
*/
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    table {
        table-layout: auto;
    }
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        display:none;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        display:inherit;
    }
    .row-offcanvas-left.active .mainarea {
        display:none;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.col-sm-10-main {
    width: 87%;
}
.menuWidth {
    width: 10%;
}

/*
a.list-group-item:focus {
    font-weight: bold;
}
*/
/*
a.list-group-item:active {
    background-color: #f5f5f5;
}
*/
a.list-group-item {
    background-color: #DCDCDC;
/*        #BEBEBE;*/
}

.excbt_a_list_group_item{
    word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
    font-size: 16px;
    border-radius: 4px 0px 0px 4px;
}
.excbt_a_list_group_item_icon{
    margin-right: 10px;
}

.excbt_a_list_group_item:focus, .excbt_a_list_group_item:hover{
    word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
}
.excbt_a_list_group_item_selected{
  font-weight: bold;
  color: #555 !important;
  text-decoration: none;
  background-color: #EEEEEE !important;
/*      #f9f9f9 !important;*/
/*      #f5f5f5 !important;*/
}
.modalWindow_wide {
    width: 1200px;
}

.modalWindow_moreWide {
    width: 700px;
}

.modalWindow_lessWide {
    width: 300px;
}


/*Настройка главного окна*/
mainTable {

 margin-left: auto;
 margin-right: auto;
 border: 1px solid black;
 width: 100%;
 min-width: 5%;
}

.mainArea {
 
/* border: 1px solid grey;*/
 width: 100%;
 }

/*
.mainarea {
    margin-bottom: 60px;
}
*/

.button1 {
 
/* border: 1px solid red;*/
 width: 100%;
}
.fld {
}
.mainMenu111 {
    width: 200px;
}

.submenu{
    margin-left: 20px;
}

.submenu > 
    .list-group-item{
/*        background-color: beige;*/
        border: 0px;
        
    }

.span2, .span1 {
        margin-left: 5px;
        margin-right: 5px;
        text-align: right;
    }


.modal-body {
    padding: 0px;
    padding-top: 10px;
}

.modal-footer {
    padding: 10px;
}

/*
.nav > li > a {
    padding: 5px 10px;
}*/



.div-checkbox {
    width:15px;
}

.default {
    font-weight: bold;
}
.common {
    font-weight: lighter;
}

#inputStartDate {
    line-height: 19px;
}

.inputData {
    width: 150px;
}

.inputDigitalData {
    width: 80px;
    display: inline;
}

.excbt_inputDigitalData-sm {
    width: 50px;
    display: inline;
}

.excbt_viewDataCount {
    width: 100px;
    display: inline;
}

.excbt_inputFormControl {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}
.excbt_inputFormControlObjectFilter {
    font-size: 12px;
    height: 26px;
    padding: 5px;
}
.excbt_objectFilterInputGroup{
/*    margin-top: -2.5%;*/
}


.excbt_selectObjectWindow > .modal-backdrop {
    background-color: inherit;
}

.excbt_selectObjectWindow > .modal-dialog {
    margin-top: 200px;
}

.excbt_table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.excbt_table > tbody > tr>td {
    border: none;
}

.excbt_innerTable {
    margin-left: 2%;
    width: 97%;
    border-radius: 4px;
}
.excbt_innerTable > thead> tr{
     background-color: #BEBEBE;
/*         #696969;*/
};

.excbt_table >tbody>tr>td{
    border-top: none;
    
}

.excbt_externalTable > tbody > tr:nth-of-type(odd) {
    background-color: #EEEEEE;
/*    background-color: #f5f5f5;*/
}

.excbt_inputGroupAddon {
    background-color: white;
    padding: 0px 0px 0px 6px;
    border-right-width: 0px;
}

.excbt_noLeftBorder {
    border-left-width: 0px;
}

.excbt_zpointButtonMargin {
    margin-left:80%;
}

.excbt_tableIndicators > tbody > tr > td {
    padding: 1px;
}

.excbt_tarea {
    resize: none;
}

.excbt_Caption {
    font-size: 14px;
}

table.excbt_table_oneLineData > tbody > tr> td {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: auto; /*Обрезаем все, что не вмещается*/
    text-overflow: ellipsis;/* Добавляем многоточие*/
}

/*Classes for nav-tabs left*/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/*end of nav-tabs left*/
.excbt_navbar{
    background-color: #EEEEEE;
    height: 5%;
}
