/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#wrap > .container-fluid {
    padding-top: 50px;
}

#wrap > .container {
    padding-top: 50px;
/*    width: 1920px;*/
}

#navbar-container {
    width: 1024px;
}

#div-main-area {
    margin-left: 10pt;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
    font-size: 12px;
}
/*
th {
    text-align: center;
}
*/

caption {
        padding-left: 20px;
    }

input[type="checkbox"] {
    margin-right: 5px;
    
}

input[type="radio"]{
    margin-right: 5px;
    margin-left: 15px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    height: 60px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 40px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.noMarginBottom {
    margin-bottom: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom15 {
    margin-bottom: 15px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.margin10 {
    margin:10px;
}

.marginRight15 {
    margin-right:15px;
}

.marginRight28 {
    margin-right:28px;
}

.marginLeft24 {
    margin-left:24px;
}

.noMargin {
    margin : 0;
}

.noPadding {
    padding : 0;
}

.noPaddingBottom {
    padding-bottom : 0;
}

.noPaddingRight {
    padding-right : 0;
}


.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingTop10 {
    padding-top: 10px;
}

.paddingTop3 {
    padding-top: 3px;
}

.noPaddingTop {
    padding-top: 0px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.onlyPaddingLeft15 {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 15px;
}


.noPaddingTop {
    padding-top: 0px;
}

.textAlign_left {
    text-align: left;
}

.textAlign_right {
    text-align: right;
}



.btn-toolbar {
    width: 85px;
}

.well-bgc {
    background-color: cadetblue;
}

.showM {
    display:inherit;
}

.hideM {
    display:none;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 0 0;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.modal-scrollable-area1 {
	height: 600px; overflow-y: scroll;	
}

.column_list {
    height: 353px;
}

.column_list_button {
    padding-top: 150px;
}
#system1_default_cols, #system1_define_cols, #system2_default_cols, #system2_define_cols     {
      overflow-y: scroll;
    }

.main-scrollable-area1 {
	height: 865px; 
/*    overflow: hidden;*/
    overflow-y: auto;	
}



.modal-position-right {
/*    position: relative;*/
/*    right: 0;*/
}

table {
    border: 0px;
}

td {
    vertical-align: middle !important;
}

/* Если нужна подсветка цветом для выделенных строк
tr > .active{
    background-color: #337ab7 !important;
    color:white;
}
*/
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    table {
        table-layout: auto;
    }
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        display:none;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        display:inherit;
    }
    .row-offcanvas-left.active .mainarea {
        display:none;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.col-sm-10-main {
    width: 87%;
}
.menuWidth {
    width: 200px;
}

.modalWindow_wide {
    width: 1200px;
}

.modalWindow_moreWide {
    width: 700px;
}

.modalWindow_lessWide {
    width: 300px;
}


/*Настройка главного окна*/
mainTable {

 margin-left: auto;
 margin-right: auto;
 border: 1px solid black;
 width: 100%;
 min-width: 5%;
}

.mainArea {
 
/* border: 1px solid grey;*/
 width: 100%;
 }

/*
.mainarea {
    margin-bottom: 60px;
}
*/

.button1 {
 
/* border: 1px solid red;*/
 width: 100%;
}
.fld {
}
.mainMenu111 {
    width: 200px;
}

.submenu{
    margin-left: 20px;
}

.submenu > 
    .list-group-item{
/*        background-color: beige;*/
        border: 0px;
        
    }

.span2, .span1 {
        margin-left: 5px;
        margin-right: 5px;
        text-align: right;
    }


.modal-body {
    padding: 0px;
    padding-top: 10px;
}

.modal-footer {
    padding: 10px;
}

/*
.nav > li > a {
    padding: 5px 10px;
}*/


a.list-group-item:focus {
    font-weight: bold;
}

.div-checkbox {
    width:15px;
}

.default {
    font-weight: bold;
}
.common {
    font-weight: lighter;
}