/********************** NMK portal window *****************************************/
/**********************************************************************************/
/*********************************Top navigation bar*******************************/
.nmkNavbar{
    background-color: #EEEEEE;
    height: 5%;
}
	/*Navigation bar container*/
.nmkNavbar > .nmkNavbarContainer{
	
}
	/*Navigation bar header*/
.nmkNavbar > .nmkNavbarContainer >.nmkNavbarContainerHeader {
	
}
	/*Brand*/
.nmkNavbar > .nmkNavbarContainer >.nmkNavbarContainerHeader >.nmkNavbarBrand{
}
	/*Navbar menu*/
.nmkNavbar > .nmkNavbarContainer > ul{
/*
	padding: 5px;
	background-color: yellow;
*/
}

	/*Navbar default menu item*/
.nmkNavbar > .nmkNavbarContainer > ul > li{
/*
	background-color: brown;
    color: wheat;
*/
}

	/*Navbar opened menu item*/
.nmkNavbar > .nmkNavbarContainer > ul > li.open > a{
/*	background-color: orange;*/
}

.nmkNavbar > .nmkNavbarContainer > ul > li.open > a:focus{
/*	background-color: orange;*/
}


	/*navbar user menu*/
.nmkNavbarUserMenu {
/*	background-color: white;*/
/*	color: white;*/
}
	/*navbar user*/
.nmkNavbarUser {
/*	color: white;*/
}
	/*navbar user menu list*/
.nmkNavbarUserMenu > ul {
/*	background-color: black;*/
}
	/*navbar user menu item*/
.nmkNavbarUserMenu > ul > li{
/*	background-color: yellow;*/
}

.nmkNavbarUserMenu > ul > li >a{
/*	color: blue;*/
}
	/*navbar user menu item - hover*/
.nmkNavbarUserMenu > ul > li >a:hover{
/*	background-color: red;*/
/*	color: green;*/
}

/************************************ main frame *****************************************/

.nmkFrame {
	margin-left: 10pt;
    width: 87%;
	min-height: 900px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
/*    border-radius: 0;*/
    background-color: #EEEEEE; /*background color of main area*/
    padding-top: 10px;
	height: 85%;
/*	height: 865px; */
/*    overflow: hidden;*/
    overflow-y: auto;	
}


/*************************************** portal footer *****************************/
.nmkFooter {
    height: 10px;
    padding-top: 19px;
    background-color: #BEBEBE;
}

/***************************************** main menu ******************************/
.nmkMenu{
    width: 10%;
}

/*default menu settings*/
/*a.list-group-item {*/
    
/*        #BEBEBE;*/
/*}*/

.menuItem {
	word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
    font-size: 16px;
    border-radius: 4px 0px 0px 4px;
	background-color: #DCDCDC; /*background color of menu item*/
}

 a.menuItem:focus, a.menuItem:hover{
    word-wrap: break-word;
    padding-right: 1px;
    border: none;
    margin-right: -30%;
    margin-bottom: 2%;
	background-color: #DCDCDC;
}

.menuItemSelected{
	font-weight: bold;
	color: #555 !important;
	text-decoration: none;
	background-color: #EEEEEE !important;
}

.menuItemIcon {
	margin-right: 10px;
}

.submenu{
    margin-left: 20px;
}

.submenu > .menuItem {
	border: 0px;
}


/* common styles*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  background-color: #BEBEBE; /*body background color*/
/*    #DCDCDC;*/
/*    #BEBEBE;    */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#wrap > .container-fluid {
    padding-top: 50px;
}

#wrap > .container {
    padding-top: 50px;
/*    width: 1920px;*/
}



/************************************** Page window ****************************************/
/*******************************************************************************************/

/*page title*/
.pageTitle{
    white-space: nowrap;
}

/*Horizontal line under page title*/
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: black; /*line color*/
/*      #EEEEEE;*/
/*    -moz-use-text-color #FFFFFF;*/
  border-style: solid none;
  border-width: 1px 0;
  margin: 10px 0;
}

.pageSearchString{
    
}


/*color "Портал НМК"*/
/*
.excbt_navbar > .container-fluid> .navbar-header> .navbar-brand{
    color: red !important;
}
*/

/*color "Пользователь"*/
/*
.dropdown-toggle > span {
    color: green;
}
*/

/*************************************************** Tables *************************************/
/************************************************************************************************/

table {
    border: 0px;
}

td {
    vertical-align: middle !important;
}

/**/
table.excbt_table_oneLineData > tbody > tr> td {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: auto; /*Обрезаем все, что не вмещается*/
    text-overflow: ellipsis;/* Добавляем многоточие*/
}

/*external table*/
.excbt_externalTable > tbody > tr:nth-of-type(odd) {
    background-color: #EEEEEE;/*background color of external table row*/
/*    background-color: #f5f5f5;*/
}
/* column headers of internal table*/
.excbt_innerTable > thead> tr{
     background-color: #BEBEBE; /*background color*/
/*         #696969;*/
}

.excbt_table {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.excbt_table > tbody > tr>td {
    border: none;
}

/*
.excbt_table >tbody>tr>td{
    border-top: none;
    
}
*/

.excbt_innerTable {
    margin-left: 2%;
    width: 97%;
    border-radius: 4px;
}




/* **************************************************************** */

/*
caption {
        padding-left: 20px;
    }
*/

input[type="checkbox"] {
    margin-right: 5px;
    
}

input[type="radio"]{
    margin-right: 5px;
    margin-left: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 40px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/******************************* customize padding and margin classes *********************************/
/******************************************************************************************************/
.noMarginTop {
    margin-top: 0;
}
.noMarginBottom {
    margin-bottom: 0;
}

.marginBottom10 {
    margin-bottom: 10px;
}
.marginBottom5 {
    margin-bottom: 5px;
}
.marginBottom15 {
    margin-bottom: 15px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.margin10 {
    margin:10px;
}

.marginRight15 {
    margin-right:15px;
}

.marginRight28 {
    margin-right:28px;
}

.marginLeft24 {
    margin-left:24px;
}

.noMargin {
    margin : 0;
}

.noPadding {
    padding : 0;
}

.noPaddingBottom {
    padding-bottom : 0;
}

.noPaddingRight {
    padding-right : 0;
}


.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}


.paddingTop10 {
    padding-top: 10px;
}

.paddingTop15 {
    padding-top: 15px;
}

.paddingTop3 {
    padding-top: 3px;
}

.paddingTop5 {
    padding-top: 5px;
}

.noPaddingTop {
    padding-top: 0px;
}

.paddingLeft20 {
    padding-left: 20px;
}

.paddingLeft5 {
    padding-left: 5px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.onlyPaddingLeft15 {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 15px;
}


.noPaddingTop {
    padding-top: 0px;
}

/* */
.textAlign_left {
    text-align: left;
}

.textAlign_right {
    text-align: right;
}



.btn-toolbar {
    width: 85px;
}

/*
.well-bgc {
    background-color: cadetblue;
}
*/



.showM {
    display:inherit;
}

.hideM {
    display:none !important;
}

/*
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 0 0;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}



.column_list  {
    height: 382px;
}

.object_list  {
    height: 520px;
}

.column_list_button {
    padding-top: 150px;
}

.object_list_button  {
   padding-top: 250px;
}
#system1_default_cols, #system1_define_cols, #system2_default_cols, #system2_define_cols, #object_list     {
      overflow-y: scroll;
    }


/*.modal-position-right {*/
/*    position: relative;*/
/*    right: 0;*/
/*}*/



/* Если нужна подсветка цветом для выделенных строк
tr > .active{
    background-color: #337ab7 !important;
    color:white;
}
*/
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    table {
        table-layout: auto;
    }
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        display:none;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        display:inherit;
    }
    .row-offcanvas-left.active .mainarea {
        display:none;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

/*
.col-sm-10-main {
    
}
*/



.modalWindow_wide {
    width: 1200px;
}

.modalWindow_moreWide {
    width: 700px;
}

.modalWindow_lessWide {
    width: 300px;
}


/*Настройка главного окна*/
/*
mainTable {

 margin-left: auto;
 margin-right: auto;
 border: 1px solid black;
 width: 100%;
 min-width: 5%;
}
*/

/*.mainArea {*/
 
/* border: 1px solid grey;*/
/*
 width: 100%;
 }
*/

/*
.mainarea {
    margin-bottom: 60px;
}
*/

/*.button1 {*/
 
/* border: 1px solid red;*/
/* width: 100%;*/
/*}*/
/*.fld {
}
*/
/*.mainMenu111 {
    width: 200px;
}
*/


.span2, .span1 {
        margin-left: 5px;
        margin-right: 5px;
        text-align: right;
    }


/*
.nav > li > a {
    padding: 5px 10px;
}*/



.div-checkbox {
    width:15px;
}

.default {
    font-weight: bold;
}
.common {
    font-weight: lighter;
}

#inputStartDate {
    line-height: 19px;
}

.inputData {
    width: 150px;
}

.inputDigitalData {
    width: 80px;
    display: inline;
}

.excbt_inputDigitalData-sm {
    width: 50px;
    display: inline;
}

.excbt_viewDataCount {
    width: 100px;
    display: inline;
}

.excbt_inputFormControl {
    font-size: 12px;
    height: 24px;
    padding: 5px;
}
.excbt_inputFormControlObjectFilter {
    font-size: 12px;
    height: 26px;
    padding: 5px;
}
.excbt_objectFilterInputGroup{
/*    margin-top: -2.5%;*/
}


.excbt_selectObjectWindow > .modal-backdrop {
    background-color: inherit;
}

.excbt_selectObjectWindow > .modal-dialog {
    margin-top: 200px;
}




.excbt_inputGroupAddon {
    background-color: white;
    padding: 0px 0px 0px 6px;
    border-right-width: 0px;
}

.excbt_noLeftBorder {
    border-left-width: 0px;
}

.excbt_zpointButtonMargin {
    margin-left:80%;
}

/************************************ Modal windows *************************************************/
/****************************************************************************************************/
/*
    modal window sruct:
        modalWindow
            modalDialog
                modalHeader
                    closeButton
                    h3
                modalBody
                modalFooter
*/
/*стили шапки модального онка*/
.modalWindow {
    background-color: aqua
}

.modalHeader{
    background-color: white;
    height: 50px;
}

/*close cross*/
.closeButton {
    color: red;
}

.closeButton:hover {
    color: white;
}

/*стили заголовка модального окна*/
.modalHeader > h3{
    color:red;
}

.modalDialog{
    background-color: aquamarine;
}

.modalBody{
    padding: 0px;
    padding-top: 10px;
    background-color: azure;
}

/*стили подвала модального окна*/
.modalFooter{
    padding: 10px;
    background-color: blue;
}

/*modal window with scrolling*/
.modal-scrollable-area1 {
	height: 600px; overflow-y: scroll;	
}

/*
.modal-body {
    
}

.modal-footer {
    
}
*/

/**************************************** Notice page **********************************************/
/***************************************************************************************************/
.objectListTArea {
    resize: none;
}

/***************************************************** Report page **********************************/
/****************************************************************************************************/
.reportCaptionInList {
    font-size: 14px;
}



/*************************************** Object group page ********************************/
/******************************************************************************************/
/* Edit/create group modal window*/
#editGroupModal{
}

#deleteGroupModal{
    
}

.excbt_editGroupWindow_selectedObjects_area{
     height: 423px;
    overflow-y: scroll;
}

.excbt_editGroupWindow_btnAddObject{
    margin-top: -5%;
}

/********************************************** Indicator's page ***********************************/
/***************************************************************************************************/
.tableIndicators > tbody > tr > td {
    padding: 1px;
}

.divergenceIndicatorImg{
    width: 16px;
    height: 16px;
}