   <md-toolbar layout = "row" class = "md-hue-1 nmc-md-toolbar-n">
<!--       style = "background: rgb(231,235,245)">-->
       <div class = "md-toolbar-tools paddingLeft0I">
           <div flex>
              <tree-node-view-select></tree-node-view-select>
          </div>
<!--
          <div flex>
            <md-menu md-offset = "0 60" ng-disabled = "$ctrl.widgetSelectDisabled()">
                  <md-button class = "md-icon-button"
                       ng-click = "$ctrl.openUserMenu($mdMenu, $event)"
                       aria-label = "Выбор представления">
                        <md-icon md-font-set = "fa fa-lg">&#xf0ca;</md-icon>
                  </md-button>
                  <md-menu-content>                     
                      <md-menu-item ng-repeat = "widget in $ctrl.nodeWidgets">
                          <md-button class = "md-raised" ng-attr-title = "{{widget.caption}}"
                              ng-click = "$ctrl.changeWidget(widget)">            
                             {{widget.caption}}
                          </md-button>
                      </md-menu-item>
                </md-menu-content>
            </md-menu>
          </div>
-->
       </div>
    </md-toolbar>
    
<div>    
    <div class = "container-fluid">
<!--
    <div class="row">
        <cont-object-monitor-component node = "{_id: 130091982}"></cont-object-monitor-component>
    </div>
-->
<!--
        <div class = "row">            
            <div class = "col-xs-6">
                <div class = "">
                    <label>
                        Представление:
                    </label>
                    <select class = "form-control nmc-input-data-with-label nmc-select-form"
                      ng-model = "$ctrl.currentWidget"
                      ng-options = "widget as widget.caption for widget in $ctrl.nodeWidgets"
                      ng-change = "$ctrl.changeWidget($ctrl.currentWidget)"
                      ng-disabled = "$ctrl.widgetSelectDisabled()">

                    </select>
                </div>
            </div>
-->
<!--
            <div class = "col-xs-6">
                &lt;Панель инструментов&gt;
            </div>
-->
<!--        </div>-->
        <div class = "row">
            <div class = "col-xs-12 noPadding">
                <ui-view = "treeNodeWidgetView"></ui-view>
            </div>
        </div>
    </div>
</div>