<div>
<!--
    <label style = "font-size: 14px;">
        Представление:
    </label>
    <select class = "form-control nmc-input-data-with-label nmc-select-form"
      ng-model = "$ctrl.currentWidget"
      ng-options = "widget as widget.caption for widget in $ctrl.nodeWidgets"
      ng-change = "$ctrl.changeWidget($ctrl.currentWidget)"
      ng-disabled = "$ctrl.widgetSelectDisabled()">

    </select>
-->
    <md-menu md-offset = "0 37" ng-disabled = "$ctrl.widgetSelectDisabled()">
          <md-button class = "md-icon-button nmc-md-ltb-btn"
               ng-click = "$ctrl.openUserMenu($mdMenu, $event)"
               aria-label = "Выбор представления"
               style = "">
               <md-icon md-font-set = "fab fa-lg" style = "color: black !important; fill: black !important;">&#xf37f;</md-icon>
<!--                <md-icon md-font-set = "fa fa-sm">&#xf0ca;</md-icon>-->
          </md-button>
          <md-menu-content>                     
              <md-menu-item class = "nmc-md-menu-item" ng-repeat = "widget in $ctrl.nodeWidgets">
                  <md-button class = "" ng-attr-title = "{{widget.caption}}"
                      ng-click = "$ctrl.changeWidget(widget)">
<!--                     <img class = "nmc-img-user-menu" src = "images/tech_support.png"/>-->
                     {{widget.caption}}
                  </md-button>
              </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>