<jhi-exc-toolbar>
    <div toolbar-left>
        <button *ngIf="selectedNode" mat-icon-button (click)="editNodeDialog($event, opEditNodeDialog, selectedNode.data)">
            <mat-icon mat-list-icon>edit</mat-icon>
        </button>
        <span class="buttonSpacer"></span>
        <button *ngIf="selectedNode" mat-icon-button (click)="addNodeDialog($event, opAddNodeDialog, selectedNode.data, 'child')">
            <mat-icon mat-list-icon>library_add</mat-icon>
        </button>
        <span class="buttonSpacer"></span>
        <span class="buttonSpacer"></span>
        <button *ngIf="selectedNode?.data.parentId && !selectedNode?.data?.isLinkDeny" mat-icon-button (click)="switchIsLinkDeny(selectedNode.data)">
            <mat-icon [ngClass]="{'propertyDisabled': selectedNode?.data?.isLinkDeny}">filter_9_plus</mat-icon>
        </button>
        <button *ngIf="selectedNode?.data.parentId && selectedNode?.data?.isLinkDeny" mat-icon-button (click)="switchIsLinkDeny(selectedNode.data)">
            <mat-icon [ngClass]="{'propertyDisabled': selectedNode?.data?.isLinkDeny}">close</mat-icon>
        </button>

    </div>
    <div toolbar-right>
        <button *ngIf="selectedNode?.data.parentId" mat-icon-button color="warn">
            <mat-icon mat-list-icon (click)="deleteNode(selectedNode.data)">delete</mat-icon>
        </button>
    </div>
</jhi-exc-toolbar>
<p-treeTable [value]="objectTree" selectionMode="single" [(selection)]="selectedNode">
    <!-- ContObjectAccess -->
    <!--  -->
    <p-column header="{{'subscrObjectTree.nodeName' | translate}}">
        <ng-template let-node="rowData" pTemplate="body">
            {{node.data.objectName}}
        </ng-template>
    </p-column>

</p-treeTable>

<p-overlayPanel #opAddNodeDialog [appendTo]="'body'">
    <!-- <span>{{'subscrObjectTree.newObject' | translate}}</span> -->
    <div *ngIf="newEditVM">
        <h5>{{ dialogHeaderKey | translate }}</h5>
        <input toolbar-right class="search-input" type="text" pInputText (keyup.enter)="saveNodeAdd($event, opAddNodeDialog)" (keyup.esc)="cancelDialog($event, opAddNodeDialog)"
            [(ngModel)]="newEditVM.objectName">
        <button pButton type="button" class="ui-button-primary" icon="fa-save" (click)="saveNodeAdd($event, opAddNodeDialog)"></button>
        <button pButton type="button" class="ui-button-secondary" icon="fa-ban" (click)="cancelDialog($event, opAddNodeDialog)"></button>
    </div>
</p-overlayPanel>

<p-overlayPanel #opEditNodeDialog [appendTo]="'body'">
    <div *ngIf="currentObjectTreeNode">
        <h5>{{ dialogHeaderKey | translate }}</h5>
        <input toolbar-right class="search-input" type="text" pInputText (keyup.enter)="saveNodeEdit($event, opEditNodeDialog)" (keyup.esc)="cancelDialog($event, opEditNodeDialog)"
            [(ngModel)]="currentObjectTreeNode.objectName">
        <button pButton type="button" class="ui-button-primary" icon="fa-save" (click)="saveNodeEdit($event, opEditNodeDialog)"></button>
        <button pButton type="button" class="ui-button-secondary" icon="fa-ban" (click)="cancelDialog($event, opEditNodeDialog)"></button>
    </div>
</p-overlayPanel>