<p-card title="{{'subscrObjectTree.widget.title' | translate}}">
    <button mat-button routerLink="/subscr-object-trees-manage">
        <mat-icon class="headerbar-mat-menu-icon">list</mat-icon>
        <span jhiTranslate="subscrObjectTree.captions.listTitle">List</span>
    </button>
    <button mat-button routerLink="/cont-object-tree-edit">
        <mat-icon class="headerbar-mat-menu-icon">list</mat-icon>
        <span jhiTranslate="subscrObjectTree.widget.contObjectTreeTitle">List</span>
    </button>
</p-card>
