// =======
.toolbar-row .ui-corner-all {
    height: 2.5em;
    border-radius: 0 !important;    
}

.toolbal-row {
    height: 2em;
}

.subscr-object-grid {
    display: flex;
}

.search-input {
    font-size: 90%;
}