<div>
<!--    <div>tree component</div>-->
    <div class = "nmc-object-layout-wrapper" style = "position: absolute; top: 16px; left:0; bottom: 0; right:0;">        
        <div ui-layout = "{flow: 'column'}">
           <div ui-layout-container size = "25%">
              <tree-navigate-component></tree-navigate-component>
            </div>
            <div ui-layout-container style = "overflow-y: hidden;">
               <tree-info-component></tree-info-component>
            </div>
        </div>
    </div>    
</div>