.edit-container {
    // display: flex;
    // flex-direction: column;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.edit-row {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}

.column-full-width {
    width: 100%;
  }

.ng-invalid:not(form) {
    border-left: 0px;
}

input.right-no-spin::-webkit-outer-spin-button,
input.right-no-spin::-webkit-inner-spin-button {
  display: none;
}
