<div>
    <p>Value: {{organizationId}}</p>
    <mat-form-field class="autocomplete-full-width">
        <input matInput placeholder="{{ 'organization.detail.title' | translate }}" aria-label="organization" [matAutocomplete]="auto" [formControl]="organizationCtrl">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)" [displayWith]="getDisplayFn()">
            <mat-option *ngFor="let organization of filteredOrganizations | async" [value]="organization">
                <span>{{ organization.organizationName }}</span> |
                <small>{{'organization.inn' | translate}}: {{organization.inn}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>