<div *ngIf="organization" >
    <jhi-top-header headerTitle="organization.edit.title"></jhi-top-header>
    <hr>
    <form [formGroup]="organizationForm">
        <div class="ui-g ui-g-nopad">
            <div class="ui-g-6 ui-g-nopad">
                <!-- BLOCK 1 -->
                <mat-form-field class="id-padding id-width">
                    <input matInput placeholder="{{'organization.id' | translate}}" formControlName="id" readonly>
                </mat-form-field>
                <br>
                <div class="flex-column">
                    <mat-form-field>
                            <mat-select placeholder="{{'organization.organizationTypeName' | translate}}" formControlName="organizationTypeId">
                                <mat-option>
                                    {{'organization.organizationType_None' | translate}}
                                </mat-option>
                                <mat-option *ngFor="let organizationType of organizationTypes" [value]="organizationType.id">
                                    {{organizationType.typeName}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>-->
                            <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint>  -->
                    </mat-form-field>                
                </div>
                <br>
                <mat-form-field class="organization-name">
                    <input matInput formControlName="organizationName" placeholder="{{'organization.organizationName' | translate}}">
                </mat-form-field>
                <br>
                <div class="flex-column">
                    <mat-form-field>
                        <input matInput formControlName="organizationFullName" placeholder="{{'organization.organizationFullName' | translate}}">
                    </mat-form-field>
                </div>
                <br>
                <mat-form-field > 
                    <!-- hintLabel="{{'organization.edit.maxNchars' | translate:{n: 10} }}" -->
                    <input matInput type="text" maxlength="12" formControlName="inn" placeholder="{{'organization.inn' | translate}}">
                    <!-- <span>{{ organizationForm.value | json }} </span> !organizationForm.controls['inn'].hasError('pattern')-->
                    <mat-error *ngIf="organizationForm.controls['inn'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                    <mat-error *ngIf="organizationForm.controls['inn'].hasError('invalidLength') && !organizationForm.controls['inn'].hasError('pattern')">
                            {{'organization.form.errors.inn' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" maxlength="9" formControlName="kpp" placeholder="{{'organization.kpp' | translate}}">
                    <mat-error *ngIf="organizationForm.controls['kpp'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" maxlength="10" formControlName="okpo" placeholder="{{'organization.okpo' | translate}}">
                    <mat-error *ngIf="organizationForm.controls['okpo'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                    <mat-error *ngIf="organizationForm.controls['okpo'].hasError('invalidLength') && !organizationForm.controls['okpo'].hasError('pattern')">
                            {{'organization.form.errors.okpo' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" maxlength="13" formControlName="ogrn" placeholder="{{'organization.ogrn' | translate}}">
                    <mat-error *ngIf="organizationForm.controls['ogrn'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <div class="flex-column">
                    <mat-form-field>
                        <textarea matInput formControlName="organizationDescription" placeholder="{{'organization.organizationDescription' | translate}}">
                        </textarea>
                    </mat-form-field>
                </div>
                <!-- end of BLOCK 1 -->
            </div>

            <div class="ui-lg-6 ui-g-nopad">
                <!-- BLOCK 2 -->
                <div class="flex-column">
                    <mat-form-field>
                        <input matInput formControlName="legalAddress" placeholder="{{'organization.legalAddress' | translate}}">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="factAddress" placeholder="{{'organization.factAddress' | translate}}">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="postAddress" placeholder="{{'organization.postAddress' | translate}}">
                    </mat-form-field>
                </div>
                <br>
                <div class="flex-column">
                    <mat-form-field>
                        <input matInput formControlName="directorFio" placeholder="{{'organization.directorFio' | translate}}">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="chiefAccountantFio" placeholder="{{'organization.chiefAccountantFio' | translate}}">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput formControlName="contactPhone" placeholder="{{'organization.contactPhone' | translate}}">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="contactEmail"  placeholder="{{'organization.contactEmail' | translate}}">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="siteUrl" placeholder="{{'organization.siteUrl' | translate}}">
                    </mat-form-field>
                </div>
                <!-- end of BLOCK 2 -->
            </div>
            <div class="ui-lg-6 ui-g-nopad">
                <!-- BLOCK 3 -->
                <div class="ui-lg-6 ui-g-nopad">
                    <div class="ui-g-3 flex-column">
                        <!-- <div matTooltip="{{'organization.flagRsoDesription' | translate}}" matTooltipPosition=above > -->
                            <mat-checkbox  id="flagRso" type="checkbox" formControlName="flagRso">
                                {{'organization.flagRso' | translate}}
                                ( {{'organization.flagRsoDesription' | translate}} )
                            </mat-checkbox>
                        <!-- </div> -->
                        <!-- <div matTooltip="{{'organization.flagManagementDesription' | translate}}" matTooltipPosition=above > -->
                            <mat-checkbox  id="flagManagement" type="checkbox" formControlName="flagManagement">
                                {{'organization.flagManagement' | translate}} ({{'organization.flagManagementDesription' | translate}})
                            </mat-checkbox>
                        <!-- </div> -->
                        <!-- <div matTooltip="{{'organization.flagRmaDesription' | translate}}" matTooltipPosition=above > -->
                            <mat-checkbox  id="flagRma" type="checkbox" formControlName="flagRma">
                                {{'organization.flagRma' | translate}} ({{'organization.flagRmaDesription' | translate}})
                            </mat-checkbox>
                        <!-- </div>     -->
                    </div>
                    <!-- <div class="ui-g-3 flex-column">
                        <mat-checkbox  id="flagCm" type="checkbox" formControlName="flagCm">{{'organization.flagCm' | translate}}</mat-checkbox>
                        <mat-checkbox  id="flagServ" type="checkbox" formControlName="flagServ">{{'organization.flagServ' | translate}}</mat-checkbox>
                    </div> -->
                </div>   
                <!-- end of BLOCK 3 -->
            </div>                
            <div class="ui-lg-6 ui-g-nopad">
                <!-- BLOCK 4 -->
                <mat-form-field class="account-width">
                    <input matInput formControlName="reqAccount" type="text" maxlength="20" placeholder="{{'organization.reqAccount' | translate}}">
                    <mat-error *ngIf="organizationForm.controls['reqAccount'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                    <mat-error *ngIf="organizationForm.controls['reqAccount'].hasError('invalidLength') && !organizationForm.controls['reqAccount'].hasError('pattern')">
                            {{'organization.form.errors.reqAccount' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="account-width">
                    <input matInput formControlName="reqCorrAccount" type="text" maxlength="20" placeholder="{{'organization.reqCorrAccount' | translate}}">
                    <mat-error *ngIf="organizationForm.controls['reqCorrAccount'].hasError('pattern')">
                            {{'organization.form.errors.onlyNumbers' | translate}}
                    </mat-error>
                    <mat-error *ngIf="organizationForm.controls['reqCorrAccount'].hasError('invalidLength') && !organizationForm.controls['reqCorrAccount'].hasError('pattern')">
                            {{'organization.form.errors.reqCorrAccount' | translate}}
                    </mat-error>
                </mat-form-field>
                <div>
                    <mat-form-field>
                        <input matInput formControlName="reqBik" type="text" maxlength="9" placeholder="{{'organization.reqBik' | translate}}">
                        <mat-error *ngIf="organizationForm.controls['reqBik'].hasError('pattern')">
                        <!-- <mat-error *ngIf="checkFormError(organizationForm, newControlCheck('reqBik', 'pattern'))"> -->
                                {{'organization.form.errors.onlyNumbers' | translate}}
                        </mat-error>
                        <mat-error *ngIf="organizationForm.controls['reqBik'].hasError('invalidLength') && !organizationForm.controls['reqBik'].hasError('pattern')">
                                {{'organization.form.errors.reqBik' | translate}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="reqBankName-width">
                        <input matInput formControlName="reqBankName" placeholder="{{'organization.reqBankName' | translate}}">
                    </mat-form-field>
                </div>
                <!-- enf of BLOCK 4 -->
            </div>                
        </div>    
        <!-- FORM BUTTONS -->
        <jhi-form-edit-buttons [formGroup]="organizationForm" (saveAction)="saveForm()" (revertAction)="revertForm()"></jhi-form-buttons>
    </form>
</div>    