.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.edit-row {
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}

.flex-column-nopad {
    display: flex;
    flex-direction: column;
}

.column-full-width {
    width: 100%;
  }

.ng-invalid:not(form) {
    border-left: 0px;
}

input.right-no-spin::-webkit-outer-spin-button,
input.right-no-spin::-webkit-inner-spin-button {
  display: none;
}

.id-width {
    width: 6em;
    flex: none;
}

.organization-name {
    width: 26em;
}

.account-width {
    width: 28em;
}

.reqBankName-width {
    width: 45em;
}