.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.organizations-table {
    min-height: 360px;
    margin-top: 10px;
}

.organization-row {
    min-height: 30px;
}

.organization-header {
    font-weight: bold;
    font-size: 15px
}

.edit-column-width {
    flex: none;
    width: 60px;
    font-size: 10px;
    align-items: flex-start;
}

.id-column-width {
    flex: none;
    width: 10em;
    // font-size: 10px;
    // align-items: flex-start;
}
