<jhi-form-template>
    <jhi-top-header headerTitle="{{'organization.detail.title' | translate}} {{organization.organizationName}}"></jhi-top-header>
    <div class="ui-g ui-g-nopad">
        <div class="ui-g-6 ui-g-nopad">
            <!-- BLOCK 1 left -->
            <jhi-form-detail-field placeholder="{{'organization.id' | translate}}" fieldValue="{{organization.id}}"></jhi-form-detail-field>
            <br>
            <div class="flex-column-rpad">
                <jhi-form-detail-field placeholder="{{'organization.organizationTypeName' | translate}}" fieldValue="{{organization.organizationName}}"></jhi-form-detail-field>
            </div>
            <jhi-form-detail-field placeholder="{{'organization.organizationName' | translate}}" fieldValue="{{organization.organizationName}}"></jhi-form-detail-field>
            <br>
            <div class="flex-column-rpad">
                <jhi-form-detail-field placeholder="{{'organization.organizationFullName' | translate}}" fieldValue="{{organization.organizationFullName}}"></jhi-form-detail-field>
            </div>
            <br>
            <jhi-form-detail-field placeholder="{{'organization.inn' | translate}}" fieldValue="{{organization.inn}}"></jhi-form-detail-field>
            <jhi-form-detail-field placeholder="{{'organization.kpp' | translate}}" fieldValue="{{organization.kpp}}"></jhi-form-detail-field>
            <jhi-form-detail-field placeholder="{{'organization.okpo' | translate}}" fieldValue="{{organization.okpo}}"></jhi-form-detail-field>
            <jhi-form-detail-field placeholder="{{'organization.ogrn' | translate}}" fieldValue="{{organization.ogrn}}"></jhi-form-detail-field>
            <div class="flex-column-rpad">
                <jhi-form-detail-field placeholder="{{'organization.organizationDescription' | translate}}" fieldValue="{{organization.organizationDescription}}"></jhi-form-detail-field>
            </div>
            <!-- end of BLOCK 1 -->
        </div>

        <div class="ui-lg-6 ui-g-nopad">
            <!-- BLOCK 2 right -->
            <div class="flex-column">
                <jhi-form-detail-field placeholder="{{'organization.legalAddress' | translate}}" fieldValue="{{organization.legalAddress}}"></jhi-form-detail-field>
            </div>
            <div class="flex-column">
                <jhi-form-detail-field placeholder="{{'organization.factAddress' | translate}}" fieldValue="{{organization.factAddress}}"></jhi-form-detail-field>
            </div>
            <div class="flex-column">
                <jhi-form-detail-field placeholder="{{'organization.postAddress' | translate}}" fieldValue="{{organization.postAddress}}"></jhi-form-detail-field>
            </div>
            <!-- end of BLOCK 2 -->
        </div>
        <div class="ui-lg-6 ui-g-nopad">
            <!-- BLOCK 3 left -->
            <div class="ui-lg-6 ui-g-nopad">
                <div class="ui-g-3 flex-column">
                </div>
            </div>
            <!-- end of BLOCK 3 -->
        </div>
        <div class="ui-lg-6 ui-g-nopad">
            <!-- BLOCK 4 -->
            <div>
            </div>
            <!-- enf of BLOCK 4 -->
        </div>
    </div>

    <hr>
    <button mat-raised-button (click)="previousState()">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button mat-raised-button [routerLink]="['/', { outlets: { popup: 'organizations/'+ organization.id + '/edit'} }]" replaceUrl="true"
        color="primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <button mat-button [routerLink]="['/organizations/' + organization.id + '/edit']">
        <mat-icon>edit</mat-icon>
    </button>


</jhi-form-template>
