<div>
    <mat-form-field class="autocomplete-full-width">
        <input matInput #autoCompleteInput placeholder="{{ 'organization.detail.title' | translate }}" 
            aria-label="organization" [matAutocomplete]="auto" [formControl]="organizationCtrl" [readonly]="readonly">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)" [displayWith]="getDisplayFn()">
            <mat-option *ngFor="let organization of autoselectOrganizations$ | async" [value]="organization">
                <span>{{ organization.organizationName }}</span>
                <small>{{ formatOrganizationInn(organization) }}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>