<div style = "min-width: 1000px;">
<!--    Cont object controller view-->
    <div class = "input-group filter marginBottom10 pull-left nmc-search-form">   
        <span class = "input-group-addon nmc-search-form-addon"><i class = "glyphicon glyphicon-search nmc-search-form-button"></i></span>
        <input title = "Введите текст для поиска" type = "text" class = "form-control nmc-text-input-form" ng-model = "filter">
    </div>
    
    <!--    Непрокручиваямая шапка -->
    <table class="crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table noMargin">
            <tr class="nmc-main-table-header">
                <th class = "col-xs-1 nmc-td-for-button-object-control">
<!--                    Режим-->
                </th>
                <th ng-repeat = "column in $ctrl.columns track by $index" 
                   ng-class = "column.headerClass"
                   ng-click = "$ctrl.setOrderBy(column.name)">
                    {{column.caption}}
                    <i class = "glyphicon" 
                       ng-class = "{'glyphicon-sort-by-alphabet': !$ctrl.orderBy.asc, 'glyphicon-sort-by-alphabet-alt': $ctrl.orderBy.asc}" 
                       ng-show = " $ctrl.orderBy.field == '{{column.name}}'">
                    </i>
                </th>
            </tr>
    </table>
    <div id="divWithContObjectControlTable" class="nmc-data-sources-main-div">
        <table class = "crud-grid table table-lighter table-striped table-condensed table-hover nmc-main-table nmc-parent-object-table noMargin"
            scroll-to-top="{{$ctrl.EVENTS.OBJECT_CLICK}}">
            
            <tr class = "nmc-main-table-header nmc-hide">
               
                <th class = "col-xs-1 nmc-td-for-button-object-control">
<!--                        Режим-->
                </th>
                <th ng-repeat = "column in $ctrl.columns track by $index" ng-class = "column.headerClass">
                    {{column.caption}}
                </th>
            </tr>
            

            <tr ng-repeat = "object in $ctrl.objects | filter: filter | orderBy: $ctrl.orderBy.field : $ctrl.orderBy.asc track by $index">
<!--
               <td ng-if = "object.loading" class = "col-xs-1">
                   <div ng-show = "object.loading" class="nmc-loading">
                        <i class="fa fa-spinner fa-spin"></i> Загрузка объекта...
                    </div>
               </td>
-->
               <td>
                   <table>
                       <tr>
               
                            <td class = "col-xs-1 nmc-td-for-button-object-control">                  
                               <i class = "btn glyphicon glyphicon-chevron-right pull-right"
                                  ng-click = "$ctrl.showObjectWidget(object, $index)">
                                   
                               </i>
<!--
                                <img class = "marginRight2 pull-right" 
                                height = "12"
                                width = "12"
                                ng-src = "{{object.modeImgSrc}}"
                                style = "margin-top: 10px;">
-->
                                <img class = "marginRight2 nmc-p-tree-status-img pull-right" 
                                ng-src = "{{object.modeImgSrc}}"
                                style = "margin-top: 10px;">

                            </td>
                            <td ng-repeat = "column in $ctrl.columns track by $index" ng-class = "column.headerClass">

                               <div ng-switch on = "column.type">
                                    <div ng-switch-when = "img">
                                        <img ng-if = "object[column.name]"
                                        class = "marginRight2 nmc-p-tree-status-img" 
                                        ng-src = "{{object[column.name]}}"
                                        />
                                    </div>
                                   <div ng-switch-default>
                                       <div ng-show = "object.loading" class="nmc-loading">
                                            <i class="fa fa-spinner fa-spin"></i> Загрузка объекта...
                                       </div>
                                        {{object[column.name]}}
                                   </div>
                                </div>
                            </td>
                       </tr>
                       <tr ng-if = "object.showWidgetFlag">
                          <td ng-attr-colspan = "{{$ctrl.columns.length + 1}}">
                              <div ng-repeat = "zpoint in object.zpoints track by $index"
                                class = "col-xs-6">

                                   <div ng-controller='zpointWidgetContainer' style = "border: 1px solid #aaa; border-radius: 5px;">
                                       <span ng-show='title' ng-bind='title'></span>
                                       <div ng-show='isLoading'>Загрузка...</div>
                                       <div ng-show='isError'>Ошибка... <button ng-click='reload()'>Перезагрузка</button></div>
                                       <ng-widget ng-show = "!isLoading && !isError"
                                           src = "zpoint.widgetOptions.type"
                                           options = "zpoint.widgetOptions">

                                        </ng-widget>
                                   </div>

                                 </div>
                          </td>
                           
                       </tr>
                   </table>
                </td>
            </tr>
            
        </table>

    </div>
</div>