<md-dialog aria-label = "Test">
<!--   <form>-->
       <md-toolbar style = "background-color: #41719c;">
           <div class = "md-toolbar-tools">
               <h2>Test header</h2>
               <span flex></span>
<!--
               <md-button >
                   Закрыть
               </md-button>
-->
           </div>
       </md-toolbar>
       <md-dialog-content style = "min-width: 800px; max-width: 1000px;">
          <div class = "md-dialog-content">
              <cont-zpoint-monitor-component 
                   cont-zpoint-id = "0"
                   cont-zpoint-name = "null"
                   cont-zpoint-type = "null"
               >                                                                          
               </cont-zpoint-monitor-component>
          </div>
           
       </md-dialog-content>
<!--   </form>-->
<!--
   <md-dialog-actions>
       <md-button >
           cloxe
       </md-button>
   </md-dialog-actions>
-->
    
</md-dialog>