
/*.widget1 {
  position: relative;
  border-radius: 6px;
  background-color: white;*//* #eeeeee;*/
/*  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 200;

  h1 {
    line-height: 1;
    letter-spacing: -1px;
    font-size: 60px;
  }
}*/
.zpoint-heat-widget {
    position: relative;
/*    border: 1px solid black;*/
    border-radius: 6px;    
    background-color: white;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 0 0 0;
}
.nmc-period-toogle {
    padding: 5px !important;
}