<div>
<!--    Info component-->
   <ui-view = "treeInfoView"></ui-view>
<!--
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-xs-6">
               <select class = "form-control">
                   <option>Уведомления</option>
                   <option>Контроль</option>
               </select>
            </div>
            <div class = "col-xs-6">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-xs-12">
                <ui-view = "treeInfoView"></ui-view>
            </div>
        </div>
    </div>
-->
</div>