<!-- <p>
headerbar works

</p> -->
<mat-toolbar>  
    <mat-toolbar-row  >
        <div class="float-left">
            <button mat-icon-button (click)="toggleMainMenu()">
                <mat-icon class="nmc-md-ltb-btn headerbar-mat-icon">menu</mat-icon>
            </button>
        </div>    
        
        <!-- <div class="container-fluid">
                <nav class="navbar navbar-expand-sm jh-navbar ">
                        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
                                <ul class="navbar-nav ml-auto">
                                        <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                                                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                                                    <span>
                                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                                        <span jhiTranslate="global.menu.language">Language</span>
                                                    </span>
                                                </a>
                                                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                                                    <li *ngFor="let language of languages">
                                                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                </ul>    
                            </div>
                </nav>
        </div>     -->
    </mat-toolbar-row>
</mat-toolbar>