
@mixin md-icon-size($size: 14px) {
    font-size: $size;
    height: $size;
    width: $size;
}
  
.headerbar-mat-menu-icon {
    @include md-icon-size(24px);
    color: rgb(95, 95, 95);
}


.headerbar-profile-menu-icon {
////<<<<<<< HEAD:src/main/webapp2/app/layouts/headerbar/headerbar.scss
    @include md-icon-size(24px);
    color: rgb(95, 95, 95);
//=======
//    @include md-icon-size(40px);
//>>>>>>> angular-5/new-ui:src/main/webapp2/app/layouts/headerbar/headerbar.component.scss
}

.headerbar-profile-font {
    font-size: 12px;
}

.headerbar-right {
    float: right;
}


.material-icons-bak {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

// #top-right
// {
//     right: 0;
//     top: 0;
//     position: absolute;
// }

.toolbar-container {
    //padding-top: 1em;
    height: auto;
    // padding: 0%,0%,0%,0%;
}

// <<<<<<< HEAD:src/main/webapp2/app/layouts/headerbar/headerbar.scss
.nmc-toolbar {
    min-height: 35px; 
    background-color: rgb(240, 240, 240);
}

.nmc-toolbar mat-toolbar-row {
    height: 35px;
}

.nmc-toolbar-btn {
    height: 34px; 
    width: 34px; 
    line-height: 34px;
}
// =======
.toolbar-row .ui-corner-all {
    height: 2.5em;
    border-radius: 0 !important;    
}

.img-vertical-align {
    line-height: 20px !important;
    vertical-align: middle;
// >>>>>>> angular-5/new-ui:src/main/webapp2/app/layouts/headerbar/headerbar.component.scss
}

.pageTitle {
    padding-left: 40px;
    font-size: 1.5rem;
}
