
<div class="toolbar-container">
    <p-toolbar styleClass="toolbar-row">
        <div class="ui-toolbar-group-left">
            <button mat-icon-button *ngIf="isAuthenticated()" (click)="toggleMainMenu()">
                <mat-icon class="headerbar-mat-menu-icon img-vertical-align">menu</mat-icon>
            </button>
        </div>
        <span *ngIf="pageTitleKey" class="pageTitle">{{pageTitleKey | translate}}</span>                    
        <span *ngIf="!pageTitleKey && pageTitle" class="pageTitle">{{ pageTitle }}</span>                    

        <div class="ui-toolbar-group-right">
            <jhi-exc-progress-spinner></jhi-exc-progress-spinner>
            
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="headerbar-profile-menu-icon img-vertical-align">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="!isAuthenticated()" (click)="login()">
                    <mat-icon class="headerbar-profile-menu-icon">account_box</mat-icon>
                    <span jhiTranslate="headerbar.login" class="headerbar-profile-font">User profile</span>
                </button>
                <button mat-menu-item *ngIf="isAuthenticated()">
                    <mat-icon class="headerbar-profile-menu-icon">account_box</mat-icon>
                    <span jhiTranslate="headerbar.userprofile" class="headerbar-profile-font">User profile</span>
                </button>
                <button mat-menu-item *ngIf="isAuthenticated()" (click)="logout()">
                    <mat-icon class="headerbar-profile-menu-icon">exit_to_app</mat-icon>
                    <span jhiTranslate="headerbar.logout" class="headerbar-profile-font">Logout</span>
                </button>

            </mat-menu>

        </div>

    </p-toolbar>
</div>
