
@mixin md-icon-size($size: 14px) {
    font-size: $size;
    height: $size;
    width: $size;
}
  
.headerbar-mat-menu-icon {
    @include md-icon-size(24px);
    color: rgb(95, 95, 95);
}


.headerbar-profile-menu-icon {
    @include md-icon-size(24px);
    color: rgb(95, 95, 95);
}

.headerbar-profile-font {
    font-size: 12px;
}

.headerbar-right {
    float: right;
}


.material-icons-bak {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#top-right
{
    right: 0;
    top: 0;
    position: absolute;
}

.nmc-toolbar {
    min-height: 35px; 
    background-color: rgb(240, 240, 240);
}

.nmc-toolbar mat-toolbar-row {
    height: 35px;
}

.nmc-toolbar-btn {
    height: 34px; 
    width: 34px; 
    line-height: 34px;
}