.propertyEnabled {
    color: rgb(41, 116, 19);
}
.propertyDisabled {
    color: rgb(202, 66, 66)
}
.propertyRoot {
    color: blue;
}

.contObjectNode {
    display: inline-block;
    color: blue;
    font-size: 80%;
}

.exc-icon-building-default-16 {
    height: 16px;
    width: 16px;
    background: url(../../../../content/images/buildings/building16.png);
}

.tree-row {
    display: inline-block;
    padding-left: 2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 1px;
}

.tree-row-width {
    width: 80%;
}

.selected-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(70, 68, 68);
    margin: 0 !important;
}

.div-left-scrollable {
    height: 810px;
    max-height: 810px;
    overflow-y: auto;
}

.div-left-no-scroll {
    overflow-y: hidden;
}