.propertyEnabled {
    color: rgb(41, 116, 19);
}
.propertyDisabled {
    color: rgb(202, 66, 66)
}
.propertyRoot {
    color: blue;
}

.contObjectNode {
    color: blue;
    font-size: 80%;
}

.exc-icon-building-default-16 {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(../../../../content/images/buildings/building16.png);
}
