.propertyEnabled {
    color: rgb(41, 116, 19);
}
.propertyDisabled {
    color: rgb(202, 66, 66)
}
.propertyRoot {
    color: rgb(202, 66, 66);
}

.contObjectNode {
    // display: inline-block;
    // color: blue;
    // font-size: 80%;
    color: #1b1d1f;
}

.exc-icon-building-default-16 {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    height: 16px;
    width: 16px;
    background: url(../../../../content/images/buildings/building16.png);
}

.tree-row {
    display: inline-block;
    padding-left: 2px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 1px;
    color: #1b1d1f;    
}

.tree-row-width {
    width: 85%;
}

.selected-border {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(70, 68, 68);
    margin: 0 !important;
}

.selected-border > span {
    // filter: invert(100%);
    color: white;
}

.exc-row-highlight > td {
    // filter: invert(100%);
    color: white;
}

.div-left-scrollable {
    height: calc(100vh - 95px);
    max-height: calc(100vh - 95px);
    overflow-y: auto;
    overflow-x: hidden;
}

.font-color {
    color: #1b1d1f;
}

.div-left-no-scroll {
    overflow-y: hidden;
}

.div-right-no-scroll {
    height: calc(100vh - 95px);
    max-height: calc(100vh - 95px);
    // overflow-y: hidden;    
}


.scroll-bar-height {
    overflow-y: auto;
}

.supa-icon {
    color: white;
    text-shadow: #1b1d1f -1px 0, #1b1d1f 0 1px, #1b1d1f 1px 0, #1b1d1f 0 -1px;
}