<jhi-exc-frame>
<split direction="horizontal">
    <split-area size="25">
        <div class="div-left-no-scroll">
            <jhi-exc-toolbar>
                <div toolbar-left class="exc-toolbal-menu-container">
                    <button mat-icon-button [matMenuTriggerFor]="treeMenu" class="exc-toolbal-menu-btn">
                        <mat-icon fontSet = "fa" fontIcon = "fa-sitemap"></mat-icon>
                    </button>
                    <mat-menu #treeMenu="matMenu">
                    <button mat-menu-item *ngFor = "let subscrObjectTree of treeList" (click)="treeMenuChange(subscrObjectTree.id)">
                        <span >{{subscrObjectTree.objectName}}</span>
                    </button>                        
                    </mat-menu>                     
                </div>
            </jhi-exc-toolbar>
            <!-- <perfect-scrollbar class="scroll-bar-height"> -->
            <div class="div-left-scrollable" #divLeft>
            <p-treeTable [value]="objectTree" [style] = "{'width': '100%', 'border': 'none'}">
                <!--  -->
                <!-- <p-column header="{{'subscrObjectTree.captions.nodeNames' | translate}}" [styleClass]="{'tree-header'}"> -->
                <p-column header="{{'subscrObjectTree.captions.nodeNames' | translate}}" [style]="{'text-align': 'left', 'color': '#1b1d1f'}">
                    <ng-template let-node="rowData" pTemplate="body">
                        <!-- Cont Objects pDraggable -->
                        <div *ngIf="node?.data?.dataType === 'CONT_OBJECT'" class="tree-row tree-row-width" 
                            [ngClass]="{'exc-row-highlight': node?.data?.selected, 'selected-border': node?.data?.selected}"
                                (click)="clickTreeContObjectRow($event, node)"
                                    pDraggable="fromTree" (onDragStart)="dragFromTreeStart($event, node)"
                                    pDroppable="toTree" (onDrop)="dropContObjectToTree($event, node.parent)"    
                                    >
                            <i class="exc-icon-building-default-16"></i>
                            <span *ngIf="node?.data?.dataType === 'CONT_OBJECT'" 
                            [ngClass]="{'contObjectNode': node.data.dataType === 'CONT_OBJECT'}">
                                    {{node.label}}</span>
                        </div>

                        <!-- Tree Nodes Icon -->
                        <div *ngIf="node?.data?.dataType === 'TREE_NODE'" class="tree-row">
                            <i class="fa fa-folder" [ngClass]="{'propertyDisabled': node?.data?.subscrNode?.isLinkDeny, 'propertyRoot': !node?.data?.subscrNode?.parentId}"></i>
                        </div>

                        <!-- Root & isLinkDeny === true -->
                        <div *ngIf="node?.data?.dataType === 'TREE_NODE' && (!node?.data?.subscrNode?.parentId || node?.data?.subscrNode?.isLinkDeny)" class="tree-row">
                                <span *ngIf="node?.data?.dataType === 'TREE_NODE' && (!node?.data?.subscrNode?.parentId || node?.data?.subscrNode?.isLinkDeny)" 
                                [ngClass]="{'propertyDisabled': node?.data?.subscrNode?.parentId, 'propertyRoot': !node?.data?.subscrNode?.parentId}">
                                {{node.label}}</span>
                        </div>

                        <!-- Children & isLinkDeny === false pDroppable  -->
                        <div *ngIf="node?.data?.dataType === 'TREE_NODE' && (node?.data?.subscrNode?.parentId && !node?.data?.subscrNode?.isLinkDeny)" 
                            class="tree-row tree-row-width" pDroppable="toTree" (onDrop)="dropContObjectToTree($event, node)">
                            <span [ngClass]="{'propertyDisabled': false}" 
                                >
                            {{node.label}}</span>
                        </div>
                        
                    </ng-template>
                </p-column>

            </p-treeTable>
            </div>
            <!-- </perfect-scrollbar> -->
        </div>
    </split-area>
    <split-area size="75">
        <div>
            <jhi-exc-toolbar>
            </jhi-exc-toolbar>
            <div class="div-right-no-scroll">
            <p-table [value]="availableContObjects" pDroppable="fromTree" (onDrop)="dropFromTree($event)" [scrollable]="true" scrollHeight="97%">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th> {{'global.field.id' | translate}} </th> -->
                        <th> {{'subscrObjectTree.contObjectEdit.contObjectVmTitle' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr pDraggable="toTree" (onDragStart)="dragToTreeStart($event, rowData)"
                        [ngClass]="{'exc-row-highlight': selectedContObjectIds.indexOf(rowData.contObjectId) !== -1}">
                        <!-- <td>{{rowData.id}}</td> -->
                        <td (click)="clickTableRow($event, rowData)"><span> {{ rowData.uiCaption }} </span></td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </split-area>
</split>
</jhi-exc-frame>